In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import json
import lxml

# Europa Conference League (16/02/24)

In [3]:
dfs = pd.read_html('https://fbref.com/en/comps/882/Europa-Conference-League-Stats')

In [4]:
dfs[0] #Group stage - Group A

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,fr Lille,6,4,2,0,10,2,8,14,12.7,4.4,8.3,1.38,→ Round of 16
1,2,sk Slovan Bratislava,6,3,1,2,8,7,1,10,8.3,7.4,0.9,0.15,→ Knockout round play-offs
2,3,si Olimpija,6,2,0,4,4,9,-5,6,5.1,10.8,-5.7,-0.95,NaN
3,4,fo KÍ,6,1,1,4,5,9,-4,4,6.1,9.6,-3.5,-0.59,NaN

In [5]:
dfs[1] #Group stage - Group B

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,il Maccabi Tel Aviv,6,5,0,1,14,9,5,15,7.2,8.6,-1.4,-0.24,→ Round of 16
1,2,be Gent,6,4,1,1,16,7,9,13,12.4,6.4,6.0,1.00,→ Knockout round play-offs
2,3,ua Zorya Luhansk,6,2,1,3,10,11,-1,7,7.0,9.9,-2.9,-0.48,NaN
3,4,is Breiðablik,6,0,0,6,5,18,-13,0,8.7,10.4,-1.7,-0.29,NaN

In [6]:
dfs[2] #Group stage - Group C

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,cz Viktoria Plzeň,6,6,0,0,9,1,8,18,10.4,2.9,7.5,1.25,→ Round of 16
1,2,hr Dinamo Zagreb,6,3,0,3,10,5,5,9,8.5,7.0,1.5,0.25,→ Knockout round play-offs
2,3,kz Astana FK,6,1,1,4,4,13,-9,4,4.5,10.8,-6.3,-1.05,NaN
3,4,xk KF Ballkani Therandë,6,1,1,4,3,7,-4,4,4.0,6.8,-2.7,-0.46,NaN

In [7]:
dfs[3] #Group stage - Group D

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,be Club Brugge,6,5,1,0,15,3,12,16,13.3,5.7,7.6,1.27,→ Round of 16
1,2,no Bodø/Glimt,6,3,1,2,11,8,3,10,9.5,6.4,3.0,0.50,→ Knockout round play-offs
2,3,tr Beşiktaş,6,1,1,4,7,14,-7,4,5.1,14.5,-9.3,-1.56,NaN
3,4,ch Lugano,6,1,1,4,6,14,-8,4,7.8,9.1,-1.3,-0.22,NaN

In [8]:
dfs[4] #Group stage - Group E

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,eng Aston Villa,6,4,1,1,12,7,5,13,8.3,4.8,3.6,0.60,→ Round of 16
1,2,pl Legia Warsaw,6,4,0,2,10,6,4,12,6.3,4.8,1.4,0.24,→ Knockout round play-offs
2,3,nl AZ Alkmaar,6,2,0,4,7,12,-5,6,5.6,5.5,0.0,0.01,NaN
3,4,ba Zrinjski Mostar,6,1,1,4,6,10,-4,4,3.8,8.8,-5.1,-0.84,NaN

In [9]:
dfs[5] #Group stage - Group F

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,it Fiorentina,6,3,3,0,14,6,8,12,11.0,5.3,5.7,0.95,→ Round of 16
1,2,hu Ferencváros,6,2,4,0,9,6,3,10,9.2,6.9,2.3,0.39,→ Knockout round play-offs
2,3,be Genk,6,2,3,1,8,5,3,9,10.0,8.0,1.9,0.32,NaN
3,4,rs Čukarički,6,0,0,6,2,16,-14,0,3.1,13.1,-10.0,-1.66,NaN

In [10]:
dfs[6] #Group stage - Group G

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,gr PAOK,6,5,1,0,16,10,6,16,12.5,6.8,5.7,0.95,→ Round of 16
1,2,de Eint Frankfurt,6,3,0,3,11,7,4,9,10.7,5.5,5.2,0.87,→ Knockout round play-offs
2,3,sct Aberdeen,6,1,3,2,10,10,0,6,6.1,9.1,-2.9,-0.49,NaN
3,4,fi HJK,6,0,2,4,7,17,-10,2,5.9,13.9,-8.0,-1.33,NaN

In [11]:
dfs[7] #Group stage - Group H

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Notes
0,1,tr Fenerbahçe,6,4,0,2,13,11,2,12,10.4,6.1,4.3,0.72,→ Round of 16
1,2,bg Ludogorets,6,4,0,2,11,11,0,12,9.8,7.8,2.0,0.34,→ Knockout round play-offs
2,3,dk Nordsjælland,6,3,1,2,17,7,10,10,12.6,7.3,5.3,0.88,NaN
3,4,sk Spartak Trnava,6,0,1,5,3,15,-12,1,3.9,15.5,-11.6,-1.94,NaN

In [12]:
dfs[8] #Overall league table

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,KO,be Gent,8.0,4.0,2.0,2.0,17.0,9.0,8.0,14.0,15.5,7.6,7.9,0.99,L W D D L,7678.0,Gift Orban - 5,Davy Roef,NaN
1,KO,bg Ludogorets,8.0,4.0,1.0,3.0,11.0,12.0,-1.0,13.0,11.5,9.7,1.7,0.22,D W L W W,5796.0,Jakub Piotrowski - 4,Sergio Padt,NaN
2,KO,pl Legia Warsaw,8.0,4.0,0.0,4.0,12.0,12.0,0.0,12.0,8.5,8.2,0.3,0.04,L D L D D,19947.0,Ernest Muçi - 3,Kacper Tobiasz,NaN
3,KO,no Bodø/Glimt,8.0,3.0,2.0,3.0,14.0,12.0,2.0,11.0,13.6,10.4,3.2,0.40,W W L D L,5223.0,"Amahl Pellegrino, Faris Pemi Moumbagna... - 3",Nikita Haikin,NaN
4,KO,de Eint Frankfurt,8.0,3.0,1.0,4.0,14.0,11.0,3.0,10.0,13.5,7.9,5.6,0.70,D D L D W,42250.0,Omar Marmoush - 4,Kevin Trapp,NaN
5,KO,hu Ferencváros,8.0,2.0,4.0,2.0,9.0,8.0,1.0,10.0,10.1,10.3,-0.2,-0.02,W L L W W,14661.0,Aleksandar Pešić - 3,Dénes Dibusz,NaN
6,KO,sk Slovan Bratislava,8.0,3.0,1.0,4.0,9.0,12.0,-3.0,10.0,10.7,11.2,-0.6,-0.07,D W L L L,12096.0,Aleksandar Čavrić - 4,Milan Borjan,NaN
7,KO,es Betis,2.0,0.0,1.0,1.0,1.0,2.0,-1.0,1.0,1.7,2.4,-0.7,-0.36,L D D W L,NaN,Cédric Bakambu - 1,Rui Silva,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R16,cz Viktoria Plzeň,6.0,6.0,0.0,0.0,9.0,1.0,8.0,18.0,10.4,2.9,7.5,1.25,D W W W W,9594.0,Tomáš Chorý - 3,"Jindřich Staněk, Viktor Baier",NaN
10,R16,be Club Brugge,6.0,5.0,1.0,0.0,15.0,3.0,12.0,16.0,13.3,5.7,7.6,1.27,L W D L W,16923.0,"Hans Vanaken, Thiago - 4",Simon Mignolet,NaN
11,R16,gr PAOK,6.0,5.0,1.0,0.0,16.0,10.0,6.0,16.0,12.5,6.8,5.7,0.95,D L W W W,18088.0,"Andrija Živković, Kiril Despodov... - 2",Dominik Kotarski,NaN
12,R16,il Maccabi Tel Aviv,6.0,5.0,0.0,1.0,14.0,9.0,5.0,15.0,7.2,8.6,-1.4,-0.24,L W W W W,6186.0,Eran Zahavi - 5,Orlando Mosquera,NaN
13,R16,fr Lille,6.0,4.0,2.0,0.0,10.0,2.0,8.0,14.0,12.7,4.4,8.3,1.38,L L W L W,17829.0,Yusuf Yazıcı - 4,Lucas Chevalier,NaN
14,R16,hr Dinamo Zagreb,8.0,4.0,1.0,3.0,12.0,6.0,6.0,13.0,10.9,8.7,2.2,0.28,W W D W D,6115.0,Bruno Petković - 5,Ivan Nevistić,NaN
15,R16,eng Aston Villa,6.0,4.0,1.0,1.0,12.0,7.0,5.0,13.0,8.3,4.8,3.6,0.60,L L W W W,36783.0,"John McGinn, Ollie Watkins - 2",Emiliano Martínez,NaN
16,R16,it Fiorentina,6.0,3.0,3.0,0.0,14.0,6.0,8.0,12.0,11.0,5.3,5.7,0.95,W L D W D,17463.0,Luca Ranieri - 3,Oliver Christensen,NaN
17,R16,tr Fenerbahçe,6.0,4.0,0.0,2.0,13.0,11.0,2.0,12.0,10.4,6.1,4.3,0.72,W D W W W,35220.0,Michy Batshuayi - 3,"Dominik Livaković, İrfan Can Eğribayat",NaN
18,R16,no Molde,2.0,2.0,0.0,0.0,6.0,2.0,4.0,6.0,3.4,2.2,1.1,0.57,D D L W W,NaN,Fredrik Gulbrandsen - 4,Oliver Petersen,NaN
19,R16,at Sturm Graz,2.0,2.0,0.0,0.0,5.0,1.0,4.0,6.0,3.9,2.4,1.5,0.75,W D W W W,NaN,Mika Biereth - 2,Vitezslav Jaros,NaN
20,R16,gr Olympiacos,2.0,2.0,0.0,0.0,2.0,0.0,2.0,6.0,3.4,0.9,2.5,1.23,W W W W W,NaN,Ayoub El Kaabi - 2,Alexandros Paschalakis,NaN
21,R16,nl Ajax,2.0,1.0,1.0,0.0,4.0,3.0,1.0,4.0,3.9,4.1,-0.2,-0.09,D D W L W,NaN,Steven Berghuis - 2,Diant Ramaj,NaN
22,R16,be Union SG,2.0,1.0,1.0,0.0,4.0,3.0,1.0,4.0,2.4,2.8,-0.4,-0.19,D W W W W,NaN,"Mathias Rasmussen, Gustaf Nilsson... - 1","Heinz Lindner, Anthony Moris",NaN
23,R16,il Maccabi Haifa,2.0,1.0,1.0,0.0,2.0,1.0,1.0,4.0,1.2,3.1,-1.9,-0.95,L D W W D,NaN,Frantzdy Pierrot - 2,Shareef Keouf,NaN
24,R16,ch Servette FC,2.0,1.0,1.0,0.0,1.0,0.0,1.0,4.0,2.0,1.7,0.3,0.15,D W W W W,NaN,Timothé Cognat - 1,Jérémy Frick,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,GR,dk Nordsjælland,6.0,3.0,1.0,2.0,17.0,7.0,10.0,10.0,12.6,7.3,5.3,0.88,D L W L W,5551.0,Benjamin Nygren - 5,Andreas Hansen,NaN
27,GR,be Genk,6.0,2.0,3.0,1.0,8.0,5.0,3.0,9.0,10.0,8.0,1.9,0.32,L D W W L,10754.0,"Bryan Heynen, Joseph Paintsil - 2",Maarten Vandevoordt,NaN
28,GR,ua Zorya Luhansk,6.0,2.0,1.0,3.0,10.0,11.0,-1.0,7.0,7.0,9.9,-2.9,-0.48,D D W W D,581.0,"Eduardo Guerrero, Ihor Horbach - 3",Mykyta Turbaievskyi,NaN
29,GR,sct Aberdeen,6.0,1.0,3.0,2.0,10.0,10.0,0.0,6.0,6.1,9.1,-2.9,-0.49,D D L L L,15626.0,Duk - 3,Kelle Roos,NaN
30,GR,nl AZ Alkmaar,6.0,2.0,0.0,4.0,7.0,12.0,-5.0,6.0,5.6,5.5,0.0,0.01,L D W W D,16001.0,Vangelis Pavlidis - 3,Mathew Ryan,NaN
31,GR,si Olimpija,6.0,2.0,0.0,4.0,4.0,9.0,-5.0,6.0,5.1,10.8,-5.7,-0.95,L L W L W,3804.0,Pedro Lucas - 2,Denis Pintol,NaN
32,GR,ba Zrinjski Mostar,6.0,1.0,1.0,4.0,6.0,10.0,-4.0,4.0,3.8,8.8,-5.1,-0.84,L L L L D,6003.0,Zvonimir Kožulj - 2,Marko Marić,NaN
33,GR,fo KÍ,6.0,1.0,1.0,4.0,5.0,9.0,-4.0,4.0,6.1,9.6,-3.5,-0.59,D W L L L,1520.0,"Páll Klettskarð, René Joensen... - 1",Nils Jonatan Johansson,NaN
34,GR,xk KF Ballkani Therandë,6.0,1.0,1.0,4.0,3.0,7.0,-4.0,4.0,4.0,6.8,-2.7,-0.46,W L D L L,6354.0,"Edvin Kuč, Walid Hamidi... - 1",Enea Koliçi,NaN
35,GR,tr Beşiktaş,6.0,1.0,1.0,4.0,7.0,14.0,-7.0,4.0,5.1,14.5,-9.3,-1.56,W D W W L,18328.0,"Vincent Aboubakar, Cenk Tosun - 2","Mert Günok, Ersin Destanoğlu",NaN
36,GR,ch Lugano,6.0,1.0,1.0,4.0,6.0,14.0,-8.0,4.0,7.8,9.1,-1.3,-0.22,W D L W W,3632.0,Shkelqim Vladi - 2,Amir Saipi,NaN
37,GR,kz Astana FK,6.0,1.0,1.0,4.0,4.0,13.0,-9.0,4.0,4.5,10.8,-6.3,-1.05,L W D L L,20024.0,Kamo Hovhannisyan - 2,Josip Condric,NaN
38,GR,fi HJK,6.0,0.0,2.0,4.0,7.0,17.0,-10.0,2.0,5.9,13.9,-8.0,-1.33,L L L D L,9235.0,Bojan Radulovic - 3,Niki Mäenpää,NaN
39,GR,sk Spartak Trnava,6.0,0.0,1.0,5.0,3.0,15.0,-12.0,1.0,3.9,15.5,-11.6,-1.94,L L D L L,13408.0,"Michal Ďuriš, Erik Daniel... - 1",Dominik Takáč,NaN
40,GR,is Breiðablik,6.0,0.0,0.0,6.0,5.0,18.0,-13.0,0.0,8.7,10.4,-1.7,-0.29,L L L L L,1193.0,"Klæmint Olsen, Ja­son Daði Svanþórs­son - 2",Anton Ari Einarsson,NaN
41,GR,rs Čukarički,6.0,0.0,0.0,6.0,2.0,16.0,-14.0,0.0,3.1,13.1,-10.0,-1.66,W W W L W,2413.0,"Đorđe Ivanović, Luka Adžić - 1",Nemanja Belić,NaN

In [13]:
dfs[9] #Home/away league table

   Unnamed: 0_level_0       Unnamed: 1_level_0 Home                       \
                   Rk                    Squad   MP    W    D    L    GF
0                  KO                  be Gent  4.0  3.0  1.0  0.0  12.0
1                  KO            bg Ludogorets  4.0  3.0  0.0  1.0   7.0
2                  KO          pl Legia Warsaw  4.0  3.0  0.0  1.0   7.0
3                  KO            no Bodø/Glimt  4.0  2.0  0.0  2.0   9.0
4                  KO        de Eint Frankfurt  4.0  2.0  0.0  2.0  10.0
5                  KO           hu Ferencváros  4.0  1.0  2.0  1.0   5.0
6                  KO     sk Slovan Bratislava  4.0  1.0  1.0  2.0   4.0
7                  KO                 es Betis  1.0  0.0  0.0  1.0   0.0
8                 NaN                      NaN  NaN  NaN  NaN  NaN   NaN
9                 R16        cz Viktoria Plzeň  3.0  3.0  0.0  0.0   5.0
10                R16           be Club Brugge  3.0  2.0  1.0  0.0   6.0
11                R16                  gr PAOK  3.0  2.0  1.0  0.0   8.0
12                R16      il Maccabi Tel Aviv  3.0  3.0  0.0  0.0   9.0
13                R16                 fr Lille  3.0  3.0  0.0  0.0   7.0
14                R16         hr Dinamo Zagreb  4.0  2.0  1.0  1.0   9.0
15                R16          eng Aston Villa  3.0  3.0  0.0  0.0   5.0
16                R16            it Fiorentina  3.0  2.0  1.0  0.0  10.0
17                R16            tr Fenerbahçe  3.0  3.0  0.0  0.0  10.0
18                R16                 no Molde  1.0  1.0  0.0  0.0   3.0
19                R16            at Sturm Graz  1.0  1.0  0.0  0.0   4.0
20                R16            gr Olympiacos  1.0  1.0  0.0  0.0   1.0
21                R16                  nl Ajax  1.0  0.0  1.0  0.0   2.0
22                R16              be Union SG  1.0  0.0  1.0  0.0   2.0
23                R16         il Maccabi Haifa  1.0  1.0  0.0  0.0   1.0
24                R16           ch Servette FC  1.0  0.0  1.0  0.0   0.0
25                NaN                      NaN  NaN  NaN  NaN  NaN   NaN
26                 GR          dk Nordsjælland  3.0  2.0  1.0  0.0  14.0
27                 GR                  be Genk  3.0  1.0  2.0  0.0   4.0
28                 GR         ua Zorya Luhansk  3.0  1.0  1.0  1.0   6.0
29                 GR             sct Aberdeen  3.0  1.0  1.0  1.0   5.0
30                 GR            nl AZ Alkmaar  3.0  2.0  0.0  1.0   3.0
31                 GR              si Olimpija  3.0  1.0  0.0  2.0   2.0
32                 GR       ba Zrinjski Mostar  3.0  1.0  1.0  1.0   6.0
33                 GR                    fo KÍ  3.0  1.0  1.0  1.0   4.0
34                 GR  xk KF Ballkani Therandë  3.0  1.0  0.0  2.0   3.0
35                 GR              tr Beşiktaş  3.0  0.0  0.0  3.0   3.0
36                 GR                ch Lugano  3.0  0.0  1.0  2.0   1.0
37                 GR             kz Astana FK  3.0  0.0  1.0  2.0   1.0
38                 GR                   fi HJK  3.0  0.0  1.0  2.0   4.0
39                 GR        sk Spartak Trnava  3.0  0.0  0.0  3.0   2.0
40                 GR            is Breiðablik  3.0  0.0  0.0  3.0   3.0
41                 GR             rs Čukarički  3.0  0.0  0.0  3.0   1.0

                      ... Away                                              \
      GA    GD   Pts  ...    L   GF    GA    GD  Pts Pts/MP   xG  xGA  xGD
0    2.0  10.0  10.0  ...  2.0  5.0   7.0  -2.0  4.0   1.00  6.4  4.4  2.0
1    1.0   6.0   9.0  ...  2.0  4.0  11.0  -7.0  4.0   1.00  6.1  7.2 -1.1
2    5.0   2.0   9.0  ...  3.0  5.0   7.0  -2.0  3.0   0.75  2.8  4.9 -2.1
3    6.0   3.0   6.0  ...  1.0  5.0   6.0  -1.0  5.0   1.25  4.8  5.4 -0.6
4    5.0   5.0   6.0  ...  2.0  4.0   6.0  -2.0  4.0   1.00  6.0  4.1  1.9
5    4.0   1.0   5.0  ...  1.0  4.0   4.0   0.0  5.0   1.25  4.8  5.4 -0.6
6    5.0  -1.0   4.0  ...  2.0  5.0   7.0  -2.0  6.0   1.50  6.1  6.7 -0.6
7    1.0  -1.0   0.0  ...  0.0  1.0   1.0   0.0  1.0   1.00  0.8  1.5 -0.7
8    NaN   NaN   NaN  ...  NaN  NaN   NaN   NaN  NaN    NaN  NaN  NaN  NaN
9    0.0   5.0   9.0  ...  0.0  4.0   1.0   3.0  9.0   3.00  4.0  1.7  2.3
10   2.0   4.0   7.0  ...  0.0  9.0   1.0   8.0  9.0   3.00  5.9  3.2  2.7
11   5.0   3.0   7.0  ...  0.0  8.0   5.0   3.0  9.0   3.00  6.7  4.0  2.7
12   5.0   4.0   9.0  ...  1.0  5.0   4.0   1.0  6.0   2.00  3.3  6.1 -2.8
13   1.0   6.0   9.0  ...  0.0  3.0   1.0   2.0  5.0   1.67  3.8  2.1  1.7
14   3.0   6.0   7.0  ...  2.0  3.0   3.0   0.0  6.0   1.50  3.4  5.0 -1.6
15   2.0   3.0   9.0  ...  1.0  7.0   5.0   2.0  4.0   1.33  3.8  3.3  0.5
16   3.0   7.0   7.0  ...  0.0  4.0   3.0   1.0  5.0   1.67  3.9  3.1  0.8
17   2.0   8.0   9.0  ...  2.0  3.0   9.0  -6.0  3.0   1.00  3.4  4.7 -1.3
18   2.0   1.0   3.0  ...  0.0  3.0   0.0   3.0  3.0   3.00  1.3  1.0  0.3
19   1.0   3.0   3.0  ...  0.0  1.0   0.0   1.0  3.0   3.00  1.3  1.5 -0.2
20   0.0   1.0   3.0  ...  0.0  1.0   0.0   1.0  3.0   3.00  1.8  0.6  1.2
21   2.0   0.0   1.0  ...  0.0  2.0   1.0   1.0  3.0   3.00  1.8  3.6 -1.8
22   2.0   0.0   1.0  ...  0.0  2.0   1.0   1.0  3.0   3.00  0.8  1.2 -0.4
23   0.0   1.0   3.0  ...  0.0  1.0   1.0   0.0  1.0   1.00  0.7  1.4 -0.8
24   0.0   0.0   1.0  ...  0.0  1.0   0.0   1.0  3.0   3.00  0.8  1.4 -0.6
25   NaN   NaN   NaN  ...  NaN  NaN   NaN   NaN  NaN    NaN  NaN  NaN  NaN
26   3.0  11.0   7.0  ...  2.0  3.0   4.0  -1.0  3.0   1.00  2.9  3.9 -0.9
27   2.0   2.0   5.0  ...  1.0  4.0   3.0   1.0  4.0   1.33  4.7  4.9 -0.2
28   4.0   2.0   4.0  ...  2.0  4.0   7.0  -3.0  3.0   1.00  3.1  4.8 -1.7
29   4.0   1.0   4.0  ...  1.0  5.0   6.0  -1.0  2.0   0.67  2.4  4.7 -2.3
30   4.0  -1.0   6.0  ...  3.0  4.0   8.0  -4.0  0.0   0.00  2.2  3.7 -1.5
31   3.0  -1.0   3.0  ...  2.0  2.0   6.0  -4.0  3.0   1.00  1.6  6.1 -4.4
32   6.0   0.0   4.0  ...  3.0  0.0   4.0  -4.0  0.0   0.00  1.0  5.6 -4.7
33   2.0   2.0   4.0  ...  3.0  1.0   7.0  -6.0  0.0   0.00  2.6  6.8 -4.3
34   3.0   0.0   3.0  ...  2.0  0.0   4.0  -4.0  1.0   0.33  1.3  3.7 -2.4
35  10.0  -7.0   0.0  ...  1.0  4.0   4.0   0.0  4.0   1.33  3.5  7.5 -4.0
36   5.0  -4.0   1.0  ...  2.0  5.0   9.0  -4.0  3.0   1.00  3.7  4.4 -0.7
37   4.0  -3.0   1.0  ...  2.0  3.0   9.0  -6.0  3.0   1.00  2.5  7.6 -5.1
38   6.0  -2.0   1.0  ...  2.0  3.0  11.0  -8.0  1.0   0.33  2.4  8.4 -6.0
39   6.0  -4.0   0.0  ...  2.0  1.0   9.0  -8.0  1.0   0.33  1.8  8.1 -6.4
40   6.0  -3.0   0.0  ...  3.0  2.0  12.0 -10.0  0.0   0.00  3.6  5.8 -2.2
41   5.0  -4.0   0.0  ...  3.0  1.0  11.0 -10.0  0.0   0.00  1.4  6.9 -5.5


   xGD/90
0    0.49
1   -0.28
2   -0.53
3   -0.15
4    0.48
5   -0.15
6   -0.15
7   -0.73
8     NaN
9    0.77
10   0.91
11   0.91
12  -0.92
13   0.58
14  -0.39
15   0.18
16   0.27
17  -0.44
18   0.33
19  -0.17
20   1.21
21  -1.75
22  -0.38
23  -0.75
24  -0.57
25    NaN
26  -0.31
27  -0.08
28  -0.57
29  -0.76
30  -0.49
31  -1.48
32  -1.55
33  -1.42
34  -0.80
35  -1.35
36  -0.23
37  -1.69
38  -2.01
39  -2.12
40  -0.75
41  -1.82

[42 rows x 28 columns]

In [14]:
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import time

url = "https://fbref.com/en/comps/882/Europa-Conference-League-Stats"

# Initialise the webdriver
firefox_options = Options()
firefox_options.headless = True
driver = webdriver.Firefox(options=firefox_options)
driver.get(url)

time.sleep(5)  # ensure the page is fully loaded

# Render the dynamic content to static HTML
html = driver.page_source
# print(html)

# Parse the static HTML
soup1 = BeautifulSoup(html, "html.parser")

# Close the webdriver
driver.close()

In [15]:
soup1.find_all('div',{'class':'match-summary'}) #these are the current fixtures - here KO playoffs

[<div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.02cd81bf.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/02cd81bf/Viktoria-Plzen-Stats">Viktoria Plzeň</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/6400d626/Servette-FC-Stats">Servette FC</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.6400d626.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.04c011d8.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/04c011d8/Maccabi-Tel-Aviv-Stats">Maccabi Tel Aviv</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/2fdb4aef/Olympiacos-Stats">Olympiacos</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.2fdb4aef.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.174bd5a0.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/174bd5a0/Molde-Stats">Molde</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/f1e6c5f1/Club-Brugge-Stats">Club Brugge</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.f1e6c5f1.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.187832f5.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/187832f5/Maccabi-Haifa-Stats">Maccabi Haifa</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/421387cf/Fiorentina-Stats">Fiorentina</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.421387cf.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.19c3f8c4.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/19c3f8c4/Ajax-Stats">Ajax</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/8602292d/Aston-Villa-Stats">Aston Villa</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.8602292d.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.3f4fe568.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/3f4fe568/Sturm-Graz-Stats">Sturm Graz</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/cb188c0c/Lille-Stats">Lille</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.cb188c0c.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.5a5e7874.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/5a5e7874/PAOK-Stats">PAOK</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/edd0d381/Dinamo-Zagreb-Stats">Dinamo Zagreb</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.edd0d381.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.ae1e2d7d.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/ae1e2d7d/Fenerbahce-Stats">Fenerbahçe</a>
 </div>
 <div class="match-detail">


 					–


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/e14f61a5/Union-SG-Stats">Union SG</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.e14f61a5.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.6400d626.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/6400d626/Servette-FC-Stats">Servette FC</a>
 </div>
 <div class="match-detail">


 					1–0


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/488c6ba1/Ludogorets-Razgrad-Stats">Ludogorets</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.488c6ba1.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.187832f5.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/187832f5/Maccabi-Haifa-Stats">Maccabi Haifa</a>
 </div>
 <div class="match-detail">


 					2–1


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/51e5a603/Gent-Stats">Gent</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.51e5a603.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.2fdb4aef.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/2fdb4aef/Olympiacos-Stats">Olympiacos</a>
 </div>
 <div class="match-detail">


 					2–0


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/6611f992/Ferencvaros-Stats">Ferencváros</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.6611f992.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.174bd5a0.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/174bd5a0/Molde-Stats">Molde</a>
 </div>
 <div class="match-detail">


 					6–2


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/a73408a7/Legia-Warsaw-Stats">Legia Warsaw</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.a73408a7.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.3f4fe568.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/3f4fe568/Sturm-Graz-Stats">Sturm Graz</a>
 </div>
 <div class="match-detail">


 					5–1


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/ae7f2f70/Slovan-Bratislava-Stats">Slovan Bratislava</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.ae7f2f70.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.19c3f8c4.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/19c3f8c4/Ajax-Stats">Ajax</a>
 </div>
 <div class="match-detail">


 					4–3


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/d86248bd/BodoGlimt-Stats">Bodø/Glimt</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.d86248bd.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.e14f61a5.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/e14f61a5/Union-SG-Stats">Union SG</a>
 </div>
 <div class="match-detail">


 					4–3


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/f0ac8ee6/Eintracht-Frankfurt-Stats">Eint Frankfurt</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.f0ac8ee6.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>,
 <div class="match-summary">
 <div class="match-date"></div>
 <div class="matchup-team team1 winner">
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.edd0d381.png" style="vertical-align:text-top" width="15"/>
 <a href="/en/squads/edd0d381/Dinamo-Zagreb-Stats">Dinamo Zagreb</a>
 </div>
 <div class="match-detail">


 					2–1


 		</div>
 <div class="matchup-team team2">
 <a href="/en/squads/fc536746/Real-Betis-Stats">Betis</a>
 <img alt="Club Crest" height="15" itemscope="image" src="https://cdn.ssref.net/req/202402261/tlogo/fb/mini.fc536746.png" style="vertical-align:text-top" width="15"/>
 </div>
 </div>]

In [16]:
#here are the leaderboards
#soup1.find_all('div', {'class':'data_grid_box'})

In [18]:
goals = soup1.find_all('div', {'class':'data_grid_box'})[0] #the first one is for goals
goal_leaders = pd.DataFrame(
    columns=["Rank", "Player", "Goals"]
)

mylist = []
for goals_row in goals.tbody.find_all("tr"):
    goals_columns = goals_row.find_all("td")

    if goals_columns != []:
        rank = goals_columns[0].text.strip()
        player = goals_columns[1].text.strip()
        goals_nb = goals_columns[2].text.strip()

        mylist.append([rank, player, goals_nb])

goal_leaders = pd.DataFrame(
    mylist,
    columns=["Rank", "Player", "Goals"]
)
goal_leaders

   Rank                                 Player Goals
0    1.         Bruno Petković • Dinamo Zagreb     5
1               Eran Zahavi • Maccabi Tel Aviv     5
2               Benjamin Nygren • Nordsjælland     5
3                            Gift Orban • Gent     5
4    5.         Omar Marmoush • Eint Frankfurt     4
5                   Hans Vanaken • Club Brugge     4
6        Aleksandar Čavrić • Slovan Bratislava     4
7                Jakub Piotrowski • Ludogorets     4
8                  Fredrik Gulbrandsen • Molde     4
9                         Thiago • Club Brugge     4
10               Dor Peretz • Maccabi Tel Aviv     4
11                        Yusuf Yazıcı • Lille     4

In [19]:
PSxGDF90 = soup1.find_all('div', {'class':'data_grid_box'})[77] #the last one is for PSxG-GA/90
PSxGDF90_leaders = pd.DataFrame(
    columns=["Rank", "Player", "PSxG-GA/90"]
)

mylist = []
for PSxGDF90_row in PSxGDF90.tbody.find_all("tr"):
    PSxGDF90_columns = PSxGDF90_row.find_all("td")

    if PSxGDF90_columns != []:
        rank = PSxGDF90_columns[0].text.strip()
        player = PSxGDF90_columns[1].text.strip()
        psxgdf90 = PSxGDF90_columns[2].text.strip()

        mylist.append([rank, player, psxgdf90])

PSxGDF90_leaders = pd.DataFrame(
    mylist,
    columns=["Rank", "Player", "PSxG-GA/90"]
)
PSxGDF90_leaders

  Rank                               Player PSxG-GA/90
0   1.           Jérémy Frick • Servette FC      +1.58
1   2.           Matevž Vidovšek • Olimpija      +1.09
2   3.                 Vito Mannone • Lille      +0.77
3   4.  Orlando Mosquera • Maccabi Tel Aviv      +0.75
4   5.      Danijel Zagorac • Dinamo Zagreb      +0.70
5   6.        Hendrik Van Crombrugge • Genk      +0.69
6   7.                   Diant Ramaj • Ajax      +0.66
7   8.        Shareef Keouf • Maccabi Haifa      +0.57
8   9.  Alexandros Paschalakis • Olympiacos      +0.39
9            Dominik Takáč • Spartak Trnava      +0.39

In [20]:
nations_soup = soup1.find('table', {'id':'nations'})

In [21]:
df_nationalities = pd.DataFrame(
    columns=["Nation", "# Players", "Min","List"]
)

mylist = []
for nations_row in nations_soup.tbody.find_all("tr"):
    nations_columns = nations_row.find_all("td")

    if nations_columns != []:
        nation = nations_columns[0].text.strip()
        players = nations_columns[1].text.strip()
        Min = nations_columns[2].text.strip()
        List = nations_columns[3].text.strip()

        mylist.append([nation, players, Min, List])

df_nationalities = pd.DataFrame(
    mylist,
    columns=["Nation", "# Players", "Min","List"]
)

In [22]:
df_nationalities

,Nation,# Players,Min,List
0,no Norway,59,"12,462","Patrick Berg, Aslak Witry, Amahl Pellegrino, K..."
1,hr Croatia,47,"11,915","Bruno Petković, Josip Mišić, Martin Baturina, ..."
2,fr France,41,"8,872","Junior Dina Ebimbe, Rémy Cabella, Niels Nkounk..."
3,rs Serbia,40,"9,515","Aleksandar Čavrić, Bojan Radulovic, Radovan Pa..."
4,,,,View Complete Nationalities Table

# Women's Super League (16/02/24)

In [23]:
dfs_2 = pd.read_html('https://fbref.com/en/comps/189/Womens-Super-League-Stats')

In [24]:
dfs_2[0] #Regular season table

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Chelsea,15,12,1,2,45,13,32,37,2.47,37.5,13.6,24.0,1.60,W W W L W,4637,Lauren James - 12,Hannah Hampton,NaN
1,2,Manchester City,15,12,1,2,38,9,29,37,2.47,29.5,12.6,16.8,1.12,W W W W W,3114,Khadija Shaw - 15,Khiara Keating,NaN
2,3,Arsenal,15,11,1,3,33,14,19,34,2.27,34.7,10.9,23.7,1.58,W W L W W,35006,Alessia Russo - 6,Manuela Zinsberger,NaN
3,4,Manchester Utd,15,7,4,4,32,19,13,25,1.67,26.4,17.0,9.4,0.63,L W W L D,11134,Nikita Parris - 8,Mary Earps,NaN
4,5,Liverpool,15,7,4,4,22,20,2,25,1.67,16.4,19.6,-3.2,-0.21,L L D W W,5229,"Sophie Román Haug, Marie-Therese Höbinger - 4",Rachael Laws,NaN
5,6,Tottenham,15,5,4,6,21,29,-8,19,1.27,16.6,23.1,-6.5,-0.44,W L D L L,3902,Martha Thomas - 7,Rebecca Spencer,NaN
6,7,Leicester City,15,4,4,7,21,30,-9,16,1.07,17.3,29.8,-12.5,-0.84,L W L W L,1531,Jutta Rantala - 5,Janina Leitzig,NaN
7,8,Aston Villa,15,5,1,9,19,31,-12,16,1.07,18.7,23.9,-5.2,-0.35,W L D W L,4379,Rachel Daly - 6,Daphne van Domselaar,NaN
8,9,Brighton,15,4,2,9,20,33,-13,14,0.93,14.2,29.9,-15.6,-1.04,W L L L W,3494,Elisabeth Terland - 11,Sophie Baggaley,NaN
9,10,Everton,15,4,2,9,13,27,-14,14,0.93,14.4,25.0,-10.5,-0.70,L L L W L,1011,"Aurora Galli, Megan Finnigan - 3",Courtney Brosnan,NaN
10,11,West Ham,15,3,3,9,16,30,-14,12,0.80,16.4,20.6,-4.2,-0.28,L W W L D,4479,Viviane Asseyi - 6,Mackenzie Arnold,NaN
11,12,Bristol City,15,1,3,11,20,45,-25,6,0.40,12.4,28.5,-16.1,-1.07,L L D L L,7687,Amalie Thestrup - 9,Olivia Clark,NaN

In [25]:
dfs_2[1] #Regular season table - home/away

   Unnamed: 0_level_0 Unnamed: 1_level_0 Home                           ...  \
                   Rk              Squad   MP  W  D  L  GF  GA  GD Pts  ...
0                   1            Chelsea    8  7  0  1  24   8  16  21  ...
1                   2    Manchester City    8  6  1  1  24   5  19  19  ...
2                   3            Arsenal    8  7  0  1  17   6  11  21  ...
3                   4     Manchester Utd    7  3  2  2  14   9   5  11  ...
4                   5          Liverpool    7  3  2  2  10   6   4  11  ...
5                   6          Tottenham    7  2  2  3   7  11  -4   8  ...
6                   7     Leicester City    8  2  2  4  10  16  -6   8  ...
7                   8        Aston Villa    7  1  1  5   8  20 -12   4  ...
8                   9           Brighton    8  1  2  5   8  18 -10   5  ...
9                  10            Everton    7  1  1  5   6  17 -11   4  ...
10                 11           West Ham    8  1  2  5  11  16  -5   5  ...
11                 12       Bristol City    7  0  0  7   7  22 -15   0  ...

   Away
      L  GF  GA  GD Pts Pts/MP    xG   xGA   xGD xGD/90
0     1  21   5  16  16   2.29  15.6   5.9   9.7   1.39
1     1  14   4  10  18   2.57  11.4   7.3   4.1   0.58
2     2  16   8   8  13   1.86  18.3   4.7  13.6   1.94
3     2  18  10   8  14   1.75  15.5  10.0   5.5   0.69
4     2  12  14  -2  14   1.75   8.5  13.4  -4.9  -0.61
5     3  14  18  -4  11   1.38   9.6  13.2  -3.6  -0.45
6     3  11  14  -3   8   1.14   5.1  12.0  -6.8  -0.98
7     4  11  11   0  12   1.50   7.3  11.6  -4.2  -0.53
8     4  12  15  -3   9   1.29   6.9  16.5  -9.5  -1.36
9     4   7  10  -3  10   1.25   7.1  15.4  -8.2  -1.03
10    4   5  14  -9   7   1.00   7.1   8.9  -1.8  -0.26
11    4  13  23 -10   6   0.75   7.6  15.3  -7.7  -0.96

[12 rows x 28 columns]

In [26]:
dfs_2[2] #Squad Standard Stats - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Arsenal                 24               28.1
1         Aston Villa                 23               28.3
2            Brighton                 21               27.4
3        Bristol City                 30               24.4
4             Chelsea                 28               27.2
5             Everton                 26               26.3
6      Leicester City                 24               27.1
7           Liverpool                 23               27.1
8     Manchester City                 22               25.9
9      Manchester Utd                 19               27.3
10          Tottenham                 27               27.4
11           West Ham                 25               27.0

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                58.5           15    165  1350  15.0          32  23  ...
1                53.9           15    165  1350  15.0          18  10  ...
2                44.3           15    165  1350  15.0          20  14  ...
3                33.7           15    165  1350  15.0          20   9  ...
4                60.2           15    165  1350  15.0          44  31  ...
5                44.3           15    165  1350  15.0          12   7  ...
6                50.8           15    165  1350  15.0          21  16  ...
7                46.8           15    165  1350  15.0          20  15  ...
8                59.1           15    165  1350  15.0          36  26  ...
9                56.7           15    165  1350  15.0          32  23  ...
10               48.3           15    165  1350  15.0          21  13  ...
11               43.4           15    165  1350  15.0          16   7  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            2.13  1.53  3.67  2.00   3.53  2.31  1.64   3.95  2.15     3.79
1            1.20  0.67  1.87  1.00   1.67  1.25  0.78   2.03  1.09     1.87
2            1.33  0.93  2.27  1.27   2.20  0.95  0.69   1.64  0.90     1.59
3            1.33  0.60  1.93  1.20   1.80  0.83  0.42   1.25  0.72     1.14
4            2.93  2.07  5.00  2.80   4.87  2.50  1.89   4.39  2.40     4.28
5            0.80  0.47  1.27  0.67   1.13  0.96  0.60   1.56  0.82     1.43
6            1.40  1.07  2.47  1.40   2.47  1.15  0.85   2.00  1.15     2.00
7            1.33  1.00  2.33  1.33   2.33  1.09  0.88   1.97  1.09     1.97
8            2.40  1.73  4.13  2.33   4.07  1.96  1.26   3.23  1.80     3.06
9            2.13  1.53  3.67  2.07   3.60  1.76  1.29   3.05  1.71     3.01
10           1.40  0.87  2.27  1.40   2.27  1.11  0.77   1.87  1.11     1.87
11           1.07  0.47  1.53  0.87   1.33  1.09  0.57   1.67  0.94     1.51

[12 rows x 32 columns]

In [27]:
dfs_2[3] #Squad Standard Stats - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                Age
0           vs Arsenal                 24               27.0
1       vs Aston Villa                 23               26.7
2          vs Brighton                 21               26.7
3      vs Bristol City                 30               27.3
4           vs Chelsea                 28               26.8
5           vs Everton                 26               27.0
6    vs Leicester City                 24               26.5
7         vs Liverpool                 23               27.2
8   vs Manchester City                 22               26.9
9    vs Manchester Utd                 19               27.2
10        vs Tottenham                 27               27.2
11         vs West Ham                 25               26.9

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                41.5           15    165  1350  15.0          14  12  ...
1                46.1           15    165  1350  15.0          30  17  ...
2                55.7           15    165  1350  15.0          33  20  ...
3                66.3           15    165  1350  15.0          44  25  ...
4                39.8           15    165  1350  15.0          12   7  ...
5                55.7           15    165  1350  15.0          27  22  ...
6                49.2           15    165  1350  15.0          29  20  ...
7                53.2           15    165  1350  15.0          19  12  ...
8                40.9           15    165  1350  15.0           9   5  ...
9                43.3           15    165  1350  15.0          17  12  ...
10               51.7           15    165  1350  15.0          28  20  ...
11               56.6           15    165  1350  15.0          30  22  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            0.93  0.80  1.73  0.87   1.67  0.73  0.57   1.30  0.68     1.25
1            2.00  1.13  3.13  1.87   3.00  1.60  1.11   2.70  1.49     2.60
2            2.20  1.33  3.53  2.20   3.53  1.99  1.54   3.53  1.99     3.53
3            2.93  1.67  4.60  2.80   4.47  1.90  1.16   3.06  1.80     2.96
4            0.80  0.47  1.27  0.73   1.20  0.90  0.60   1.50  0.85     1.45
5            1.80  1.47  3.27  1.67   3.13  1.66  1.18   2.84  1.50     2.68
6            1.93  1.33  3.27  1.87   3.20  1.99  1.35   3.34  1.88     3.23
7            1.27  0.80  2.07  1.13   1.93  1.31  0.88   2.18  1.20     2.08
8            0.60  0.33  0.93  0.53   0.87  0.84  0.51   1.35  0.74     1.25
9            1.13  0.80  1.93  1.00   1.80  1.13  0.68   1.82  1.03     1.71
10           1.87  1.33  3.20  1.67   3.00  1.54  1.04   2.58  1.41     2.44
11           2.00  1.47  3.47  2.00   3.47  1.37  1.02   2.39  1.32     2.34

[12 rows x 32 columns]

In [28]:
dfs_2[4] #Squad Goalkeeping - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
                Squad               # Pl           MP Starts   Min   90s
0             Arsenal                  2           15     15  1350  15.0
1         Aston Villa                  2           15     15  1350  15.0
2            Brighton                  2           15     15  1350  15.0
3        Bristol City                  5           15     15  1350  15.0
4             Chelsea                  3           15     15  1350  15.0
5             Everton                  2           15     15  1350  15.0
6      Leicester City                  2           15     15  1350  15.0
7           Liverpool                  2           15     15  1350  15.0
8     Manchester City                  1           15     15  1350  15.0
9      Manchester Utd                  1           15     15  1350  15.0
10          Tottenham                  2           15     15  1350  15.0
11           West Ham                  2           15     15  1350  15.0

   Performance                   ...                     Penalty Kicks      \
            GA  GA90 SoTA Saves  ...   W  D   L CS   CS%         PKatt PKA
0           14  0.93   38    24  ...  11  1   3  4  26.7             1   1
1           31  2.07   82    52  ...   5  1   9  3  20.0             2   2
2           33  2.20   95    62  ...   4  2   9  1   6.7             0   0
3           45  3.00  112    68  ...   1  3  11  0   0.0             2   2
4           13  0.87   59    47  ...  12  1   2  7  46.7             1   1
5           27  1.80   93    65  ...   4  2   9  3  20.0             3   2
6           30  2.00  100    70  ...   4  4   7  2  13.3             2   1
7           20  1.33   58    39  ...   7  4   4  4  26.7             2   2
8            9  0.60   51    41  ...  12  1   2  7  46.7             2   1
9           19  1.27   62    45  ...   7  4   4  5  33.3             2   2
10          29  1.93   72    44  ...   5  4   6  1   6.7             3   3
11          30  2.00   80    49  ...   3  3   9  1   6.7             1   0


   PKsv PKm  Save%
0     0   0    0.0
1     0   0    0.0
2     0   0    NaN
3     0   0    0.0
4     0   0    0.0
5     1   0   33.3
6     1   0   50.0
7     0   0    0.0
8     1   0   50.0
9     0   0    0.0
10    0   0    0.0
11    1   0  100.0

[12 rows x 21 columns]

In [29]:
dfs_2[5] #Squad Goalkeeping - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
                 Squad               # Pl           MP Starts   Min   90s
0           vs Arsenal                  2           15     15  1350  15.0
1       vs Aston Villa                  2           15     15  1350  15.0
2          vs Brighton                  2           15     15  1350  15.0
3      vs Bristol City                  5           15     15  1350  15.0
4           vs Chelsea                  3           15     15  1350  15.0
5           vs Everton                  2           15     15  1350  15.0
6    vs Leicester City                  2           15     15  1350  15.0
7         vs Liverpool                  2           15     15  1350  15.0
8   vs Manchester City                  1           15     15  1350  15.0
9    vs Manchester Utd                  1           15     15  1350  15.0
10        vs Tottenham                  2           15     15  1350  15.0
11         vs West Ham                  2           15     15  1350  15.0

   Performance                   ...                     Penalty Kicks      \
            GA  GA90 SoTA Saves  ...   W  D   L CS   CS%         PKatt PKA
0           33  2.20   86    53  ...   3  1  11  2  13.3             3   2
1           19  1.27   76    58  ...   9  1   5  2  13.3             3   3
2           20  1.33   57    37  ...   9  2   4  7  46.7             1   1
3           20  1.33   47    27  ...  11  3   1  4  26.7             2   2
4           45  3.00  118    74  ...   2  1  12  1   6.7             2   2
5           13  0.87   47    34  ...   9  2   4  5  33.3             3   2
6           21  1.40   63    42  ...   7  4   4  4  26.7             0   0
7           22  1.47   57    37  ...   4  4   7  2  13.3             0   0
8           38  2.53  117    79  ...   2  1  12  1   6.7             3   1
9           32  2.13   93    61  ...   4  4   7  0   0.0             1   1
10          21  1.40   87    66  ...   6  4   5  4  26.7             0   0
11          16  1.07   54    38  ...   9  3   3  6  40.0             3   3


   PKsv PKm Save%
0     1   0  33.3
1     0   0   0.0
2     0   0   0.0
3     0   0   0.0
4     0   0   0.0
5     1   0  33.3
6     0   0   NaN
7     0   0   NaN
8     2   0  66.7
9     0   0   0.0
10    0   0   NaN
11    0   0   0.0

[12 rows x 21 columns]

In [30]:
dfs_2[6] #Squad Advanced Goalkeeping - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Goals            \
                Squad               # Pl                90s    GA PKA FK CK
0             Arsenal                  2               15.0    14   1  0  3
1         Aston Villa                  2               15.0    31   2  0  5
2            Brighton                  2               15.0    33   0  1  7
3        Bristol City                  5               15.0    45   2  1  9
4             Chelsea                  3               15.0    13   1  0  1
5             Everton                  2               15.0    27   2  0  1
6      Leicester City                  2               15.0    30   1  0  4
7           Liverpool                  2               15.0    20   2  0  3
8     Manchester City                  1               15.0     9   1  0  1
9      Manchester Utd                  1               15.0    19   2  0  2
10          Tottenham                  2               15.0    29   3  0  3
11           West Ham                  2               15.0    30   0  0  6

      Expected           ... Passes Goal Kicks                Crosses      \
   OG     PSxG PSxG/SoT  ... AvgLen        Att Launch% AvgLen     Opp Stp
0   0     11.3     0.27  ...   24.7         68    42.6   31.9     139  20
1   1     24.1     0.28  ...   28.7        117    28.2   27.1     233  17
2   0     27.4     0.29  ...   24.8        145    51.7   35.4     264  11
3   1     31.7     0.27  ...   18.0        145    38.6   32.3     292  14
4   1     14.6     0.24  ...   30.3         73    26.0   26.6     138  13
5   0     26.6     0.26  ...   27.2        128    27.3   24.3     228  11
6   1     29.0     0.27  ...   25.0        109    25.7   26.1     204  14
7   1     18.2     0.28  ...   26.9        107    50.5   37.0     244   7
8   0     14.6     0.26  ...   30.2         67    41.8   31.2     134  10
9   2     19.0     0.28  ...   24.3         87    32.2   27.4     155   6
10  1     24.5     0.31  ...   23.5        132    24.2   24.1     241  11
11  0     24.7     0.30  ...   29.6        150    28.7   29.9     205   9

         Sweeper
    Stp%    #OPA #OPA/90 AvgDist
0   14.4      16    1.07    15.8
1    7.3       5    0.33     8.3
2    4.2       8    0.53     4.0
3    4.8       8    0.53    16.0
4    9.4      20    1.33    15.4
5    4.8      11    0.73    26.4
6    6.9      20    1.33    17.3
7    2.9       6    0.40     8.0
8    7.5      13    0.87    16.4
9    3.9      17    1.13    14.3
10   4.6       5    0.33    11.1
11   4.4      21    1.40    18.4

[12 rows x 28 columns]

In [31]:
dfs_2[7] #Squad Advanced Goalkeeping - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Goals            \
                 Squad               # Pl                90s    GA PKA FK CK
0           vs Arsenal                  2               15.0    33   2  0  5
1       vs Aston Villa                  2               15.0    19   3  0  6
2          vs Brighton                  2               15.0    20   1  0  5
3      vs Bristol City                  5               15.0    20   2  1  3
4           vs Chelsea                  3               15.0    45   2  0  5
5           vs Everton                  2               15.0    13   2  0  4
6    vs Leicester City                  2               15.0    21   0  0  2
7         vs Liverpool                  2               15.0    22   0  0  2
8   vs Manchester City                  1               15.0    38   1  0  4
9    vs Manchester Utd                  1               15.0    32   1  0  6
10        vs Tottenham                  2               15.0    21   0  1  2
11         vs West Ham                  2               15.0    16   3  0  1

      Expected           ... Passes Goal Kicks                Crosses      \
   OG     PSxG PSxG/SoT  ... AvgLen        Att Launch% AvgLen     Opp Stp
0   1     28.3     0.30  ...   29.7        141    32.6   30.4     283  11
1   1     19.4     0.23  ...   29.1        123    28.5   29.3     241   7
2   0     18.8     0.32  ...   26.4        104    19.2   24.7     196   9
3   0     13.2     0.24  ...   25.3         82    31.7   31.2     142  12
4   1     43.9     0.36  ...   29.8        140    46.4   35.0     245  13
5   1     13.7     0.23  ...   27.7         72    33.3   29.5     141  11
6   0     19.3     0.31  ...   31.1         99    41.4   29.6     161   9
7   2     17.7     0.31  ...   30.8        108    50.0   32.4     237  15
8   2     31.7     0.25  ...   26.5        123    26.8   25.7     274  13
9   0     27.4     0.29  ...   30.5        125    42.4   29.7     211  14
10  0     18.5     0.22  ...   26.4         99    27.3   27.5     169  12
11  0     13.7     0.20  ...   26.4        112    32.1   27.7     177  17

        Sweeper
   Stp%    #OPA #OPA/90 AvgDist
0   3.9      11    0.73    11.1
1   2.9      12    0.80    16.8
2   4.6       5    0.33    10.6
3   8.5      16    1.07    16.5
4   5.3      15    1.00    14.3
5   7.8       6    0.40    12.1
6   5.6      16    1.07    14.9
7   6.3      11    0.73    13.5
8   4.7      17    1.13    14.0
9   6.6      16    1.07    13.5
10  7.1      12    0.80    15.7
11  9.6      13    0.87    12.5

[12 rows x 28 columns]

In [32]:
dfs_2[8] #Squad Shooting - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard       \
                Squad               # Pl                90s      Gls   Sh
0             Arsenal                 24               15.0       32  282
1         Aston Villa                 23               15.0       18  193
2            Brighton                 21               15.0       20  144
3        Bristol City                 30               15.0       20  120
4             Chelsea                 28               15.0       44  293
5             Everton                 26               15.0       12  122
6      Leicester City                 24               15.0       21  178
7           Liverpool                 23               15.0       20  171
8     Manchester City                 22               15.0       36  272
9      Manchester Utd                 19               15.0       32  233
10          Tottenham                 27               15.0       21  189
11           West Ham                 25               15.0       16  156

                                                          Expected        \
    SoT  SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist FK PK PKatt       xG  npxG
0    83  29.4  18.80   5.53  0.11  0.36  15.4  4  2     3     34.7  32.3
1    73  37.8  12.87   4.87  0.08  0.21  17.1  5  3     3     18.7  16.4
2    56  38.9   9.60   3.73  0.13  0.34  16.7  3  1     1     14.2  13.4
3    45  37.5   8.00   3.00  0.15  0.40  17.2  2  2     2     12.4  10.8
4   116  39.6  19.53   7.73  0.14  0.36  14.1  4  2     2     37.5  36.0
5    44  36.1   8.13   2.93  0.08  0.23  16.1  0  2     3     14.4  12.3
6    63  35.4  11.87   4.20  0.12  0.33  15.4  3  0     0     17.3  17.3
7    57  33.3  11.40   3.80  0.12  0.35  15.2  2  0     0     16.4  16.4
8   114  41.9  18.13   7.60  0.13  0.31  16.6  5  1     3     29.5  27.0
9    92  39.5  15.53   6.13  0.13  0.34  15.4  1  1     1     26.4  25.7
10   87  46.0  12.60   5.80  0.11  0.24  18.4  4  0     0     16.6  16.6
11   51  32.7  10.40   3.40  0.08  0.25  17.2  4  3     3     16.4  14.1


   npxG/Sh G-xG np:G-xG
0     0.12 -2.7    -2.3
1     0.09 -0.7    -1.4
2     0.09  5.8     5.6
3     0.09  7.6     7.2
4     0.13  6.5     6.0
5     0.10 -2.4    -2.3
6     0.10  3.7     3.7
7     0.10  3.6     3.6
8     0.10  6.5     8.0
9     0.11  5.6     5.3
10    0.09  4.4     4.4
11    0.09 -0.4    -1.1

In [33]:
dfs_2[9] #Squad Shooting - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Standard       \
                 Squad               # Pl                90s      Gls   Sh
0           vs Arsenal                 24               15.0       14  113
1       vs Aston Villa                 23               15.0       30  219
2          vs Brighton                 21               15.0       33  280
3      vs Bristol City                 30               15.0       44  285
4           vs Chelsea                 28               15.0       12  135
5           vs Everton                 26               15.0       27  222
6    vs Leicester City                 24               15.0       29  223
7         vs Liverpool                 23               15.0       19  173
8   vs Manchester City                 22               15.0        9  119
9    vs Manchester Utd                 19               15.0       17  164
10        vs Tottenham                 27               15.0       28  213
11         vs West Ham                 25               15.0       30  207

                                                          Expected        \
    SoT  SoT%  Sh/90 SoT/90  G/Sh G/SoT  Dist FK PK PKatt       xG  npxG
0    37  32.7   7.53   2.47  0.12  0.35  17.2  4  1     1     10.9  10.2
1    80  36.5  14.60   5.33  0.13  0.35  15.6  2  2     2     23.9  22.4
2    95  33.9  18.67   6.33  0.12  0.35  15.0  4  0     0     29.9  29.9
3   110  38.6  19.00   7.33  0.15  0.38  16.0  5  2     2     28.5  27.0
4    58  43.0   9.00   3.87  0.08  0.19  17.6  2  1     1     13.6  12.8
5    90  40.5  14.80   6.00  0.11  0.28  16.5  4  2     3     25.0  22.6
6    98  43.9  14.87   6.53  0.13  0.29  15.2  1  1     2     29.8  28.2
7    56  32.4  11.53   3.73  0.10  0.30  15.1  5  2     2     19.6  18.0
8    49  41.2   7.93   3.27  0.07  0.16  17.2  0  1     2     12.6  11.1
9    60  36.6  10.93   4.00  0.09  0.25  16.3  2  2     2     17.0  15.4
10   69  32.4  14.20   4.60  0.12  0.36  16.7  5  3     3     23.1  21.1
11   79  38.2  13.80   5.27  0.14  0.38  16.3  3  0     1     20.6  19.7


   npxG/Sh  G-xG np:G-xG
0     0.09   3.1     2.8
1     0.11   6.1     5.6
2     0.11   3.1     3.1
3     0.10  15.5    15.0
4     0.10  -1.6    -1.8
5     0.10   2.0     2.4
6     0.13  -0.8    -0.2
7     0.11  -0.6    -1.0
8     0.10  -3.6    -3.1
9     0.10   0.0    -0.4
10    0.10   4.9     3.9
11    0.10   9.4    10.3

In [34]:
dfs_2[10] #Squad Passing - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Total              \
                Squad               # Pl                90s   Cmp   Att  Cmp%
0             Arsenal                 24               15.0  6757  8542  79.1
1         Aston Villa                 23               15.0  6547  8323  78.7
2            Brighton                 21               15.0  4704  6508  72.3
3        Bristol City                 30               15.0  3053  4833  63.2
4             Chelsea                 28               15.0  7741  9559  81.0
5             Everton                 26               15.0  5247  6946  75.5
6      Leicester City                 24               15.0  5350  7243  73.9
7           Liverpool                 23               15.0  5186  7116  72.9
8     Manchester City                 22               15.0  7669  9255  82.9
9      Manchester Utd                 19               15.0  6659  8357  79.7
10          Tottenham                 27               15.0  5998  7594  79.0
11           West Ham                 25               15.0  4708  6457  72.9

                   Short        ...  Long Unnamed: 17_level_0  \
   TotDist PrgDist   Cmp   Att  ...  Cmp%                 Ast
0   120570   43217  2849  3343  ...  54.2                  23
1   118658   45231  2742  3244  ...  54.4                  10
2    84152   36608  2043  2564  ...  48.3                  14
3    55974   25825  1234  1674  ...  40.2                   9
4   138798   50218  3231  3724  ...  59.0                  31
5    92081   36331  2215  2709  ...  46.3                   7
6    94521   39185  2232  2816  ...  47.8                  16
7    99138   40981  2014  2565  ...  54.5                  15
8   136188   45111  3195  3618  ...  55.0                  26
9   119292   42818  2766  3225  ...  54.6                  23
10  105194   41022  2661  3111  ...  56.4                  13
11   89379   37978  1719  2183  ...  50.7                   7

   Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                   xAG       xA A-xAG                  KP                 1/3
0                 24.5     26.8  -1.5                 205                 676
1                 11.7     14.3  -1.7                 139                 493
2                 10.4     10.6   3.6                 110                 349
3                  6.3      5.9   2.7                  74                 204
4                 28.3     29.3   2.7                 220                 655
5                  9.0      9.2  -2.0                  96                 300
6                 12.7     15.7   3.3                 132                 391
7                 13.2     12.5   1.8                 125                 364
8                 18.9     21.4   7.1                 201                 685
9                 19.4     17.1   3.6                 171                 460
10                11.5     11.2   1.5                 130                 400
11                 8.6     10.5  -1.6                 106                 370

   Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                   PPA               CrsPA                PrgP
0                  197                  33                 873
1                  133                  35                 644
2                   85                  26                 469
3                   59                  16                 309
4                  191                  28                 842
5                   79                  17                 416
6                  126                  25                 558
7                  100                  33                 523
8                  194                  52                 814
9                  138                  33                 633
10                  89                  24                 528
11                  84                  21                 480

[12 rows x 26 columns]

In [35]:
dfs_2[11] #Squad Passing - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Total        \
                 Squad               # Pl                90s   Cmp   Att
0           vs Arsenal                 24               15.0  4422  6015
1       vs Aston Villa                 23               15.0  5371  7118
2          vs Brighton                 21               15.0  6379  8190
3      vs Bristol City                 30               15.0  7903  9720
4           vs Chelsea                 28               15.0  4539  6287
5           vs Everton                 26               15.0  7101  8832
6    vs Leicester City                 24               15.0  5174  7064
7         vs Liverpool                 23               15.0  6094  8058
8   vs Manchester City                 22               15.0  4714  6305
9    vs Manchester Utd                 19               15.0  4622  6388
10        vs Tottenham                 27               15.0  6580  8220
11         vs West Ham                 25               15.0  6720  8536

                         Short        ...  Long Unnamed: 17_level_0  \
    Cmp% TotDist PrgDist   Cmp   Att  ...  Cmp%                 Ast
0   73.5   79326   32219  1888  2320  ...  48.7                  12
1   75.5   97701   37680  2296  2779  ...  53.2                  17
2   77.9  119370   45610  2432  2943  ...  54.3                  20
3   81.3  142109   51464  3237  3810  ...  59.2                  25
4   72.2   78553   33632  1995  2494  ...  42.4                   7
5   80.4  128781   46526  2746  3232  ...  57.1                  22
6   73.2   92095   38758  2241  2718  ...  48.6                  20
7   75.6  108870   41804  2699  3277  ...  52.6                  12
8   74.8   84817   33515  1951  2390  ...  53.2                   5
9   72.4   80792   35056  2031  2496  ...  45.6                  12
10  80.0  120164   44461  2595  3093  ...  55.8                  20
11  78.7  121367   43800  2790  3224  ...  52.0                  22

   Unnamed: 18_level_0 Expected       Unnamed: 21_level_0 Unnamed: 22_level_0  \
                   xAG       xA A-xAG                  KP                 1/3
0                  8.6      9.1   3.4                  81                 292
1                 16.6     15.5   0.4                 164                 441
2                 23.0     21.9  -3.0                 208                 515
3                 17.3     20.6   7.7                 201                 758
4                  9.0      8.3  -2.0                  98                 315
5                 17.7     21.4   4.3                 160                 614
6                 20.3     16.7  -0.3                 164                 396
7                 13.1     16.2  -1.1                 126                 448
8                  7.7     10.6  -2.7                  88                 297
9                 10.2      9.6   1.8                 115                 283
10                15.6     16.6   4.4                 150                 529
11                15.3     17.8   6.7                 154                 459

   Unnamed: 23_level_0 Unnamed: 24_level_0 Unnamed: 25_level_0
                   PPA               CrsPA                PrgP
0                   62                  19                 382
1                  121                  31                 595
2                  162                  40                 734
3                  187                  50                 912
4                   75                  17                 450
5                  149                  31                 732
6                  127                  29                 525
7                  137                  33                 619
8                   72                  15                 435
9                   90                  22                 403
10                 147                  32                 705
11                 146                  24                 597

[12 rows x 26 columns]

In [36]:
dfs_2[12] #Squad Pass Types - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                90s
0             Arsenal                 24               15.0
1         Aston Villa                 23               15.0
2            Brighton                 21               15.0
3        Bristol City                 30               15.0
4             Chelsea                 28               15.0
5             Everton                 26               15.0
6      Leicester City                 24               15.0
7           Liverpool                 23               15.0
8     Manchester City                 22               15.0
9      Manchester Utd                 19               15.0
10          Tottenham                 27               15.0
11           West Ham                 25               15.0

   Unnamed: 3_level_0 Pass Types                                   \
                  Att       Live Dead   FK  TB  Sw  Crs   TI   CK
0                8542       7706  790  148  18  20  361  411  134
1                8323       7522  774  151   8  14  290  378   82
2                6508       5727  759  146   4  10  248  357   62
3                4833       4056  750  145   0  10  176  364   38
4                9559       8847  676  124  12  26  310  343  108
5                6946       6183  744  158   2   9  173  369   47
6                7243       6439  770  197   2  11  202  359   60
7                7116       6358  726  141   3  14  279  369   74
8                9255       8505  735  162  11  15  333  375  108
9                8357       7557  752  187  10   9  269  369   76
10               7594       6888  667  133   7  22  195  294   64
11               6457       5679  760  156   6  20  217  365   44

   Corner Kicks         Outcomes
             In Out Str      Cmp Off Blocks
0            98  18   0     6757  46    218
1            30  30   6     6547  27    215
2            42  16   1     4704  22    199
3            19   9   9     3053  27    176
4            54  26   7     7741  36    171
5            34   3   5     5247  19    190
6            48   1   0     5350  34    177
7            44  17   5     5186  32    223
8            47  20   3     7669  15    153
9            26  25   8     6659  48    141
10           23  23   1     5998  39    183
11           17   9   1     4708  18    165

In [37]:
dfs_2[13] #Squad Pass Types - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                90s
0           vs Arsenal                 24               15.0
1       vs Aston Villa                 23               15.0
2          vs Brighton                 21               15.0
3      vs Bristol City                 30               15.0
4           vs Chelsea                 28               15.0
5           vs Everton                 26               15.0
6    vs Leicester City                 24               15.0
7         vs Liverpool                 23               15.0
8   vs Manchester City                 22               15.0
9    vs Manchester Utd                 19               15.0
10        vs Tottenham                 27               15.0
11         vs West Ham                 25               15.0

   Unnamed: 3_level_0 Pass Types                                 Corner Kicks  \
                  Att       Live Dead   FK TB  Sw  Crs   TI   CK           In
0                6015       5324  671  190  9  10  168  261   31           15
1                7118       6361  725  127  7  16  302  364   77           44
2                8190       7400  761  170  2  13  307  362   90           42
3                9720       8928  759  148  8  21  346  391  103           62
4                6287       5561  705  147  7   5  178  313   46           24
5                8832       8056  745  154  6  18  280  411   80           46
6                7064       6163  862  187  9  13  252  446   95           42
7                8058       7234  791  153  9  24  317  394   98           47
8                6305       5642  632   94  8  16  166  317   46           27
9                6388       5596  748  160  7   9  197  349   67           50
10               8220       7477  732  154  6  12  293  356   87           42
11               8536       7725  772  164  5  23  247  389   77           41

           Outcomes
   Out Str      Cmp Off Blocks
0    9   2     4422  20    161
1   16   2     5371  32    184
2   20   4     6379  29    155
3   18   1     7903  33    167
4    7   2     4539  21    172
5   20   0     7101  31    193
6   23  11     5174  39    173
7   24   7     6094  33    208
8    9   0     4714  31    185
9    7   2     4622  44    237
10  27   3     6580  11    210
11  17  12     6720  39    166

In [38]:
dfs_2[14] #Squad Goal and Shot Creation - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  SCA         \
                Squad               # Pl                90s  SCA  SCA90
0             Arsenal                 24               15.0  483  32.20
1         Aston Villa                 23               15.0  333  22.20
2            Brighton                 21               15.0  240  16.00
3        Bristol City                 30               15.0  179  11.93
4             Chelsea                 28               15.0  513  34.20
5             Everton                 26               15.0  204  13.60
6      Leicester City                 24               15.0  297  19.80
7           Liverpool                 23               15.0  275  18.33
8     Manchester City                 22               15.0  452  30.13
9      Manchester Utd                 19               15.0  390  26.00
10          Tottenham                 27               15.0  311  20.73
11           West Ham                 25               15.0  260  17.33

   SCA Types                          GCA       GCA Types                     \
    PassLive PassDead  TO  Sh Fld Def GCA GCA90  PassLive PassDead TO Sh Fld
0        350       42  25  37  17  12  53  3.53        47        1  1  2   2
1        238       33  17  24  14   7  32  2.13        21        3  1  3   4
2        169       25  14  14   7  11  32  2.13        21        3  1  5   1
3        108       22  11  20  13   5  31  2.07        15        2  3  5   3
4        369       51  22  48  15   8  75  5.00        62        1  6  3   2
5        141       24  11  14  11   3  22  1.47        10        4  1  4   3
6        213       25  12  25  14   8  33  2.20        20        3  1  6   1
7        183       43  13  23   9   4  32  2.13        24        3  2  3   0
8        340       26  32  33  10  11  59  3.93        41        3  4  6   3
9        265       40  23  39   8  15  54  3.60        37        4  4  6   0
10       219       22  24  29  10   7  35  2.33        23        2  3  4   2
11       192       21   8  21  14   4  26  1.73        14        2  1  4   5


   Def
0    0
1    0
2    1
3    3
4    1
5    0
6    2
7    0
8    2
9    3
10   1
11   0

In [39]:
dfs_2[15] #Squad Goal and Shot Creation - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  SCA         \
                 Squad               # Pl                90s  SCA  SCA90
0           vs Arsenal                 24               15.0  185  12.33
1       vs Aston Villa                 23               15.0  367  24.47
2          vs Brighton                 21               15.0  463  30.87
3      vs Bristol City                 30               15.0  498  33.20
4           vs Chelsea                 28               15.0  225  15.00
5           vs Everton                 26               15.0  369  24.60
6    vs Leicester City                 24               15.0  372  24.80
7         vs Liverpool                 23               15.0  301  20.07
8   vs Manchester City                 22               15.0  193  12.87
9    vs Manchester Utd                 19               15.0  265  17.67
10        vs Tottenham                 27               15.0  351  23.40
11         vs West Ham                 25               15.0  348  23.20

   SCA Types                          GCA       GCA Types                      \
    PassLive PassDead  TO  Sh Fld Def GCA GCA90  PassLive PassDead TO  Sh Fld
0        138       14  11  12   8   2  27  1.80        20        2  1   2   2
1        252       31  25  40  10   9  50  3.33        34        3  2   6   3
2        332       46  16  45  13  11  56  3.73        35        6  3   7   2
3        371       41  22  40  16   8  69  4.60        46        5  2  11   3
4        159       24  12  17   7   6  19  1.27        13        1  1   3   1
5        264       32  18  22  18  15  45  3.00        37        1  1   1   3
6        252       42  23  34  13   8  46  3.07        36        1  6   1   1
7        209       26  23  23  13   7  34  2.27        22        2  3   4   2
8        136       16   8  20   4   9  12  0.80         9        0  1   2   0
9        183       27  13  27  11   4  30  2.00        19        4  1   3   3
10       244       37  24  22  15   9  47  3.13        33        2  4   4   3
11       247       38  17  25  14   7  49  3.27        31        4  3   7   3


   Def
0    0
1    2
2    3
3    2
4    0
5    2
6    1
7    1
8    0
9    0
10   1
11   1

In [40]:
dfs_2[16] #Squad Defensive Actions - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles       \
                Squad               # Pl                90s     Tkl TklW
0             Arsenal                 24               15.0     259  166
1         Aston Villa                 23               15.0     250  161
2            Brighton                 21               15.0     275  181
3        Bristol City                 30               15.0     274  168
4             Chelsea                 28               15.0     273  178
5             Everton                 26               15.0     292  188
6      Leicester City                 24               15.0     305  204
7           Liverpool                 23               15.0     284  181
8     Manchester City                 22               15.0     256  173
9      Manchester Utd                 19               15.0     292  193
10          Tottenham                 27               15.0     310  208
11           West Ham                 25               15.0     269  185

                           Challenges                 Blocks           \
   Def 3rd Mid 3rd Att 3rd        Tkl  Att  Tkl% Lost Blocks  Sh Pass
0       76     122      61         99  221  44.8  122    182  30  152
1      109     100      41        102  205  49.8  103    219  68  151
2      127     101      47        102  203  50.2  101    230  90  140
3      147     103      24         99  211  46.9  112    212  72  140
4      107     121      45         95  182  52.2   87    187  31  156
5      157     100      35        128  254  50.4  126    216  45  171
6      129     134      42         97  204  47.5  107    207  50  157
7      130     125      29        108  235  46.0  127    241  58  183
8       91     109      56        101  205  49.3  104    211  36  175
9      116     108      68         80  183  43.7  103    267  44  223
10     161     110      39        124  260  47.7  136    248  61  187
11     121     105      43         91  186  48.9   95    197  46  151

   Unnamed: 15_level_0 Unnamed: 16_level_0 Unnamed: 17_level_0  \
                   Int             Tkl+Int                 Clr
0                   96                 355                 175
1                  144                 394                 282
2                  152                 427                 319
3                  164                 438                 399
4                  137                 410                 210
5                  122                 414                 278
6                  193                 498                 294
7                  126                 410                 343
8                  127                 383                 212
9                  125                 417                 240
10                 158                 468                 315
11                 148                 417                 268

   Unnamed: 18_level_0
                   Err
0                    4
1                    2
2                    2
3                    2
4                    6
5                    4
6                   10
7                    3
8                    3
9                    4
10                   8
11                   3

In [41]:
dfs_2[17] #Squad Defensive Actions - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles       \
                 Squad               # Pl                90s     Tkl TklW
0           vs Arsenal                 24               15.0     331  190
1       vs Aston Villa                 23               15.0     298  211
2          vs Brighton                 21               15.0     276  196
3      vs Bristol City                 30               15.0     264  188
4           vs Chelsea                 28               15.0     271  151
5           vs Everton                 26               15.0     272  203
6    vs Leicester City                 24               15.0     248  161
7         vs Liverpool                 23               15.0     241  166
8   vs Manchester City                 22               15.0     320  197
9    vs Manchester Utd                 19               15.0     291  178
10        vs Tottenham                 27               15.0     277  184
11         vs West Ham                 25               15.0     250  161

                           Challenges                 Blocks            \
   Def 3rd Mid 3rd Att 3rd        Tkl  Att  Tkl% Lost Blocks   Sh Pass
0      207      98      26        126  266  47.4  140    288  104  184
1      135     116      47        113  210  53.8   97    238   44  194
2      113     111      52         79  160  49.4   81    208   35  173
3       82     120      62         79  157  50.3   78    197   36  161
4      129     105      37        102  249  41.0  147    230   81  149
5       88     121      63        100  190  52.6   90    204   33  171
6      107     105      36         85  174  48.9   89    217   47  170
7       93     113      35         90  169  53.3   79    238   41  197
8      164     122      34        129  290  44.5  161    206   75  131
9      149     111      31        144  280  51.4  136    182   53  129
10     108     113      56        106  255  41.6  149    213   39  174
11      96     103      51         73  149  49.0   76    196   43  153

   Unnamed: 15_level_0 Unnamed: 16_level_0 Unnamed: 17_level_0  \
                   Int             Tkl+Int                 Clr
0                  135                 466                 445
1                  138                 436                 319
2                  140                 416                 233
3                  118                 382                 178
4                  143                 414                 345
5                  160                 432                 201
6                  164                 412                 235
7                  135                 376                 289
8                  150                 470                 359
9                  122                 413                 300
10                 130                 407                 215
11                 157                 407                 216

   Unnamed: 18_level_0
                   Err
0                    7
1                    0
2                    3
3                    1
4                    5
5                    1
6                    1
7                    8
8                   15
9                    2
10                   6
11                   2

In [42]:
dfs_2[18] #Squad Possession - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl               Poss
0             Arsenal                 24               58.5
1         Aston Villa                 23               53.9
2            Brighton                 21               44.3
3        Bristol City                 30               33.7
4             Chelsea                 28               60.2
5             Everton                 26               44.3
6      Leicester City                 24               50.8
7           Liverpool                 23               46.8
8     Manchester City                 22               59.1
9      Manchester Utd                 19               56.7
10          Tottenham                 27               48.3
11           West Ham                 25               43.4

   Unnamed: 3_level_0 Touches                                          ...  \
                  90s Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ...
0                15.0   10142     650    2343    4450    3434     577  ...
1                15.0    9958    1219    3705    4135    2205     338  ...
2                15.0    8132    1203    3137    3284    1784     237  ...
3                15.0    6529    1132    2833    2510    1261     204  ...
4                15.0   11240     949    3329    4994    3010     610  ...
5                15.0    8498    1284    3778    3289    1508     210  ...
6                15.0    8989    1041    3494    3652    1933     370  ...
7                15.0    8815    1301    3569    3585    1727     274  ...
8                15.0   10901     828    2979    4820    3207     486  ...
9                15.0   10094     959    3480    4363    2338     408  ...
10               15.0    9352    1318    3982    3795    1675     278  ...
11               15.0    8040    1153    3333    3071    1708     254  ...

   Carries                                          Receiving
   Carries TotDist PrgDist PrgC  1/3  CPA  Mis  Dis       Rec PrgR
0     5751   29607   13734  289  205  128  256  205      6691  863
1     5455   25428   12500  217  144   54  252  186      6486  639
2     4305   21823    9876  185  119   52  280  197      4656  464
3     2752   15329    7357  149  102   35  272  186      3022  301
4     6761   32677   15261  276  175  123  255  169      7676  836
5     4097   21859   10478  183  129   39  265  172      5203  410
6     4769   22605   10389  178   95   61  278  162      5287  549
7     4296   18952    8217  154   97   43  246  151      5131  517
8     6444   32227   15664  282  221  107  212  190      7560  806
9     4964   24907   12286  221  143   81  246  147      6592  622
10    5095   25032   12474  247  167   80  278  171      5951  526
11    4263   21140    9471  169  129   58  267  178      4661  473

[12 rows x 26 columns]

In [43]:
dfs_2[19] #Squad Possession - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl               Poss
0           vs Arsenal                 24               41.5
1       vs Aston Villa                 23               46.1
2          vs Brighton                 21               55.7
3      vs Bristol City                 30               66.3
4           vs Chelsea                 28               39.8
5           vs Everton                 26               55.7
6    vs Leicester City                 24               49.2
7         vs Liverpool                 23               53.2
8   vs Manchester City                 22               40.9
9    vs Manchester Utd                 19               43.3
10        vs Tottenham                 27               51.7
11         vs West Ham                 25               56.6

   Unnamed: 3_level_0 Touches                                          ...  \
                  90s Touches Def Pen Def 3rd Mid 3rd Att 3rd Att Pen  ...
0                15.0    7942    1420    3739    3025    1271     173  ...
1                15.0    8858    1091    3102    3674    2163     385  ...
2                15.0    9836    1091    3490    3921    2505     497  ...
3                15.0   11272     765    3005    5354    2993     510  ...
4                15.0    8056    1273    3505    3047    1585     220  ...
5                15.0   10391     848    3260    4481    2737     414  ...
6                15.0    8679     980    2982    3713    2062     385  ...
7                15.0    9729     996    3103    4356    2362     394  ...
8                15.0    8004    1297    3562    3024    1482     211  ...
9                15.0    8006    1154    3380    3106    1599     277  ...
10               15.0    9852    1025    3227    4160    2565     417  ...
11               15.0   10065    1097    3607    4087    2466     363  ...

   Carries                                          Receiving
   Carries TotDist PrgDist PrgC  1/3  CPA  Mis  Dis       Rec PrgR
0     3968   19372    8735  132  101   43  249  161      4384  379
1     4831   24945   12380  238  169   85  268  148      5325  589
2     5477   26530   12810  262  149   87  254  173      6297  719
3     6153   29691   14794  276  187   98  268  174      7820  903
4     3998   19805    9411  173  115   49  268  178      4483  445
5     6107   28323   13168  256  167  100  274  164      7053  726
6     4238   21628    9969  205  133   81  259  208      5119  516
7     5158   26529   12140  235  149   77  268  176      6021  609
8     3842   19057    9038  148  108   34  228  156      4668  430
9     4010   21186    9607  171  111   58  256  213      4567  398
10    5716   28082   13389  240  176   82  265  186      6514  700
11    5454   26438   12266  214  161   67  250  177      6665  592

[12 rows x 26 columns]

In [44]:
dfs_2[20] #Squad Playing Time - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Playing Time  \
                Squad               # Pl                Age           MP
0             Arsenal                 24               28.1           15
1         Aston Villa                 23               28.3           15
2            Brighton                 21               27.4           15
3        Bristol City                 30               24.4           15
4             Chelsea                 28               27.2           15
5             Everton                 26               26.3           15
6      Leicester City                 24               27.1           15
7           Liverpool                 23               27.1           15
8     Manchester City                 22               25.9           15
9      Manchester Utd                 19               27.3           15
10          Tottenham                 27               27.4           15
11           West Ham                 25               27.0           15

                          Starts           ...  Subs Team Success           \
     Min Mn/MP Min%   90s Starts Mn/Start  ... unSub          PPM onG onGA
0   1350    90  100  15.0    165       83  ...    65         2.27  33   14
1   1350    90  100  15.0    165       84  ...    57         1.07  19   31
2   1350    90  100  15.0    165       81  ...    59         0.93  20   33
3   1350    90  100  15.0    165       83  ...    70         0.40  20   45
4   1350    90  100  15.0    165       81  ...    63         2.47  45   13
5   1350    90  100  15.0    165       82  ...    46         0.93  13   27
6   1350    90  100  15.0    165       82  ...    64         1.07  21   30
7   1350    90  100  15.0    165       82  ...    54         1.67  22   20
8   1350    90  100  15.0    165       84  ...    80         2.47  38    9
9   1350    90  100  15.0    165       82  ...    57         1.67  32   19
10  1350    90  100  15.0    165       83  ...    74         1.27  21   29
11  1350    90  100  15.0    165       84  ...    72         0.80  16   30

             Team Success (xG)
   +/- +/-90              onxG onxGA xG+/- xG+/-90
0   19  1.27              34.7  10.9  23.7    1.58
1  -12 -0.80              18.7  23.9  -5.2   -0.35
2  -13 -0.87              14.2  29.9 -15.6   -1.04
3  -25 -1.67              12.4  28.5 -16.1   -1.07
4   32  2.13              37.5  13.6  24.0    1.60
5  -14 -0.93              14.4  25.0 -10.5   -0.70
6   -9 -0.60              17.3  29.8 -12.5   -0.84
7    2  0.13              16.4  19.6  -3.2   -0.21
8   29  1.93              29.5  12.6  16.8    1.12
9   13  0.87              26.4  17.0   9.4    0.63
10  -8 -0.53              16.6  23.1  -6.5   -0.44
11 -14 -0.93              16.4  20.6  -4.2   -0.28

[12 rows x 23 columns]

In [45]:
dfs_2[21] #Squad Playing Time - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Playing Time  \
                 Squad               # Pl                Age           MP
0           vs Arsenal                 24               27.0           15
1       vs Aston Villa                 23               26.7           15
2          vs Brighton                 21               26.7           15
3      vs Bristol City                 30               27.3           15
4           vs Chelsea                 28               26.8           15
5           vs Everton                 26               27.0           15
6    vs Leicester City                 24               26.5           15
7         vs Liverpool                 23               27.2           15
8   vs Manchester City                 22               26.9           15
9    vs Manchester Utd                 19               27.2           15
10        vs Tottenham                 27               27.2           15
11         vs West Ham                 25               26.9           15

                          Starts           ...  Subs Team Success           \
     Min Mn/MP Min%   90s Starts Mn/Start  ... unSub          PPM onG onGA
0   1350    90  100  15.0    165       83  ...    58         0.67  14   33
1   1350    90  100  15.0    165       84  ...    66         1.87  31   19
2   1350    90  100  15.0    165       81  ...    57         1.93  33   20
3   1350    90  100  15.0    165       83  ...    65         2.40  45   20
4   1350    90  100  15.0    165       81  ...    63         0.47  13   45
5   1350    90  100  15.0    165       82  ...    75         1.93  27   13
6   1350    90  100  15.0    165       82  ...    61         1.67  30   21
7   1350    90  100  15.0    165       82  ...    62         1.07  20   22
8   1350    90  100  15.0    165       84  ...    61         0.47   9   38
9   1350    90  100  15.0    165       82  ...    69         1.07  19   32
10  1350    90  100  15.0    165       83  ...    62         1.47  29   21
11  1350    90  100  15.0    165       84  ...    62         2.00  30   16

             Team Success (xG)
   +/- +/-90              onxG onxGA xG+/- xG+/-90
0  -19 -1.27              10.9  34.7 -23.7   -1.58
1   12  0.80              23.9  18.7   5.2    0.35
2   13  0.87              29.9  14.2  15.6    1.04
3   25  1.67              28.5  12.4  16.1    1.07
4  -32 -2.13              13.6  37.5 -24.0   -1.60
5   14  0.93              25.0  14.4  10.5    0.70
6    9  0.60              29.8  17.3  12.5    0.84
7   -2 -0.13              19.6  16.4   3.2    0.21
8  -29 -1.93              12.6  29.5 -16.8   -1.12
9  -13 -0.87              17.0  26.4  -9.4   -0.63
10   8  0.53              23.1  16.6   6.5    0.44
11  14  0.93              20.6  16.4   4.2    0.28

[12 rows x 23 columns]

In [46]:
dfs_2[22] #Squad Miscellaneous Stats - Squad Stats

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Performance       \
                Squad               # Pl                90s        CrdY CrdR
0             Arsenal                 24               15.0          26    0
1         Aston Villa                 23               15.0          25    2
2            Brighton                 21               15.0          16    0
3        Bristol City                 30               15.0          23    0
4             Chelsea                 28               15.0          13    1
5             Everton                 26               15.0          23    0
6      Leicester City                 24               15.0          28    0
7           Liverpool                 23               15.0          31    1
8     Manchester City                 22               15.0          19    4
9      Manchester Utd                 19               15.0          16    0
10          Tottenham                 27               15.0          22    0
11           West Ham                 25               15.0          31    1

                                                           Aerial Duels       \
   2CrdY  Fls  Fld Off  Crs  Int TklW PKwon PKcon OG Recov          Won Lost
0      0  149  131  46  361   96  166     3     1  0   942          173  175
1      1  104  123  27  290  144  161     3     2  1   903          123  125
2      0  155  116  22  248  152  181     1     0  0   881          129  157
3      0  126  108  27  176  164  168     1     2  1   837          124  173
4      1  113  105  36  310  137  178     2     1  1   998          214  166
5      0  145  123  19  173  122  188     3     3  0   820          114  115
6      0  157  157  34  202  193  204     0     2  1   894          180  142
7      1  128  107  32  279  126  181     0     2  1   923          229  216
8      3   83  136  15  333  127  173     2     2  0   879          118  156
9      0  116  140  48  269  125  193     0     2  2   905          195  178
10     0  124  121  39  195  158  208     0     3  1   906          118  109
11     1  151  122  18  217  148  185     2     1  0   877          137  145


    Won%
0   49.7
1   49.6
2   45.1
3   41.8
4   56.3
5   49.8
6   55.9
7   51.5
8   43.1
9   52.3
10  52.0
11  48.6

In [47]:
dfs_2[23] #Squad Miscellaneous Stats - Opponent Stats

    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Performance       \
                 Squad               # Pl                90s        CrdY CrdR
0           vs Arsenal                 24               15.0          34    0
1       vs Aston Villa                 23               15.0          23    0
2          vs Brighton                 21               15.0          21    2
3      vs Bristol City                 30               15.0          17    1
4           vs Chelsea                 28               15.0          26    2
5           vs Everton                 26               15.0          15    0
6    vs Leicester City                 24               15.0          18    1
7         vs Liverpool                 23               15.0          18    0
8   vs Manchester City                 22               15.0          27    0
9    vs Manchester Utd                 19               15.0          32    2
10        vs Tottenham                 27               15.0          20    0
11         vs West Ham                 25               15.0          22    1

                                                           Aerial Duels       \
   2CrdY  Fls  Fld Off  Crs  Int TklW PKwon PKcon OG Recov          Won Lost
0      0  137  139  20  168  135  190     1     3  1   859          176  175
1      0  127   99  32  302  138  211     2     3  1   906          123  123
2      2  120  147  29  307  140  196     0     1  0   950          156  129
3      1  115  122  33  346  118  188     1     2  0   915          173  127
4      2  109  110  21  178  143  151     1     2  1   865          166  213
5      0  129  139  31  280  160  203     3     3  1   947          115  114
6      1  163  154  39  252  164  161     2     0  0   868          143  180
7      0  111  123  33  317  135  166     2     0  2   916          216  228
8      0  139   80  31  166  150  197     1     3  2   815          157  118
9      1  146  113  44  197  122  178     2     1  0   858          175  195
10     0  128  122  11  293  130  184     2     0  0   910          109  118
11     0  127  141  39  247  157  161     0     3  0   956          145  137


    Won%
0   50.1
1   50.0
2   54.7
3   57.7
4   43.8
5   50.2
6   44.3
7   48.6
8   57.1
9   47.3
10  48.0
11  51.4

In [48]:
from selenium import webdriver
from selenium.webdriver.firefox.options import Options
from bs4 import BeautifulSoup
import time

url = "https://fbref.com/en/comps/189/Womens-Super-League-Stats"

# Initialise the webdriver
firefox_options = Options()
firefox_options.headless = True
driver = webdriver.Firefox(options=firefox_options)
driver.get(url)

time.sleep(5)  # ensure the page is fully loaded

# Render the dynamic content to static HTML
html = driver.page_source
# print(html)

# Parse the static HTML
soup2 = BeautifulSoup(html, "html.parser")

# Close the webdriver
driver.close()

In [49]:
#here are the leaderboards
#soup2.find_all('div', {'class':'data_grid_box'})

In [50]:
goals = soup2.find_all('div', {'class':'data_grid_box'})[0] #the first one is for goals
goal_leaders = pd.DataFrame(
    columns=["Rank", "Player", "Goals"]
)

mylist = []
for goals_row in goals.tbody.find_all("tr"):
    goals_columns = goals_row.find_all("td")

    if nations_columns != []:
        rank = goals_columns[0].text.strip()
        player = goals_columns[1].text.strip()
        goals_nb = goals_columns[2].text.strip()

        mylist.append([rank, player, goals_nb])

goal_leaders = pd.DataFrame(
    mylist,
    columns=["Rank", "Player", "Goals"]
)
goal_leaders

   Rank                          Player Goals
0    1.  Khadija Shaw • Manchester City    15
1    2.          Lauren James • Chelsea    12
2    3.    Elisabeth Terland • Brighton    11
3    4.  Amalie Thestrup • Bristol City     9
4    5.  Nikita Parris • Manchester Utd     8
5    6.       Martha Thomas • Tottenham     7
6         Lauren Hemp • Manchester City     7
7    8.         Alessia Russo • Arsenal     6
8          Jill Roord • Manchester City     6
9             Rachel Daly • Aston Villa     6
10            Viviane Asseyi • West Ham     6

In [51]:
PSxGDF90 = soup2.find_all('div', {'class':'data_grid_box'})[77] #the last one is for PSxG-GA/90
PSxGDF90_leaders = pd.DataFrame(
    columns=["Rank", "Player", "PSxG-GA/90"]
)

mylist = []
for PSxGDF90_row in PSxGDF90.tbody.find_all("tr"):
    PSxGDF90_columns = PSxGDF90_row.find_all("td")

    if PSxGDF90_columns != []:
        rank = PSxGDF90_columns[0].text.strip()
        player = PSxGDF90_columns[1].text.strip()
        psxgdf90 = PSxGDF90_columns[2].text.strip()

        mylist.append([rank, player, psxgdf90])

PSxGDF90_leaders = pd.DataFrame(
    mylist,
    columns=["Rank", "Player", "PSxG-GA/90"]
)
PSxGDF90_leaders

  Rank                            Player PSxG-GA/90
0   1.          Hannah Hampton • Chelsea      +0.47
1   2.  Khiara Keating • Manchester City      +0.37
2   3.        Courtney Brosnan • Everton      -0.02
3        Janina Leitzig • Leicester City      -0.02
4   5.      Manuela Zinsberger • Arsenal      -0.13
5   6.      Barbora Votíková • Tottenham      -0.16
6   7.       Ann-Katrin Berger • Chelsea      -0.28
7   8.        Sophie Baggaley • Brighton      -0.29
8   9.       Mackenzie Arnold • West Ham      -0.36
9  10.       Rebecca Spencer • Tottenham      -0.37

In [52]:
nations_soup2 = soup2.find('table', {'id':'nations'})

In [53]:
df_nationalities2 = pd.DataFrame(
    columns=["Nation", "# Players", "Min","List"]
)

mylist = []
for nations_row in nations_soup2.tbody.find_all("tr"):
    nations_columns = nations_row.find_all("td")

    if nations_columns != []:
        nation = nations_columns[0].text.strip()
        players = nations_columns[1].text.strip()
        Min = nations_columns[2].text.strip()
        List = nations_columns[3].text.strip()

        mylist.append([nation, players, Min, List])

df_nationalities2 = pd.DataFrame(
    mylist,
    columns=["Nation", "# Players", "Min","List"]
)

In [54]:
df_nationalities2

,Nation,# Players,Min,List
0,eng England,120,"61,691","Lauren James, Chloe Kelly, Lauren Hemp, Alessi..."
1,au Australia,16,"9,481","Caitlin Foord, Steph Catley, Courtney Nevin, C..."
2,wls Wales,15,"8,686","Carrie Jones, Ffion Morgan, Ceri Holland, Ella..."
3,sct Scotland,14,"12,880","Martha Thomas, Kirsty Smith, Rachel Corsie, Am..."
4,,,,View Complete Nationalities Table