# FBref Player Report Scraper

*This is a scraper for extracting the data from FBref's player scouting reports. The goal is to scrape the three columns of the full scouting report: Stats (the column with the names of each metric), Per 90 Values, and Percentiles.*

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [2]:
url = 'https://fbref.com/en/players/507c7bdf/scout/365_m1/Bruno-Fernandes-Scouting-Report'
page = requests.get(url)
page

In [3]:
pip install lxml

Requirement already satisfied: lxml in c:\users\al raven\anaconda3\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [4]:
soup = BeautifulSoup(page.text,'lxml')

In [5]:
for table in soup.find_all('table'):
  print(table.get('class'))

['stats_table', 'sortable', 'suppress_partial', 'suppress_share', 'suppress_link']
['stats_table', 'sortable', 'suppress_partial', 'suppress_share', 'suppress_link']
['stats_table', 'sortable', 'min_width', 'suppress_glossary', 'suppress_partial', 'suppress_share', 'suppress_link']
['stats_table', 'sortable', 'min_width', 'suppress_glossary', 'suppress_partial', 'suppress_share', 'suppress_link']
['stats_table', 'sortable', 'suppress_partial', 'suppress_share', 'suppress_link']
['stats_table', 'sortable', 'suppress_partial', 'suppress_share', 'suppress_link']

In [6]:
table = soup.find('table', id="scout_full_AM")

About the table id: 
- it's for the full scouting report ("scout_full_XX"), not the summary one, which is "scout_summary_XX"
- the 'XX' is for the position (group): "GK" for goalkeepers, "CB" for centre-backs, "FB" for full-backs, "MF" for midfielders, "AM" for att. midfielders/wingers, "FW" for centre forwards/strikers/etc.

In [7]:
headers = table.find('thead')

In [8]:
headers

<thead> <tr class="over_header"> <th aria-label="" class="over_header center group_start" colspan="3" data-stat="header_standard">Standard Stats</th> </tr> <tr> <th aria-label="Statistic" class="poptip center" data-over-header="Standard Stats" data-stat="statistic" data-tip="Hover over stat name for glossary definition" scope="col">Statistic</th> <th aria-label="Per 90" class="poptip center" data-over-header="Standard Stats" data-stat="per90" data-tip="Stats are listed in values per 90 minutes played or as percentages" scope="col">Per 90</th> <th aria-label="Percentile" class="poptip center" data-over-header="Standard Stats" data-stat="percentile" scope="col">Percentile</th> </tr> </thead>

In [9]:
data_rows = table.find('tbody')

In [10]:
#data_rows.find_all('th',{'class':"right poptip endpoint endpoint"})

In [11]:
data_rows.find('th',{'class':"right poptip endpoint endpoint"}).text.strip()

'Goals'

In [12]:
data_rows.find_all('td',{'class':"right"})

[<td class="right" csk="0.24" data-stat="per90">0.24</td>,
 <td class="right" csk="0.30" data-stat="per90">0.30</td>,
 <td class="right" csk="0.54" data-stat="per90">0.54</td>,
 <td class="right" csk="0.16" data-stat="per90">0.16</td>,
 <td class="right" csk="0.08" data-stat="per90">0.08</td>,
 <td class="right" csk="0.10" data-stat="per90">0.10</td>,
 <td class="right" csk="0.22" data-stat="per90">0.22</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right" csk="0.29" data-stat="per90">0.29</td>,
 <td class="right" csk="0.21" data-stat="per90">0.21</td>,
 <td class="right" csk="0.48" data-stat="per90">0.48</td>,
 <td class="right" csk="0.69" data-stat="per90">0.69</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="2.19" data-stat="per90">2.19</td>,
 <td class="right" csk="7.88" data-stat="per90">7.88</td>,
 <td class="right" csk="5.91" data-stat="per90">5.91</td>,
 <td class="right" csk="0.24" data-stat="per90">0.24</td>,
 <td class="right" csk="2.53" data-stat="per90">2.53</td>,
 <td class="right" csk="0.88" data-stat="per90">0.88</td>,
 <td class="right" csk="34.6" data-stat="per90">34.6%</td>,
 <td class="right" csk="0.06" data-stat="per90">0.06</td>,
 <td class="right" csk="0.18" data-stat="per90">0.18</td>,
 <td class="right" csk="20.80" data-stat="per90">20.80</td>,
 <td class="right" csk="0.24" data-stat="per90">0.24</td>,
 <td class="right" csk="0.08" data-stat="per90">0.08</td>,
 <td class="right" csk="0.10" data-stat="per90">0.10</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.29" data-stat="per90">0.29</td>,
 <td class="right" csk="0.21" data-stat="per90">0.21</td>,
 <td class="right" csk="0.08" data-stat="per90">0.08</td>,
 <td class="right" csk="-0.05" data-stat="per90">-0.05</td>,
 <td class="right" csk="-0.05" data-stat="per90">-0.05</td>,
 <td class="right" csk="42.13" data-stat="per90">42.13</td>,
 <td class="right" csk="58.34" data-stat="per90">58.34</td>,
 <td class="right" csk="72.2" data-stat="per90">72.2%</td>,
 <td class="right" csk="750.71" data-stat="per90">750.71</td>,
 <td class="right" csk="281.28" data-stat="per90">281.28</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="20.35" data-stat="per90">20.35</td>,
 <td class="right" csk="23.69" data-stat="per90">23.69</td>,
 <td class="right" csk="85.9" data-stat="per90">85.9%</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="14.72" data-stat="per90">14.72</td>,
 <td class="right" csk="19.03" data-stat="per90">19.03</td>,
 <td class="right" csk="77.3" data-stat="per90">77.3%</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="5.69" data-stat="per90">5.69</td>,
 <td class="right" csk="11.10" data-stat="per90">11.10</td>,
 <td class="right" csk="51.3" data-stat="per90">51.3%</td>,
 <td class="right" csk="0.30" data-stat="per90">0.30</td>,
 <td class="right" csk="0.48" data-stat="per90">0.48</td>,
 <td class="right" csk="0.32" data-stat="per90">0.32</td>,
 <td class="right" csk="3.20" data-stat="per90">3.20</td>,
 <td class="right" csk="4.95" data-stat="per90">4.95</td>,
 <td class="right" csk="2.65" data-stat="per90">2.65</td>,
 <td class="right" csk="0.32" data-stat="per90">0.32</td>,
 <td class="right" csk="7.88" data-stat="per90">7.88</td>,
 <td class="right" csk="58.34" data-stat="per90">58.34</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="51.24" data-stat="per90">51.24</td>,
 <td class="right" csk="6.64" data-stat="per90">6.64</td>,
 <td class="right" csk="1.49" data-stat="per90">1.49</td>,
 <td class="right" csk="0.88" data-stat="per90">0.88</td>,
 <td class="right" csk="0.90" data-stat="per90">0.90</td>,
 <td class="right" csk="5.39" data-stat="per90">5.39</td>,
 <td class="right" csk="0.84" data-stat="per90">0.84</td>,
 <td class="right" csk="3.38" data-stat="per90">3.38</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.86" data-stat="per90">0.86</td>,
 <td class="right" csk="1.27" data-stat="per90">1.27</td>,
 <td class="right" csk="0.12" data-stat="per90">0.12</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="42.13" data-stat="per90">42.13</td>,
 <td class="right" csk="0.46" data-stat="per90">0.46</td>,
 <td class="right" csk="1.89" data-stat="per90">1.89</td>,
 <td class="right" csk="6.03" data-stat="per90">6.03</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="4.38" data-stat="per90">4.38</td>,
 <td class="right" csk="0.93" data-stat="per90">0.93</td>,
 <td class="right" csk="0.22" data-stat="per90">0.22</td>,
 <td class="right" csk="0.26" data-stat="per90">0.26</td>,
 <td class="right" csk="0.20" data-stat="per90">0.20</td>,
 <td class="right" csk="0.04" data-stat="per90">0.04</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.54" data-stat="per90">0.54</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.42" data-stat="per90">0.42</td>,
 <td class="right" csk="0.06" data-stat="per90">0.06</td>,
 <td class="right" csk="0.04" data-stat="per90">0.04</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right" csk="0.02" data-stat="per90">0.02</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right" csk="1.99" data-stat="per90">1.99</td>,
 <td class="right" csk="1.13" data-stat="per90">1.13</td>,
 <td class="right" csk="0.86" data-stat="per90">0.86</td>,
 <td class="right" csk="0.74" data-stat="per90">0.74</td>,
 <td class="right" csk="0.40" data-stat="per90">0.40</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="1.03" data-stat="per90">1.03</td>,
 <td class="right" csk="2.82" data-stat="per90">2.82</td>,
 <td class="right" csk="36.6" data-stat="per90">36.6%</td>,
 <td class="right" csk="1.79" data-stat="per90">1.79</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="1.19" data-stat="per90">1.19</td>,
 <td class="right" csk="0.12" data-stat="per90">0.12</td>,
 <td class="right" csk="1.07" data-stat="per90">1.07</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.60" data-stat="per90">0.60</td>,
 <td class="right" csk="2.59" data-stat="per90">2.59</td>,
 <td class="right" csk="1.15" data-stat="per90">1.15</td>,
 <td class="right" csk="0.04" data-stat="per90">0.04</td>,
 <td class="right" csk="69.73" data-stat="per90">69.73</td>,
 <td class="right" csk="2.01" data-stat="per90">2.01</td>,
 <td class="right" csk="11.26" data-stat="per90">11.26</td>,
 <td class="right" csk="28.80" data-stat="per90">28.80</td>,
 <td class="right" csk="30.37" data-stat="per90">30.37</td>,
 <td class="right" csk="3.72" data-stat="per90">3.72</td>,
 <td class="right" csk="69.63" data-stat="per90">69.63</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="1.99" data-stat="per90">1.99</td>,
 <td class="right" csk="0.95" data-stat="per90">0.95</td>,
 <td class="right" csk="48.0" data-stat="per90">48.0%</td>,
 <td class="right" csk="0.90" data-stat="per90">0.90</td>,
 <td class="right" csk="45.0" data-stat="per90">45.0%</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="38.71" data-stat="per90">38.71</td>,
 <td class="right" csk="165.52" data-stat="per90">165.52</td>,
 <td class="right" csk="89.90" data-stat="per90">89.90</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="2.19" data-stat="per90">2.19</td>,
 <td class="right" csk="1.51" data-stat="per90">1.51</td>,
 <td class="right" csk="0.80" data-stat="per90">0.80</td>,
 <td class="right" csk="1.59" data-stat="per90">1.59</td>,
 <td class="right" csk="0.93" data-stat="per90">0.93</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="47.44" data-stat="per90">47.44</td>,
 <td class="right" csk="5.91" data-stat="per90">5.91</td>,
 <td class="right" csk="0.22" data-stat="per90">0.22</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right" csk="1.09" data-stat="per90">1.09</td>,
 <td class="right" csk="0.91" data-stat="per90">0.91</td>,
 <td class="right" csk="0.28" data-stat="per90">0.28</td>,
 <td class="right" csk="5.39" data-stat="per90">5.39</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.60" data-stat="per90">0.60</td>,
 <td class="right" csk="1.13" data-stat="per90">1.13</td>,
 <td class="right" csk="0.02" data-stat="per90">0.02</td>,
 <td class="right" csk="0.02" data-stat="per90">0.02</td>,
 <td class="right iz" csk="0.00" data-stat="per90">0.00</td>,
 <td class="right" csk="6.09" data-stat="per90">6.09</td>,
 <td class="right iz" data-stat="per90" style="padding:1px;"></td>,
 <td class="right" csk="0.56" data-stat="per90">0.56</td>,
 <td class="right" csk="0.84" data-stat="per90">0.84</td>,
 <td class="right" csk="40.0" data-stat="per90">40.0%</td>]

In [13]:
data_rows.find('td',{'class':"right"}).text.strip()

'0.24'

In [14]:
#data_rows.find_all('td',{'class':"left endpoint endpoint tooltip"})

In [15]:
data_rows.find('td',{'class':"left endpoint endpoint tooltip"}).text.strip()

'49'

we have to do some cleaning because  if we test for instance for the "Proggressive Passes Received" (per 90 = 8.75, percentile = 79), we see that it works for the stat name and percentile, but not for the per 90 values

In [16]:
stats_column = data_rows.find_all('th',{'class':"right poptip endpoint endpoint"})

In [17]:
percentile_values = data_rows.find_all('td',{'class':"left endpoint endpoint tooltip"})

In [18]:
stats_column[14].text

'Progressive Passes Rec'

In [19]:
percentile_values[14].text.strip()

'18'

In [20]:
per_90 = data_rows.find_all('td',{'class':"right"})

In [21]:
per_90[14].text.strip()

'7.88'

4.09 is the value (per 90) of Progressive passes, which is just before Progressive Passes Rec.

In [22]:
per_90[15].text.strip()

'5.91'

Here's why: there are some empty rows, e.g.:

In [23]:
per_90[12].text.strip()

''

Here's the issue, looking at the html lines we see that there are lines with class "right iz" instead of "right", but some of them contain actual per 90 values (=0) but others aren't data rows/lines.  
- td class="right" csk="0.06" data-stat="per90">0.06<
- td class="right iz" csk="0.00" data-stat="per90">0.00<
- td class="right iz" csk="0.00" data-stat="per90">0.00<
- **td class="right iz" data-stat="per90" style="padding:1px;"><**
- td class="right" csk="0.73" data-stat="per90">0.73<
- td class="right" csk="0.73" data-stat="per90">0.73<
- td class="right" csk="0.19" data-stat="per90">0.19<  
 
We have to remove only the lines where it's empty! (note: zero isn't empty, it's still a value)

In [24]:
data2 = data_rows

In [25]:
for x in data2.find_all():
   if len(x.get_text(strip=True)) == 0:
      x.extract()

In [26]:
per_90_values = data2.find_all('td',{'class':"right"})

In [27]:
per_90_values[14].text.strip()

'5.91'

In [28]:
stats_column2 = data2.find_all('th',{'class':"right poptip endpoint endpoint"})

In [29]:
stats_column2[14].text.strip()

'Progressive Passes Rec'

In [30]:
percentiles = data2.find_all('td',{'class':"left endpoint endpoint tooltip"})

In [31]:
percentiles[14].text.strip()

'18'

Note: we could dig up more stuff, like the "high/average/low" values for each metric, but I'll stick to the three main columns for now...  
I'm keeping my first attempt at creating a dataframe (df) below for the sake of documentation, but it led to a dead end...

In [32]:
df = pd.DataFrame({'Statistic':stats_column2, "Per 90": per_90_values, "Percentile":percentiles})

In [33]:
df

                Statistic   Per 90    Percentile
0                 [Goals]   [0.24]  [[49],  ,  ]
1               [Assists]   [0.30]  [[81],  ,  ]
2       [Goals + Assists]   [0.54]  [[72],  ,  ]
3     [Non-Penalty Goals]   [0.16]  [[33],  ,  ]
4    [Penalty Kicks Made]   [0.08]  [[89],  ,  ]
..                    ...      ...           ...
130           [Own Goals]   [0.00]  [[50],  ,  ]
131     [Ball Recoveries]   [6.09]  [[93],  ,  ]
132         [Aerials Won]   [0.56]  [[54],  ,  ]
133        [Aerials Lost]   [0.84]  [[61],  ,  ]
134    [% of Aerials Won]  [40.0%]  [[67],  ,  ]

[135 rows x 3 columns]

In [34]:
#note: this is relevant because it what you'd get in the csv file if you saved that dataframe into that format...
df.astype(str)

,Statistic,Per 90,Percentile
0,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.24"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
1,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.30"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
2,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.54"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
3,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.16"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
4,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.08"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
...,...,...,...
130,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right iz"" csk=""0.00"" data-stat=""per...","<td class=""left endpoint endpoint tooltip"" csk..."
131,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""6.09"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
132,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.56"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
133,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""0.84"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."
134,"<th class=""right poptip endpoint endpoint"" dat...","<td class=""right"" csk=""40.0"" data-stat=""per90""...","<td class=""left endpoint endpoint tooltip"" csk..."

**The solution is just to 1) create one dataframe per column, and then 2) combine them into a final dataframe with the three columns**

In [35]:
stats = pd.DataFrame(stats_column2)

In [36]:
stats

                      0
0                 Goals
1               Assists
2       Goals + Assists
3     Non-Penalty Goals
4    Penalty Kicks Made
..                  ...
130           Own Goals
131     Ball Recoveries
132         Aerials Won
133        Aerials Lost
134    % of Aerials Won

[135 rows x 1 columns]

In [37]:
values_per90 = pd.DataFrame(per_90_values)

In [38]:
values_per90

         0
0     0.24
1     0.30
2     0.54
3     0.16
4     0.08
..     ...
130   0.00
131   6.09
132   0.56
133   0.84
134  40.0%

[135 rows x 1 columns]

*percentile = pd.DataFrame(percentiles)* doesn't work, we have to iterate through *percentiles*, and create a list out of the text output for each line, and then we create a dataframe from that list

In [39]:
#After a lot of trial and error, this is how I first found a solution to how to select only the text part of each line 
#from the percentiles set -> iterate via for loop
#it's necessary to use strip() because for some reason the values are arrays with the two spaces "  " added after the numerical
#value (for percentiles) we're looking for...
for each in percentiles:
    print(each.text.strip())

49
81
72
33
89
88
26
57
71
54
99
97
16
99
18
49
73
62
44
21
23
15
85
89
88
71
54
24
27
29
93
95
30
95
99
83
86
56
94
95
49
99
98
47
81
99
95
97
96
96
62
99
95
93
89
81
98
95
83
78
89
71
84
97
93
5
5
98
98
82
30
59
54
52
72
85
83
55
21
48
44
89
83
95
77
78
96
98
54
4
73
87
68
73
85
97
8
95
99
98
89
81
42
95
11
14
67
88
43
75
17
35
16
12
32
91
90
90
18
26
57
53
40
12
45
83
73
83
54
11
50
93
54
61
67

In [40]:
#but this is the loop we're gonna use, to create a list with all this data
#creating new (empty) list
percentile_list = []
#we get the (stripped) text value for each line of the percentiles set, and add it all into the new list
for each in percentiles:
    percentile_list.append(each.text.strip())

In [41]:
percentile_list

['49',
 '81',
 '72',
 '33',
 '89',
 '88',
 '26',
 '57',
 '71',
 '54',
 '99',
 '97',
 '16',
 '99',
 '18',
 '49',
 '73',
 '62',
 '44',
 '21',
 '23',
 '15',
 '85',
 '89',
 '88',
 '71',
 '54',
 '24',
 '27',
 '29',
 '93',
 '95',
 '30',
 '95',
 '99',
 '83',
 '86',
 '56',
 '94',
 '95',
 '49',
 '99',
 '98',
 '47',
 '81',
 '99',
 '95',
 '97',
 '96',
 '96',
 '62',
 '99',
 '95',
 '93',
 '89',
 '81',
 '98',
 '95',
 '83',
 '78',
 '89',
 '71',
 '84',
 '97',
 '93',
 '5',
 '5',
 '98',
 '98',
 '82',
 '30',
 '59',
 '54',
 '52',
 '72',
 '85',
 '83',
 '55',
 '21',
 '48',
 '44',
 '89',
 '83',
 '95',
 '77',
 '78',
 '96',
 '98',
 '54',
 '4',
 '73',
 '87',
 '68',
 '73',
 '85',
 '97',
 '8',
 '95',
 '99',
 '98',
 '89',
 '81',
 '42',
 '95',
 '11',
 '14',
 '67',
 '88',
 '43',
 '75',
 '17',
 '35',
 '16',
 '12',
 '32',
 '91',
 '90',
 '90',
 '18',
 '26',
 '57',
 '53',
 '40',
 '12',
 '45',
 '83',
 '73',
 '83',
 '54',
 '11',
 '50',
 '93',
 '54',
 '61',
 '67']

In [42]:
#turning the list into a dataframe
percentileS = pd.DataFrame(percentile_list)

In [43]:
percentileS

      0
0    49
1    81
2    72
3    33
4    89
..   ..
130  50
131  93
132  54
133  61
134  67

[135 rows x 1 columns]

In [44]:
#columns of the three dataframes aren't named so we add column names here
stats.columns = ['Statistic']
values_per90.columns = ['Per 90']
percentileS.columns = ['Percentile']
#putting all three together into a single final dataframe
scouting_report = pd.concat([stats,values_per90,percentileS],axis=1,join='inner')

In [45]:
scouting_report

              Statistic Per 90 Percentile
0                 Goals   0.24         49
1               Assists   0.30         81
2       Goals + Assists   0.54         72
3     Non-Penalty Goals   0.16         33
4    Penalty Kicks Made   0.08         89
..                  ...    ...        ...
130           Own Goals   0.00         50
131     Ball Recoveries   6.09         93
132         Aerials Won   0.56         54
133        Aerials Lost   0.84         61
134    % of Aerials Won  40.0%         67

[135 rows x 3 columns]

In [46]:
#save to csv
scouting_report.to_csv('Bruno Fernandes FBRef Report.csv',index=False)