In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
import json
import re

In [3]:
import lxml

In [4]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
from pandas import json_normalize
import json
#include your local path to the Chrome webdriver
chrome_driver_path = r"C:\Users\Al Raven\anaconda3\Lib\site-packages\selenium\webdriver\chrome\chromedriver.exe"

In [5]:
url = 'https://api.performfeeds.com/soccerdata/matchevent/qxcx5jmswgto1qeqcjzghtddt/31tcbue0pnhmssglpr9ezvkt0?_rt=c&_lcl=en&_fmt=jsonp&_clbk=W3aea9ac3898165411c2751dbc26001a874bb8b3cf'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get(url,headers=headers)
soup = BeautifulSoup(page.text,'lxml')

In [6]:
soup2 = soup.get_text()
soup2 = soup2.strip('W3aea9ac3898165411c2751dbc26001a874bb8b3cf(')
soup2 = soup2.rstrip(')')

In [7]:
match_soup = json.loads(soup2)

In [8]:
event_data = match_soup['liveData']['event']

In [9]:
event_df= pd.json_normalize(event_data)
event_df

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass
0,2647612155,1,34,16,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T18:39:57.634Z,2024-02-17T19:48:50Z,"[{'id': 4815057723, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN
1,2647616311,1,34,16,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T18:44:19.840Z,2024-02-17T19:28:21Z,"[{'id': 4815277295, 'qualifierId': 194, 'value...",NaN,NaN,NaN,NaN
2,2647652813,2,32,1,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:30:20.649Z,2024-02-21T11:01:35Z,"[{'id': 4815284011, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN
3,2647652823,2,32,1,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T19:30:20.649Z,2024-02-17T19:30:22Z,"[{'id': 4815284039, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN
4,2647652839,3,1,1,0,0,9dqlf92t42brv71kvaet67tm4,1,50.1,50.1,2024-02-17T19:30:20.650Z,2024-02-21T11:06:36Z,"[{'id': 4815284155, 'qualifierId': 213, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,2647724999,946,30,2,94,57,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:21:29.401Z,2024-02-17T21:21:44Z,"[{'id': 4815702271, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN
1610,2647725139,657,30,14,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:21:47.479Z,2024-02-17T21:21:47Z,"[{'id': 4815703005, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN
1611,2647725143,658,37,14,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:21:47.515Z,2024-02-21T19:31:18Z,"[{'id': 4815777875, 'qualifierId': 302}, {'id'...",NaN,NaN,NaN,NaN
1612,2647725153,947,30,14,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:21:48.393Z,2024-02-17T21:21:48Z,"[{'id': 4815703063, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN
1613,2647725173,948,37,14,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:21:48.418Z,2024-02-21T19:31:18Z,"[{'id': 4823527219, 'qualifierId': 229}, {'id'...",NaN,NaN,NaN,NaN

In [10]:
event_df.typeId.unique()

array([34, 32,  1, 61, 49, 44,  8,  3,  7,  5, 74,  6,  4, 43, 83, 50, 45,
       17, 81, 52,  2, 55, 12, 15, 10, 16, 58, 70, 30, 41, 13, 27, 28, 18,
       19, 40, 68, 14, 11, 37], dtype=int64)

In [11]:
def open_play(qualifiers):
    return not any(item['qualifierId'] in [5, 6, 107] for item in qualifiers)
event_df['Open Play'] = event_df['qualifier'].apply(open_play)

https://github.com/tomh05/football-scores/blob/master/data/reference/opta-events.csv

In [12]:
event_df[event_df.typeId==1] #passes
#opta definition: Any pass attempted from one player to another Ð free kicks, corners, throw ins, goal kicks and goal assists

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
4,2647652839,3,1,1,0,0,9dqlf92t42brv71kvaet67tm4,1,50.1,50.1,2024-02-17T19:30:20.650Z,2024-02-21T11:06:36Z,"[{'id': 4815284155, 'qualifierId': 213, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
5,2647652849,4,1,1,0,3,9dqlf92t42brv71kvaet67tm4,0,32.2,48.3,2024-02-17T19:30:24.596Z,2024-02-21T11:02:28Z,"[{'id': 4815284235, 'qualifierId': 212, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
7,2647652937,5,1,1,0,8,9dqlf92t42brv71kvaet67tm4,1,41.2,88.1,2024-02-17T19:30:29.637Z,2024-02-21T11:02:46Z,"[{'id': 4815284693, 'qualifierId': 140, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
10,2647652985,5,1,1,0,13,5u18kvqiqhup2vd345dci1069,0,31.1,33.6,2024-02-17T19:30:34.329Z,2024-02-21T11:03:20Z,"[{'id': 4815284951, 'qualifierId': 157}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
12,2647653125,8,1,1,0,22,9dqlf92t42brv71kvaet67tm4,1,19.4,61.3,2024-02-17T19:30:43.572Z,2024-02-21T11:03:28Z,"[{'id': 4815285701, 'qualifierId': 140, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,2647724391,940,1,2,94,7,5u18kvqiqhup2vd345dci1069,1,24.6,74.2,2024-02-17T21:20:39.150Z,2024-02-17T21:20:42Z,"[{'id': 4815698891, 'qualifierId': 140, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1600,2647724401,941,1,2,94,9,5u18kvqiqhup2vd345dci1069,1,63.1,46.3,2024-02-17T21:20:41.948Z,2024-02-17T21:20:42Z,"[{'id': 4815698995, 'qualifierId': 156}, {'id'...",8kqw7v6re6dszk7ujedx0n3dh,A. Ajeti,NaN,NaN,True
1601,2647724497,942,1,2,94,13,5u18kvqiqhup2vd345dci1069,1,63.5,67.3,2024-02-17T21:20:45.468Z,2024-02-17T21:20:50Z,"[{'id': 4815699491, 'qualifierId': 141, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1602,2647724537,943,1,2,94,17,5u18kvqiqhup2vd345dci1069,1,89.9,85.7,2024-02-17T21:20:50.030Z,2024-02-21T19:29:10Z,"[{'id': 4815699735, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1607,2647724927,655,1,2,94,55,9dqlf92t42brv71kvaet67tm4,0,2.9,61.1,2024-02-17T21:21:27.358Z,2024-02-17T21:21:28Z,"[{'id': 4815701873, 'qualifierId': 213, 'value...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True

In [13]:
event_df[event_df.typeId==2] #Offside Pass
#opta definition: Attempted pass made to a player who is in an offside position

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
314,2647663873,127,2,1,15,40,9dqlf92t42brv71kvaet67tm4,1,81.1,22.5,2024-02-17T19:46:01.332Z,2024-02-17T19:46:12Z,"[{'id': 4815345357, 'qualifierId': 140, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
941,2647699505,404,2,2,54,29,9dqlf92t42brv71kvaet67tm4,1,81.6,89.0,2024-02-17T20:41:01.546Z,2024-02-17T20:41:04Z,"[{'id': 4815553057, 'qualifierId': 7, 'value':...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1430,2647716853,841,2,2,84,21,5u18kvqiqhup2vd345dci1069,1,56.4,16.2,2024-02-17T21:10:53.384Z,2024-02-17T21:11:44Z,"[{'id': 4815656365, 'qualifierId': 141, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True

In [14]:
event_df[event_df.typeId==3] #Take On
#definition: Attempted dribble past an opponent (excluding when qualifier 211 is present as this is ÔoverrunÕ and is not always a duel event)

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
21,2647653297,10,3,1,0,35,5u18kvqiqhup2vd345dci1069,0,68.0,5.5,2024-02-17T19:30:55.706Z,2024-02-21T19:30:04Z,"[{'id': 4815286779, 'qualifierId': 286}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
160,2649118205,659,3,1,7,26,9dqlf92t42brv71kvaet67tm4,0,32.3,84.1,2024-02-17T19:37:46.678Z,2024-02-21T11:18:12Z,"[{'id': 4823137755, 'qualifierId': 56, 'value'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
174,2647658555,105,3,1,7,56,5u18kvqiqhup2vd345dci1069,0,75.9,90.0,2024-02-17T19:38:17.449Z,2024-02-21T11:19:09Z,"[{'id': 4815315347, 'qualifierId': 233, 'value...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
202,2647659203,119,3,1,8,52,5u18kvqiqhup2vd345dci1069,1,33.3,21.8,2024-02-17T19:39:13.382Z,2024-02-21T11:20:47Z,"[{'id': 4823139855, 'qualifierId': 464}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
326,2647664641,188,3,1,16,42,5u18kvqiqhup2vd345dci1069,0,42.4,11.4,2024-02-17T19:47:03.323Z,2024-02-21T11:34:54Z,"[{'id': 4823153651, 'qualifierId': 464}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
536,2647672459,221,3,1,32,4,9dqlf92t42brv71kvaet67tm4,1,90.2,78.8,2024-02-17T20:02:24.680Z,2024-02-21T19:30:05Z,"[{'id': 4823167655, 'qualifierId': 464}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
622,2647676805,256,3,1,37,29,9dqlf92t42brv71kvaet67tm4,0,73.4,89.3,2024-02-17T20:07:50.211Z,2024-02-21T12:04:42Z,"[{'id': 4823172867, 'qualifierId': 464}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
629,2647676931,362,3,1,37,35,5u18kvqiqhup2vd345dci1069,1,35.7,5.6,2024-02-17T20:07:56.535Z,2024-02-21T19:30:05Z,"[{'id': 4815425177, 'qualifierId': 233, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
668,2647679493,281,3,1,40,33,9dqlf92t42brv71kvaet67tm4,0,93.6,88.1,2024-02-17T20:10:54.154Z,2024-02-21T12:10:55Z,"[{'id': 4815438455, 'qualifierId': 56, 'value'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
676,2647680039,284,3,1,41,14,9dqlf92t42brv71kvaet67tm4,1,94.6,87.6,2024-02-17T20:11:35.438Z,2024-02-21T19:30:06Z,"[{'id': 4823179555, 'qualifierId': 465}, {'id'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
678,2647680051,285,3,1,41,16,9dqlf92t42brv71kvaet67tm4,0,95.0,83.8,2024-02-17T20:11:36.683Z,2024-02-21T12:11:47Z,"[{'id': 4815441563, 'qualifierId': 233, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
682,2647680099,386,3,1,41,19,5u18kvqiqhup2vd345dci1069,0,21.5,7.4,2024-02-17T20:11:40.479Z,2024-02-21T12:12:06Z,"[{'id': 4815441589, 'qualifierId': 285}, {'id'...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
712,2647681005,295,3,1,42,24,9dqlf92t42brv71kvaet67tm4,1,17.2,93.5,2024-02-17T20:12:45.086Z,2024-02-21T12:14:12Z,"[{'id': 4815446467, 'qualifierId': 233, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
722,2647681449,301,3,1,42,54,9dqlf92t42brv71kvaet67tm4,0,55.0,86.0,2024-02-17T20:13:15.646Z,2024-02-21T12:15:14Z,"[{'id': 4815448691, 'qualifierId': 233, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
736,2647681899,306,3,1,43,25,9dqlf92t42brv71kvaet67tm4,1,60.2,85.4,2024-02-17T20:13:46.480Z,2024-02-21T12:16:11Z,"[{'id': 4815450713, 'qualifierId': 56, 'value'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
764,2647683249,433,3,1,44,59,5u18kvqiqhup2vd345dci1069,0,24.6,35.0,2024-02-17T20:15:19.783Z,2024-02-21T12:19:26Z,"[{'id': 4823185841, 'qualifierId': 465}, {'id'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
836,2647694967,346,3,2,47,21,9dqlf92t42brv71kvaet67tm4,1,82.0,26.9,2024-02-17T20:33:53.258Z,2024-02-21T19:30:07Z,"[{'id': 4815523315, 'qualifierId': 233, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
859,2647696783,359,3,2,50,6,9dqlf92t42brv71kvaet67tm4,1,64.1,89.9,2024-02-17T20:36:38.144Z,2024-02-21T12:29:37Z,"[{'id': 4823192445, 'qualifierId': 465}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
895,2647698183,380,3,2,52,20,9dqlf92t42brv71kvaet67tm4,0,77.6,93.4,2024-02-17T20:38:52.853Z,2024-02-21T12:32:26Z,"[{'id': 4823194357, 'qualifierId': 465}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
900,2647698359,383,3,2,52,36,9dqlf92t42brv71kvaet67tm4,0,80.9,93.0,2024-02-17T20:39:08.792Z,2024-02-21T12:32:44Z,"[{'id': 4815545075, 'qualifierId': 286}, {'id'...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
971,2647700533,558,3,2,55,56,5u18kvqiqhup2vd345dci1069,0,77.6,58.2,2024-02-17T20:42:28.942Z,2024-02-21T12:40:19Z,"[{'id': 4823199011, 'qualifierId': 465}, {'id'...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1052,2647703255,604,3,2,60,3,5u18kvqiqhup2vd345dci1069,1,71.8,26.4,2024-02-17T20:46:35.895Z,2024-02-21T12:48:14Z,"[{'id': 4823203123, 'qualifierId': 465}, {'id'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1131,2647706255,651,3,2,66,24,5u18kvqiqhup2vd345dci1069,0,50.1,77.7,2024-02-17T20:52:56.244Z,2024-02-21T13:00:20Z,"[{'id': 4815598331, 'qualifierId': 233, 'value...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
1265,2647708985,741,3,2,73,34,5u18kvqiqhup2vd345dci1069,0,60.2,87.4,2024-02-17T21:00:06.930Z,2024-02-21T18:47:24Z,"[{'id': 4815613805, 'qualifierId': 233, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1309,2647710175,541,3,2,76,3,9dqlf92t42brv71kvaet67tm4,0,31.2,88.2,2024-02-17T21:02:35.750Z,2024-02-21T18:52:50Z,"[{'id': 4815620243, 'qualifierId': 56, 'value'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1365,2647714401,803,3,2,81,23,5u18kvqiqhup2vd345dci1069,1,69.0,39.9,2024-02-17T21:07:55.681Z,2024-02-21T19:00:29Z,"[{'id': 4815642543, 'qualifierId': 56, 'value'...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1423,2649183695,665,3,2,84,10,9dqlf92t42brv71kvaet67tm4,0,74.5,77.8,2024-02-17T21:10:42.053Z,2024-02-21T19:07:40Z,"[{'id': 4823504651, 'qualifierId': 286}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1528,2647722161,624,3,2,91,8,9dqlf92t42brv71kvaet67tm4,0,87.2,90.8,2024-02-17T21:17:40.596Z,2024-02-21T19:19:21Z,"[{'id': 4815686365, 'qualifierId': 56, 'value'...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1539,2647722469,906,3,2,91,32,5u18kvqiqhup2vd345dci1069,1,28.0,6.4,2024-02-17T21:18:04.277Z,2024-02-21T19:30:08Z,"[{'id': 4815688025, 'qualifierId': 56, 'value'...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1561,2649186485,953,3,2,92,22,5u18kvqiqhup2vd345dci1069,1,35.1,70.9,2024-02-17T21:18:54.373Z,2024-02-21T19:30:09Z,"[{'id': 4823520637, 'qualifierId': 465}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1576,2647723885,645,3,2,93,27,9dqlf92t42brv71kvaet67tm4,0,60.9,75.9,2024-02-17T21:19:59.993Z,2024-02-21T19:26:19Z,"[{'id': 4815696221, 'qualifierId': 211}, {'id'...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1579,2649186911,954,3,2,93,29,5u18kvqiqhup2vd345dci1069,1,22.5,23.1,2024-02-17T21:20:01.352Z,2024-02-21T19:30:10Z,"[{'id': 4823523093, 'qualifierId': 464}, {'id'...",azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True
1580,2647723935,928,3,2,93,33,5u18kvqiqhup2vd345dci1069,0,20.9,4.5,2024-02-17T21:20:05.676Z,2024-02-21T19:26:37Z,"[{'id': 4815696445, 'qualifierId': 285}, {'id'...",azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True
1589,2647724075,933,3,2,93,43,5u18kvqiqhup2vd345dci1069,0,26.2,8.9,2024-02-17T21:20:15.915Z,2024-02-21T19:28:07Z,"[{'id': 4815697277, 'qualifierId': 233, 'value...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True

In [15]:
event_df[event_df.typeId==4] #Foul
#This event is shown when a foul is committed resulting in a free kick

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
58,2647654915,23,4,1,2,53,5u18kvqiqhup2vd345dci1069,1,10.5,52.2,2024-02-17T19:33:13.945Z,2024-02-17T19:33:34Z,"[{'id': 4815295327, 'qualifierId': 13}, {'id':...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
59,2647654913,35,4,1,2,53,9dqlf92t42brv71kvaet67tm4,0,89.5,47.8,2024-02-17T19:33:13.946Z,2024-02-17T20:13:06Z,"[{'id': 4815295261, 'qualifierId': 286}, {'id'...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
205,2647659629,78,4,1,9,0,9dqlf92t42brv71kvaet67tm4,1,61.2,82.0,2024-02-17T19:39:20.936Z,2024-02-17T19:40:00Z,"[{'id': 4815321295, 'qualifierId': 56, 'value'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
206,2647659287,122,4,1,9,0,5u18kvqiqhup2vd345dci1069,0,38.8,18.0,2024-02-17T19:39:20.937Z,2024-02-17T19:40:01Z,"[{'id': 4815319857, 'qualifierId': 55, 'value'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
231,2647660655,132,4,1,11,7,5u18kvqiqhup2vd345dci1069,1,30.2,20.6,2024-02-17T19:41:27.680Z,2024-02-17T19:41:30Z,"[{'id': 4815327165, 'qualifierId': 152}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,2647711719,770,4,2,78,25,5u18kvqiqhup2vd345dci1069,0,81.9,50.2,2024-02-17T21:04:57.387Z,2024-02-17T21:27:42Z,"[{'id': 4815628585, 'qualifierId': 265}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1513,2647721199,615,4,2,89,54,9dqlf92t42brv71kvaet67tm4,1,32.2,80.0,2024-02-17T21:16:26.162Z,2024-02-17T21:16:29Z,"[{'id': 4815681025, 'qualifierId': 152}, {'id'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1514,2647721221,896,4,2,89,54,5u18kvqiqhup2vd345dci1069,0,67.8,20.0,2024-02-17T21:16:26.163Z,2024-02-17T21:16:30Z,"[{'id': 4815681205, 'qualifierId': 13}, {'id':...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1564,2647723161,921,4,2,92,27,5u18kvqiqhup2vd345dci1069,1,36.6,68.4,2024-02-17T21:18:59.846Z,2024-02-17T21:19:02Z,"[{'id': 4815691885, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1565,2647723159,639,4,2,92,27,9dqlf92t42brv71kvaet67tm4,0,63.4,31.6,2024-02-17T21:18:59.847Z,2024-02-21T19:25:04Z,"[{'id': 4815691799, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True

In [16]:
event_df[event_df.typeId==5] #Shown each time the ball goes out of play for a throw-in or goal kick

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
23,2647653571,11,5,1,0,36,5u18kvqiqhup2vd345dci1069,1,69.6,-1.2,2024-02-17T19:30:57.449Z,2024-02-21T11:05:03Z,"[{'id': 4815287829, 'qualifierId': 56, 'value'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
24,2647653331,12,5,1,0,36,9dqlf92t42brv71kvaet67tm4,0,30.4,101.2,2024-02-17T19:30:57.449Z,2024-02-21T19:30:12Z,"[{'id': 4815286785, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
26,2647653637,13,5,1,1,2,9dqlf92t42brv71kvaet67tm4,1,-0.9,90.2,2024-02-17T19:31:23.539Z,2024-02-17T21:22:03Z,"[{'id': 4815288203, 'qualifierId': 346}, {'id'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
27,2647653621,13,5,1,1,2,5u18kvqiqhup2vd345dci1069,0,100.9,9.8,2024-02-17T19:31:23.539Z,2024-02-17T19:31:27Z,"[{'id': 4815288129, 'qualifierId': 56, 'value'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
42,2647654227,16,5,1,1,54,5u18kvqiqhup2vd345dci1069,1,-1.4,74.0,2024-02-17T19:32:15.580Z,2024-02-17T19:32:16Z,"[{'id': 4815291565, 'qualifierId': 233, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,2647722955,917,5,2,92,12,5u18kvqiqhup2vd345dci1069,0,48.6,101.6,2024-02-17T21:18:44.061Z,2024-02-17T21:19:06Z,"[{'id': 4815692125, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1570,2647723487,641,5,2,92,56,9dqlf92t42brv71kvaet67tm4,1,-0.6,68.2,2024-02-17T21:19:28.890Z,2024-02-17T21:19:30Z,"[{'id': 4815693867, 'qualifierId': 346}, {'id'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1571,2647723503,925,5,2,92,56,5u18kvqiqhup2vd345dci1069,0,100.6,31.8,2024-02-17T21:19:28.890Z,2024-02-17T21:22:20Z,"[{'id': 4815694013, 'qualifierId': 233, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1605,2647724621,654,5,2,94,26,9dqlf92t42brv71kvaet67tm4,1,-1.2,80.8,2024-02-17T21:20:58.684Z,2024-02-17T21:28:44Z,"[{'id': 4815700183, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1606,2647724691,945,5,2,94,26,5u18kvqiqhup2vd345dci1069,0,101.2,19.2,2024-02-17T21:20:58.684Z,2024-02-17T21:22:20Z,"[{'id': 4815700665, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True

In [17]:
event_df[event_df.typeId==6] #Corner Awarded

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
36,2647653983,15,6,1,1,32,5u18kvqiqhup2vd345dci1069,0,18.0,9.2,2024-02-17T19:31:52.815Z,2024-02-21T11:07:34Z,"[{'id': 4815290287, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
37,2647653965,21,6,1,1,32,9dqlf92t42brv71kvaet67tm4,1,82.0,90.8,2024-02-17T19:31:52.815Z,2024-02-17T20:14:31Z,"[{'id': 4815290041, 'qualifierId': 56, 'value'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
404,2647667549,162,6,1,21,9,9dqlf92t42brv71kvaet67tm4,1,80.2,45.1,2024-02-17T19:51:30.102Z,2024-02-21T19:29:43Z,"[{'id': 4815368227, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
405,2647667553,236,6,1,21,9,5u18kvqiqhup2vd345dci1069,0,19.8,54.9,2024-02-17T19:51:30.102Z,2024-02-21T11:43:23Z,"[{'id': 4815368451, 'qualifierId': 233, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
819,2647694299,337,6,2,46,19,9dqlf92t42brv71kvaet67tm4,0,15.0,64.0,2024-02-17T20:32:51.160Z,2024-02-21T12:25:11Z,"[{'id': 4815519119, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
820,2647694455,479,6,2,46,19,5u18kvqiqhup2vd345dci1069,1,85.0,36.0,2024-02-17T20:32:51.160Z,2024-02-17T20:33:18Z,"[{'id': 4815520175, 'qualifierId': 75}, {'id':...",5fbi7ci4io9hfnlbhoc4texh,B. Kololli,NaN,NaN,True
840,2647695011,348,6,2,47,26,9dqlf92t42brv71kvaet67tm4,1,92.6,47.8,2024-02-17T20:33:58.762Z,2024-02-17T20:34:02Z,"[{'id': 4815523519, 'qualifierId': 75}, {'id':...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
841,2647695029,488,6,2,47,26,5u18kvqiqhup2vd345dci1069,0,7.4,52.2,2024-02-17T20:33:58.762Z,2024-02-21T12:26:59Z,"[{'id': 4815523667, 'qualifierId': 233, 'value...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
1036,2647702683,434,6,2,59,4,9dqlf92t42brv71kvaet67tm4,0,9.2,25.0,2024-02-17T20:45:36.499Z,2024-02-21T12:46:35Z,"[{'id': 4815573013, 'qualifierId': 233, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1037,2647702689,597,6,2,59,4,5u18kvqiqhup2vd345dci1069,1,90.8,75.0,2024-02-17T20:45:36.499Z,2024-02-17T21:21:43Z,"[{'id': 4815572989, 'qualifierId': 233, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1106,2647704931,467,6,2,63,26,9dqlf92t42brv71kvaet67tm4,1,80.0,23.2,2024-02-17T20:49:58.141Z,2024-02-17T21:21:43Z,"[{'id': 4815587555, 'qualifierId': 56, 'value'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1107,2647704927,635,6,2,63,26,5u18kvqiqhup2vd345dci1069,0,20.0,76.8,2024-02-17T20:49:58.141Z,2024-02-21T12:55:22Z,"[{'id': 4815587543, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1119,2647705869,474,6,2,65,33,9dqlf92t42brv71kvaet67tm4,1,79.6,57.4,2024-02-17T20:52:05.984Z,2024-02-17T20:52:10Z,"[{'id': 4815593785, 'qualifierId': 233, 'value...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1120,2647705893,643,6,2,65,33,5u18kvqiqhup2vd345dci1069,0,20.4,42.6,2024-02-17T20:52:05.984Z,2024-02-21T12:57:54Z,"[{'id': 4815593761, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1163,2647706915,493,6,2,68,2,9dqlf92t42brv71kvaet67tm4,0,6.6,27.2,2024-02-17T20:54:34.776Z,2024-02-21T13:03:00Z,"[{'id': 4815600727, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1164,2647706913,669,6,2,68,2,5u18kvqiqhup2vd345dci1069,1,93.4,72.8,2024-02-17T20:54:34.776Z,2024-02-17T20:54:36Z,"[{'id': 4815600721, 'qualifierId': 73}, {'id':...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1178,2647707153,501,6,2,68,43,9dqlf92t42brv71kvaet67tm4,0,10.8,46.1,2024-02-17T20:55:15.385Z,2024-02-21T13:06:07Z,"[{'id': 4815602417, 'qualifierId': 233, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1179,2647707149,678,6,2,68,43,5u18kvqiqhup2vd345dci1069,1,89.2,53.9,2024-02-17T20:55:15.385Z,2024-02-17T20:55:16Z,"[{'id': 4815602405, 'qualifierId': 233, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
1341,2647713329,554,6,2,80,14,9dqlf92t42brv71kvaet67tm4,0,11.8,33.9,2024-02-17T21:06:46.305Z,2024-02-21T18:57:54Z,"[{'id': 4815636863, 'qualifierId': 73}, {'id':...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1342,2647713313,787,6,2,80,14,5u18kvqiqhup2vd345dci1069,1,88.2,66.1,2024-02-17T21:06:46.305Z,2024-02-17T21:06:49Z,"[{'id': 4815636883, 'qualifierId': 233, 'value...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1450,2647717861,596,6,2,85,47,9dqlf92t42brv71kvaet67tm4,0,7.5,25.3,2024-02-17T21:12:19.947Z,2024-02-21T19:10:29Z,"[{'id': 4815661917, 'qualifierId': 56, 'value'...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1451,2647717833,853,6,2,85,47,5u18kvqiqhup2vd345dci1069,1,92.5,74.7,2024-02-17T21:12:19.947Z,2024-02-17T21:12:22Z,"[{'id': 4815661955, 'qualifierId': 233, 'value...",azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True

In [18]:
event_df[event_df.typeId==7] #Tackle
#Tackle = dispossesses an opponent of the ball - Outcome 1 = win & retain possession or out of play, 0 = win tackle but not possession

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
22,2647653321,11,7,1,0,35,9dqlf92t42brv71kvaet67tm4,1,32.0,94.5,2024-02-17T19:30:55.707Z,2024-02-21T19:30:03Z,"[{'id': 4815286711, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
175,2647658571,65,7,1,7,56,9dqlf92t42brv71kvaet67tm4,0,24.1,10.0,2024-02-17T19:38:17.450Z,2024-02-21T11:19:15Z,"[{'id': 4815315331, 'qualifierId': 233, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
198,2647659195,118,7,1,8,50,5u18kvqiqhup2vd345dci1069,1,33.2,18.0,2024-02-17T19:39:10.875Z,2024-02-21T11:20:35Z,"[{'id': 4815318811, 'qualifierId': 56, 'value'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
256,2647661787,146,7,1,12,36,5u18kvqiqhup2vd345dci1069,1,28.2,78.5,2024-02-17T19:42:56.915Z,2024-02-21T11:26:28Z,"[{'id': 4815333397, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
327,2647664595,134,7,1,16,42,9dqlf92t42brv71kvaet67tm4,1,57.6,88.6,2024-02-17T19:47:03.324Z,2024-02-21T11:34:57Z,"[{'id': 4815349539, 'qualifierId': 285}, {'id'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
354,2647665245,205,7,1,17,32,5u18kvqiqhup2vd345dci1069,0,82.9,45.2,2024-02-17T19:47:53.305Z,2024-02-21T11:37:29Z,"[{'id': 4823156051, 'qualifierId': 384}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
428,2647668413,175,7,1,22,40,9dqlf92t42brv71kvaet67tm4,0,71.8,66.7,2024-02-17T19:53:01.370Z,2024-02-21T11:45:42Z,"[{'id': 4823162075, 'qualifierId': 383}, {'id'...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
546,2647672621,226,7,1,32,17,9dqlf92t42brv71kvaet67tm4,1,93.7,86.7,2024-02-17T20:02:38.168Z,2024-02-21T11:57:01Z,"[{'id': 4815402393, 'qualifierId': 56, 'value'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
623,2647689111,449,7,1,37,29,5u18kvqiqhup2vd345dci1069,1,26.6,10.7,2024-02-17T20:07:50.212Z,2024-02-21T12:04:47Z,"[{'id': 4823172939, 'qualifierId': 383}, {'id'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
669,2647679525,378,7,1,40,33,5u18kvqiqhup2vd345dci1069,1,6.4,11.9,2024-02-17T20:10:54.155Z,2024-02-21T12:11:00Z,"[{'id': 4823178925, 'qualifierId': 383}, {'id'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
679,2647680083,384,7,1,41,16,5u18kvqiqhup2vd345dci1069,0,5.0,16.2,2024-02-17T20:11:36.684Z,2024-02-21T12:11:54Z,"[{'id': 4815441525, 'qualifierId': 285}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
683,2647680107,286,7,1,41,19,9dqlf92t42brv71kvaet67tm4,1,78.5,92.6,2024-02-17T20:11:40.480Z,2024-02-21T12:12:14Z,"[{'id': 4815441637, 'qualifierId': 167}, {'id'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
723,2647681465,410,7,1,42,54,5u18kvqiqhup2vd345dci1069,0,45.0,14.0,2024-02-17T20:13:15.647Z,2024-02-21T12:15:20Z,"[{'id': 4823183011, 'qualifierId': 385}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
765,2647683255,320,7,1,44,59,9dqlf92t42brv71kvaet67tm4,0,75.4,65.0,2024-02-17T20:15:19.784Z,2024-02-21T12:19:30Z,"[{'id': 4823185869, 'qualifierId': 383}, {'id'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
896,2647698193,513,7,2,52,20,5u18kvqiqhup2vd345dci1069,1,22.4,6.6,2024-02-17T20:38:52.854Z,2024-02-21T12:32:29Z,"[{'id': 4815544015, 'qualifierId': 285}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
901,2647698349,515,7,2,52,36,5u18kvqiqhup2vd345dci1069,0,19.1,7.0,2024-02-17T20:39:08.793Z,2024-02-21T12:32:48Z,"[{'id': 4823194747, 'qualifierId': 383}, {'id'...",80ats6rs31slpisdvvwtdfjoq,J. Gauto,NaN,NaN,True
972,2647700557,411,7,2,55,56,9dqlf92t42brv71kvaet67tm4,1,22.4,41.8,2024-02-17T20:42:28.943Z,2024-02-21T12:40:22Z,"[{'id': 4815559641, 'qualifierId': 285}, {'id'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1045,2647702983,601,7,2,59,37,5u18kvqiqhup2vd345dci1069,1,71.8,2.3,2024-02-17T20:46:09.375Z,2024-02-21T12:47:43Z,"[{'id': 4815575337, 'qualifierId': 167}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1105,2647704923,634,7,2,63,25,5u18kvqiqhup2vd345dci1069,1,20.2,76.4,2024-02-17T20:49:57.389Z,2024-02-21T12:55:17Z,"[{'id': 4815587499, 'qualifierId': 233, 'value...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1132,2647706271,479,7,2,66,24,9dqlf92t42brv71kvaet67tm4,1,49.9,22.3,2024-02-17T20:52:56.245Z,2024-02-21T13:00:32Z,"[{'id': 4815598207, 'qualifierId': 233, 'value...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1252,2647708785,729,7,2,73,1,5u18kvqiqhup2vd345dci1069,1,12.8,75.6,2024-02-17T20:59:33.793Z,2024-02-21T18:46:00Z,"[{'id': 4815612475, 'qualifierId': 56, 'value'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
1266,2647708989,524,7,2,73,34,9dqlf92t42brv71kvaet67tm4,1,39.8,12.6,2024-02-17T21:00:06.931Z,2024-02-21T18:47:28Z,"[{'id': 4815613783, 'qualifierId': 233, 'value...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1295,2647709559,760,7,2,74,46,5u18kvqiqhup2vd345dci1069,0,76.1,32.9,2024-02-17T21:01:18.708Z,2024-02-21T18:50:10Z,"[{'id': 4815616835, 'qualifierId': 286}, {'id'...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1297,2647709613,761,7,2,74,49,5u18kvqiqhup2vd345dci1069,1,62.4,34.2,2024-02-17T21:01:21.925Z,2024-02-21T18:50:23Z,"[{'id': 4815617093, 'qualifierId': 285}, {'id'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1310,2647710171,767,7,2,76,3,5u18kvqiqhup2vd345dci1069,0,68.8,11.8,2024-02-17T21:02:35.751Z,2024-02-21T18:52:54Z,"[{'id': 4823496007, 'qualifierId': 383}, {'id'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1356,2647714189,797,7,2,81,11,5u18kvqiqhup2vd345dci1069,0,41.6,93.7,2024-02-17T21:07:43.426Z,2024-02-21T18:59:29Z,"[{'id': 4823498473, 'qualifierId': 383}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1358,2647714183,559,7,2,81,13,9dqlf92t42brv71kvaet67tm4,0,61.8,4.8,2024-02-17T21:07:45.216Z,2024-02-21T18:59:40Z,"[{'id': 4815641933, 'qualifierId': 233, 'value...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1524,2647722009,900,7,2,90,55,5u18kvqiqhup2vd345dci1069,1,7.5,3.8,2024-02-17T21:17:27.702Z,2024-02-21T19:19:12Z,"[{'id': 4823516589, 'qualifierId': 385}, {'id'...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1529,2647722179,902,7,2,91,8,5u18kvqiqhup2vd345dci1069,0,12.8,9.2,2024-02-17T21:17:40.597Z,2024-02-21T19:19:26Z,"[{'id': 4823516873, 'qualifierId': 383}, {'id'...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1581,2647723969,646,7,2,93,33,9dqlf92t42brv71kvaet67tm4,1,79.1,95.5,2024-02-17T21:20:05.677Z,2024-02-21T19:26:41Z,"[{'id': 4815696617, 'qualifierId': 286}, {'id'...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1590,2647724093,650,7,2,93,43,9dqlf92t42brv71kvaet67tm4,1,73.8,91.1,2024-02-17T21:20:15.916Z,2024-02-21T19:28:11Z,"[{'id': 4823524217, 'qualifierId': 383}, {'id'...",92rz6sr2nhhlwmkfrsua0iyac,F. Hoxha,NaN,NaN,True

In [19]:
event_df[event_df.typeId==8] #Interception
#When a player intercepts any pass event between opposition players and prevents the ball reaching its target. Cannot be a clearance.

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
17,2647653203,10,8,1,0,28,9dqlf92t42brv71kvaet67tm4,1,64.4,61.7,2024-02-17T19:30:49.014Z,2024-02-21T11:04:12Z,"[{'id': 4823128205, 'qualifierId': 384}, {'id'...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
47,2647654495,27,8,1,2,20,9dqlf92t42brv71kvaet67tm4,1,49.0,42.2,2024-02-17T19:32:41.129Z,2024-02-21T11:08:27Z,"[{'id': 4815292833, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
73,2647655655,29,8,1,3,58,5u18kvqiqhup2vd345dci1069,1,45.9,7.8,2024-02-17T19:34:18.880Z,2024-02-21T11:11:44Z,"[{'id': 4815299209, 'qualifierId': 56, 'value'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
119,2647656969,65,8,1,5,53,5u18kvqiqhup2vd345dci1069,1,33.4,82.4,2024-02-17T19:36:14.646Z,2024-02-21T11:14:56Z,"[{'id': 4823135073, 'qualifierId': 385}, {'id'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
123,2647657101,67,8,1,6,2,5u18kvqiqhup2vd345dci1069,1,6.7,71.6,2024-02-17T19:36:23.237Z,2024-02-21T11:15:22Z,"[{'id': 4815307147, 'qualifierId': 56, 'value'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
137,2647657531,59,8,1,6,32,9dqlf92t42brv71kvaet67tm4,1,41.6,75.0,2024-02-17T19:36:52.945Z,2024-02-21T11:16:28Z,"[{'id': 4815309393, 'qualifierId': 56, 'value'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
309,2647663747,123,8,1,15,31,9dqlf92t42brv71kvaet67tm4,1,68.2,59.1,2024-02-17T19:45:52.468Z,2024-02-21T11:33:10Z,"[{'id': 4823151675, 'qualifierId': 384}, {'id'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
382,2647666291,154,8,1,19,8,9dqlf92t42brv71kvaet67tm4,1,39.3,37.6,2024-02-17T19:49:28.876Z,2024-02-21T11:39:35Z,"[{'id': 4823157867, 'qualifierId': 384}, {'id'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
391,2647666617,155,8,1,19,33,9dqlf92t42brv71kvaet67tm4,1,56.4,66.6,2024-02-17T19:49:53.997Z,2024-02-21T11:40:41Z,"[{'id': 4815362007, 'qualifierId': 56, 'value'...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
562,2647673023,323,8,1,32,52,5u18kvqiqhup2vd345dci1069,1,17.2,11.3,2024-02-17T20:03:13.366Z,2024-02-21T11:59:00Z,"[{'id': 4815404731, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
578,2647673455,332,8,1,33,25,5u18kvqiqhup2vd345dci1069,1,12.0,26.8,2024-02-17T20:03:46.031Z,2024-02-21T12:00:12Z,"[{'id': 4823169895, 'qualifierId': 383}, {'id'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
601,2647675835,249,8,1,36,24,9dqlf92t42brv71kvaet67tm4,1,31.5,8.2,2024-02-17T20:06:44.706Z,2024-02-21T12:03:28Z,"[{'id': 4823171941, 'qualifierId': 385}, {'id'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
619,2647676725,253,8,1,37,25,9dqlf92t42brv71kvaet67tm4,1,45.9,72.8,2024-02-17T20:07:46.068Z,2024-02-21T12:04:28Z,"[{'id': 4815424115, 'qualifierId': 56, 'value'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
658,2647679181,375,8,1,40,14,5u18kvqiqhup2vd345dci1069,1,8.7,19.7,2024-02-17T20:10:35.421Z,2024-02-21T12:10:02Z,"[{'id': 4823177963, 'qualifierId': 385}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
697,2647680605,288,8,1,42,2,9dqlf92t42brv71kvaet67tm4,1,22.9,22.4,2024-02-17T20:12:22.950Z,2024-02-21T12:13:05Z,"[{'id': 4815444327, 'qualifierId': 15}, {'id':...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
701,2647680703,399,8,1,42,7,5u18kvqiqhup2vd345dci1069,1,66.4,86.5,2024-02-17T20:12:28.434Z,2024-02-21T12:13:21Z,"[{'id': 4815444831, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
710,2647680971,293,8,1,42,23,9dqlf92t42brv71kvaet67tm4,1,20.8,87.2,2024-02-17T20:12:43.678Z,2024-02-21T12:14:00Z,"[{'id': 4815446273, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
715,2647681029,407,8,1,42,25,5u18kvqiqhup2vd345dci1069,1,76.4,6.1,2024-02-17T20:12:45.804Z,2024-02-21T12:14:36Z,"[{'id': 4823182167, 'qualifierId': 383}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
745,2647682243,421,8,1,43,50,5u18kvqiqhup2vd345dci1069,1,29.0,24.9,2024-02-17T20:14:11.605Z,2024-02-21T12:18:06Z,"[{'id': 4823184913, 'qualifierId': 384}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
767,2647683285,321,8,1,45,2,9dqlf92t42brv71kvaet67tm4,1,65.7,62.7,2024-02-17T20:15:23.460Z,2024-02-21T12:19:49Z,"[{'id': 4815457913, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
781,2647683947,441,8,1,45,59,5u18kvqiqhup2vd345dci1069,1,20.3,73.2,2024-02-17T20:16:19.945Z,2024-02-21T12:21:03Z,"[{'id': 4815461435, 'qualifierId': 56, 'value'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
818,2647694295,336,8,2,46,18,9dqlf92t42brv71kvaet67tm4,1,14.7,65.7,2024-02-17T20:32:50.425Z,2024-02-21T12:24:59Z,"[{'id': 4823189155, 'qualifierId': 385}, {'id'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
839,2647695019,487,8,2,47,25,5u18kvqiqhup2vd345dci1069,1,7.2,55.2,2024-02-17T20:33:57.615Z,2024-02-21T12:26:56Z,"[{'id': 4823190829, 'qualifierId': 385}, {'id'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
931,2647699275,531,8,2,54,11,5u18kvqiqhup2vd345dci1069,1,9.0,26.6,2024-02-17T20:40:43.389Z,2024-02-21T12:37:19Z,"[{'id': 4815551375, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1008,2647702109,422,8,2,58,8,9dqlf92t42brv71kvaet67tm4,1,58.6,75.0,2024-02-17T20:44:40.625Z,2024-02-21T12:43:46Z,"[{'id': 4815569403, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1162,2647706911,492,8,2,68,2,9dqlf92t42brv71kvaet67tm4,1,7.3,25.4,2024-02-17T20:54:34.342Z,2024-02-21T13:02:56Z,"[{'id': 4815600675, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1277,2647709245,747,8,2,74,4,5u18kvqiqhup2vd345dci1069,1,69.5,72.2,2024-02-17T21:00:36.885Z,2024-02-21T18:48:48Z,"[{'id': 4823493233, 'qualifierId': 384}, {'id'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1299,2647709635,535,8,2,74,54,9dqlf92t42brv71kvaet67tm4,1,28.9,24.6,2024-02-17T21:01:26.211Z,2024-02-21T18:50:37Z,"[{'id': 4823494539, 'qualifierId': 383}, {'id'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1558,2647723097,918,8,2,92,20,5u18kvqiqhup2vd345dci1069,1,38.1,71.4,2024-02-17T21:18:52.714Z,2024-02-21T19:24:49Z,"[{'id': 4815691503, 'qualifierId': 56, 'value'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True

In [20]:
event_df[event_df.typeId==9] #Turnover
#Unforced error / loss of possession - i.e. bad control of ball 
#Ð NO LONGER USED (Replaced with Unsuccessful Touch + Overrun)

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [21]:
event_df[event_df.typeId==10] #save
#Goalkeeper event; saving a shot on goal. Can also be an outfield player event with qualifier 94 for blocked shot

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
403,2647667529,235,10,1,21,7,5u18kvqiqhup2vd345dci1069,1,14.2,58.1,2024-02-17T19:51:28.582Z,2024-02-21T11:43:16Z,"[{'id': 4815368043, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
410,2647667909,239,10,1,21,44,5u18kvqiqhup2vd345dci1069,1,3.1,50.3,2024-02-17T19:52:05.494Z,2024-02-21T11:44:20Z,"[{'id': 4815370553, 'qualifierId': 177}, {'id'...",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
1055,2647703275,443,10,2,60,6,9dqlf92t42brv71kvaet67tm4,1,1.7,54.9,2024-02-17T20:46:38.860Z,2024-02-21T12:49:08Z,"[{'id': 4815576901, 'qualifierId': 183}, {'id'...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1110,2647705159,636,10,2,63,55,5u18kvqiqhup2vd345dci1069,1,5.8,55.2,2024-02-17T20:50:27.641Z,2024-02-21T12:56:10Z,"[{'id': 4815589019, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1118,2647705851,642,10,2,65,28,5u18kvqiqhup2vd345dci1069,1,13.6,44.4,2024-02-17T20:52:00.795Z,2024-02-21T12:57:44Z,"[{'id': 4815594819, 'qualifierId': 233, 'value...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1177,2647707147,500,10,2,68,42,9dqlf92t42brv71kvaet67tm4,1,4.4,52.6,2024-02-17T20:55:14.252Z,2024-02-21T13:06:02Z,"[{'id': 4815602345, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1184,2647707217,503,10,2,69,1,9dqlf92t42brv71kvaet67tm4,1,8.5,53.8,2024-02-17T20:55:33.656Z,2024-02-17T20:58:01Z,"[{'id': 4815605855, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1373,2647714597,565,10,2,81,39,9dqlf92t42brv71kvaet67tm4,1,1.2,51.5,2024-02-17T21:08:11.398Z,2024-02-21T19:01:17Z,"[{'id': 4815643783, 'qualifierId': 182}, {'id'...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1397,2647715991,579,10,2,82,58,9dqlf92t42brv71kvaet67tm4,1,3.0,48.8,2024-02-17T21:09:30.139Z,2024-02-21T19:04:35Z,"[{'id': 4815652269, 'qualifierId': 233, 'value...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1455,2647718205,598,10,2,86,16,9dqlf92t42brv71kvaet67tm4,1,1.0,48.7,2024-02-17T21:12:48.273Z,2024-02-21T19:10:57Z,"[{'id': 4815663989, 'qualifierId': 182}, {'id'...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True

In [22]:
event_df[event_df.typeId==11] #GK claims (catching a crossed ball)

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
1409,2647715907,578,11,2,83,19,9dqlf92t42brv71kvaet67tm4,1,2.0,56.3,2024-02-17T21:09:51.365Z,2024-02-21T19:05:16Z,"[{'id': 4815651071, 'qualifierId': 88}, {'id':...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True

In [23]:
event_df[event_df.typeId==12] #clearances 
#Player under pressure hits the ball clear of the defensive zone or/and out of play

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
331,2647664673,136,12,1,16,47,9dqlf92t42brv71kvaet67tm4,1,26.4,90.0,2024-02-17T19:47:08.319Z,2024-02-21T11:35:12Z,"[{'id': 4815350037, 'qualifierId': 213, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
343,2647665043,138,12,1,17,19,9dqlf92t42brv71kvaet67tm4,1,20.1,65.9,2024-02-17T19:47:39.912Z,2024-02-17T19:47:40Z,"[{'id': 4815352301, 'qualifierId': 213, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
347,2647665119,139,12,1,17,26,9dqlf92t42brv71kvaet67tm4,1,25.9,63.4,2024-02-17T19:47:46.969Z,2024-02-21T11:36:38Z,"[{'id': 4815352729, 'qualifierId': 140, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
397,2647667171,232,12,1,20,33,5u18kvqiqhup2vd345dci1069,1,8.0,57.5,2024-02-17T19:50:53.661Z,2024-02-21T11:41:42Z,"[{'id': 4815365709, 'qualifierId': 167}, {'id'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
401,2647667493,234,12,1,21,5,5u18kvqiqhup2vd345dci1069,1,8.8,60.3,2024-02-17T19:51:25.677Z,2024-02-21T11:43:07Z,"[{'id': 4815367815, 'qualifierId': 56, 'value'...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
407,2647667803,237,12,1,21,37,5u18kvqiqhup2vd345dci1069,1,4.1,49.1,2024-02-17T19:51:58.454Z,2024-02-21T11:43:36Z,"[{'id': 4815369885, 'qualifierId': 141, 'value...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
539,2647672509,313,12,1,32,7,5u18kvqiqhup2vd345dci1069,1,7.3,38.3,2024-02-17T20:02:28.443Z,2024-02-21T11:56:31Z,"[{'id': 4815401711, 'qualifierId': 140, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
670,2647679571,379,12,1,40,39,5u18kvqiqhup2vd345dci1069,1,1.4,12.3,2024-02-17T20:10:59.878Z,2024-02-21T12:11:08Z,"[{'id': 4815491659, 'qualifierId': 140, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
672,2647679617,380,12,1,40,41,5u18kvqiqhup2vd345dci1069,1,1.0,2.1,2024-02-17T20:11:02.190Z,2024-02-21T12:11:19Z,"[{'id': 4815439115, 'qualifierId': 140, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
812,2647694291,335,12,2,46,4,9dqlf92t42brv71kvaet67tm4,1,15.4,43.4,2024-02-17T20:32:36.792Z,2024-02-21T12:23:59Z,"[{'id': 4815519089, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
831,2647694809,341,12,2,47,10,9dqlf92t42brv71kvaet67tm4,1,11.2,44.0,2024-02-17T20:33:42.841Z,2024-02-21T12:26:07Z,"[{'id': 4815522293, 'qualifierId': 213, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
832,2647694831,342,12,2,47,12,9dqlf92t42brv71kvaet67tm4,1,12.4,49.0,2024-02-17T20:33:44.474Z,2024-02-17T20:33:45Z,"[{'id': 4815522449, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
935,2647699377,533,12,2,54,17,5u18kvqiqhup2vd345dci1069,1,9.1,32.9,2024-02-17T20:40:49.611Z,2024-02-21T12:37:47Z,"[{'id': 4815552001, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1029,2647702507,431,12,2,58,50,9dqlf92t42brv71kvaet67tm4,1,18.3,7.3,2024-02-17T20:45:22.440Z,2024-02-17T20:45:25Z,"[{'id': 4815571971, 'qualifierId': 233, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
1035,2647702675,433,12,2,59,2,9dqlf92t42brv71kvaet67tm4,1,7.7,25.6,2024-02-17T20:45:34.729Z,2024-02-17T20:45:37Z,"[{'id': 4815572913, 'qualifierId': 233, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1042,2647702997,436,12,2,59,34,9dqlf92t42brv71kvaet67tm4,1,7.4,54.4,2024-02-17T20:46:06.972Z,2024-02-21T12:47:33Z,"[{'id': 4815574849, 'qualifierId': 140, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1112,2647705193,637,12,2,64,0,5u18kvqiqhup2vd345dci1069,1,6.4,53.6,2024-02-17T20:50:32.048Z,2024-02-17T20:50:34Z,"[{'id': 4815589243, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1123,2647706051,645,12,2,65,59,5u18kvqiqhup2vd345dci1069,1,3.3,43.0,2024-02-17T20:52:31.203Z,2024-02-21T12:59:02Z,"[{'id': 4815594941, 'qualifierId': 212, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1168,2647707055,497,12,2,68,21,9dqlf92t42brv71kvaet67tm4,1,7.0,46.6,2024-02-17T20:54:53.982Z,2024-02-21T13:03:58Z,"[{'id': 4815601723, 'qualifierId': 213, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1170,2647707065,498,12,2,68,23,9dqlf92t42brv71kvaet67tm4,1,10.7,58.1,2024-02-17T20:54:55.118Z,2024-02-21T13:04:36Z,"[{'id': 4815604313, 'qualifierId': 141, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1186,2647707259,504,12,2,69,3,9dqlf92t42brv71kvaet67tm4,1,8.0,58.5,2024-02-17T20:55:35.743Z,2024-02-21T13:07:04Z,"[{'id': 4815603161, 'qualifierId': 140, 'value...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1216,2647707699,508,12,2,70,25,9dqlf92t42brv71kvaet67tm4,1,9.4,62.2,2024-02-17T20:56:57.514Z,2024-02-21T18:42:51Z,"[{'id': 4815606039, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1290,2647709539,530,12,2,74,43,9dqlf92t42brv71kvaet67tm4,1,11.9,63.3,2024-02-17T21:01:15.115Z,2024-02-17T21:01:45Z,"[{'id': 4815616747, 'qualifierId': 141, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
1307,2647710147,539,12,2,75,59,9dqlf92t42brv71kvaet67tm4,1,11.9,48.2,2024-02-17T21:02:31.462Z,2024-02-21T18:52:28Z,"[{'id': 4815620107, 'qualifierId': 212, 'value...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
1401,2647715663,575,12,2,83,2,9dqlf92t42brv71kvaet67tm4,1,15.0,43.3,2024-02-17T21:09:34.300Z,2024-02-21T19:04:49Z,"[{'id': 4815649693, 'qualifierId': 212, 'value...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1418,2647716439,582,12,2,83,59,9dqlf92t42brv71kvaet67tm4,1,12.3,60.0,2024-02-17T21:10:31.894Z,2024-02-17T21:10:37Z,"[{'id': 4815654091, 'qualifierId': 141, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
1449,2647717853,595,12,2,85,46,9dqlf92t42brv71kvaet67tm4,1,6.7,25.9,2024-02-17T21:12:18.223Z,2024-02-17T21:12:21Z,"[{'id': 4815661903, 'qualifierId': 233, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1477,2647719351,602,12,2,87,30,9dqlf92t42brv71kvaet67tm4,1,9.4,88.7,2024-02-17T21:14:02.946Z,2024-02-21T19:14:47Z,"[{'id': 4815670389, 'qualifierId': 185}, {'id'...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1479,2647719449,603,12,2,87,34,9dqlf92t42brv71kvaet67tm4,1,12.4,62.8,2024-02-17T21:14:06.062Z,2024-02-21T19:15:10Z,"[{'id': 4815670927, 'qualifierId': 140, 'value...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1519,2647721691,898,12,2,90,32,5u18kvqiqhup2vd345dci1069,1,30.4,11.0,2024-02-17T21:17:04.117Z,2024-02-17T21:17:06Z,"[{'id': 4815683761, 'qualifierId': 140, 'value...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1567,2647723429,640,12,2,92,52,9dqlf92t42brv71kvaet67tm4,1,14.4,52.8,2024-02-17T21:19:24.744Z,2024-02-17T21:19:25Z,"[{'id': 4815693507, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True

In [24]:
event_df[event_df.typeId==13] #missed shots

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
843,2647695483,350,13,2,48,7,9dqlf92t42brv71kvaet67tm4,1,91.4,37.7,2024-02-17T20:34:39.492Z,2024-02-21T12:27:42Z,"[{'id': 4815526963, 'qualifierId': 231, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
864,2647696893,362,13,2,50,19,9dqlf92t42brv71kvaet67tm4,1,90.6,68.1,2024-02-17T20:36:51.217Z,2024-02-17T21:22:56Z,"[{'id': 4815535475, 'qualifierId': 64}, {'id':...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
1056,2647703311,607,13,2,60,11,5u18kvqiqhup2vd345dci1069,1,73.2,69.9,2024-02-17T20:46:43.415Z,2024-02-21T12:49:32Z,"[{'id': 4815576929, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1124,2647706071,477,13,2,66,1,9dqlf92t42brv71kvaet67tm4,1,81.2,48.9,2024-02-17T20:52:33.569Z,2024-02-21T12:59:18Z,"[{'id': 4815595863, 'qualifierId': 20}, {'id':...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1217,2647707717,708,13,2,70,26,5u18kvqiqhup2vd345dci1069,1,86.2,64.0,2024-02-17T20:56:58.988Z,2024-02-21T18:43:22Z,"[{'id': 4815606577, 'qualifierId': 328}, {'id'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1569,2647723495,924,13,2,92,55,5u18kvqiqhup2vd345dci1069,1,85.2,46.4,2024-02-17T21:19:28.010Z,2024-02-21T19:26:06Z,"[{'id': 4823522215, 'qualifierId': 24}, {'id':...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True

In [25]:
event_df[event_df.typeId==14] #shots hitting the post/the frame of the goal

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
1338,2647713225,785,14,2,80,6,5u18kvqiqhup2vd345dci1069,1,84.6,57.5,2024-02-17T21:06:38.255Z,2024-02-21T18:57:39Z,"[{'id': 4815636867, 'qualifierId': 72}, {'id':...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True

In [26]:
event_df[event_df.typeId==15] #shot attempts saved
#Shot saved - this event is for the player who made the shot. Qualifier 82 can be added for blocked shot.

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
402,2647667537,161,15,1,21,7,9dqlf92t42brv71kvaet67tm4,1,77.4,36.0,2024-02-17T19:51:28.482Z,2024-02-21T11:43:12Z,"[{'id': 4815369115, 'qualifierId': 102, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
409,2647667871,164,15,1,21,44,9dqlf92t42brv71kvaet67tm4,1,77.1,43.0,2024-02-17T19:52:05.394Z,2024-02-21T11:44:10Z,"[{'id': 4815370783, 'qualifierId': 233, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
997,2647701511,575,15,2,57,15,5u18kvqiqhup2vd345dci1069,1,74.6,28.2,2024-02-17T20:43:47.450Z,2024-02-21T12:42:44Z,"[{'id': 4815566571, 'qualifierId': 103, 'value...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
1054,2647703273,606,15,2,60,6,5u18kvqiqhup2vd345dci1069,1,89.0,29.4,2024-02-17T20:46:38.760Z,2024-02-21T12:48:51Z,"[{'id': 4815577853, 'qualifierId': 29}, {'id':...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1109,2647705165,469,15,2,63,55,9dqlf92t42brv71kvaet67tm4,1,90.3,41.6,2024-02-17T20:50:27.541Z,2024-02-21T12:56:05Z,"[{'id': 4823209073, 'qualifierId': 76}, {'id':...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
1117,2647705863,473,15,2,65,28,9dqlf92t42brv71kvaet67tm4,1,75.3,56.0,2024-02-17T20:52:00.695Z,2024-02-21T12:57:40Z,"[{'id': 4815594113, 'qualifierId': 82}, {'id':...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1176,2647707145,677,15,2,68,42,5u18kvqiqhup2vd345dci1069,1,84.6,54.4,2024-02-17T20:55:14.152Z,2024-02-21T13:05:53Z,"[{'id': 4815602709, 'qualifierId': 154}, {'id'...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
1183,2647707225,681,15,2,69,1,5u18kvqiqhup2vd345dci1069,1,91.4,46.4,2024-02-17T20:55:33.556Z,2024-02-21T13:06:32Z,"[{'id': 4815607401, 'qualifierId': 55, 'value'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1372,2647714579,808,15,2,81,39,5u18kvqiqhup2vd345dci1069,1,77.5,35.0,2024-02-17T21:08:11.298Z,2024-02-21T19:01:08Z,"[{'id': 4815644423, 'qualifierId': 102, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1396,2647715589,823,15,2,82,57,5u18kvqiqhup2vd345dci1069,1,83.1,50.5,2024-02-17T21:09:30.039Z,2024-02-21T19:04:25Z,"[{'id': 4815649271, 'qualifierId': 22}, {'id':...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True

In [27]:
event_df[event_df.typeId==16] #goals

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
493,2647670477,204,16,1,28,27,9dqlf92t42brv71kvaet67tm4,1,95.4,53.4,2024-02-17T19:58:48.376Z,2024-02-21T11:52:27Z,"[{'id': 4815391737, 'qualifierId': 103, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
595,2647674611,248,16,1,35,1,9dqlf92t42brv71kvaet67tm4,1,88.5,50.0,2024-02-17T20:05:22.175Z,2024-02-21T12:02:53Z,"[{'id': 4815416299, 'qualifierId': 281, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
633,2647677113,366,16,1,37,47,5u18kvqiqhup2vd345dci1069,1,91.6,71.6,2024-02-17T20:08:08.199Z,2024-02-21T12:06:48Z,"[{'id': 4815428603, 'qualifierId': 72}, {'id':...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True

In [28]:
event_df[event_df.typeId==17] ##cards (yellows and reds)

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
207,2647659359,123,17,1,9,3,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T19:39:24.037Z,2024-02-21T11:21:11Z,"[{'id': 4815319839, 'qualifierId': 31}, {'id':...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
394,2647666939,231,17,1,20,5,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T19:50:26.548Z,2024-02-21T11:41:01Z,"[{'id': 4815364315, 'qualifierId': 31}, {'id':...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
434,2647668629,179,17,1,22,57,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:53:18.452Z,2024-02-17T20:15:02Z,"[{'id': 4815374951, 'qualifierId': 31}, {'id':...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
441,2647669075,182,17,1,24,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:54:20.886Z,2024-02-21T11:47:05Z,"[{'id': 4815378073, 'qualifierId': 392}, {'id'...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
594,2647673981,341,17,1,34,9,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:04:29.745Z,2024-02-17T20:04:34Z,"[{'id': 4815410075, 'qualifierId': 55, 'value'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
1302,2647709687,537,17,2,74,59,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:01:31.795Z,2024-02-17T21:23:23Z,"[{'id': 4815709731, 'qualifierId': 55, 'value'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1314,2647710283,545,17,2,76,8,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:02:40.254Z,2024-02-21T18:53:18Z,"[{'id': 4815621995, 'qualifierId': 392}, {'id'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1319,2647712395,550,17,2,78,32,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:05:04.788Z,2024-02-21T18:55:17Z,"[{'id': 4815632155, 'qualifierId': 31}, {'id':...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True

In [29]:
event_df[event_df.typeId==18] #player off

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
867,2647697245,499,18,2,50,46,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:37:18.704Z,2024-02-21T12:30:24Z,"[{'id': 4815537889, 'qualifierId': 55, 'value'...",5fbi7ci4io9hfnlbhoc4texh,B. Kololli,NaN,NaN,True
1063,2647703777,610,18,2,60,54,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:47:26.827Z,2024-02-17T20:47:27Z,"[{'id': 4815579791, 'qualifierId': 42}, {'id':...",80ats6rs31slpisdvvwtdfjoq,J. Gauto,NaN,NaN,True
1065,2647703829,612,18,2,61,4,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:47:36.248Z,2024-02-17T20:47:36Z,"[{'id': 4815580185, 'qualifierId': 42}, {'id':...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
1074,2647704191,452,18,2,61,56,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:48:28.095Z,2024-02-17T20:48:28Z,"[{'id': 4815582725, 'qualifierId': 44, 'value'...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
1244,2647708655,725,18,2,72,36,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:59:09.035Z,2024-02-21T18:45:16Z,"[{'id': 4815611699, 'qualifierId': 42}, {'id':...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
1246,2647708699,727,18,2,72,45,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:59:17.676Z,2024-02-21T18:45:02Z,"[{'id': 4815611973, 'qualifierId': 44, 'value'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
1320,2647712365,548,18,2,79,9,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:05:41.858Z,2024-02-21T18:55:40Z,"[{'id': 4815631775, 'qualifierId': 42}, {'id':...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
1482,2647719755,605,18,2,88,20,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:14:52.526Z,2024-02-17T21:14:59Z,"[{'id': 4815672735, 'qualifierId': 42}, {'id':...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1484,2647719837,607,18,2,88,21,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:14:53.676Z,2024-02-17T21:14:57Z,"[{'id': 4815673279, 'qualifierId': 44, 'value'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True

In [30]:
event_df[event_df.typeId==19] #player on

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
868,2647697251,500,19,2,50,46,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:37:18.705Z,2024-02-21T12:30:25Z,"[{'id': 4815537855, 'qualifierId': 293, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1064,2647703781,611,19,2,60,54,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:47:26.828Z,2024-02-17T20:47:27Z,"[{'id': 4815579815, 'qualifierId': 292, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1066,2647703837,613,19,2,61,4,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:47:36.249Z,2024-02-21T12:59:37Z,"[{'id': 4815580239, 'qualifierId': 145, 'value...",azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True
1075,2647704195,453,19,2,61,56,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:48:28.096Z,2024-02-21T13:08:25Z,"[{'id': 4815582757, 'qualifierId': 55, 'value'...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1245,2647708657,726,19,2,72,36,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:59:09.036Z,2024-02-21T18:45:17Z,"[{'id': 4815611709, 'qualifierId': 145, 'value...",8kqw7v6re6dszk7ujedx0n3dh,A. Ajeti,NaN,NaN,True
1247,2647708705,728,19,2,72,45,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:59:17.677Z,2024-02-21T18:51:07Z,"[{'id': 4815611997, 'qualifierId': 42}, {'id':...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1321,2647712369,549,19,2,79,9,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:05:41.859Z,2024-02-21T18:55:40Z,"[{'id': 4815635377, 'qualifierId': 292, 'value...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1483,2647719759,606,19,2,88,20,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:14:52.527Z,2024-02-17T21:17:34Z,"[{'id': 4815674523, 'qualifierId': 292, 'value...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1485,2647719843,608,19,2,88,21,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:14:53.677Z,2024-02-17T21:17:32Z,"[{'id': 4815674319, 'qualifierId': 293, 'value...",92rz6sr2nhhlwmkfrsua0iyac,F. Hoxha,NaN,NaN,True

In [31]:
event_df[event_df.typeId==20] #player retired
#Player is forced to leave the pitch due to injury and the team have no substitutions left

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [32]:
event_df[event_df.typeId==21] #player returns on the pitch

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [33]:
event_df[event_df.typeId==22] #outfield player becomes goalkeeper

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [34]:
event_df[event_df.typeId==23] #goalkeeper becomes outfield player

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [35]:
event_df[event_df.typeId==24] #change in playing conditions

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [36]:
event_df[event_df.typeId==25] #Referee or linesman is replaced

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [37]:
event_df[event_df.typeId==27] #Start delay: 	Used when there is a stoppage in play such as a player injury

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
846,2647695943,352,27,2,48,35,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:35:07.800Z,2024-02-21T12:28:06Z,"[{'id': 4815703091, 'qualifierId': 233, 'value...",NaN,NaN,NaN,NaN,True
847,2647696035,490,27,2,48,35,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:35:07.800Z,2024-02-21T12:27:59Z,"[{'id': 4815703139, 'qualifierId': 233, 'value...",NaN,NaN,NaN,NaN,True
1144,2647706527,486,27,2,66,55,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:53:27.815Z,2024-02-17T20:53:48Z,"[{'id': 4815597951, 'qualifierId': 53, 'value'...",NaN,NaN,NaN,NaN,True
1145,2647706535,657,27,2,66,55,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:53:27.815Z,2024-02-17T21:21:50Z,"[{'id': 4815598077, 'qualifierId': 233, 'value...",NaN,NaN,NaN,NaN,True

In [38]:
event_df[event_df.typeId==28] #End delay: Used when the stoppage ends and play resumes

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
848,2647696605,355,28,2,49,39,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:36:11.844Z,2024-02-17T21:21:49Z,"[{'id': 4815533533, 'qualifierId': 55, 'value'...",NaN,NaN,NaN,NaN,True
849,2647696445,491,28,2,49,39,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:36:11.844Z,2024-02-17T21:21:49Z,"[{'id': 4815532509, 'qualifierId': 55, 'value'...",NaN,NaN,NaN,NaN,True
1146,2647706607,487,28,2,67,12,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:53:44.838Z,2024-02-17T21:21:50Z,"[{'id': 4815598497, 'qualifierId': 55, 'value'...",NaN,NaN,NaN,NaN,True
1147,2647706727,658,28,2,67,12,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:53:44.838Z,2024-02-17T21:21:50Z,"[{'id': 4815599341, 'qualifierId': 55, 'value'...",NaN,NaN,NaN,NaN,True

In [39]:
event_df[event_df.typeId==30] #End of period

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
784,2647684029,329,30,1,46,4,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:16:24.913Z,2024-02-17T20:45:45Z,"[{'id': 4815461909, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,True
785,2647684031,444,30,1,46,4,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:16:24.913Z,2024-02-21T19:30:16Z,"[{'id': 4815461911, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,True
1608,2647725007,656,30,2,94,57,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:21:29.401Z,2024-02-21T19:30:17Z,"[{'id': 4815702297, 'qualifierId': 57, 'value'...",NaN,NaN,NaN,NaN,True
1609,2647724999,946,30,2,94,57,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:21:29.401Z,2024-02-17T21:21:44Z,"[{'id': 4815702271, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN,True
1610,2647725139,657,30,14,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:21:47.479Z,2024-02-17T21:21:47Z,"[{'id': 4815703005, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN,True
1612,2647725153,947,30,14,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:21:48.393Z,2024-02-17T21:21:48Z,"[{'id': 4815703063, 'qualifierId': 209}, {'id'...",NaN,NaN,NaN,NaN,True

In [40]:
event_df[event_df.typeId==32] #Start of period

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
2,2647652813,2,32,1,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:30:20.649Z,2024-02-21T11:01:35Z,"[{'id': 4815284011, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,True
3,2647652823,2,32,1,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T19:30:20.649Z,2024-02-17T19:30:22Z,"[{'id': 4815284039, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,True
786,2647693613,333,32,2,45,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:31:32.043Z,2024-02-21T12:21:37Z,"[{'id': 4815514829, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,True
787,2647693597,451,32,2,45,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:31:32.043Z,2024-02-17T20:31:32Z,"[{'id': 4815514747, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,True

In [41]:
event_df[event_df.typeId==34] #Team set up
#Team line up; qualifiers 30, 44, 59, 130, 131 will show player line up and formation

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
0,2647612155,1,34,16,0,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T18:39:57.634Z,2024-02-17T19:48:50Z,"[{'id': 4815057723, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN,True
1,2647616311,1,34,16,0,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T18:44:19.840Z,2024-02-17T19:28:21Z,"[{'id': 4815277295, 'qualifierId': 194, 'value...",NaN,NaN,NaN,NaN,True

In [42]:
event_df[event_df.typeId==35] #player changed position

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [43]:
event_df[event_df.typeId==40] #Formation change

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
1076,2647704537,458,40,2,62,0,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:48:32.430Z,2024-02-17T20:49:21Z,"[{'id': 4815584899, 'qualifierId': 59, 'value'...",NaN,NaN,NaN,NaN,True
1303,2647709907,764,40,2,75,28,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:02:00.800Z,2024-02-17T21:22:46Z,"[{'id': 4815618665, 'qualifierId': 30, 'value'...",NaN,NaN,NaN,NaN,True

In [44]:
event_df[event_df.typeId==41] #GK punch

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
824,2647694647,339,41,2,46,58,9dqlf92t42brv71kvaet67tm4,1,4.4,49.1,2024-02-17T20:33:30.057Z,2024-02-21T12:25:36Z,"[{'id': 4815521395, 'qualifierId': 233, 'value...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True

In [45]:
event_df[event_df.typeId==43] #Event has been deleted Ð the event will remain as it was originally with the same ID but will be resent with the type altered to 43.

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
65,2647655411,36,43,1,3,34,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:33:55.643Z,2024-02-17T19:50:27Z,"[{'id': 4815297877, 'qualifierId': 285, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
136,2647657521,73,43,1,6,31,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T19:36:52.086Z,2024-02-17T20:02:13Z,"[{'id': 4815309343, 'qualifierId': 286, 'value...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
168,2647658349,64,43,1,7,38,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:37:59.314Z,2024-02-17T20:14:46Z,"[{'id': 4815455505, 'qualifierId': 144, 'value...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
260,2647661875,106,43,1,12,44,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:43:04.718Z,2024-02-17T19:43:08Z,"[{'id': 4815334195, 'qualifierId': 144, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
272,2647662729,109,43,1,13,51,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:44:11.809Z,2024-02-17T19:44:15Z,"[{'id': 4815338705, 'qualifierId': 144, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
349,2647665123,140,43,1,17,27,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:47:47.976Z,2024-02-21T11:37:11Z,"[{'id': 4815352753, 'qualifierId': 140, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
373,2647665945,152,43,1,18,38,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:48:58.682Z,2024-02-17T19:49:02Z,"[{'id': 4815357861, 'qualifierId': 56, 'value'...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
429,2647668431,176,43,1,22,42,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:53:02.852Z,2024-02-21T11:46:02Z,"[{'id': 4815392783, 'qualifierId': 399, 'value...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
467,2647669847,191,43,1,26,23,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T19:56:44.449Z,2024-02-17T19:57:45Z,"[{'id': 4815384145, 'qualifierId': 285, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
555,2647672697,229,43,1,32,25,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:02:46.409Z,2024-02-17T20:04:10Z,"[{'id': 4815402839, 'qualifierId': 3, 'value':...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
571,2647673319,329,43,1,33,14,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:03:35.023Z,2024-02-17T20:03:41Z,"[{'id': 4815406345, 'qualifierId': 56, 'value'...",5fbi7ci4io9hfnlbhoc4texh,B. Kololli,NaN,NaN,True
591,2647673867,339,43,1,34,0,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:04:20.992Z,2024-02-21T12:01:36Z,"[{'id': 4815443801, 'qualifierId': 399, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
624,2647676843,257,43,1,37,32,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:07:52.948Z,2024-02-17T20:08:27Z,"[{'id': 4815424687, 'qualifierId': 285, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
659,2647679193,275,43,1,40,15,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:10:36.458Z,2024-02-21T12:10:11Z,"[{'id': 4815443759, 'qualifierId': 399, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
663,2647679291,276,43,1,40,22,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:10:42.825Z,2024-02-17T20:23:40Z,"[{'id': 4815437465, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
730,2647681775,415,43,1,43,15,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:13:36.387Z,2024-02-17T20:27:11Z,"[{'id': 4815450149, 'qualifierId': 56, 'value'...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
913,2647698617,387,43,2,53,6,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:39:38.598Z,2024-02-21T12:34:46Z,"[{'id': 4815573153, 'qualifierId': 399, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
923,2647699091,528,43,2,53,55,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:40:27.068Z,2024-02-17T20:40:35Z,"[{'id': 4815550803, 'qualifierId': 144, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1010,2647705637,640,43,2,58,9,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:44:42.003Z,2024-02-17T20:51:43Z,"[{'id': 4815592189, 'qualifierId': 56, 'value'...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1062,2647703387,447,43,2,60,17,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:46:49.541Z,2024-02-17T20:47:05Z,"[{'id': 4815578407, 'qualifierId': 144, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1122,2647706043,644,43,2,65,58,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:52:30.919Z,2024-02-17T20:52:48Z,"[{'id': 4815594903, 'qualifierId': 56, 'value'...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1235,2647708277,514,43,2,71,47,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:58:19.725Z,2024-02-17T20:58:43Z,"[{'id': 4815609639, 'qualifierId': 233, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1236,2647708263,721,43,2,71,47,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:58:19.726Z,2024-02-17T20:58:44Z,"[{'id': 4815609541, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1237,2647708279,515,43,2,71,49,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T20:58:21.581Z,2024-02-17T20:58:41Z,"[{'id': 4815610281, 'qualifierId': 144, 'value...",72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True
1316,2647711645,546,43,2,78,22,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:04:54.954Z,2024-02-17T21:05:02Z,"[{'id': 4815628109, 'qualifierId': 285, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
1422,2647716515,585,43,2,84,9,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:10:41.526Z,2024-02-17T21:12:37Z,"[{'id': 4815654511, 'qualifierId': 286, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1425,2647716547,837,43,2,84,11,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:10:43.591Z,2024-02-17T21:12:40Z,"[{'id': 4815654649, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1454,2647718191,855,43,2,86,16,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:12:48.173Z,2024-02-17T21:14:11Z,"[{'id': 4815665167, 'qualifierId': 146, 'value...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
1562,2647723141,638,43,2,92,24,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:18:56.232Z,2024-02-17T21:19:41Z,"[{'id': 4815691699, 'qualifierId': 56, 'value'...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1563,2647723123,920,43,2,92,24,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T21:18:56.232Z,2024-02-17T21:19:44Z,"[{'id': 4815694915, 'qualifierId': 144, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1603,2647724551,653,43,2,94,21,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:20:53.484Z,2024-02-17T21:21:07Z,"[{'id': 4815699799, 'qualifierId': 56, 'value'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True

In [46]:
event_df[event_df.typeId==44] #Aerial
#Aerial duel Ð 50/50 when the ball is in the air Ð outcome will represent whether the duel was won or lost

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
14,2647659535,124,44,1,0,25,5u18kvqiqhup2vd345dci1069,1,22.6,36.6,2024-02-17T19:30:46.318Z,2024-02-17T19:39:44Z,"[{'id': 4815320649, 'qualifierId': 233, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
15,2647659517,77,44,1,0,25,9dqlf92t42brv71kvaet67tm4,0,77.4,63.4,2024-02-17T19:30:46.319Z,2024-02-17T19:39:45Z,"[{'id': 4815320557, 'qualifierId': 286}, {'id'...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
113,2647668269,171,44,1,5,41,9dqlf92t42brv71kvaet67tm4,1,29.2,73.2,2024-02-17T19:36:02.648Z,2024-02-17T20:18:11Z,"[{'id': 4815372855, 'qualifierId': 285}, {'id'...",1anl1jfwm7l4p3y0tmyvueiuh,A. Seko,NaN,NaN,True
114,2647685241,445,44,1,5,42,5u18kvqiqhup2vd345dci1069,0,70.8,26.8,2024-02-17T19:36:02.649Z,2024-02-17T20:18:11Z,"[{'id': 4815468569, 'qualifierId': 286}, {'id'...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
181,2647658905,108,44,1,8,24,5u18kvqiqhup2vd345dci1069,1,43.0,70.1,2024-02-17T19:38:44.884Z,2024-02-17T19:38:47Z,"[{'id': 4815317157, 'qualifierId': 233, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1509,2647721103,614,44,2,89,45,9dqlf92t42brv71kvaet67tm4,0,24.6,62.9,2024-02-17T21:16:17.860Z,2024-02-17T21:16:19Z,"[{'id': 4815680413, 'qualifierId': 56, 'value'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
1517,2647721681,897,44,2,90,31,5u18kvqiqhup2vd345dci1069,1,30.6,9.4,2024-02-17T21:17:03.572Z,2024-02-17T21:17:06Z,"[{'id': 4815683973, 'qualifierId': 233, 'value...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1518,2647721701,618,44,2,90,31,9dqlf92t42brv71kvaet67tm4,0,69.4,90.6,2024-02-17T21:17:03.573Z,2024-02-17T21:17:07Z,"[{'id': 4815683811, 'qualifierId': 56, 'value'...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1573,2647723845,643,44,2,93,25,9dqlf92t42brv71kvaet67tm4,1,56.8,88.6,2024-02-17T21:19:57.962Z,2024-02-17T21:19:59Z,"[{'id': 4815695933, 'qualifierId': 56, 'value'...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1574,2647723841,926,44,2,93,25,5u18kvqiqhup2vd345dci1069,0,43.2,11.4,2024-02-17T21:19:57.963Z,2024-02-17T21:19:59Z,"[{'id': 4815695909, 'qualifierId': 56, 'value'...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True

In [47]:
event_df[event_df.typeId==45] #Challenge
#When a player fails to win the ball as an opponent successfully dribbles past them

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
201,2647659187,76,45,1,8,52,9dqlf92t42brv71kvaet67tm4,0,66.7,78.2,2024-02-17T19:39:13.382Z,2024-02-17T19:39:15Z,"[{'id': 4815318925, 'qualifierId': 233, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
537,2647672473,312,45,1,32,4,5u18kvqiqhup2vd345dci1069,0,9.8,21.2,2024-02-17T20:02:24.680Z,2024-02-21T19:30:05Z,"[{'id': 4815401567, 'qualifierId': 233, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
628,2647676941,258,45,1,37,35,9dqlf92t42brv71kvaet67tm4,0,64.3,94.4,2024-02-17T20:07:56.535Z,2024-02-21T19:30:06Z,"[{'id': 4815425141, 'qualifierId': 56, 'value'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
677,2647680017,383,45,1,41,14,5u18kvqiqhup2vd345dci1069,0,5.4,12.4,2024-02-17T20:11:35.438Z,2024-02-21T19:30:07Z,"[{'id': 4815441379, 'qualifierId': 233, 'value...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
713,2647681003,406,45,1,42,24,5u18kvqiqhup2vd345dci1069,0,82.8,6.5,2024-02-17T20:12:45.086Z,2024-02-17T20:15:06Z,"[{'id': 4815446501, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
737,2647681913,419,45,1,43,25,5u18kvqiqhup2vd345dci1069,0,39.8,14.6,2024-02-17T20:13:46.480Z,2024-02-17T20:13:49Z,"[{'id': 4815450839, 'qualifierId': 233, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
837,2647694963,486,45,2,47,21,5u18kvqiqhup2vd345dci1069,0,18.0,73.1,2024-02-17T20:33:53.258Z,2024-02-21T19:30:08Z,"[{'id': 4815523215, 'qualifierId': 285}, {'id'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
860,2647696753,496,45,2,50,6,5u18kvqiqhup2vd345dci1069,0,35.9,10.1,2024-02-17T20:36:38.144Z,2024-02-17T20:36:43Z,"[{'id': 4815534741, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1051,2647703247,442,45,2,60,3,9dqlf92t42brv71kvaet67tm4,0,28.2,73.6,2024-02-17T20:46:35.895Z,2024-02-17T20:46:37Z,"[{'id': 4815576475, 'qualifierId': 285}, {'id'...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
1364,2647714355,561,45,2,81,23,9dqlf92t42brv71kvaet67tm4,0,31.0,60.1,2024-02-17T21:07:55.681Z,2024-02-17T21:07:59Z,"[{'id': 4815642633, 'qualifierId': 233, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
1538,2647722455,630,45,2,91,32,9dqlf92t42brv71kvaet67tm4,0,72.0,93.6,2024-02-17T21:18:04.277Z,2024-02-21T19:30:09Z,"[{'id': 4815687973, 'qualifierId': 56, 'value'...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1560,2649186505,667,45,2,92,22,9dqlf92t42brv71kvaet67tm4,0,64.9,29.1,2024-02-17T21:18:54.373Z,2024-02-21T19:30:09Z,"[{'id': 4823525865, 'qualifierId': 233, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1578,2649186927,668,45,2,93,29,9dqlf92t42brv71kvaet67tm4,0,77.5,76.9,2024-02-17T21:20:01.352Z,2024-02-21T19:30:10Z,"[{'id': 4823525899, 'qualifierId': 233, 'value...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True

In [48]:
event_df[event_df.typeId==47] #card rescinded

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [49]:
event_df[event_df.typeId==49] #Ball recovery
#Team wins the possession of the ball and successfully keeps possession for at least two passes or an attacking play 0

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
9,2647652961,4,49,1,0,13,5u18kvqiqhup2vd345dci1069,1,30.9,33.1,2024-02-17T19:30:33.961Z,2024-02-17T19:30:34Z,[],fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
11,2647653105,7,49,1,0,22,9dqlf92t42brv71kvaet67tm4,1,20.2,61.7,2024-02-17T19:30:43.524Z,2024-02-21T11:03:39Z,[],8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True
20,2647653279,9,49,1,0,33,5u18kvqiqhup2vd345dci1069,1,45.9,10.1,2024-02-17T19:30:53.882Z,2024-02-17T19:30:54Z,[],8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
66,2647655453,37,49,1,3,37,9dqlf92t42brv71kvaet67tm4,1,29.0,27.0,2024-02-17T19:33:57.979Z,2024-02-21T11:11:03Z,[],b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
74,2647655663,30,49,1,3,59,5u18kvqiqhup2vd345dci1069,1,42.1,17.3,2024-02-17T19:34:19.986Z,2024-02-17T19:34:20Z,[],fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,2647723909,927,49,2,93,28,5u18kvqiqhup2vd345dci1069,1,28.8,26.4,2024-02-17T21:20:00.604Z,2024-02-21T19:27:24Z,[],azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True
1582,2647723983,647,49,2,93,36,9dqlf92t42brv71kvaet67tm4,1,83.1,93.5,2024-02-17T21:20:08.618Z,2024-02-17T21:20:09Z,[],blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True
1586,2647724031,930,49,2,93,41,5u18kvqiqhup2vd345dci1069,1,8.8,28.6,2024-02-17T21:20:13.181Z,2024-02-17T21:20:13Z,[],azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True
1591,2647724095,651,49,2,93,45,9dqlf92t42brv71kvaet67tm4,1,75.6,92.6,2024-02-17T21:20:17.658Z,2024-02-17T21:20:18Z,[],92rz6sr2nhhlwmkfrsua0iyac,F. Hoxha,NaN,NaN,True
1594,2647724179,935,49,2,93,52,5u18kvqiqhup2vd345dci1069,1,9.9,28.8,2024-02-17T21:20:24.347Z,2024-02-17T21:20:24Z,[],azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,NaN,True

In [50]:
event_df[event_df.typeId==50] #Dispossessed
#Player is successfully tackled and loses possession of the ball

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
197,2647659163,75,50,1,8,50,9dqlf92t42brv71kvaet67tm4,1,66.8,82.0,2024-02-17T19:39:10.874Z,2024-02-17T19:39:14Z,"[{'id': 4815318641, 'qualifierId': 286}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
255,2647661777,105,50,1,12,36,9dqlf92t42brv71kvaet67tm4,1,71.8,21.5,2024-02-17T19:42:56.914Z,2024-02-17T19:42:59Z,"[{'id': 4815333519, 'qualifierId': 233, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
353,2647665233,142,50,1,17,32,9dqlf92t42brv71kvaet67tm4,1,17.1,54.8,2024-02-17T19:47:53.304Z,2024-02-21T11:37:29Z,"[{'id': 4815353311, 'qualifierId': 56, 'value'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
427,2647668405,247,50,1,22,40,5u18kvqiqhup2vd345dci1069,1,28.2,33.3,2024-02-17T19:53:01.369Z,2024-02-21T11:45:42Z,"[{'id': 4815373643, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
545,2647672609,316,50,1,32,17,5u18kvqiqhup2vd345dci1069,1,6.3,13.3,2024-02-17T20:02:38.167Z,2024-02-21T11:57:01Z,"[{'id': 4815402327, 'qualifierId': 285}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
1044,2647703003,438,50,2,59,37,9dqlf92t42brv71kvaet67tm4,1,28.2,97.7,2024-02-17T20:46:09.374Z,2024-02-21T12:47:43Z,"[{'id': 4815575201, 'qualifierId': 233, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1104,2647704925,466,50,2,63,25,9dqlf92t42brv71kvaet67tm4,1,79.8,23.6,2024-02-17T20:49:57.388Z,2024-02-17T20:50:56Z,"[{'id': 4815590405, 'qualifierId': 233, 'value...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
1251,2647708797,522,50,2,73,1,9dqlf92t42brv71kvaet67tm4,1,87.2,24.4,2024-02-17T20:59:33.792Z,2024-02-21T18:46:00Z,"[{'id': 4815612577, 'qualifierId': 233, 'value...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
1294,2647709569,533,50,2,74,46,9dqlf92t42brv71kvaet67tm4,1,23.9,67.1,2024-02-17T21:01:18.707Z,2024-02-21T18:50:11Z,"[{'id': 4815616869, 'qualifierId': 56, 'value'...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
1296,2647709583,534,50,2,74,49,9dqlf92t42brv71kvaet67tm4,1,37.6,65.8,2024-02-17T21:01:21.924Z,2024-02-17T21:01:24Z,"[{'id': 4815616959, 'qualifierId': 286}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1355,2647714143,558,50,2,81,11,9dqlf92t42brv71kvaet67tm4,1,58.4,6.3,2024-02-17T21:07:43.425Z,2024-02-17T21:07:46Z,"[{'id': 4815641345, 'qualifierId': 286}, {'id'...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1357,2647714243,798,50,2,81,13,5u18kvqiqhup2vd345dci1069,1,38.2,95.2,2024-02-17T21:07:45.215Z,2024-02-17T21:27:55Z,"[{'id': 4815641881, 'qualifierId': 233, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1523,2647721987,621,50,2,90,55,9dqlf92t42brv71kvaet67tm4,1,92.5,96.2,2024-02-17T21:17:27.701Z,2024-02-17T21:17:31Z,"[{'id': 4815685663, 'qualifierId': 233, 'value...",blye7ueo6zu9wfbsvtqq80gr9,P. Schürpf,NaN,NaN,True

In [51]:
event_df[event_df.typeId==51] #Error
#Mistake by player losing the ball. Leads to a shot or goals as described with qualifier 169 or 170

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [52]:
event_df[event_df.typeId==52] #GK pick-up

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
213,2647660037,125,52,1,10,10,5u18kvqiqhup2vd345dci1069,1,4.8,41.2,2024-02-17T19:40:31.518Z,2024-02-21T11:23:07Z,"[{'id': 4823141489, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
411,2647667917,240,52,1,21,45,5u18kvqiqhup2vd345dci1069,1,3.1,50.3,2024-02-17T19:52:06.360Z,2024-02-21T11:44:25Z,"[{'id': 4823161333, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
507,2647671367,294,52,1,30,32,5u18kvqiqhup2vd345dci1069,1,15.7,48.1,2024-02-17T20:00:53.208Z,2024-02-21T11:54:04Z,"[{'id': 4823166541, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
752,2647682621,313,52,1,44,10,9dqlf92t42brv71kvaet67tm4,1,7.5,55.6,2024-02-17T20:14:31.426Z,2024-02-21T12:18:46Z,"[{'id': 4823185355, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
773,2647683649,323,52,1,45,35,9dqlf92t42brv71kvaet67tm4,1,13.8,61.4,2024-02-17T20:15:56.637Z,2024-02-21T12:20:25Z,"[{'id': 4815459891, 'qualifierId': 189}, {'id'...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
782,2647683985,442,52,1,46,2,5u18kvqiqhup2vd345dci1069,1,8.3,60.9,2024-02-17T20:16:23.498Z,2024-02-21T12:21:07Z,"[{'id': 4823186587, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
918,2647698803,389,52,2,53,23,9dqlf92t42brv71kvaet67tm4,1,8.7,73.4,2024-02-17T20:39:55.383Z,2024-02-21T12:35:15Z,"[{'id': 4823196181, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1081,2647704485,618,52,2,62,33,5u18kvqiqhup2vd345dci1069,1,14.3,63.6,2024-02-17T20:49:05.980Z,2024-02-21T12:52:38Z,"[{'id': 4823206477, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True
1374,2647714607,566,52,2,81,40,9dqlf92t42brv71kvaet67tm4,1,1.2,51.5,2024-02-17T21:08:12.921Z,2024-02-21T19:01:26Z,"[{'id': 4823499961, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1456,2647718211,599,52,2,86,17,9dqlf92t42brv71kvaet67tm4,1,1.0,48.7,2024-02-17T21:12:49.330Z,2024-02-21T19:11:03Z,"[{'id': 4823508655, 'qualifierId': 377}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True
1547,2647722663,909,52,2,91,49,5u18kvqiqhup2vd345dci1069,1,13.9,29.4,2024-02-17T21:18:21.304Z,2024-02-21T19:20:53Z,"[{'id': 4823517963, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True

In [53]:
event_df[event_df.typeId==53] #Crosses not claimed by GK

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [54]:
event_df[event_df.typeId==54] #GK  comes out and covers the ball in the box winning possession

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [55]:
event_df[event_df.typeId==55] #Offside provoked
#Awarded to last defender when an offside decision is given against an attacker

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
315,2647663881,183,55,1,15,40,5u18kvqiqhup2vd345dci1069,1,12.2,37.6,2024-02-17T19:46:01.333Z,2024-02-21T11:33:56Z,[],fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
942,2647699535,535,55,2,54,29,5u18kvqiqhup2vd345dci1069,1,9.5,37.2,2024-02-17T20:41:01.547Z,2024-02-17T21:21:45Z,[],8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
1431,2647716751,588,55,2,84,21,9dqlf92t42brv71kvaet67tm4,1,29.2,44.4,2024-02-17T21:10:53.385Z,2024-02-21T19:08:21Z,[],72ktbetrzo54vpcs518wcax62,M. Paskotši,NaN,NaN,True

In [56]:
event_df[event_df.typeId==56] #Shield Ball Opp
#Defender uses his body to shield the ball from an opponent as it rolls out of play

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [57]:
event_df[event_df.typeId==58] #penalty faced (GK event)

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
596,2647674655,342,58,1,35,1,5u18kvqiqhup2vd345dci1069,0,0.0,0.0,2024-02-17T20:05:22.175Z,2024-02-17T20:05:36Z,"[{'id': 4815413395, 'qualifierId': 73}, {'id':...",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True

In [58]:
event_df[event_df.typeId==59] #GK Keeper Sweeper

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [59]:
event_df[event_df.typeId==60] #Chance missed
#Used when a player does not actually make a shot on goal but was in a good position to score and only just missed receiving a pass

Empty DataFrame
Columns: [id, eventId, typeId, periodId, timeMin, timeSec, contestantId, outcome, x, y, timeStamp, lastModified, qualifier, playerId, playerName, assist, keyPass, Open Play]
Index: []

In [60]:
event_df[event_df.typeId==61] #Bad touch
#Used when a player makes a bad touch on the ball and loses possession. Outcome 1 Ð ball simply hit the player unintentionally. Outcome 0 Ð Player unsuccessfully controlled the ball.

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
6,2647652869,3,61,1,0,4,5u18kvqiqhup2vd345dci1069,1,64.4,47.3,2024-02-17T19:30:25.419Z,2024-02-17T19:30:25Z,"[{'id': 4815284331, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
8,2647652939,6,61,1,0,11,9dqlf92t42brv71kvaet67tm4,0,63.3,57.0,2024-02-17T19:30:32.500Z,2024-02-17T19:38:27Z,"[{'id': 4815284715, 'qualifierId': 56, 'value'...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
105,2647656643,61,61,1,5,25,5u18kvqiqhup2vd345dci1069,0,81.3,35.7,2024-02-17T19:35:45.748Z,2024-02-17T19:35:46Z,"[{'id': 4815304771, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
112,2647656863,64,61,1,5,39,5u18kvqiqhup2vd345dci1069,1,59.9,20.4,2024-02-17T19:36:00.607Z,2024-02-21T11:14:28Z,"[{'id': 4815305923, 'qualifierId': 56, 'value'...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
124,2647657107,54,61,1,6,3,9dqlf92t42brv71kvaet67tm4,1,93.2,22.7,2024-02-17T19:36:24.112Z,2024-02-17T19:36:24Z,"[{'id': 4815307171, 'qualifierId': 56, 'value'...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,2649184611,666,61,2,86,39,9dqlf92t42brv71kvaet67tm4,1,62.2,87.9,2024-02-17T21:13:11.816Z,2024-02-21T19:12:27Z,"[{'id': 4823510097, 'qualifierId': 56, 'value'...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1470,2647719035,866,61,2,87,13,5u18kvqiqhup2vd345dci1069,1,64.1,36.2,2024-02-17T21:13:45.275Z,2024-02-21T19:13:43Z,"[{'id': 4815668595, 'qualifierId': 56, 'value'...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,NaN,True
1512,2647721213,895,61,2,89,53,5u18kvqiqhup2vd345dci1069,0,67.3,16.1,2024-02-17T21:16:25.788Z,2024-02-17T21:23:06Z,"[{'id': 4815681061, 'qualifierId': 56, 'value'...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True
1585,2647724007,649,61,2,93,38,9dqlf92t42brv71kvaet67tm4,0,91.0,72.0,2024-02-17T21:20:10.553Z,2024-02-17T21:20:10Z,"[{'id': 4815696805, 'qualifierId': 56, 'value'...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1604,2647724591,944,61,2,94,24,5u18kvqiqhup2vd345dci1069,0,91.0,49.5,2024-02-17T21:20:56.861Z,2024-02-21T19:29:23Z,"[{'id': 4815700067, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True

In [61]:
event_df[event_df.typeId==68]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
1148,2647706749,659,68,2,67,34,5u18kvqiqhup2vd345dci1069,1,23.3,59.3,2024-02-17T20:54:06.409Z,2024-02-17T20:54:06Z,[],NaN,NaN,NaN,NaN,True
1149,2647706753,488,68,2,67,34,9dqlf92t42brv71kvaet67tm4,0,74.4,54.8,2024-02-17T20:54:06.950Z,2024-02-17T20:54:08Z,[],NaN,NaN,NaN,NaN,True

In [62]:
event_df[event_df.typeId==70]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
772,2647683601,437,70,1,45,35,5u18kvqiqhup2vd345dci1069,1,0.0,0.0,2024-02-17T20:15:56.157Z,2024-02-17T20:15:56Z,"[{'id': 4815459589, 'qualifierId': 277, 'value...",NaN,NaN,NaN,NaN,True
1515,2647721481,616,70,2,90,17,9dqlf92t42brv71kvaet67tm4,1,0.0,0.0,2024-02-17T21:16:49.121Z,2024-02-17T21:16:49Z,"[{'id': 4815682705, 'qualifierId': 277, 'value...",NaN,NaN,NaN,NaN,True

In [63]:
event_df[event_df.typeId==74]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
35,2647653967,14,74,1,1,29,5u18kvqiqhup2vd345dci1069,1,19.2,8.2,2024-02-17T19:31:50.536Z,2024-02-17T20:15:07Z,"[{'id': 4815290085, 'qualifierId': 233, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
108,2647656711,62,74,1,5,28,5u18kvqiqhup2vd345dci1069,1,90.5,7.8,2024-02-17T19:35:48.848Z,2024-02-21T11:14:09Z,"[{'id': 4815305139, 'qualifierId': 56, 'value'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
282,2647663039,112,74,1,14,18,9dqlf92t42brv71kvaet67tm4,1,62.7,4.5,2024-02-17T19:44:39.271Z,2024-02-21T11:30:10Z,"[{'id': 4815340255, 'qualifierId': 56, 'value'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
544,2647672605,315,74,1,32,16,5u18kvqiqhup2vd345dci1069,1,6.5,12.1,2024-02-17T20:02:36.985Z,2024-02-21T11:56:50Z,"[{'id': 4815402293, 'qualifierId': 56, 'value'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
565,2647673047,236,74,1,32,54,9dqlf92t42brv71kvaet67tm4,1,80.0,93.9,2024-02-17T20:03:14.803Z,2024-02-21T11:59:18Z,"[{'id': 4815404935, 'qualifierId': 233, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
808,2647694131,334,74,2,45,57,9dqlf92t42brv71kvaet67tm4,1,30.3,26.4,2024-02-17T20:32:29.419Z,2024-02-17T21:22:21Z,"[{'id': 4815518099, 'qualifierId': 285}, {'id'...",cixzy9hl7ks4maugc5zc9ievp,D. Abels,NaN,NaN,True
994,2647701409,419,74,2,57,6,9dqlf92t42brv71kvaet67tm4,1,25.4,78.3,2024-02-17T20:43:38.754Z,2024-02-21T12:42:11Z,"[{'id': 4815564621, 'qualifierId': 285}, {'id'...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
1378,2647714887,809,74,2,81,58,5u18kvqiqhup2vd345dci1069,1,65.8,93.2,2024-02-17T21:08:30.115Z,2024-02-21T19:01:53Z,"[{'id': 4815673113, 'qualifierId': 285}, {'id'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True
1437,2647717291,592,74,2,85,12,9dqlf92t42brv71kvaet67tm4,1,72.9,13.3,2024-02-17T21:11:44.537Z,2024-02-21T19:09:16Z,"[{'id': 4815659031, 'qualifierId': 233, 'value...",dmirc4dg9ssgmtl4xz4d7s5jo,F. de Carvalho,NaN,NaN,True
1593,2647724153,934,74,2,93,49,5u18kvqiqhup2vd345dci1069,1,7.4,25.3,2024-02-17T21:20:21.259Z,2024-02-17T21:22:21Z,"[{'id': 4815697657, 'qualifierId': 233, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True

In [64]:
event_df[event_df.typeId==83]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
157,2647658187,61,83,1,7,24,9dqlf92t42brv71kvaet67tm4,0,24.9,75.0,2024-02-17T19:37:45.491Z,2024-02-17T20:00:20Z,"[{'id': 4815392845, 'qualifierId': 399, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
312,2647663775,182,83,1,15,35,5u18kvqiqhup2vd345dci1069,0,22.4,46.6,2024-02-17T19:45:56.297Z,2024-02-21T11:33:29Z,"[{'id': 4815392817, 'qualifierId': 399, 'value...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
362,2647671115,290,83,1,17,57,5u18kvqiqhup2vd345dci1069,0,29.3,81.1,2024-02-17T19:48:18.007Z,2024-02-17T20:12:14Z,"[{'id': 4815443863, 'qualifierId': 399, 'value...",9oajgqqc9gkgbcz090it0tlhw,F. van Breemen,NaN,NaN,True
363,2647665645,207,83,1,18,5,5u18kvqiqhup2vd345dci1069,0,28.9,91.5,2024-02-17T19:48:26.607Z,2024-02-17T20:05:50Z,"[{'id': 4815392789, 'qualifierId': 399, 'value...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
408,2647667851,238,83,1,21,42,5u18kvqiqhup2vd345dci1069,0,26.5,55.8,2024-02-17T19:52:03.527Z,2024-02-17T20:00:20Z,"[{'id': 4815392785, 'qualifierId': 399, 'value...",9ubegjf9xvynzn900za1znowl,T. Xhaka,NaN,NaN,True
487,2647670375,282,83,1,28,9,5u18kvqiqhup2vd345dci1069,0,60.0,14.6,2024-02-17T19:58:30.276Z,2024-02-17T20:00:19Z,"[{'id': 4815392781, 'qualifierId': 399, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True
488,2647670393,283,83,1,28,13,5u18kvqiqhup2vd345dci1069,0,60.2,21.6,2024-02-17T19:58:34.084Z,2024-02-17T20:00:19Z,"[{'id': 4815392735, 'qualifierId': 399, 'value...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,NaN,True
524,2647671905,308,83,1,31,15,5u18kvqiqhup2vd345dci1069,0,62.5,23.0,2024-02-17T20:01:36.474Z,2024-02-17T20:12:14Z,"[{'id': 4815443849, 'qualifierId': 399, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
734,2647681859,417,83,1,43,23,5u18kvqiqhup2vd345dci1069,0,40.0,14.4,2024-02-17T20:13:43.844Z,2024-02-17T20:14:23Z,"[{'id': 4815453539, 'qualifierId': 399, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
735,2647681869,418,83,1,43,24,5u18kvqiqhup2vd345dci1069,0,39.8,13.7,2024-02-17T20:13:44.740Z,2024-02-17T20:14:23Z,"[{'id': 4815453517, 'qualifierId': 399, 'value...",8h0jf6z98xcg6fdkzp3anlfu2,A. Barišić,NaN,NaN,True
757,2647682949,317,83,1,44,36,9dqlf92t42brv71kvaet67tm4,0,83.1,93.6,2024-02-17T20:14:57.011Z,2024-02-17T20:29:49Z,"[{'id': 4815508527, 'qualifierId': 399, 'value...",ewamdnbp0n88jgoktizbzceay,B. Fink,NaN,NaN,True
809,2649127365,663,83,2,45,58,9dqlf92t42brv71kvaet67tm4,1,30.1,20.5,2024-02-17T20:32:30.933Z,2024-02-21T12:23:35Z,"[{'id': 4823188077, 'qualifierId': 399, 'value...",8g12wvgw8lf0l4xi2xzae7d91,A. Abrashi,NaN,NaN,True
975,2647700589,559,83,2,56,1,5u18kvqiqhup2vd345dci1069,0,70.4,55.7,2024-02-17T20:42:33.247Z,2024-02-17T20:45:41Z,"[{'id': 4815573129, 'qualifierId': 399, 'value...",8828sbg7wzgjbs1727j0rx84q,A. Kade,NaN,NaN,True
1205,2647707591,506,83,2,70,6,9dqlf92t42brv71kvaet67tm4,0,23.4,13.7,2024-02-17T20:56:38.697Z,2024-02-21T18:41:44Z,"[{'id': 4815615483, 'qualifierId': 399, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1206,2647707583,505,83,2,70,7,9dqlf92t42brv71kvaet67tm4,0,25.4,21.3,2024-02-17T20:56:39.273Z,2024-02-21T18:41:51Z,"[{'id': 4815615485, 'qualifierId': 399, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1212,2647707677,507,83,2,70,20,9dqlf92t42brv71kvaet67tm4,0,26.6,71.1,2024-02-17T20:56:52.970Z,2024-02-21T19:30:54Z,"[{'id': 4815615463, 'qualifierId': 399, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True
1354,2647714125,796,83,2,81,10,5u18kvqiqhup2vd345dci1069,0,43.1,84.5,2024-02-17T21:07:42.834Z,2024-02-17T21:17:48Z,"[{'id': 4815686843, 'qualifierId': 399, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True
1366,2647714375,562,83,2,81,25,9dqlf92t42brv71kvaet67tm4,0,36.5,75.4,2024-02-17T21:07:57.521Z,2024-02-21T19:00:45Z,"[{'id': 4815686817, 'qualifierId': 399, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
1368,2647714453,564,83,2,81,30,9dqlf92t42brv71kvaet67tm4,0,38.2,78.4,2024-02-17T21:08:02.465Z,2024-02-17T21:17:47Z,"[{'id': 4815686761, 'qualifierId': 399, 'value...",3m13ipluel0m6cotha7n7vrop,T. Ndicka,NaN,NaN,True
1412,2647716215,831,83,2,83,47,5u18kvqiqhup2vd345dci1069,0,54.1,4.5,2024-02-17T21:10:19.456Z,2024-02-21T19:06:31Z,"[{'id': 4815686745, 'qualifierId': 399, 'value...",84d0jugdidn3if1iqx4ynuxw4,L. Avdullahu,NaN,NaN,True
1427,2647716553,587,83,2,84,13,9dqlf92t42brv71kvaet67tm4,0,92.2,66.7,2024-02-17T21:10:45.382Z,2024-02-21T19:07:52Z,"[{'id': 4815686715, 'qualifierId': 399, 'value...",3sxeqqzvob8nxjn31cad03ofe,F. Momoh,NaN,NaN,True
1489,2647720327,609,83,2,88,46,9dqlf92t42brv71kvaet67tm4,0,37.0,24.0,2024-02-17T21:15:18.655Z,2024-02-21T19:16:10Z,"[{'id': 4815686695, 'qualifierId': 399, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,NaN,True
1584,2647724015,929,83,2,93,37,5u18kvqiqhup2vd345dci1069,0,10.2,27.6,2024-02-17T21:20:09.371Z,2024-02-17T21:23:16Z,"[{'id': 4815709347, 'qualifierId': 399, 'value...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,NaN,True

In [65]:
event_df[event_df.typeId==81]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
210,2649118787,660,81,1,10,0,9dqlf92t42brv71kvaet67tm4,0,75.1,52.7,2024-02-17T19:40:20.866Z,2024-02-21T11:22:28Z,"[{'id': 4823141065, 'qualifierId': 380}]",NaN,NaN,NaN,NaN,True
671,2647679693,382,81,1,40,39,5u18kvqiqhup2vd345dci1069,0,1.4,2.6,2024-02-17T20:11:00.031Z,2024-02-21T12:11:13Z,"[{'id': 4815439525, 'qualifierId': 380}]",NaN,NaN,NaN,NaN,True

In [66]:
event_df[event_df.assist==1] #assists

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
492,2647670471,203,1,1,28,26,9dqlf92t42brv71kvaet67tm4,1,95.2,28.6,2024-02-17T19:58:46.888Z,2024-02-21T11:52:23Z,"[{'id': 4815389097, 'qualifierId': 56, 'value'...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,1.0,NaN,True
632,2647677111,365,1,1,37,43,5u18kvqiqhup2vd345dci1069,1,76.9,68.7,2024-02-17T20:08:04.359Z,2024-02-21T12:05:39Z,"[{'id': 4815426065, 'qualifierId': 56, 'value'...",80ats6rs31slpisdvvwtdfjoq,J. Gauto,1.0,NaN,True

In [67]:
event_df[event_df.keyPass==1] #key passes

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play
842,2647695481,349,1,2,48,6,9dqlf92t42brv71kvaet67tm4,1,99.5,0.5,2024-02-17T20:34:38.684Z,2024-02-21T12:27:03Z,"[{'id': 4815526301, 'qualifierId': 140, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,1.0,False
863,2647696891,361,1,2,50,18,9dqlf92t42brv71kvaet67tm4,1,66.2,89.1,2024-02-17T20:36:50.961Z,2024-02-21T12:30:13Z,"[{'id': 4815535817, 'qualifierId': 154}, {'id'...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,1.0,True
996,2647701507,574,1,2,57,11,5u18kvqiqhup2vd345dci1069,1,70.7,14.6,2024-02-17T20:43:43.217Z,2024-02-17T20:44:06Z,"[{'id': 4815565273, 'qualifierId': 56, 'value'...",80ats6rs31slpisdvvwtdfjoq,J. Gauto,NaN,1.0,True
1050,2647703245,603,1,2,60,1,5u18kvqiqhup2vd345dci1069,1,44.3,7.6,2024-02-17T20:46:33.209Z,2024-02-21T12:48:51Z,"[{'id': 4815576461, 'qualifierId': 141, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,1.0,True
1108,2647705163,468,1,2,63,53,9dqlf92t42brv71kvaet67tm4,1,99.5,0.5,2024-02-17T20:50:25.901Z,2024-02-21T12:55:26Z,"[{'id': 4815589047, 'qualifierId': 141, 'value...",cp8z0ew8u1lb0ofx9juxi7zmc,D. Kameri,NaN,1.0,False
1175,2647707141,676,1,2,68,36,5u18kvqiqhup2vd345dci1069,1,87.7,25.9,2024-02-17T20:55:08.904Z,2024-02-17T20:55:28Z,"[{'id': 4815602301, 'qualifierId': 140, 'value...",cxcysifvtn49imj2zs6rdtk9h,J. Augustin,NaN,1.0,True
1180,2647707219,679,1,2,68,57,5u18kvqiqhup2vd345dci1069,1,99.5,99.5,2024-02-17T20:55:29.994Z,2024-02-21T13:06:12Z,"[{'id': 4815602845, 'qualifierId': 155}, {'id'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,1.0,False
1337,2647713221,784,1,2,80,2,5u18kvqiqhup2vd345dci1069,1,90.9,62.8,2024-02-17T21:06:34.607Z,2024-02-21T18:57:10Z,"[{'id': 4815636183, 'qualifierId': 141, 'value...",8kqw7v6re6dszk7ujedx0n3dh,A. Ajeti,NaN,1.0,True
1371,2647714573,807,1,2,81,35,5u18kvqiqhup2vd345dci1069,1,64.4,42.1,2024-02-17T21:08:07.890Z,2024-02-17T21:08:20Z,"[{'id': 4815643607, 'qualifierId': 140, 'value...",azzajp7eh833i06qu80r60zkk,D. Kacuri,NaN,1.0,True
1395,2647715587,822,1,2,82,55,5u18kvqiqhup2vd345dci1069,1,87.6,58.8,2024-02-17T21:09:27.845Z,2024-02-17T21:10:05Z,"[{'id': 4815649257, 'qualifierId': 56, 'value'...",1wileoy8mxtd2t1b106uhwzro,T. Barry,NaN,1.0,True
1568,2647723477,923,1,2,92,53,5u18kvqiqhup2vd345dci1069,1,75.2,25.6,2024-02-17T21:19:25.305Z,2024-02-21T19:25:27Z,"[{'id': 4815693815, 'qualifierId': 155}, {'id'...",9rsm1xasn1j2v10wchzz55gph,K. Rüegg,NaN,1.0,True

In [68]:
# Initialize new columns for end locations and receiver player name
event_df['end_x'] = None
event_df['end_y'] = None
event_df['receiver_player_name'] = None

# Iterate through each row
for index, row in event_df.iterrows():
    # If current action is a pass
    if row['typeId'] == 1:
        # Find the index of the next row with action
        next_index = event_df.index[index + 1]
        if next_index < len(event_df):
            # Update end locations
            event_df.at[index, 'end_x'] = event_df.at[next_index, 'x']
            event_df.at[index, 'end_y'] = event_df.at[next_index, 'y']
            if row['outcome'] == 1:
                # Add receiver player name
                event_df.at[index, 'receiver_player_name'] = row['playerName']

In [69]:
event_df[event_df.typeId==1]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,...,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play,end_x,end_y,receiver_player_name
4,2647652839,3,1,1,0,0,9dqlf92t42brv71kvaet67tm4,1,50.1,50.1,...,2024-02-21T11:06:36Z,"[{'id': 4815284155, 'qualifierId': 213, 'value...",e5e4y8oz2q3qzmedegj7y7x0p,G. Morandi,NaN,NaN,True,32.2,48.3,G. Morandi
5,2647652849,4,1,1,0,3,9dqlf92t42brv71kvaet67tm4,0,32.2,48.3,...,2024-02-21T11:02:28Z,"[{'id': 4815284235, 'qualifierId': 212, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True,64.4,47.3,None
7,2647652937,5,1,1,0,8,9dqlf92t42brv71kvaet67tm4,1,41.2,88.1,...,2024-02-21T11:02:46Z,"[{'id': 4815284693, 'qualifierId': 140, 'value...",b1hpmuxmbcegdii4cbq5l8kwl,J. Laws,NaN,NaN,True,63.3,57.0,J. Laws
10,2647652985,5,1,1,0,13,5u18kvqiqhup2vd345dci1069,0,31.1,33.6,...,2024-02-21T11:03:20Z,"[{'id': 4815284951, 'qualifierId': 157}, {'id'...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True,20.2,61.7,None
12,2647653125,8,1,1,0,22,9dqlf92t42brv71kvaet67tm4,1,19.4,61.3,...,2024-02-21T11:03:28Z,"[{'id': 4815285701, 'qualifierId': 140, 'value...",8m5v33ga9odkqmif247ue7ch5,K. Tobers,NaN,NaN,True,34.2,82.0,K. Tobers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,2647724391,940,1,2,94,7,5u18kvqiqhup2vd345dci1069,1,24.6,74.2,...,2024-02-17T21:20:42Z,"[{'id': 4815698891, 'qualifierId': 140, 'value...",fbjasct9bn38u39mbgafcm7e,N. Vouilloz,NaN,NaN,True,63.1,46.3,N. Vouilloz
1600,2647724401,941,1,2,94,9,5u18kvqiqhup2vd345dci1069,1,63.1,46.3,...,2024-02-17T21:20:42Z,"[{'id': 4815698995, 'qualifierId': 156}, {'id'...",8kqw7v6re6dszk7ujedx0n3dh,A. Ajeti,NaN,NaN,True,63.5,67.3,A. Ajeti
1601,2647724497,942,1,2,94,13,5u18kvqiqhup2vd345dci1069,1,63.5,67.3,...,2024-02-17T21:20:50Z,"[{'id': 4815699491, 'qualifierId': 141, 'value...",4aqzymdl058n0jbtu01fvcnp,M. Dräger,NaN,NaN,True,89.9,85.7,M. Dräger
1602,2647724537,943,1,2,94,17,5u18kvqiqhup2vd345dci1069,1,89.9,85.7,...,2024-02-21T19:29:10Z,"[{'id': 4815699735, 'qualifierId': 56, 'value'...",og090mw7ae5fkg397p9g0ru1,D. Schmid,NaN,NaN,True,0.0,0.0,D. Schmid
1607,2647724927,655,1,2,94,55,9dqlf92t42brv71kvaet67tm4,0,2.9,61.1,...,2024-02-17T21:21:28Z,"[{'id': 4815701873, 'qualifierId': 213, 'value...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,0.0,0.0,None

In [70]:
pd.set_option('display.max_rows', None)
qualifiers = pd.read_csv('opta-qualifiers.csv')
#qualifiers.columns = range(qualifiers.shape[1])
qualifiers

,1,":{name:""",Long ball,""",value:""",Unnamed: 4,""",description:""",Long pass over 35 yards,"""},"
0,2,":{name:""",Cross,""",value:""",NaN,""",description:""",A ball played in from wide areas into the box,"""},"
1,3,":{name:""",Head pass,""",value:""",NaN,""",description:""",Pass made with a players head,"""},"
2,4,":{name:""",Through ball,""",value:""",NaN,""",description:""",Ball played through for player making an attac...,"""},"
3,5,":{name:""",Free kick taken,""",value:""",NaN,""",description:""",Any free kick; direct or indirect,"""},"
4,6,":{name:""",Corner taken,""",value:""",NaN,""",description:""",All corners. Look for qualifier 6 but excludin...,"""},"
5,7,":{name:""",Players caught offside,""",value:""",Player ID,""",description:""",Player who was in an offside position when pas...,"""},"
6,8,":{name:""",Goal disallowed,""",value:""",NaN,""",description:""",Pass led to a goal disallowed for a foul or of...,"""},"
7,106,":{name:""",Attacking Pass,""",value:""",NaN,""",description:""",A pass in the opposition’s half of the pitch,"""},"
8,107,":{name:""",Throw-in,""",value:""",NaN,""",description:""",Throw-in taken,"""},"
9,140,":{name:""",Pass End X,""",value:""",0-100,""",description:""",The x pitch coordinate for the end point of a ...,"""},"
10,141,":{name:""",Pass End Y,""",value:""",0-100,""",description:""",The y pitch coordinate for the end point of a ...,"""},"
11,155,":{name:""",Chipped,""",value:""",NaN,""",description:""",Pass which was chipped into the air,"""},"
12,156,":{name:""",Lay-off,""",value:""",NaN,""",description:""",Pass where player laid the ball into the path ...,"""},"
13,157,":{name:""",Launch,""",value:""",NaN,""",description:""",Pass played from a player’s own half up toward...,"""},"
14,168,":{name:""",Flick-on,""",value:""",NaN,""",description:""","Pass where a player has ""flicked"" the ball for...","""},"
15,195,":{name:""",Pull Back,""",value:""",NaN,""",description:""",Player in opposition’s penalty box reaches the...,"""},"
16,196,":{name:""",Switch of play,""",value:""",NaN,""",description:""",Any pass which crosses the centre zone of the ...,"""},"
17,210,":{name:""",Assist,""",value:""",NaN,""",description:""",The pass was an assist for a shot. The type of...,"""},"
18,212,":{name:""",Length,""",value:""",Dynamic - yards of pitch,""",description:""",The estimated length the ball has travelled du...,"""},"
19,213,":{name:""",Angle,""",value:""",0 to 6.28 (Radians),""",description:""",The angle the ball travels at during an event ...,"""},"
20,218,":{name:""",2nd assist,""",value:""",NaN,""",description:""",Pass was deemed a 2nd assist - created the opp...,"""},"
21,219,":{name:""",Players on both posts,""",value:""",NaN,""",description:""",Assigned to event 6 indicating there were defe...,"""},"
22,220,":{name:""",Player on near post,""",value:""",NaN,""",description:""",Assigned to event 6 indicating there was a def...,"""},"
23,221,":{name:""",Player on far post,""",value:""",NaN,""",description:""",Assigned to event 6 indicating there was a def...,"""},"
24,222,":{name:""",No players on posts,""",value:""",NaN,""",description:""",Assigned to event 6 indicating there were no d...,"""},"
25,223,":{name:""",In-swinger,""",value:""",NaN,""",description:""",Corner was crossed into the box swerving towar...,"""},"
26,224,":{name:""",Out-swinger,""",value:""",NaN,""",description:""",Corner was crossed into the box swerving away ...,"""},"
27,225,":{name:""",Straight,""",value:""",NaN,""",description:""",Corner was crossed into the box with a straigh...,"""},"
28,15,":{name:""",Head,""",value:""",NaN,""",description:""",Any event where the player used their head suc...,"""},"
29,72,":{name:""",Left footed,""",value:""",NaN,""",description:""",Player shot with their left foot,"""},"
30,20,":{name:""",Right footed,""",value:""",NaN,""",description:""",Player shot with right footed,"""},"
31,21,":{name:""",Other body part,""",value:""",NaN,""",description:""",Shot was neither via a player’s head or foot f...,"""},"
32,22,":{name:""",Regular play,""",value:""",NaN,""",description:""",Shot during open play as opposed to from a set...,"""},"
33,23,":{name:""",Fast break,""",value:""",NaN,""",description:""",Shot occurred following a fast break situation,"""},"
34,24,":{name:""",Set piece,""",value:""",NaN,""",description:""",Shot occurred from a crossed free kick,"""},"
35,25,":{name:""",From corner,""",value:""",NaN,""",description:""",Shot occurred from a corner,"""},"
36,26,":{name:""",Free kick,""",value:""",NaN,""",description:""",Shot occurred directly from a free kick,"""},"
37,96,":{name:""",Corner situation,""",value:""",NaN,""",description:""",Pass or shot event in corner situation. 25 is ...,"""},"
38,97,":{name:""",Direct free,""",value:""",NaN,""",description:""",26 will be used for shot directly from a free ...,"""},"
39,112,":{name:""",Scramble,""",value:""",NaN,""",description:""",Goal where there was a scramble for possession...,"""},"
40,160,":{name:""",Throw-in set piece,""",value:""",NaN,""",description:""",Shot came from a throw-in set piece,"""},"
41,29,":{name:""",Assisted,""",value:""",NaN,""",description:""",Indicates that there was a pass (assist) from ...,"""},"
42,154,":{name:""",Intentional assist,""",value:""",NaN,""",description:""",Shot from an intentional assist i.e. The assis...,"""},"
43,55,":{name:""",Related event ID,""",value:""",Event_id,""",description:""","This will appear for goals or shots, the relat...","""},"
44,216,":{name:""",2nd related event ID,""",value:""",Event_id,""",description:""","If there was a 2nd assist, i.e a pass to creat...","""},"
45,9,":{name:""",Penalty,""",value:""",NaN,""",description:""",When attempt on goal was a penalty kick. ALSO ...,"""},"
46,28,":{name:""",Own goal,""",value:""",NaN,""",description:""",Own goal . Note: Use the inverse coordinates o...,"""},"
47,108,":{name:""",Volley,""",value:""",NaN,""",description:""",Shot on the volley (ball doesn't bounce before...,"""},"
48,109,":{name:""",Overhead,""",value:""",NaN,""",description:""",Shot via overhead kick – NO LONGER USED,"""},"
49,110,":{name:""",Half Volley,""",value:""",NaN,""",description:""",Shot on the half volley (hit immediately after...,"""},"
50,111,":{name:""",Diving Header,""",value:""",NaN,""",description:""",Shot where the player dives to head the ball –...,"""},"
51,113,":{name:""",Strong,""",value:""",NaN,""",description:""",Shot was subjectively classed as strong,"""},"
52,114,":{name:""",Weak,""",value:""",NaN,""",description:""",Shot was subjectively classed as weak,"""},"
53,115,":{name:""",Rising,""",value:""",NaN,""",description:""",Shot was rising in the air,"""},"
54,116,":{name:""",Dipping,""",value:""",NaN,""",description:""",Shot was dipping towards the ground,"""},"
55,117,":{name:""",Lob,""",value:""",NaN,""",description:""",Shot was an attempt by the attacker to play th...,"""},"
56,118,":{name:""",One Bounce,""",value:""",NaN,""",description:""",Shot where the ball bounced once on its way to...,"""},"
57,119,":{name:""",Few Bounces,""",value:""",NaN,""",description:""",Shot where the ball bounced several times on i...,"""},"
58,120,":{name:""",Swerve Left,""",value:""",NaN,""",description:""",Shot which swerves to the left - from attacker...,"""},"
59,121,":{name:""",Swerve Right,""",value:""",NaN,""",description:""",Shot which swerves to the right - from attacke...,"""},"
60,122,":{name:""",Swerve Moving,""",value:""",NaN,""",description:""",Shot which swerves in several directions,"""},"
61,133,":{name:""",Deflection,""",value:""",NaN,""",description:""",Shot deflected off another player,"""},"
62,136,":{name:""",Keeper Touched,""",value:""",NaN,""",description:""",Goal where the goalkeeper got a touch on the b...,"""},"
63,137,":{name:""",Keeper Saved,""",value:""",NaN,""",description:""",Shot going wide or over the goal but still col...,"""},"
64,138,":{name:""",Hit Woodwork,""",value:""",NaN,""",description:""",Any shot which hits the post or crossbar,"""},"
65,153,":{name:""",Not past goal line,""",value:""",NaN,""",description:""",Shot missed which does not pass the goal line,"""},"
66,214,":{name:""",Big Chance,""",value:""",NaN,""",description:""",Shot was deemed by Opta analysts an excellent ...,"""},"
67,215,":{name:""",Individual Play,""",value:""",NaN,""",description:""","Player created the chance to shoot by himself,...","""},"
68,217,":{name:""",2nd assisted,""",value:""",NaN,""",description:""",Indicates that this shot had a significant pas...,"""},"
69,228,":{name:""",Own shot blocked,""",value:""",NaN,""",description:""",Player blocks an attacking shot unintentionall...,"""},"
70,16,":{name:""",Small box-centre,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
71,17,":{name:""",Box-centre,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
72,18,":{name:""",Out of box-centre,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
73,19,":{name:""",35+ centre,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
74,60,":{name:""",Small box-right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
75,61,":{name:""",Small box-left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
76,62,":{name:""",Box-deep right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
77,63,":{name:""",Box-right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
78,64,":{name:""",Box-left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
79,65,":{name:""",Box-deep left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
80,66,":{name:""",Out of box-deep right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
81,67,":{name:""",Out of box-right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
82,68,":{name:""",Out of box-left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
83,69,":{name:""",Out of box-deep left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
84,70,":{name:""",35+ right,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
85,71,":{name:""",35+ left,""",value:""",NaN,""",description:""",Zone of the pitch - See appendix 13,"""},"
86,73,":{name:""",Left,""",value:""",NaN,""",description:""",Hit the left post or missed left,"""},"
87,74,":{name:""",High,""",value:""",NaN,""",description:""",Hit crossbar or missed over,"""},"
88,75,":{name:""",Right,""",value:""",NaN,""",description:""",Hit right post or missed right,"""},"
89,76,":{name:""",Low left,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
90,77,":{name:""",High left,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
91,78,":{name:""",Low centre,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
92,79,":{name:""",High centre,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
93,80,":{name:""",Low right,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
94,81,":{name:""",High Right,""",value:""",Zone of the goalmouth - See appendix 12,""",description:""",NaN,"""},"
95,82,":{name:""",Blocked,""",value:""",Zone of the goalmouth - See appendix 12,""",description:""",NaN,"""},"
96,83,":{name:""",Close left,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
97,84,":{name:""",Close right,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
98,85,":{name:""",Close high,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
99,86,":{name:""",Close left and high,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
100,87,":{name:""",Close right and high,""",value:""",NaN,""",description:""",Zone of the goalmouth - See appendix 12,"""},"
101,100,":{name:""",Six yard blocked,""",value:""",NaN,""",description:""",Shot blocked on the 6 yard line,"""},"
102,101,":{name:""",Saved off line,""",value:""",NaN,""",description:""",Shot saved on the goal line,"""},"
103,102,":{name:""",Goal mouth y co-ordinate,""",value:""",0-100,""",description:""",Y Co-ordinate of where a shot crossed goal lin...,"""},"
104,103,":{name:""",Goal mouth z co-ordinate,""",value:""",0-100,""",description:""",Z Co-ordinate for height at which a shot cross...,"""},"
105,134,":{name:""",Far Wide Left,""",value:""",NaN,""",description:""",NO LONGER USED - Shot from wide left,"""},"
106,135,":{name:""",Far Wide Right,""",value:""",NaN,""",description:""",NO LONGER USED - Shot from wide right,"""},"
107,146,":{name:""",Blocked x co-ordinate,""",value:""",0-100,""",description:""",The x pitch coordinate for where a shot was bl...,"""},"
108,147,":{name:""",Blocked y co-ordinate,""",value:""",0-100,""",description:""",The y pitch coordinate for where a shot was bl...,"""},"
109,10,":{name:""",Hand,""",value:""",NaN,""",description:""",Handball,"""},"
110,11,":{name:""",6-seconds violation,""",value:""",NaN,""",description:""",Goalkeeper held onto the ball longer than 6 se...,"""},"
111,12,":{name:""",Dangerous play,""",value:""",NaN,""",description:""",A foul due to dangerous play,"""},"
112,13,":{name:""",Foul,""",value:""",NaN,""",description:""",All fouls,"""},"
113,31,":{name:""",Yellow Card,""",value:""",NaN,""",description:""",Player shown a yellow card,"""},"
114,32,":{name:""",Second yellow,""",value:""",NaN,""",description:""",Player receives a 2nd yellow card which automa...,"""},"
115,33,":{name:""",Red card,""",value:""",NaN,""",description:""",Player shown a straight red card,"""},"
116,34,":{name:""",Referee abuse,""",value:""",NaN,""",description:""",Card shown to player because of abuse to the r...,"""},"
117,35,":{name:""",Argument,""",value:""",NaN,""",description:""",Card shown to player because of an argument,"""},"
118,36,":{name:""",Fight,""",value:""",NaN,""",description:""",Card shown to player because of their involvem...,"""},"
119,37,":{name:""",Time wasting,""",value:""",NaN,""",description:""",Card shown to player for time wasting,"""},"
120,38,":{name:""",Excessive celebration,""",value:""",NaN,""",description:""",Card shown to player for excessively celebrati...,"""},"
121,39,":{name:""",Crowd interaction,""",value:""",NaN,""",description:""",Card shown to player because of contact or com...,"""},"
122,40,":{name:""",Other reason,""",value:""",NaN,""",description:""",Card shown for unknown reason,"""},"
123,95,":{name:""",Back pass,""",value:""",NaN,""",description:""",Free kick given for an illegal pass to the goa...,"""},"
124,132,":{name:""",Dive,""",value:""",NaN,""",description:""",Free kick or card event; player penalised for ...,"""},"
125,158,":{name:""",Persistent infringement,""",value:""",NaN,""",description:""",Card shown to player for persistent fouls,"""},"
126,159,":{name:""",Foul and abusive language,""",value:""",NaN,""",description:""",Card shown for player using foul language,"""},"
127,161,":{name:""",Encroachment,""",value:""",NaN,""",description:""",Card shown for player who moves within 10 yard...,"""},"
128,162,":{name:""",Leaving field,""",value:""",NaN,""",description:""",Card shown for player leaving the field withou...,"""},"
129,163,":{name:""",Entering field,""",value:""",NaN,""",description:""",Card shown for player entering the field durin...,"""},"
130,164,":{name:""",Spitting,""",value:""",NaN,""",description:""",Card shown for spitting,"""},"
131,165,":{name:""",Professional foul,""",value:""",NaN,""",description:""",Card shown for a deliberate tactical foul,"""},"
132,166,":{name:""",Handling on the line,""",value:""",NaN,""",description:""",Card shown to an outfield player for using the...,"""},"
133,171,":{name:""",Rescinded card,""",value:""",NaN,""",description:""",Referee rescind a card post match,"""},"
134,172,":{name:""",No impact on timing,""",value:""",NaN,""",description:""",Player booked on bench but who hasn't played a...,"""},"
135,184,":{name:""",Dissent,""",value:""",NaN,""",description:""",Card shown when a player does not obey referee...,"""},"
136,191,":{name:""",Off the ball foul,""",value:""",NaN,""",description:""",Foul committed by and on a player who is not i...,"""},"
137,192,":{name:""",Block by hand,""",value:""",NaN,""",description:""",Outfield player blocks a shot with their hand,"""},"
138,190,":{name:""",Saved shot off target,""",value:""",NaN,""",description:""",Used with Event 10. Indicates a shot was saved...,"""},"
139,88,":{name:""",High claim,""",value:""",NaN,""",description:""",Event 11 Claim - Goalkeeper claims possession ...,"""},"
140,89,":{name:""",1 on 1,""",value:""",NaN,""",description:""",When attacker was clear with no defenders betw...,"""},"
141,90,":{name:""",Deflected save,""",value:""",NaN,""",description:""",Event 10 Save; when goalkeeper saves a shot bu...,"""},"
142,91,":{name:""",Dive and deflect,""",value:""",NaN,""",description:""",Event 10 Save; when goalkeeper saves a shot wh...,"""},"
143,92,":{name:""",Catch,""",value:""",NaN,""",description:""",Event 10 Save; when goalkeeper saves a shot an...,"""},"
144,93,":{name:""",Dive and catch,""",value:""",NaN,""",description:""",Event 10 Save; when goalkeeper saves a shot wh...,"""},"
145,123,":{name:""",Keeper Throw,""",value:""",NaN,""",description:""",Pass event - goalkeeper throws the ball out,"""},"
146,124,":{name:""",Goal Kick,""",value:""",NaN,""",description:""",Pass event – goal kick,"""},"
147,128,":{name:""",Punch,""",value:""",NaN,""",description:""",Clearance by goalkeeper where he punches the b...,"""},"
148,139,":{name:""",Own Player,""",value:""",NaN,""",description:""",Shot saved by goalkeeper that was deflected by...,"""},"
149,173,":{name:""",Parried safe,""",value:""",NaN,""",description:""",Goalkeeper save where shot is parried to safety,"""},"
150,174,":{name:""",Parried danger,""",value:""",NaN,""",description:""",Goalkeeper save where shot is parried but only...,"""},"
151,175,":{name:""",Fingertip,""",value:""",NaN,""",description:""",Goalkeeper save using his fingertips,"""},"
152,176,":{name:""",Caught,""",value:""",NaN,""",description:""",Goalkeeper catches the ball,"""},"
153,177,":{name:""",Collected,""",value:""",NaN,""",description:""",Goalkeeper save and collects possession of the...,"""},"
154,178,":{name:""",Standing Goalkeeper,""",value:""",NaN,""",description:""",save while standing,"""},"
155,179,":{name:""",Diving,""",value:""",NaN,""",description:""",Goalkeeper save while diving,"""},"
156,180,":{name:""",Stooping,""",value:""",NaN,""",description:""",Goalkeeper saves while stooping,"""},"
157,181,":{name:""",Reaching,""",value:""",NaN,""",description:""",Goalkeeper save where goalkeeper reaches for t...,"""},"
158,182,":{name:""",Hands,""",value:""",NaN,""",description:""",Goalkeeper saves with his hands,"""},"
159,183,":{name:""",Feet,""",value:""",NaN,""",description:""",Goalkeeper save using his feet,"""},"
160,186,":{name:""",Scored,""",value:""",NaN,""",description:""",Goalkeeper event - shots faced and not saved r...,"""},"
161,187,":{name:""",Saved,""",value:""",NaN,""",description:""",Goalkeeper event - shots faced and saved,"""},"
162,188,":{name:""",Missed,""",value:""",NaN,""",description:""",Goalkeeper event - shot faced which went wide ...,"""},"
163,198,":{name:""",GK hoof,""",value:""",NaN,""",description:""",Goalkeeper drops the ball on the ground and ki...,"""},"
164,199,":{name:""",Gk kick from hands,""",value:""",NaN,""",description:""",Goalkeeper kicks the ball forward straight out...,"""},"
165,14,":{name:""",Last line,""",value:""",NaN,""",description:""",When a player makes a defensive action and the...,"""},"

https://github.com/tomh05/football-scores/blob/master/data/reference/opta-qualifiers.csv

https://github.com/tomh05/football-scores/blob/master/data/reference/opta-f9-stats.csv

In [71]:
df_passes = event_df[event_df.typeId==1]
# Define functions to check the presence of each qualifier
def has_qualifier_long_balls(qualifiers):
    return any(item['qualifierId'] == 1 for item in qualifiers)

def has_qualifier_crosses(qualifiers):
    return any(item['qualifierId'] == 2 for item in qualifiers)

def has_qualifier_head_passes(qualifiers):
    return any(item['qualifierId'] == 3 for item in qualifiers)

def has_qualifier_through_balls(qualifiers):
    return any(item['qualifierId'] == 4 for item in qualifiers)

def has_qualifier_free_kicks(qualifiers):
    return any(item['qualifierId'] == 5 for item in qualifiers)

def has_qualifier_corners(qualifiers):
    return any(item['qualifierId'] == 6 for item in qualifiers)

def has_qualifier_attacking_passes(qualifiers):
    return any(item['qualifierId'] == 106 for item in qualifiers)

def has_qualifier_throw_ins(qualifiers):
    return any(item['qualifierId'] == 107 for item in qualifiers)

def has_qualifier_chipped_passes(qualifiers):
    return any(item['qualifierId'] == 155 for item in qualifiers)

def has_qualifier_lay_offs(qualifiers):
    return any(item['qualifierId'] == 156 for item in qualifiers)

def has_qualifier_launched_passes(qualifiers):
    return any(item['qualifierId'] == 157 for item in qualifiers)

def has_qualifier_flick_ons(qualifiers):
    return any(item['qualifierId'] == 168 for item in qualifiers)

def has_qualifier_pull_backs(qualifiers):
    return any(item['qualifierId'] == 195 for item in qualifiers)

def has_qualifier_switches_of_play(qualifiers):
    return any(item['qualifierId'] == 196 for item in qualifiers)

def has_qualifier_shot_assists(qualifiers):
    return any(item['qualifierId'] == 210 for item in qualifiers)

def has_qualifier_second_assists(qualifiers):
    return any(item['qualifierId'] == 218 for item in qualifiers)

# Apply each function to create new boolean columns
df_passes['has_qualifier_long_balls'] = df_passes['qualifier'].apply(has_qualifier_long_balls)
df_passes['has_qualifier_crosses'] = df_passes['qualifier'].apply(has_qualifier_crosses)
df_passes['has_qualifier_head_passes'] = df_passes['qualifier'].apply(has_qualifier_head_passes)
df_passes['has_qualifier_through_balls'] = df_passes['qualifier'].apply(has_qualifier_through_balls)
df_passes['has_qualifier_free_kicks'] = df_passes['qualifier'].apply(has_qualifier_free_kicks)
df_passes['has_qualifier_corners'] = df_passes['qualifier'].apply(has_qualifier_corners)
df_passes['has_qualifier_attacking_passes'] = df_passes['qualifier'].apply(has_qualifier_attacking_passes)
df_passes['has_qualifier_throw_ins'] = df_passes['qualifier'].apply(has_qualifier_throw_ins)
df_passes['has_qualifier_chipped_passes'] = df_passes['qualifier'].apply(has_qualifier_chipped_passes)
df_passes['has_qualifier_lay_offs'] = df_passes['qualifier'].apply(has_qualifier_lay_offs)
df_passes['has_qualifier_launched_passes'] = df_passes['qualifier'].apply(has_qualifier_launched_passes)
df_passes['has_qualifier_flick_ons'] = df_passes['qualifier'].apply(has_qualifier_flick_ons)
df_passes['has_qualifier_pull_backs'] = df_passes['qualifier'].apply(has_qualifier_pull_backs)
df_passes['has_qualifier_switches_of_play'] = df_passes['qualifier'].apply(has_qualifier_switches_of_play)
df_passes['has_qualifier_shot_assists'] = df_passes['qualifier'].apply(has_qualifier_shot_assists)
df_passes['has_qualifier_second_assists'] = df_passes['qualifier'].apply(has_qualifier_second_assists)

# Function to extract endX and endY values
def extract_end_coordinates(qualifiers):
    endX = next((item['value'] for item in qualifiers if item['qualifierId'] == 140), None)
    endY = next((item['value'] for item in qualifiers if item['qualifierId'] == 141), None)
    return endX, endY

# Apply the function to extract endX and endY values
df_passes[['endX', 'endY']] = df_passes['qualifier'].apply(lambda x: pd.Series(extract_end_coordinates(x)))

# Define functions to extract the values of "angle" and "length" qualifiers
def extract_angle(qualifiers):
    angle = next((item['value'] for item in qualifiers if item['qualifierId'] == 213), None)
    return angle

def extract_length(qualifiers):
    length = next((item['value'] for item in qualifiers if item['qualifierId'] == 212), None)
    return length

# Apply each function to create new columns for "angle" and "length"
df_passes['angle'] = df_passes['qualifier'].apply(extract_angle)
df_passes['length'] = df_passes['qualifier'].apply(extract_length)

#convert to relevant columns to numeric data
df_passes['endX'] = pd.to_numeric(df_passes['endX'])
df_passes['endY'] = pd.to_numeric(df_passes['endY'])
df_passes['angle'] = pd.to_numeric(df_passes['angle'])
df_passes['length'] = pd.to_numeric(df_passes['length'])

# Drop the original 'qualifier' column
df_passes.drop(columns=['qualifier'], inplace=True)

C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_long_balls'] = df_passes['qualifier'].apply(has_qualifier_long_balls)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_crosses'] = df_passes['qualifier'].apply(has_qualifier_crosses)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_head_passes'] = df_passes['qualifier'].apply(has_qualifier_head_passes)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_through_balls'] = df_passes['qualifier'].apply(has_qualifier_through_balls)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_free_kicks'] = df_passes['qualifier'].apply(has_qualifier_free_kicks)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_corners'] = df_passes['qualifier'].apply(has_qualifier_corners)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_attacking_passes'] = df_passes['qualifier'].apply(has_qualifier_attacking_passes)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_throw_ins'] = df_passes['qualifier'].apply(has_qualifier_throw_ins)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_chipped_passes'] = df_passes['qualifier'].apply(has_qualifier_chipped_passes)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_lay_offs'] = df_passes['qualifier'].apply(has_qualifier_lay_offs)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_launched_passes'] = df_passes['qualifier'].apply(has_qualifier_launched_passes)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_flick_ons'] = df_passes['qualifier'].apply(has_qualifier_flick_ons)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_pull_backs'] = df_passes['qualifier'].apply(has_qualifier_pull_backs)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_switches_of_play'] = df_passes['qualifier'].apply(has_qualifier_switches_of_play)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_shot_assists'] = df_passes['qualifier'].apply(has_qualifier_shot_assists)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['has_qualifier_second_assists'] = df_passes['qualifier'].apply(has_qualifier_second_assists)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes[['endX', 'endY']] = df_passes['qualifier'].apply(lambda x: pd.Series(extract_end_coordinates(x)))
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes[['endX', 'endY']] = df_passes['qualifier'].apply(lambda x: pd.Series(extract_end_coordinates(x)))
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['angle'] = df_passes['qualifier'].apply(extract_angle)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['length'] = df_passes['qualifier'].apply(extract_length)
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['endX'] = pd.to_numeric(df_passes['endX'])
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['endY'] = pd.to_numeric(df_passes['endY'])
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['angle'] = pd.to_numeric(df_passes['angle'])
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes['length'] = pd.to_numeric(df_passes['length'])
C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1302313370.py:98: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes.drop(columns=['qualifier'], inplace=True)

In [72]:
#df_passes

In [73]:
GK_df = pd.concat([event_df[event_df.typeId==11],#GK claims (catching a crossed ball)
                   event_df[event_df.typeId==41], #GK punch
                event_df[event_df.typeId==52], #GK pick-up
                event_df[event_df.typeId==54], #GK  comes out and covers the ball in the box winning possession 
                event_df[event_df.typeId==58], #penalty faced (GK event)
                event_df[event_df.typeId==59]]) #GK Keeper Sweeper])
gk_actions = {11:'Claim',41:'Punch',
             52:'Pick-up',58:'Penalty faced',
             59:'Keeper Sweeper'} #54 
GK_df['GK action'] = GK_df['typeId'].map(gk_actions)
GK_df.insert(3, 'GK action', GK_df.pop('GK action')) #move column next to "eventId"
GK_df

,id,eventId,typeId,GK action,periodId,timeMin,timeSec,contestantId,outcome,x,...,lastModified,qualifier,playerId,playerName,assist,keyPass,Open Play,end_x,end_y,receiver_player_name
1409,2647715907,578,11,Claim,2,83,19,9dqlf92t42brv71kvaet67tm4,1,2.0,...,2024-02-21T19:05:16Z,"[{'id': 4815651071, 'qualifierId': 88}, {'id':...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
824,2647694647,339,41,Punch,2,46,58,9dqlf92t42brv71kvaet67tm4,1,4.4,...,2024-02-21T12:25:36Z,"[{'id': 4815521395, 'qualifierId': 233, 'value...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
213,2647660037,125,52,Pick-up,1,10,10,5u18kvqiqhup2vd345dci1069,1,4.8,...,2024-02-21T11:23:07Z,"[{'id': 4823141489, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
411,2647667917,240,52,Pick-up,1,21,45,5u18kvqiqhup2vd345dci1069,1,3.1,...,2024-02-21T11:44:25Z,"[{'id': 4823161333, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
507,2647671367,294,52,Pick-up,1,30,32,5u18kvqiqhup2vd345dci1069,1,15.7,...,2024-02-21T11:54:04Z,"[{'id': 4823166541, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
752,2647682621,313,52,Pick-up,1,44,10,9dqlf92t42brv71kvaet67tm4,1,7.5,...,2024-02-21T12:18:46Z,"[{'id': 4823185355, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
773,2647683649,323,52,Pick-up,1,45,35,9dqlf92t42brv71kvaet67tm4,1,13.8,...,2024-02-21T12:20:25Z,"[{'id': 4815459891, 'qualifierId': 189}, {'id'...",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
782,2647683985,442,52,Pick-up,1,46,2,5u18kvqiqhup2vd345dci1069,1,8.3,...,2024-02-21T12:21:07Z,"[{'id': 4823186587, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
918,2647698803,389,52,Pick-up,2,53,23,9dqlf92t42brv71kvaet67tm4,1,8.7,...,2024-02-21T12:35:15Z,"[{'id': 4823196181, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
1081,2647704485,618,52,Pick-up,2,62,33,5u18kvqiqhup2vd345dci1069,1,14.3,...,2024-02-21T12:52:38Z,"[{'id': 4823206477, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
1374,2647714607,566,52,Pick-up,2,81,40,9dqlf92t42brv71kvaet67tm4,1,1.2,...,2024-02-21T19:01:26Z,"[{'id': 4823499961, 'qualifierId': 376}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
1456,2647718211,599,52,Pick-up,2,86,17,9dqlf92t42brv71kvaet67tm4,1,1.0,...,2024-02-21T19:11:03Z,"[{'id': 4823508655, 'qualifierId': 377}]",abaws34p0vlygc5cgizij7l9m,J. Hammel,NaN,NaN,True,None,None,None
1547,2647722663,909,52,Pick-up,2,91,49,5u18kvqiqhup2vd345dci1069,1,13.9,...,2024-02-21T19:20:53Z,"[{'id': 4823517963, 'qualifierId': 377}]",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None
596,2647674655,342,58,Penalty faced,1,35,1,5u18kvqiqhup2vd345dci1069,0,0.0,...,2024-02-17T20:05:36Z,"[{'id': 4815413395, 'qualifierId': 73}, {'id':...",4h3aawt897usa7wkw4i4d8gyd,M. Hitz,NaN,NaN,True,None,None,None

In [74]:
h_id = 'bewbbriuwh3i7a2zn19e6d0v4'
a_id = '2h0f9b45mwop10akb6bp7qx3'
h_team = 'Newport County'
a_team = 'Barrow'
team_names = {h_id:h_team,a_id:a_team}
formations_df = event_df[event_df.typeId==34] #Team set up
formations_df['team'] = formations_df['contestantId'].map(team_names)
formations_df.insert(3, 'team', formations_df.pop('team')) #move column next to "eventId"
formations_df = formations_df.loc[:,['team','qualifier']]
formations_df

C:\Users\Al Raven\AppData\Local\Temp\ipykernel_23260\1868913804.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  formations_df['team'] = formations_df['contestantId'].map(team_names)

  team                                          qualifier
0  NaN  [{'id': 4815057723, 'qualifierId': 227, 'value...
1  NaN  [{'id': 4815277295, 'qualifierId': 194, 'value...

In [75]:
#I'll need to figure out how to develop this dataframe so that it 
#contains the various formation/lineup details, but I don't have
#the relevant formation Ids and other info right now...

In [76]:
formations_df['qualifier'].iloc[0] #HOME TEAM

[{'id': 4815057723,
  'qualifierId': 227,
  'value': '0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0'},
 {'id': 4815057721,
  'qualifierId': 131,
  'value': '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0'},
 {'id': 4815057719, 'qualifierId': 130, 'value': '10'},
 {'id': 4815057713,
  'qualifierId': 30,
  'value': 'abaws34p0vlygc5cgizij7l9m, cixzy9hl7ks4maugc5zc9ievp, 3m13ipluel0m6cotha7n7vrop, b1hpmuxmbcegdii4cbq5l8kwl, 8m5v33ga9odkqmif247ue7ch5, 72ktbetrzo54vpcs518wcax62, 1anl1jfwm7l4p3y0tmyvueiuh, 8g12wvgw8lf0l4xi2xzae7d91, ewamdnbp0n88jgoktizbzceay, e5e4y8oz2q3qzmedegj7y7x0p, 3sxeqqzvob8nxjn31cad03ofe, blye7ueo6zu9wfbsvtqq80gr9, cp8z0ew8u1lb0ofx9juxi7zmc, 6skmsbclcdul0holo3vfj2590, 1d1qy2ah5etc5e8svumdxru38, eqbo811or1jh9ps1llmrugpux, 92rz6sr2nhhlwmkfrsua0iyac, dmirc4dg9ssgmtl4xz4d7s5jo, b322wzmnvqmfdq8lvzqkqd51x, d1l1xxwe5nnivkayxxsfte40l'},
 {'id': 4815057717,
  'qualifierId': 59,
  'value': '71, 2, 14, 5, 4, 26, 15, 6, 9, 8, 22, 11, 19, 53, 54, 70, 73, 77, 90, 99'},
 {'id': 4815057715,
  'qualifierId': 44,
  'value': '1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5'},
 {'id': 4815283465, 'qualifierId': 197, 'value': '746'},
 {'id': 4815061375, 'qualifierId': 194, 'value': '8g12wvgw8lf0l4xi2xzae7d91'}]

In [77]:
formations_df['qualifier'].iloc[1] #away team

[{'id': 4815277295, 'qualifierId': 194, 'value': '9ubegjf9xvynzn900za1znowl'},
 {'id': 4815080813,
  'qualifierId': 131,
  'value': '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0'},
 {'id': 4815080807,
  'qualifierId': 59,
  'value': '1, 3, 31, 34, 26, 25, 33, 37, 9, 7, 30, 6, 10, 11, 13, 21, 23, 27, 28, 35'},
 {'id': 4815080809, 'qualifierId': 130, 'value': '8'},
 {'id': 4815080803,
  'qualifierId': 30,
  'value': '4h3aawt897usa7wkw4i4d8gyd, fbjasct9bn38u39mbgafcm7e, og090mw7ae5fkg397p9g0ru1, 9ubegjf9xvynzn900za1znowl, 8h0jf6z98xcg6fdkzp3anlfu2, 9oajgqqc9gkgbcz090it0tlhw, 80ats6rs31slpisdvvwtdfjoq, 84d0jugdidn3if1iqx4ynuxw4, 1wileoy8mxtd2t1b106uhwzro, 5fbi7ci4io9hfnlbhoc4texh, 8828sbg7wzgjbs1727j0rx84q, 4aqzymdl058n0jbtu01fvcnp, cxcysifvtn49imj2zs6rdtk9h, bkcsemz8a4gie4v9z1u4h6221, f3fewe8kgfmsfqfqmnea1zg0l, d7xai4i5orv7sxzsrg9fg25uc, 8kqw7v6re6dszk7ujedx0n3dh, 9rsm1xasn1j2v10wchzz55gph, azzajp7eh833i06qu80r60zkk, dvr8ipdtmtb0yl78tklq5vtw4'},
 {'id': 4815080805,
  'qualifierId': 44,
  'value': '1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5'},
 {'id': 4815277297, 'qualifierId': 197, 'value': '839'},
 {'id': 4815080815,
  'qualifierId': 227,
  'value': '0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0'}]

In [78]:
df_shots = pd.concat([event_df[event_df.typeId==13],
                   event_df[event_df.typeId==14], 
                event_df[event_df.typeId==15], 
                event_df[event_df.typeId==16]]) 
shot_qualifiers = {13:'Missed',14:'Hit Post/Frame',
             15:'Saved or blocked',16:'Goal'}  
df_shots['Shot Qualifier'] = df_shots['typeId'].map(shot_qualifiers)
df_shots.insert(3, 'Shot Qualifier', df_shots.pop('Shot Qualifier')) 
df_shots = df_shots.loc[:,['id','eventId','typeId','Shot Qualifier',
                           'periodId','timeMin','timeSec','contestantId','outcome',
                          'x','y','qualifier','playerId','playerName']]
# Define functions to check the presence of each qualifier
def big_chance(qualifiers):
    return any(item['qualifierId'] == 214 for item in qualifiers)

def right_foot(qualifiers):
    return any(item['qualifierId'] == 20 for item in qualifiers)

def left_foot(qualifiers):
    return any(item['qualifierId'] == 72 for item in qualifiers)

def header(qualifiers):
    return any(item['qualifierId'] == 15 for item in qualifiers)

def other_bodyPart(qualifiers):
    return any(item['qualifierId'] == 21 for item in qualifiers)

def open_play(qualifiers):
    return any(item['qualifierId'] == 22 for item in qualifiers)

def individual_play(qualifiers):
    return any(item['qualifierId'] == 215 for item in qualifiers)

def six_yard_blocked(qualifiers):
    return any(item['qualifierId'] == 100 for item in qualifiers)

def assisted(qualifiers):
    return any(item['qualifierId'] == 29 for item in qualifiers)

def from_intentional_assist(qualifiers):
    return any(item['qualifierId'] == 154 for item in qualifiers)

# Apply each function to create new boolean columns
df_shots['big chance'] = df_shots['qualifier'].apply(big_chance)
df_shots['right foot'] = df_shots['qualifier'].apply(right_foot)
df_shots['left foot'] = df_shots['qualifier'].apply(left_foot)
df_shots['header'] = df_shots['qualifier'].apply(header)
df_shots['other body part'] = df_shots['qualifier'].apply(other_bodyPart)
df_shots['open play'] = df_shots['qualifier'].apply(open_play)
df_shots['individual play'] = df_shots['qualifier'].apply(individual_play)
df_shots['six yard blocked'] = df_shots['qualifier'].apply(six_yard_blocked)
df_shots['assisted'] = df_shots['qualifier'].apply(assisted)
df_shots['intentional assist'] = df_shots['qualifier'].apply(from_intentional_assist)

def goalmouth_coordinates(qualifiers):
    goalmouthY = next((item['value'] for item in qualifiers if item['qualifierId'] == 102), None)
    goalmouthZ = next((item['value'] for item in qualifiers if item['qualifierId'] == 103), None)
    return goalmouthY, goalmouthZ
df_shots[['goalmouthY', 'goalmouthZ']] = df_shots['qualifier'].apply(lambda x: pd.Series(goalmouth_coordinates(x)))

def blocked_coordinates(qualifiers):
    blockedX = next((item['value'] for item in qualifiers if item['qualifierId'] == 146), None)
    blockedY = next((item['value'] for item in qualifiers if item['qualifierId'] == 147), None)
    return blockedX, blockedY
df_shots[['blockedX', 'blockedY']] = df_shots['qualifier'].apply(lambda x: pd.Series(blocked_coordinates(x)))

def related_event(qualifiers):
    related_event_ID = next((item['value'] for item in qualifiers if item['qualifierId'] == 55), None)
    return related_event_ID
def second_related_event(qualifiers):
    second_related_event_ID = next((item['value'] for item in qualifiers if item['qualifierId'] == 216), None)
    return second_related_event_ID
df_shots['related event ID'] = df_shots['qualifier'].apply(related_event)
df_shots['2nd related event ID'] = df_shots['qualifier'].apply(second_related_event)

#convert to relevant columns to numeric data
df_shots['goalmouthY'] = pd.to_numeric(df_shots['goalmouthY'])
df_shots['goalmouthZ'] = pd.to_numeric(df_shots['goalmouthZ'])
df_shots['blockedX'] = pd.to_numeric(df_shots['blockedX'])
df_shots['blockedY'] = pd.to_numeric(df_shots['blockedY'])
df_shots['related event ID'] = pd.to_numeric(df_shots['related event ID'])
df_shots['2nd related event ID'] = pd.to_numeric(df_shots['2nd related event ID'])

# Drop the original 'qualifier' column
df_shots.drop(columns=['qualifier'], inplace=True)

df_shots

,id,eventId,typeId,Shot Qualifier,periodId,timeMin,timeSec,contestantId,outcome,x,...,individual play,six yard blocked,assisted,intentional assist,goalmouthY,goalmouthZ,blockedX,blockedY,related event ID,2nd related event ID
843,2647695483,350,13,Missed,2,48,7,9dqlf92t42brv71kvaet67tm4,1,91.4,...,False,False,True,True,66.9,25.0,NaN,NaN,349.0,NaN
864,2647696893,362,13,Missed,2,50,19,9dqlf92t42brv71kvaet67tm4,1,90.6,...,False,False,True,True,57.1,6.9,NaN,NaN,361.0,NaN
1056,2647703311,607,13,Missed,2,60,11,5u18kvqiqhup2vd345dci1069,1,73.2,...,True,False,False,False,40.8,9.7,86.9,53.2,NaN,NaN
1124,2647706071,477,13,Missed,2,66,1,9dqlf92t42brv71kvaet67tm4,1,81.2,...,True,False,False,False,41.2,18.1,NaN,NaN,NaN,NaN
1217,2647707717,708,13,Missed,2,70,26,5u18kvqiqhup2vd345dci1069,1,86.2,...,False,False,False,False,17.3,13.9,NaN,NaN,NaN,NaN
1569,2647723495,924,13,Missed,2,92,55,5u18kvqiqhup2vd345dci1069,1,85.2,...,False,False,True,True,33.6,16.7,NaN,NaN,923.0,NaN
1338,2647713225,785,14,Hit Post/Frame,2,80,6,5u18kvqiqhup2vd345dci1069,1,84.6,...,True,False,True,True,54.5,39.2,NaN,NaN,784.0,NaN
402,2647667537,161,15,Saved or blocked,1,21,7,9dqlf92t42brv71kvaet67tm4,1,77.4,...,True,False,False,False,49.5,19.0,87.9,42.2,NaN,NaN
409,2647667871,164,15,Saved or blocked,1,21,44,9dqlf92t42brv71kvaet67tm4,1,77.1,...,True,False,False,False,48.5,17.7,99.0,48.9,NaN,NaN
997,2647701511,575,15,Saved or blocked,2,57,15,5u18kvqiqhup2vd345dci1069,1,74.6,...,True,False,True,False,49.6,19.0,86.6,38.3,574.0,NaN
1054,2647703273,606,15,Saved or blocked,2,60,6,5u18kvqiqhup2vd345dci1069,1,89.0,...,True,False,True,False,48.2,8.9,97.5,44.4,603.0,NaN
1109,2647705165,469,15,Saved or blocked,2,63,55,9dqlf92t42brv71kvaet67tm4,1,90.3,...,False,False,True,True,52.4,19.0,93.3,44.9,468.0,NaN
1117,2647705863,473,15,Saved or blocked,2,65,28,9dqlf92t42brv71kvaet67tm4,1,75.3,...,False,False,False,False,49.2,19.0,85.3,53.2,NaN,NaN
1176,2647707145,677,15,Saved or blocked,2,68,42,5u18kvqiqhup2vd345dci1069,1,84.6,...,False,True,True,True,45.4,19.0,95.9,47.8,676.0,NaN
1183,2647707225,681,15,Saved or blocked,2,69,1,5u18kvqiqhup2vd345dci1069,1,91.4,...,False,False,True,True,46.7,19.0,91.5,46.2,679.0,NaN
1372,2647714579,808,15,Saved or blocked,2,81,39,5u18kvqiqhup2vd345dci1069,1,77.5,...,True,False,True,False,49.6,3.2,99.0,47.7,807.0,NaN
1396,2647715589,823,15,Saved or blocked,2,82,57,5u18kvqiqhup2vd345dci1069,1,83.1,...,False,False,True,True,51.5,32.9,98.5,50.2,822.0,NaN
493,2647670477,204,16,Goal,1,28,27,9dqlf92t42brv71kvaet67tm4,1,95.4,...,False,False,True,True,52.9,7.6,NaN,NaN,203.0,NaN
595,2647674611,248,16,Goal,1,35,1,9dqlf92t42brv71kvaet67tm4,1,88.5,...,False,False,False,False,46.1,23.4,NaN,NaN,NaN,NaN
633,2647677113,366,16,Goal,1,37,47,5u18kvqiqhup2vd345dci1069,1,91.6,...,False,False,True,True,49.0,15.2,NaN,NaN,365.0,NaN

In [79]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/standings/qxcx5jmswgto1qeqcjzghtddt/?_rt=c&tmcl=corpluuuxsjomnnx6ro1lyntg&live=yes&_lcl=en&_fmt=jsonp&_clbk=W353555c6ff37ad9a3a57b4d73c98bfab768ff32a9',headers=headers)
soup_standings = BeautifulSoup(page.text,'lxml')
soup_standings = soup.get_text()
before, sep, after = soup_standings.partition('(')
soup_standings = after
soup_standings = soup_standings.rstrip(')')
standings = json.loads(soup_standings)
pd.json_normalize(standings).T

                                                                                         0
matchInfo.id                                                     31tcbue0pnhmssglpr9ezvkt0
matchInfo.coverageLevel                                                                 13
matchInfo.date                                                                 2024-02-17Z
matchInfo.time                                                                   19:30:00Z
matchInfo.localDate                                                             2024-02-17
matchInfo.localTime                                                               20:30:00
matchInfo.week                                                                          24
matchInfo.numberOfPeriods                                                                2
matchInfo.periodLength                                                                  45
matchInfo.lastUpdated                                                 2024-04-09T18:59:20Z
matchInfo.description                                                Grasshoppers vs Basel
matchInfo.sport.id                                               289u5typ3vp4ifwh5thalohmq
matchInfo.sport.name                                                                Soccer
matchInfo.ruleset.id                                             79plas4983031idr6vw83nuel
matchInfo.ruleset.name                                                                 Men
matchInfo.competition.id                                         e0lck99w8meo9qoalfrxgo33o
matchInfo.competition.name                                                    Super League
matchInfo.competition.knownName                                 Credit Suisse Super League
matchInfo.competition.sponsorName                               Credit Suisse Super League
matchInfo.competition.competitionCode                                                  SUL
matchInfo.competition.competitionFormat                                    Domestic league
matchInfo.competition.country.id                                 3bh70jgvc5mn58x0byjkuda17
matchInfo.competition.country.name                                             Switzerland
matchInfo.tournamentCalendar.id                                  c4s2k9mpw0m24f1uqkt1wlces
matchInfo.tournamentCalendar.startDate                                         2023-07-22Z
matchInfo.tournamentCalendar.endDate                                           2024-05-25Z
matchInfo.tournamentCalendar.name                                                2023/2024
matchInfo.stage.id                                               c5cwatel0t5d2h8pfpgsipno4
matchInfo.stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
matchInfo.stage.startDate                                                      2023-07-22Z
matchInfo.stage.endDate                                                        2024-04-21Z
matchInfo.stage.name                                                        Regular Season
matchInfo.contestant                     [{'id': '9dqlf92t42brv71kvaet67tm4', 'name': '...
matchInfo.venue.id                                               47avxwzo481ildj6zo632ptmr
matchInfo.venue.neutral                                                                 no
matchInfo.venue.longName                                                Stadion Letzigrund
matchInfo.venue.shortName                                               Stadion Letzigrund
liveData.matchDetails.periodId                                                          14
liveData.matchDetails.matchStatus                                                   Played
liveData.matchDetails.winner                                                          home
liveData.matchDetails.matchLengthMin                                                    96
liveData.matchDetails.matchLengthSec                                                     1
liveData.matchDetails.period             [{'id': 1, 'start': '2024-02-17T19:30:20Z', 'e...
liveData.matchDetails.scores.ht.home                                                     2
liveData.matchDetails.scores.ht.away                                                     1
liveData.matchDetails.scores.ft.home                                                     2
liveData.matchDetails.scores.ft.away                                                     1
liveData.matchDetails.scores.total.home                                                  2
liveData.matchDetails.scores.total.away                                                  1
liveData.event                           [{'id': 2647612155, 'eventId': 1, 'typeId': 34...

In [80]:
#pd.json_normalize(standings['stage']).T

In [81]:
#pd.json_normalize(standings['stage'][0]['division'])

In [82]:
#pd.json_normalize(standings['stage'][0]['division'][0]['ranking'])

In [83]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/match/qxcx5jmswgto1qeqcjzghtddt/?_rt=c&tmcl=corpluuuxsjomnnx6ro1lyntg&live=yes&_pgSz=400&_lcl=en&_fmt=jsonp&_clbk=W3337616d5d628616d1a7c1c10e56a53aba14e06e1',headers=headers)
soup_a = BeautifulSoup(page.text,'lxml')
soup_a = soup_a.get_text()
before, sep, after = soup_a.partition('(')
soup_a = after
soup_a = soup_a.rstrip(')')
match_a = json.loads(soup_a)
#match_a

In [84]:
#pd.json_normalize(match_a['match'])

In [85]:
pd.json_normalize(match_a['match']).columns

Index(['matchInfo.id', 'matchInfo.coverageLevel', 'matchInfo.date',
       'matchInfo.time', 'matchInfo.localDate', 'matchInfo.localTime',
       'matchInfo.numberOfPeriods', 'matchInfo.periodLength',
       'matchInfo.overtimeLength', 'matchInfo.lastUpdated',
       'matchInfo.sport.id', 'matchInfo.sport.name', 'matchInfo.ruleset.id',
       'matchInfo.ruleset.name', 'matchInfo.competition.id',
       'matchInfo.competition.name', 'matchInfo.competition.knownName',
       'matchInfo.competition.sponsorName',
       'matchInfo.competition.competitionCode',
       'matchInfo.competition.competitionFormat',
       'matchInfo.competition.country.id',
       'matchInfo.competition.country.name', 'matchInfo.tournamentCalendar.id',
       'matchInfo.tournamentCalendar.startDate',
       'matchInfo.tournamentCalendar.endDate',
       'matchInfo.tournamentCalendar.name', 'matchInfo.stage.id',
       'matchInfo.stage.formatId', 'matchInfo.stage.startDate',
       'matchInfo.stage.endDate', 'matchInfo.stage.name',
       'matchInfo.contestant', 'matchInfo.venue.id', 'matchInfo.venue.neutral',
       'matchInfo.venue.longName', 'matchInfo.venue.shortName',
       'liveData.matchDetails.periodId', 'liveData.matchDetails.matchStatus',
       'liveData.matchDetails.leg', 'liveData.matchDetails.relatedMatchId',
       'liveData.matchDetails.scores.aggregate.home',
       'liveData.matchDetails.scores.aggregate.away', 'matchInfo.week',
       'matchInfo.description', 'liveData.matchDetailsExtra.matchOfficial',
       'liveData.matchDetails.winner', 'liveData.matchDetails.matchLengthMin',
       'liveData.matchDetails.matchLengthSec', 'liveData.matchDetails.period',
       'liveData.matchDetails.scores.ht.home',
       'liveData.matchDetails.scores.ht.away',
       'liveData.matchDetails.scores.ft.home',
       'liveData.matchDetails.scores.ft.away',
       'liveData.matchDetails.scores.total.home',
       'liveData.matchDetails.scores.total.away', 'liveData.goal',
       'liveData.card', 'liveData.substitute',
       'liveData.matchDetailsExtra.attendance', 'liveData.missedPen'],
      dtype='object')

In [86]:
pd.json_normalize(match_a['match'][0]['matchInfo']).T

                                                                               0
id                                                     870oydfmaaa1e7rkfdhjtxs7o
coverageLevel                                                                 15
date                                                                 2024-05-19Z
time                                                                   14:00:00Z
localDate                                                             2024-05-19
localTime                                                               15:00:00
numberOfPeriods                                                                2
periodLength                                                                  45
overtimeLength                                                                15
lastUpdated                                                 2024-03-23T03:07:13Z
contestant                     [{'phrase': 'TBC', 'position': 'home'}, {'phra...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cpb82lo67okt8tr7me3uetl3o
stage.formatId                                         czp83sezet9ljlckl53c3mb4l
stage.startDate                                                      2024-05-19Z
stage.endDate                                                        2024-05-19Z
stage.name                                           Promotion Play-offs - Final
venue.id                                               4fxggvdrv2gbc34ve0cim8ut1
venue.neutral                                                                 no
venue.longName                                                   Wembley Stadium
venue.shortName                                                  Wembley Stadium

In [87]:
pd.json_normalize(match_a['match'][10]['matchInfo']).T

                                                                               0
id                                                     d8wu5mb99131hucgk4idlo1ec
coverageLevel                                                                 15
date                                                                 2024-04-27Z
time                                                                   14:00:00Z
localDate                                                             2024-04-27
localTime                                                               15:00:00
week                                                                          46
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-04-16T18:05:51Z
description                                  Forest Green Rovers vs Notts County
contestant                     [{'id': '17zuelixesst1z59fwcix2dil', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               6fu1iurttezylbuqygt9p380t
venue.neutral                                                                 no
venue.longName                                                 The Bolt New Lawn
venue.shortName                                                The Bolt New Lawn

In [88]:
pd.json_normalize(match_a['match'][100]['matchInfo']).T

                                                                               0
id                                                     cm412hi5g4nqlnmkd5m9kp0d0
coverageLevel                                                                 15
date                                                                 2024-03-23Z
time                                                                   12:30:00Z
localDate                                                             2024-03-23
localTime                                                               12:30:00
week                                                                          40
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-03-24T22:28:28Z
description                                  Mansfield Town vs Colchester United
contestant                     [{'id': '4hcdmgl41o4blqpbeelu56h7y', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               bjdek2y604kyl4jndyel9fn9c
venue.neutral                                                                 no
venue.longName                                                  One Call Stadium
venue.shortName                                                 One Call Stadium

In [89]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/match/qxcx5jmswgto1qeqcjzghtddt/?_rt=c&tmcl=corpluuuxsjomnnx6ro1lyntg&live=yes&_pgSz=400&_pgNm=2&_lcl=en&_fmt=jsonp&_clbk=W3f3cdf1a5c4dee4a7267a373722b10f77fcce069a',headers=headers)
soup_b = BeautifulSoup(page.text,'lxml')
soup_b = soup_b.get_text()
before, sep, after = soup_b.partition('(')
soup_b = after
soup_b = soup_a.rstrip(')')
match_b = json.loads(soup_b)
#match_b

In [90]:
#pd.json_normalize(match_b['match'])

In [91]:
pd.json_normalize(match_b['match']).columns

Index(['matchInfo.id', 'matchInfo.coverageLevel', 'matchInfo.date',
       'matchInfo.time', 'matchInfo.localDate', 'matchInfo.localTime',
       'matchInfo.numberOfPeriods', 'matchInfo.periodLength',
       'matchInfo.overtimeLength', 'matchInfo.lastUpdated',
       'matchInfo.sport.id', 'matchInfo.sport.name', 'matchInfo.ruleset.id',
       'matchInfo.ruleset.name', 'matchInfo.competition.id',
       'matchInfo.competition.name', 'matchInfo.competition.knownName',
       'matchInfo.competition.sponsorName',
       'matchInfo.competition.competitionCode',
       'matchInfo.competition.competitionFormat',
       'matchInfo.competition.country.id',
       'matchInfo.competition.country.name', 'matchInfo.tournamentCalendar.id',
       'matchInfo.tournamentCalendar.startDate',
       'matchInfo.tournamentCalendar.endDate',
       'matchInfo.tournamentCalendar.name', 'matchInfo.stage.id',
       'matchInfo.stage.formatId', 'matchInfo.stage.startDate',
       'matchInfo.stage.endDate', 'matchInfo.stage.name',
       'matchInfo.contestant', 'matchInfo.venue.id', 'matchInfo.venue.neutral',
       'matchInfo.venue.longName', 'matchInfo.venue.shortName',
       'liveData.matchDetails.periodId', 'liveData.matchDetails.matchStatus',
       'liveData.matchDetails.leg', 'liveData.matchDetails.relatedMatchId',
       'liveData.matchDetails.scores.aggregate.home',
       'liveData.matchDetails.scores.aggregate.away', 'matchInfo.week',
       'matchInfo.description', 'liveData.matchDetailsExtra.matchOfficial',
       'liveData.matchDetails.winner', 'liveData.matchDetails.matchLengthMin',
       'liveData.matchDetails.matchLengthSec', 'liveData.matchDetails.period',
       'liveData.matchDetails.scores.ht.home',
       'liveData.matchDetails.scores.ht.away',
       'liveData.matchDetails.scores.ft.home',
       'liveData.matchDetails.scores.ft.away',
       'liveData.matchDetails.scores.total.home',
       'liveData.matchDetails.scores.total.away', 'liveData.goal',
       'liveData.card', 'liveData.substitute',
       'liveData.matchDetailsExtra.attendance', 'liveData.missedPen'],
      dtype='object')

In [92]:
pd.json_normalize(match_b['match'][0]['matchInfo']).T

                                                                               0
id                                                     870oydfmaaa1e7rkfdhjtxs7o
coverageLevel                                                                 15
date                                                                 2024-05-19Z
time                                                                   14:00:00Z
localDate                                                             2024-05-19
localTime                                                               15:00:00
numberOfPeriods                                                                2
periodLength                                                                  45
overtimeLength                                                                15
lastUpdated                                                 2024-03-23T03:07:13Z
contestant                     [{'phrase': 'TBC', 'position': 'home'}, {'phra...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cpb82lo67okt8tr7me3uetl3o
stage.formatId                                         czp83sezet9ljlckl53c3mb4l
stage.startDate                                                      2024-05-19Z
stage.endDate                                                        2024-05-19Z
stage.name                                           Promotion Play-offs - Final
venue.id                                               4fxggvdrv2gbc34ve0cim8ut1
venue.neutral                                                                 no
venue.longName                                                   Wembley Stadium
venue.shortName                                                  Wembley Stadium

In [93]:
pd.json_normalize(match_b['match'][10]['matchInfo']).T

                                                                               0
id                                                     d8wu5mb99131hucgk4idlo1ec
coverageLevel                                                                 15
date                                                                 2024-04-27Z
time                                                                   14:00:00Z
localDate                                                             2024-04-27
localTime                                                               15:00:00
week                                                                          46
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-04-16T18:05:51Z
description                                  Forest Green Rovers vs Notts County
contestant                     [{'id': '17zuelixesst1z59fwcix2dil', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               6fu1iurttezylbuqygt9p380t
venue.neutral                                                                 no
venue.longName                                                 The Bolt New Lawn
venue.shortName                                                The Bolt New Lawn

In [94]:
pd.json_normalize(match_b['match'][100]['matchInfo']).T

                                                                               0
id                                                     cm412hi5g4nqlnmkd5m9kp0d0
coverageLevel                                                                 15
date                                                                 2024-03-23Z
time                                                                   12:30:00Z
localDate                                                             2024-03-23
localTime                                                               12:30:00
week                                                                          40
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-03-24T22:28:28Z
description                                  Mansfield Town vs Colchester United
contestant                     [{'id': '4hcdmgl41o4blqpbeelu56h7y', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               bjdek2y604kyl4jndyel9fn9c
venue.neutral                                                                 no
venue.longName                                                  One Call Stadium
venue.shortName                                                 One Call Stadium

In [95]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/match/qxcx5jmswgto1qeqcjzghtddt/cmnxm4qeq87e6kh1b3rwy7nro?_rt=c&live=yes&_lcl=en&_fmt=jsonp&_clbk=W360f37b2939ea780601ee73fb26922cde666547d5',headers=headers)
soup = BeautifulSoup(page.text,'lxml')
soup = soup.get_text()
before, sep, after = soup.partition('(')
soup = after
soup = soup_a.rstrip(')')
data_json = json.loads(soup)
#pd.json_normalize(data_json['match'])

In [96]:
pd.json_normalize(data_json['match']).columns

Index(['matchInfo.id', 'matchInfo.coverageLevel', 'matchInfo.date',
       'matchInfo.time', 'matchInfo.localDate', 'matchInfo.localTime',
       'matchInfo.numberOfPeriods', 'matchInfo.periodLength',
       'matchInfo.overtimeLength', 'matchInfo.lastUpdated',
       'matchInfo.sport.id', 'matchInfo.sport.name', 'matchInfo.ruleset.id',
       'matchInfo.ruleset.name', 'matchInfo.competition.id',
       'matchInfo.competition.name', 'matchInfo.competition.knownName',
       'matchInfo.competition.sponsorName',
       'matchInfo.competition.competitionCode',
       'matchInfo.competition.competitionFormat',
       'matchInfo.competition.country.id',
       'matchInfo.competition.country.name', 'matchInfo.tournamentCalendar.id',
       'matchInfo.tournamentCalendar.startDate',
       'matchInfo.tournamentCalendar.endDate',
       'matchInfo.tournamentCalendar.name', 'matchInfo.stage.id',
       'matchInfo.stage.formatId', 'matchInfo.stage.startDate',
       'matchInfo.stage.endDate', 'matchInfo.stage.name',
       'matchInfo.contestant', 'matchInfo.venue.id', 'matchInfo.venue.neutral',
       'matchInfo.venue.longName', 'matchInfo.venue.shortName',
       'liveData.matchDetails.periodId', 'liveData.matchDetails.matchStatus',
       'liveData.matchDetails.leg', 'liveData.matchDetails.relatedMatchId',
       'liveData.matchDetails.scores.aggregate.home',
       'liveData.matchDetails.scores.aggregate.away', 'matchInfo.week',
       'matchInfo.description', 'liveData.matchDetailsExtra.matchOfficial',
       'liveData.matchDetails.winner', 'liveData.matchDetails.matchLengthMin',
       'liveData.matchDetails.matchLengthSec', 'liveData.matchDetails.period',
       'liveData.matchDetails.scores.ht.home',
       'liveData.matchDetails.scores.ht.away',
       'liveData.matchDetails.scores.ft.home',
       'liveData.matchDetails.scores.ft.away',
       'liveData.matchDetails.scores.total.home',
       'liveData.matchDetails.scores.total.away', 'liveData.goal',
       'liveData.card', 'liveData.substitute',
       'liveData.matchDetailsExtra.attendance', 'liveData.missedPen'],
      dtype='object')

In [97]:
pd.json_normalize(data_json['match'][0]['matchInfo']).T

                                                                               0
id                                                     870oydfmaaa1e7rkfdhjtxs7o
coverageLevel                                                                 15
date                                                                 2024-05-19Z
time                                                                   14:00:00Z
localDate                                                             2024-05-19
localTime                                                               15:00:00
numberOfPeriods                                                                2
periodLength                                                                  45
overtimeLength                                                                15
lastUpdated                                                 2024-03-23T03:07:13Z
contestant                     [{'phrase': 'TBC', 'position': 'home'}, {'phra...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cpb82lo67okt8tr7me3uetl3o
stage.formatId                                         czp83sezet9ljlckl53c3mb4l
stage.startDate                                                      2024-05-19Z
stage.endDate                                                        2024-05-19Z
stage.name                                           Promotion Play-offs - Final
venue.id                                               4fxggvdrv2gbc34ve0cim8ut1
venue.neutral                                                                 no
venue.longName                                                   Wembley Stadium
venue.shortName                                                  Wembley Stadium

In [98]:
pd.json_normalize(data_json['match'][10]['matchInfo']).T

                                                                               0
id                                                     d8wu5mb99131hucgk4idlo1ec
coverageLevel                                                                 15
date                                                                 2024-04-27Z
time                                                                   14:00:00Z
localDate                                                             2024-04-27
localTime                                                               15:00:00
week                                                                          46
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-04-16T18:05:51Z
description                                  Forest Green Rovers vs Notts County
contestant                     [{'id': '17zuelixesst1z59fwcix2dil', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               6fu1iurttezylbuqygt9p380t
venue.neutral                                                                 no
venue.longName                                                 The Bolt New Lawn
venue.shortName                                                The Bolt New Lawn

In [99]:
pd.json_normalize(data_json['match'][100]['matchInfo']).T

                                                                               0
id                                                     cm412hi5g4nqlnmkd5m9kp0d0
coverageLevel                                                                 15
date                                                                 2024-03-23Z
time                                                                   12:30:00Z
localDate                                                             2024-03-23
localTime                                                               12:30:00
week                                                                          40
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-03-24T22:28:28Z
description                                  Mansfield Town vs Colchester United
contestant                     [{'id': '4hcdmgl41o4blqpbeelu56h7y', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               bjdek2y604kyl4jndyel9fn9c
venue.neutral                                                                 no
venue.longName                                                  One Call Stadium
venue.shortName                                                 One Call Stadium

In [100]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/matchstats/qxcx5jmswgto1qeqcjzghtddt/cmnxm4qeq87e6kh1b3rwy7nro?_rt=c&detailed=yes&_lcl=en&_fmt=jsonp&_clbk=W399e5ab98fa59e069002713fd176aaed08e555578',headers=headers)
stats_soup = BeautifulSoup(page.text,'lxml')
stats_soup = stats_soup.get_text()
before, sep, after = stats_soup.partition('(')
stats_soup = after
stats_soup = stats_soup.rstrip(')')
stats_json = json.loads(stats_soup)

In [101]:
pd.json_normalize(stats_json).T

                                                                                          0
matchInfo.id                                                      cmnxm4qeq87e6kh1b3rwy7nro
matchInfo.coverageLevel                                                                  15
matchInfo.date                                                                  2023-09-16Z
matchInfo.time                                                                    14:00:00Z
matchInfo.localDate                                                              2023-09-16
matchInfo.localTime                                                                15:00:00
matchInfo.week                                                                           40
matchInfo.postMatch                                                                       1
matchInfo.numberOfPeriods                                                                 2
matchInfo.periodLength                                                                   45
matchInfo.lastUpdated                                                  2024-03-30T07:22:06Z
matchInfo.description                                              Newport County vs Barrow
matchInfo.sport.id                                                289u5typ3vp4ifwh5thalohmq
matchInfo.sport.name                                                                 Soccer
matchInfo.ruleset.id                                              79plas4983031idr6vw83nuel
matchInfo.ruleset.name                                                                  Men
matchInfo.competition.id                                          bgen5kjer2ytfp7lo9949t72g
matchInfo.competition.name                                                       League Two
matchInfo.competition.knownName                        English Football League - League Two
matchInfo.competition.sponsorName                                        Sky Bet League Two
matchInfo.competition.competitionCode                                                   LET
matchInfo.competition.competitionFormat                                     Domestic league
matchInfo.competition.country.id                                  1fk5l4hkqk12i7zske6mcqju6
matchInfo.competition.country.name                                                  England
matchInfo.tournamentCalendar.id                                   corpluuuxsjomnnx6ro1lyntg
matchInfo.tournamentCalendar.startDate                                          2023-08-05Z
matchInfo.tournamentCalendar.endDate                                            2024-05-19Z
matchInfo.tournamentCalendar.name                                                 2023/2024
matchInfo.stage.id                                                cppc39tjrmu246ayudn415gyc
matchInfo.stage.formatId                                          e2q01r9o9jwiq1fls93d1sslx
matchInfo.stage.startDate                                                       2023-08-05Z
matchInfo.stage.endDate                                                         2024-04-27Z
matchInfo.stage.name                                                         Regular Season
matchInfo.contestant                      [{'id': 'bewbbriuwh3i7a2zn19e6d0v4', 'name': '...
matchInfo.venue.id                                                7bhxc11xrxkfs91pg5oeal9ej
matchInfo.venue.neutral                                                                  no
matchInfo.venue.longName                                                      Rodney Parade
matchInfo.venue.shortName                                                     Rodney Parade
liveData.matchDetails.periodId                                                           14
liveData.matchDetails.matchStatus                                                    Played
liveData.matchDetails.winner                                                           draw
liveData.matchDetails.matchLengthMin                                                    104
liveData.matchDetails.matchLengthSec                                                     35
liveData.matchDetails.period              [{'id': 1, 'start': '2023-09-16T14:00:45Z', 'e...
liveData.matchDetails.scores.ht.home                                                      1
liveData.matchDetails.scores.ht.away                                                      0
liveData.matchDetails.scores.ft.home                                                      1
liveData.matchDetails.scores.ft.away                                                      1
liveData.matchDetails.scores.total.home                                                   1
liveData.matchDetails.scores.total.away                                                   1
liveData.goal                             [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
liveData.missedPen                        [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
liveData.card                             [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
liveData.substitute                       [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
liveData.lineUp                           [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
liveData.matchDetailsExtra.attendance                                                  3539
liveData.matchDetailsExtra.matchOfficial  [{'id': '3rwpk3s9y9d1y6drwpwvhv179', 'type': '...

In [102]:
pd.json_normalize(stats_json['matchInfo']).T

                                                                               0
id                                                     cmnxm4qeq87e6kh1b3rwy7nro
coverageLevel                                                                 15
date                                                                 2023-09-16Z
time                                                                   14:00:00Z
localDate                                                             2023-09-16
localTime                                                               15:00:00
week                                                                          40
postMatch                                                                      1
numberOfPeriods                                                                2
periodLength                                                                  45
lastUpdated                                                 2024-03-30T07:22:06Z
description                                             Newport County vs Barrow
contestant                     [{'id': 'bewbbriuwh3i7a2zn19e6d0v4', 'name': '...
sport.id                                               289u5typ3vp4ifwh5thalohmq
sport.name                                                                Soccer
ruleset.id                                             79plas4983031idr6vw83nuel
ruleset.name                                                                 Men
competition.id                                         bgen5kjer2ytfp7lo9949t72g
competition.name                                                      League Two
competition.knownName                       English Football League - League Two
competition.sponsorName                                       Sky Bet League Two
competition.competitionCode                                                  LET
competition.competitionFormat                                    Domestic league
competition.country.id                                 1fk5l4hkqk12i7zske6mcqju6
competition.country.name                                                 England
tournamentCalendar.id                                  corpluuuxsjomnnx6ro1lyntg
tournamentCalendar.startDate                                         2023-08-05Z
tournamentCalendar.endDate                                           2024-05-19Z
tournamentCalendar.name                                                2023/2024
stage.id                                               cppc39tjrmu246ayudn415gyc
stage.formatId                                         e2q01r9o9jwiq1fls93d1sslx
stage.startDate                                                      2023-08-05Z
stage.endDate                                                        2024-04-27Z
stage.name                                                        Regular Season
venue.id                                               7bhxc11xrxkfs91pg5oeal9ej
venue.neutral                                                                 no
venue.longName                                                     Rodney Parade
venue.shortName                                                    Rodney Parade

In [103]:
pd.json_normalize(stats_json['liveData']).T

                                                                                 0
goal                             [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
missedPen                        [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
card                             [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
substitute                       [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
lineUp                           [{'contestantId': 'bewbbriuwh3i7a2zn19e6d0v4',...
matchDetails.periodId                                                           14
matchDetails.matchStatus                                                    Played
matchDetails.winner                                                           draw
matchDetails.matchLengthMin                                                    104
matchDetails.matchLengthSec                                                     35
matchDetails.period              [{'id': 1, 'start': '2023-09-16T14:00:45Z', 'e...
matchDetails.scores.ht.home                                                      1
matchDetails.scores.ht.away                                                      0
matchDetails.scores.ft.home                                                      1
matchDetails.scores.ft.away                                                      1
matchDetails.scores.total.home                                                   1
matchDetails.scores.total.away                                                   1
matchDetailsExtra.attendance                                                  3539
matchDetailsExtra.matchOfficial  [{'id': '3rwpk3s9y9d1y6drwpwvhv179', 'type': '...

In [104]:
pd.json_normalize(stats_json['liveData']['goal']).T

                                          0                         1
contestantId      bewbbriuwh3i7a2zn19e6d0v4  2h0f9b45mwop10akb6bp7qx3
periodId                                  1                         2
timeMin                                  40                        69
timeMinSec                            39:04                     68:40
lastUpdated            2023-09-16T14:40:38Z      2023-09-16T15:31:56Z
timestamp              2023-09-16T14:39:49Z      2023-09-16T15:30:40Z
type                                      G                        PG
scorerId          8v0ifynfo9uvthpjczth6iwvd  xrsjebr9vtuzq0hg7dd8ysix
scorerName                    S. McLoughlin               D. Campbell
assistPlayerId    5rn3kpd78ycz48au9ys7ibyp6                       NaN
assistPlayerName                   L. Payne                       NaN
optaEventId                      2589842115                2589943249
homeScore                                 1                         1
awayScore                                 0                         1

In [105]:
pd.json_normalize(stats_json['liveData']['missedPen']).T

                                      0
contestantId  bewbbriuwh3i7a2zn19e6d0v4
periodId                              1
timeMin                              16
timeMinSec                        15:14
lastUpdated        2023-09-16T14:20:06Z
timestamp          2023-09-16T14:15:59Z
type                                 PM
playerId      cpxzygdccmo21bznxw34dgt79
playerName                     O. Bogle
optaEventId                  2589787133

In [106]:
pd.json_normalize(stats_json['liveData']['card']).T

,0,1,2,3,4,5
contestantId,bewbbriuwh3i7a2zn19e6d0v4,bewbbriuwh3i7a2zn19e6d0v4,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3
periodId,1,1,1,1,1,2
timeMin,5,14,20,28,43,73
timeMinSec,4:26,13:01,19:08,27:25,42:03,72:23
lastUpdated,2023-09-16T14:05:20Z,2023-09-16T14:13:54Z,2023-09-16T14:20:06Z,2023-09-16T14:28:29Z,2023-09-16T14:42:57Z,2023-09-16T15:34:47Z
timestamp,2023-09-16T14:05:11Z,2023-09-16T14:13:46Z,2023-09-16T14:19:54Z,2023-09-16T14:28:10Z,2023-09-16T14:42:48Z,2023-09-16T15:34:23Z
type,YC,YC,YC,YC,Y2C,YC
playerId,a69q0jj7tjwzxpo6b4i1ed3h1,ecbs66v836etd0l9vsxxk4ded,817j3zn7l7yallcrbwjcfc251,7w8g7gb67yv22agrmpiopknp,a69q0jj7tjwzxpo6b4i1ed3h1,1ncm06by0ynskzwqioughdpbe
playerName,R. Delaney,S. Bennett,B. Morris,N. Canavan,R. Delaney,R. Gotts
optaEventId,2589759743,2589781239,2589796495,2589814267,2589850003,2589951091
cardReason,Foul,Foul,Foul,Foul,Foul,Foul

In [107]:
pd.json_normalize(stats_json['liveData']['substitute']).T

,0,1,2,3,4,5,6,7,8
contestantId,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,bewbbriuwh3i7a2zn19e6d0v4,bewbbriuwh3i7a2zn19e6d0v4
periodId,1,2,2,2,2,2,2,2,2
timeMin,44,61,61,62,70,70,77,85,85
timeMinSec,43:26,60:28,60:39,61:16,69:45,69:46,76:49,84:19,84:59
lastUpdated,2023-09-16T14:44:22Z,2023-09-16T15:22:53Z,2023-09-16T15:22:53Z,2023-09-16T15:23:34Z,2023-09-16T15:31:57Z,2023-09-16T15:31:57Z,2023-09-19T09:25:20Z,2023-09-16T15:46:36Z,2023-09-19T09:25:20Z
timestamp,2023-09-16T14:44:11Z,2023-09-16T15:22:28Z,2023-09-16T15:22:39Z,2023-09-16T15:23:16Z,2023-09-16T15:31:45Z,2023-09-16T15:31:46Z,2023-09-16T15:38:49Z,2023-09-16T15:46:20Z,2023-09-16T15:46:59Z
playerOnId,8ccc4dmvpm3llpl0d9k3kng15,1ncm06by0ynskzwqioughdpbe,9wxje2xftl2jel55b145gqezu,bst58tyvslif8vobiaxw4ze38,8d6o15wvepi7do7e0ubjeoga2,6d3roy345r3srxogozeclk6vp,6l49pcwtyyv56v30g994nuz85,8gkc4sa46ymvj6gglikhh0c4q,9bvrne62o6vtr7s8vm43b4h04
playerOnName,D. Drysdale,R. Gotts,E. Acquah,J. Seberry,G. Garner,S. Foley,J. Chester,M. Bondswell,O. Thomas
playerOffId,c5fjkc4hy3faghfacslef9mqy,6ln898p7stih8l7ikzloet0b9,fms8otx87i9hyinb573yhu5l,5rn3kpd78ycz48au9ys7ibyp6,bi214figuycqzo805xjb0wvrp,eaoq9fk6at3axnjakp3s21hih,7w8g7gb67yv22agrmpiopknp,8v0ifynfo9uvthpjczth6iwvd,cpxzygdccmo21bznxw34dgt79
playerOffName,J. Waite,D. Worrall,K. Spence,L. Payne,D. Telford,T. White,N. Canavan,S. McLoughlin,O. Bogle
subReason,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical

In [108]:
pd.json_normalize(stats_json['liveData']['lineUp']).T

,0,1
contestantId,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3
formationUsed,41212,4312
player,"[{'playerId': 'en9o4e78h8zrbimvi40aa5wb9', 'fi...","[{'playerId': '78h4j8t2kn6hlnxuer1g8yu39', 'fi..."
stat,"[{'fh': '277', 'sh': '206', 'type': 'touches',...","[{'fh': '16', 'sh': '11', 'type': 'totalThrows..."
teamOfficial.id,d4cfhqq4rh8ew7zb7x5mo079x,90t712agtkvuvajj9bc4kdy7e
teamOfficial.firstName,Graham,Peter
teamOfficial.lastName,Coughlan,Wild
teamOfficial.shortFirstName,Graham,Pete
teamOfficial.shortLastName,Coughlan,Wild
teamOfficial.type,manager,manager
kit.id,16216,16185
kit.colour1,#FF9900,#000000
kit.colour2,#000000,NaN
kit.type,home,away

In [109]:
pd.json_normalize(stats_json['liveData']['lineUp'][0]['player'])

,playerId,firstName,lastName,shortFirstName,shortLastName,matchName,shirtNumber,position,positionSide,formationPlace,stat,captain,subPosition
0,en9o4e78h8zrbimvi40aa5wb9,Nicholas Peter,Townsend,Nick,Townsend,N. Townsend,1,Goalkeeper,Centre,1,"[{'type': 'accurateBackZonePass', 'value': '4'...",NaN,NaN
1,8w3ph3ghxo55vghnzvzk1txpl,Adam Thomas,Lewis,Adam,Lewis,A. Lewis,3,Defender,Left,3,"[{'type': 'attemptsConcededObox', 'value': '2'...",NaN,NaN
2,a69q0jj7tjwzxpo6b4i1ed3h1,Ryan Liam,Delaney,Ryan,Delaney,R. Delaney,4,Defender,Left/Centre,6,"[{'type': 'effectiveClearance', 'value': '3'},...",yes,NaN
3,7nvtgtkeq8sjlntr0xrabc4id,James Anthony John,Clarke,James,Clarke,J. Clarke,5,Defender,Centre/Right,5,"[{'type': 'interceptionsInBox', 'value': '1'},...",NaN,NaN
4,5rn3kpd78ycz48au9ys7ibyp6,Lewis,James Payne,Lewis,Payne,L. Payne,2,Defender,Right,2,"[{'type': 'accurateChippedPass', 'value': '1'}...",NaN,NaN
5,ecbs66v836etd0l9vsxxk4ded,Scot Andrew,Bennett,Scot,Bennett,S. Bennett,17,Defensive Midfielder,Centre,4,"[{'type': 'interception', 'value': '2'}, {'typ...",NaN,NaN
6,817j3zn7l7yallcrbwjcfc251,Bryn Andrew,Morris,Bryn,Morris,B. Morris,8,Midfielder,Left,11,"[{'type': 'totalContest', 'value': '3'}, {'typ...",NaN,NaN
7,8v0ifynfo9uvthpjczth6iwvd,Shane Daniel,McLoughlin,Shane,McLoughlin,S. McLoughlin,19,Midfielder,Right,7,"[{'type': 'challengeLost', 'value': '1'}, {'ty...",NaN,NaN
8,c5fjkc4hy3faghfacslef9mqy,James Tyler,Waite,James,Waite,J. Waite,11,Attacking Midfielder,Centre,8,"[{'type': 'minsPlayed', 'value': '44'}, {'type...",NaN,NaN
9,cpxzygdccmo21bznxw34dgt79,Omar Hanif,Bogle,Omar,Bogle,O. Bogle,9,Striker,Left/Centre,9,"[{'type': 'finalThirdEntries', 'value': '1'}, ...",NaN,NaN
10,67560ygttzudacg4u534d24mh,Will,Evans,Will,Evans,W. Evans,7,Striker,Centre/Right,10,"[{'type': 'wasFouled', 'value': '1'}, {'type':...",NaN,NaN
11,8gkc4sa46ymvj6gglikhh0c4q,Matthew Joshua,Bondswell,Matthew,Bondswell,M. Bondswell,33,Substitute,NaN,NaN,"[{'type': 'totalSubOn', 'value': '1'}, {'type'...",NaN,Defender
12,8ccc4dmvpm3llpl0d9k3kng15,Declan,Drysdale,Declan,Drysdale,D. Drysdale,6,Substitute,NaN,NaN,"[{'type': 'blockedScoringAtt', 'value': '1'}, ...",NaN,Defender
13,clo0uh0vc4xn1ytlljqymyz85,Jonathan,Maxted,Jon,Maxted,J. Maxted,26,Substitute,NaN,NaN,"[{'type': 'formationPlace', 'value': '0'}]",NaN,Goalkeeper
14,8b3xymoptq6oe0ei4t9jr3y1g,Kiban,Rai,Kiban,Rai,K. Rai,18,Substitute,NaN,NaN,"[{'type': 'formationPlace', 'value': '0'}]",NaN,Attacker
15,bst58tyvslif8vobiaxw4ze38,Joshua,Seberry,Josh,Seberry,J. Seberry,15,Substitute,NaN,NaN,"[{'type': 'totalCrossNocorner', 'value': '1'},...",NaN,Defender
16,9bvrne62o6vtr7s8vm43b4h04,Oliver,Thomas,Olly,Thomas,O. Thomas,21,Substitute,NaN,NaN,"[{'type': 'openPlayPass', 'value': '2'}, {'typ...",NaN,Attacker
17,8cuhzvswuwumxkzomvyo6q1yi,Nathan Daniel,Wood,Nathan,Wood,N. Wood,22,Substitute,NaN,NaN,"[{'type': 'formationPlace', 'value': '0'}]",NaN,Attacker

In [110]:
pd.json_normalize(stats_json['liveData']['lineUp'][1]['player'])

,playerId,firstName,lastName,shortFirstName,shortLastName,matchName,shirtNumber,position,positionSide,formationPlace,stat,captain,subPosition
0,78h4j8t2kn6hlnxuer1g8yu39,Paul David,Farman,Paul,Farman,P. Farman,1,Goalkeeper,Centre,1,"[{'type': 'divingSave', 'value': '1'}, {'type'...",NaN,NaN
1,7qasax38emkn62etoj2lxu6p6,Junior,Tiensia,Junior,Tiensia,J. Tiensia,29,Defender,Left,3,"[{'type': 'challengeLost', 'value': '1'}, {'ty...",NaN,NaN
2,7w8g7gb67yv22agrmpiopknp,Niall David Stephen,Canavan,Niall,Canavan,N. Canavan,6,Defender,Left/Centre,6,"[{'type': 'accurateFwdZonePass', 'value': '9'}...",yes,NaN
3,eabj99pro30dio3nmxd59jmc5,George Edward,Ray,George,Ray,G. Ray,5,Defender,Centre/Right,5,"[{'type': 'finalThirdEntries', 'value': '3'}, ...",NaN,NaN
4,dqhgdc5q2s6zdcgky5v8fsatx,Rory,Feely,Rory,Feely,R. Feely,24,Defender,Right,2,"[{'type': 'touches', 'value': '82'}, {'type': ...",NaN,NaN
5,xrsjebr9vtuzq0hg7dd8ysix,Dean Graeme,Campbell,Dean,Campbell,D. Campbell,4,Defensive Midfielder,Left,11,"[{'type': 'totalPass', 'value': '74'}, {'type'...",NaN,NaN
6,eaoq9fk6at3axnjakp3s21hih,Thomas Alan,White,Tom,White,T. White,13,Defensive Midfielder,Centre,4,"[{'type': 'successfulFinalThirdPasses', 'value...",NaN,NaN
7,fms8otx87i9hyinb573yhu5l,Kian,Spence,Kian,Spence,K. Spence,8,Defensive Midfielder,Right,7,"[{'type': 'headPass', 'value': '3'}, {'type': ...",NaN,NaN
8,bi214figuycqzo805xjb0wvrp,Dominic David,Telford,Dominic,Telford,D. Telford,19,Attacking Midfielder,Centre,8,"[{'type': 'gameStarted', 'value': '1'}, {'type...",NaN,NaN
9,6ln898p7stih8l7ikzloet0b9,David Richard,Worrall,David,Worrall,D. Worrall,7,Striker,Left/Centre,10,"[{'type': 'gameStarted', 'value': '1'}, {'type...",NaN,NaN
10,71pv32h5sxhopm6aetxjm50ph,Jamie Thomas,Proctor,Jamie,Proctor,J. Proctor,9,Striker,Centre/Right,9,"[{'type': 'leftsidePass', 'value': '5'}, {'typ...",NaN,NaN
11,9wxje2xftl2jel55b145gqezu,Emile,Acquah,Emile,Acquah,E. Acquah,20,Substitute,NaN,NaN,"[{'type': 'passesRight', 'value': '1'}, {'type...",NaN,Attacker
12,6d3roy345r3srxogozeclk6vp,Samuel Robert,Foley,Sam,Foley,S. Foley,16,Substitute,NaN,NaN,"[{'type': 'totalBackZonePass', 'value': '6'}, ...",NaN,Midfielder
13,8d6o15wvepi7do7e0ubjeoga2,Gerard,Garner,Gerard,Garner,G. Garner,10,Substitute,NaN,NaN,"[{'type': 'totalCrossNocorner', 'value': '3'},...",NaN,Attacker
14,1ncm06by0ynskzwqioughdpbe,Robbie,Gotts,Robbie,Gotts,R. Gotts,15,Substitute,NaN,NaN,"[{'type': 'accurateLongBalls', 'value': '3'}, ...",NaN,Defender
15,6l49pcwtyyv56v30g994nuz85,James,Grant Chester,James,Chester,J. Chester,17,Substitute,NaN,NaN,"[{'type': 'accurateBackZonePass', 'value': '7'...",NaN,Defender
16,8cfnuxalpgrlkq0yoitl01l1x,Joshua Mark,Lillis,Josh,Lillis,J. Lillis,12,Substitute,NaN,NaN,"[{'type': 'formationPlace', 'value': '0'}]",NaN,Goalkeeper

In [111]:
h_stats = pd.json_normalize(stats_json['liveData']['lineUp'][0]['stat'])
a_stats = pd.json_normalize(stats_json['liveData']['lineUp'][1]['stat'])

In [112]:
pd.set_option('display.max_rows', None)
h_stats

      fh    sh                        type  value
0    277   206                     touches    483
1      2     1            fouledFinalThird      3
2      2     3          totalCrossNocorner      5
3      1     1                  attRfTotal      2
4      1     1                 attIboxMiss      2
5     27    25                     duelWon     52
6      1     0        accurateKeeperThrows      1
7      1     0            attAssistSetplay      1
8     73    79                possLostCtrl    152
9      5     3             totalScoringAtt      8
10   NaN   NaN              firstHalfGoals      1
11     8     8           accurateLongBalls     16
12    11    12               possWonDef3rd     23
13    10    13     longPassOwnToOppSuccess     23
14     3     3                attemptsIbox      6
15     1     0                 attIboxPost      1
16     1     0               goalsOpenplay      1
17     2     2            accurateLaunches      4
18     3     1             accurateFlickOn      4
19     2     3                  wonContest      5
20     2     0             totalYellowCard      2
21     1     0            totalThroughBall      1
22     1     1                  divingSave      2
23    81    30           totalBackZonePass    111
24    23    18            totalChippedPass     41
25     1     0                totalRedCard      1
26     1     7                 blockedPass      8
27     2     0       accurateKeeperSweeper      2
28     1     0                 attOboxGoal      1
29     1     0                  penaltyWon      1
30   NaN   NaN        ptsDroppedWinningPos      2
31     1     0             outfielderBlock      1
32   170    82                openPlayPass    252
33     1     0            bigChanceCreated      1
34     1     0                 attLfTarget      1
35     0     1             penaltyConceded      1
36     1     0                dispossessed      1
37    43    12                leftsidePass     55
38     6     1                   wonTackle      7
39    34    40              totalLongBalls     74
40     2     0             bigChanceMissed      2
41   128    50                accuratePass    178
42     1     0                secondYellow      1
43     1     0                 hitWoodwork      1
44     1     0              totalHighClaim      1
45     1     1                 attMissLeft      2
46     2     1          offtargetAttAssist      3
47     9    16                  aerialLost     25
48     1     0             midfielderGoals      1
49     0     1                   attCorner      1
50     1     0                  attPenPost      1
51    33    15  successfulFinalThirdPasses     48
52     9    24          effectiveClearance     33
53     1     0               attIboxTarget      1
54     9    24              totalClearance     33
55    13     2              accurateThrows     15
56     6     5             interceptionWon     11
57     1     3                    subsMade      4
58    73    79                 possLostAll    152
59     9     6                   fkFoulWon     15
60     7     9                   aerialWon     16
61     5     7                totalContest     12
62     7    12               headClearance     19
63    58    29         accurateFwdZonePass     87
64     3     2        attemptsConcededIbox      5
65     1     0          goalAssistOpenplay      1
66     1     0                attPostRight      1
67     2     2               challengeLost      4
68     0     1            penGoalsConceded      1
69     6     5                interception     11
70     0     1               shieldBallOop      1
71     5     2                totalLayoffs      7
72     3     2                 attOpenplay      5
73     0     2              attIboxBlocked      2
74     2     0        attemptsConcededObox      2
75    13    13              penAreaEntries     26
76     2     0                attObxCentre      2
77    70    21        accurateBackZonePass     91
78     3     3       effectiveBlockedCross      6
79     0     1               goalsConceded      1
80     5     2         attemptedTackleFoul      7
81     0     1                penaltyFaced      1
82     4     2                  attLfTotal      6
83     5     0               possWonAtt3rd      5
84     1     1               totalPullBack      2
85     1     1               freekickCross      2
86    53    15                 passesRight     68
87     1     0              postScoringAtt      1
88   124    44      successfulOpenPlayPass    168
89    23    26                    duelLost     49
90     1     2           crosses18yardplus      3
91    12    10               totalLaunches     22
92     0     3                 cornerTaken      3
93    18     9                 totalThrows     27
94     0     3                  wonCorners      3
95     1     7        successfulPutThrough      8
96     0     1           goalsConcededIbox      1
97     0     1            accuratePullBack      1
98    63    34       totalFinalThirdPasses     97
99     0     1          interceptionsInBox      1
100    3     9                   goalKicks     12
101    6     3                totalFlickOn      9
102    1     0              attSvLowCentre      1
103    8     8               possWonMid3rd     16
104    4     3              totalAttAssist      7
105    7    12      effectiveHeadClearance     19
106    1     0                keeperThrows      1
107    0     1                   attBxLeft      1
108   52  24.2        possessionPercentage   36.4
109    4     9                  putThrough     13
110   40    23           finalThirdEntries     63
111    1     0               attCmissRight      1
112    2     0                attemptsObox      2
113    0     3         totalCornersIntobox      3
114    1     0            attGoalHighRight      1
115  104    80            totalFwdZonePass    184
116    8     5                  fkFoulLost     13
117  183   104                   totalPass    287
118    1     1                   savedIbox      2
119    1     0                     overrun      1
120    5     2             accurateLayoffs      7
121    1     0                   attRfGoal      1
122    1     0           accurateGoalKicks      1
123    0     1                sixYardBlock      1
124    3     1               shotOffTarget      4
125    0     2           blockedScoringAtt      2
126    3     1                 attBxCentre      4
127   31    17               rightsidePass     48
128   28    24                ballRecovery     52
129   11     8                  passesLeft     19
130    0     1                    handBall      1
131    6     8           unsuccessfulTouch     14
132    0     2                     punches      2
133    3     3                blockedCross      6
134    9     7                 totalTackle     16
135   27    11                backwardPass     38
136    1     1                       saves      2
137    1     0                  goalAssist      1
138    9     4         accurateChippedPass     13
139    1     0                       goals      1
140    1     0                 attOboxMiss      1
141    1     0                attMissRight      1
142    1     0               goodHighClaim      1
143    0     1                  attBxRight      1
144   37    43            longPassOwnToOpp     80
145    7     7             touchesInOppBox     14
146    2     6                  totalCross      8
147    2     0          ontargetScoringAtt      2
148    2     2           ontargetAttAssist      4
149    2     3           attAssistOpenplay      5
150   82    64                     fwdPass    146
151    2     0          totalKeeperSweeper      2
152    3     7                 lostCorners     10
153  NaN   NaN               formationUsed  41212

In [113]:
pd.set_option('display.max_rows', None)
a_stats

      fh    sh                        type value
0     16    11                 totalThrows    27
1      3     7                 cornerTaken    10
2      1     8           crosses18yardplus     9
3     11     9               totalLaunches    20
4     99   247      successfulOpenPlayPass   346
5      2     1                  attLfTotal     3
6     14    66                 passesRight    80
7      1     0                penaltyFaced     1
8      0     4               possWonAtt3rd     4
9      2     0               freekickCross     2
10     0     2               totalPullBack     2
11    27    25                    duelLost    52
12     1     0               goalsConceded     1
13     4     1         attemptedTackleFoul     5
14     2     2               accurateCross     4
15    50    85        accurateBackZonePass   135
16     1     0                attObxCentre     1
17    19    35              penAreaEntries    54
18     2     0              attIboxBlocked     2
19     3     1                 attOpenplay     4
20     2     0        attemptsConcededObox     2
21     7    11                  putThrough    18
22    39    45           finalThirdEntries    84
23     0     1                  attPenGoal     1
24     4     2                keeperThrows     6
25     2     1       accurateCrossNocorner     3
26    48  75.8        possessionPercentage  63.6
27     0     1             bigChanceScored     1
28     3     8      effectiveHeadClearance    11
29     0     1      accurateCornersIntobox     1
30     4     0              totalAttAssist     4
31     8     8               possWonMid3rd    16
32     1     1              attSvLowCentre     2
33     7     5                totalFlickOn    12
34     3     3                   goalKicks     6
35    60   138       totalFinalThirdPasses   198
36     0     1            accuratePullBack     1
37     3     2        successfulPutThrough     5
38     3     7                  wonCorners    10
39     7    10           unsuccessfulTouch    17
40     0     2                    handBall     2
41    38    43                  passesLeft    81
42    27    28                ballRecovery    55
43     0     1                 attIboxGoal     1
44    21    86               rightsidePass   107
45     3     0           blockedScoringAtt     3
46     1     0                 attSetpiece     1
47     1     1                 attBxCentre     2
48     1     1                 attRfTarget     2
49     1     0               shotOffTarget     1
50     0     2           accurateGoalKicks     2
51   156   319                   totalPass   475
52     3     0             accurateLayoffs     3
53     1     0                     overrun     1
54     1     0                   savedIbox     1
55     9     8                  fkFoulLost    17
56    99   248            totalFwdZonePass   347
57     2     0                attemptsObox     2
58     1     0                 attObxdLeft     1
59     3     4         totalCornersIntobox     7
60     1     0           goalsConcededObox     1
61     0     3                 lostCorners     3
62     3     0           ontargetAttAssist     3
63    88   103                     fwdPass   191
64     3     0           attAssistOpenplay     3
65     8    18             touchesInOppBox    26
66    12    24                  totalCross    36
67     1     2          ontargetScoringAtt     3
68     1     1                  attBxRight     2
69    36    46            longPassOwnToOpp    82
70     1     0                attMissRight     1
71     0     1              attGoalLowLeft     1
72     1     0                 attOboxMiss     1
73     0     1                       goals     1
74     4    12         accurateChippedPass    16
75     4     4                 totalTackle     8
76    15    39                backwardPass    54
77     1     0                       saves     1
78   NaN   NaN          ptsGainedLosingPos     1
79     3     2                attemptsIbox     5
80    16    28     longPassOwnToOppSuccess    44
81    15    13               possWonDef3rd    28
82    16    22           accurateLongBalls    38
83     1     0            attAssistSetplay     1
84    23    26                     duelWon    49
85     4     2        accurateKeeperThrows     6
86     5     2             totalScoringAtt     7
87    86   101                possLostCtrl   187
88     3     1                  attRfTotal     4
89     9    20          totalCrossNocorner    29
90     3     2            fouledFinalThird     5
91   256   412                     touches   668
92     1     0            bigChanceCreated     1
93     0     1                  penaltyWon     1
94     0     2         accurateThroughBall     2
95   145   308                openPlayPass   453
96     0     2             outfielderBlock     2
97     3     2                 blockedPass     5
98     1     0                  divingSave     1
99     0     3            totalThroughBall     3
100    1     0       accurateFreekickCross     1
101   18    26            totalChippedPass    44
102   69    95           totalBackZonePass   164
103    6    12               crosses18yard    18
104    3     2            accurateLaunches     5
105    2     2                  wonContest     4
106    1     1             totalYellowCard     2
107    1     2             accurateFlickOn     3
108    1     0          offtargetAttAssist     1
109    1     0                   attCorner     1
110    0     1             midfielderGoals     1
111    7     9                  aerialLost    16
112  103   257                accuratePass   360
113    1     0             bigChanceMissed     1
114   37    39              totalLongBalls    76
115   32    91                leftsidePass   123
116    5     6                dispossessed    11
117    2     1                   wonTackle     3
118    0     1                   attLfGoal     1
119    1     0             penaltyConceded     1
120    4     3                interception     7
121    3     2                totalLayoffs     5
122    2     3               challengeLost     5
123    3     3        attemptsConcededIbox     6
124   55   174         accurateFwdZonePass   229
125    1     0              attOboxBlocked     1
126    6     3                totalContest     9
127    3     8               headClearance    11
128    0     5                    subsMade     5
129    4     3             interceptionWon     7
130    9    16                   aerialWon    25
131    8     4                   fkFoulWon    12
132   86   101                 possLostAll   187
133    8    11              totalClearance    19
134    1     1               attIboxTarget     2
135    8    11          effectiveClearance    19
136   10    11              accurateThrows    21
137   33    98  successfulFinalThirdPasses   131
138  NaN   NaN               formationUsed  4312

stats reference: https://github.com/tomh05/football-scores/blob/master/data/reference/opta-f9-stats.csv

In [114]:
h_stats.value[h_stats['type']=='possessionPercentage'] #home team's possession%

108    36.4
Name: value, dtype: object

In [115]:
pd.json_normalize(stats_json['liveData']['matchDetails']).T #match info

                                                                   0
periodId                                                          14
matchStatus                                                   Played
winner                                                          draw
matchLengthMin                                                   104
matchLengthSec                                                    35
period             [{'id': 1, 'start': '2023-09-16T14:00:45Z', 'e...
scores.ht.home                                                     1
scores.ht.away                                                     0
scores.ft.home                                                     1
scores.ft.away                                                     1
scores.total.home                                                  1
scores.total.away                                                  1

In [116]:
pd.json_normalize(stats_json['liveData']['matchDetails']['period']).T #match info

                                        0                     1
id                                      1                     2
start                2023-09-16T14:00:45Z  2023-09-16T15:07:00Z
end                  2023-09-16T14:51:57Z  2023-09-16T16:00:23Z
lengthMin                              51                    53
lengthSec                              12                    23
announcedInjuryTime                   360                   480

In [117]:
pd.json_normalize(stats_json['liveData']['matchDetailsExtra']).T #match attendance

                                                               0
attendance                                                  3539
matchOfficial  [{'id': '3rwpk3s9y9d1y6drwpwvhv179', 'type': '...

In [118]:
pd.json_normalize(stats_json['liveData']['matchDetailsExtra']['matchOfficial']).T #match officials

,0,1,2,3
id,3rwpk3s9y9d1y6drwpwvhv179,2hbswzs6q2kllb2lysf17nr9x,4h1ym4vyx9zejp0iuzn5dmxn9,crq04mfvjpdlu26uswmeopxat
type,Main,Assistant referee 1,Assistant referee 2,Fourth official
firstName,Martin,Grant,Simon,Steve
lastName,Coy,Taylor,Shaw,Rushton
shortFirstName,Martin,Grant,Simon,Steven
shortLastName,Coy,Taylor,Shaw,Rushton

In [119]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/squads/qxcx5jmswgto1qeqcjzghtddt/?_rt=c&ctst=2h0f9b45mwop10akb6bp7qx3&tmcl=corpluuuxsjomnnx6ro1lyntg&_pgSz=200&_lcl=en&_fmt=jsonp&_clbk=W348b6a4ce998e1a2b0167dfb9ad33e23dda76acbc',headers=headers)
squad_soup_a = BeautifulSoup(page.text,'lxml')
squad_soup_a = squad_soup_a.get_text()
before, sep, after = squad_soup_a.partition('(')
squad_soup_a = after
squad_soup_a = squad_soup_a.rstrip(')')
squad_json_a = json.loads(squad_soup_a)
pd.json_normalize(squad_json_a['squad']).T #home team info

                                                                             0
contestantId                                          2h0f9b45mwop10akb6bp7qx3
contestantName                                                      Barrow AFC
contestantShortName                                                     Barrow
contestantClubName                                                      Barrow
contestantCode                                                             BAR
tournamentCalendarId                                 corpluuuxsjomnnx6ro1lyntg
tournamentCalendarStartDate                                        2023-08-05Z
tournamentCalendarEndDate                                          2024-05-19Z
competitionName                                                     League Two
competitionId                                        bgen5kjer2ytfp7lo9949t72g
venueName                                                     SO Legal Stadium
venueId                                              b7xezz4tg0o6k8oqskwigbo0v
person                       [{'id': '1ncm06by0ynskzwqioughdpbe', 'firstNam...

In [120]:
pd.json_normalize(squad_json_a['squad'][0]['person']) #home team's squad

,id,firstName,lastName,shortFirstName,shortLastName,matchName,nationality,nationalityId,position,type,placeOfBirth,shirtNumber,active
0,1ncm06by0ynskzwqioughdpbe,Robbie,Gotts,Robbie,Gotts,R. Gotts,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,Harrogate,15.0,yes
1,3ft5brlvxvw8otiyjppxkk6ad,Cole John,Stockton,Cole,Stockton,C. Stockton,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,Huyton,23.0,yes
2,3rgg5by8iotg486hyp6wgy92i,Sam Lawrence Alexander,Bellis,Sam,Bellis,S. Bellis,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,NaN,39.0,no
3,5amllgqf3e12laxpfzsbqnl61,Tyrell,Warren,Tyrell,Warren,T. Warren,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,NaN,21.0,yes
4,6d3roy345r3srxogozeclk6vp,Samuel Robert,Foley,Sam,Foley,S. Foley,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Midfielder,player,St Albans,16.0,yes
5,6l49pcwtyyv56v30g994nuz85,James,Grant Chester,James,Chester,J. Chester,Wales,26ilvvgth36hmq6lgq8cy5cb5,Defender,player,Warrington,17.0,yes
6,6ln898p7stih8l7ikzloet0b9,David Richard,Worrall,David,Worrall,D. Worrall,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,Manchester,7.0,yes
7,71pv32h5sxhopm6aetxjm50ph,Jamie Thomas,Proctor,Jamie,Proctor,J. Proctor,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,Preston,9.0,yes
8,78h4j8t2kn6hlnxuer1g8yu39,Paul David,Farman,Paul,Farman,P. Farman,England,1fk5l4hkqk12i7zske6mcqju6,Goalkeeper,player,North Shields,1.0,yes
9,7na8sknsqdvatvhbchslrk55g,Craig,Rutherford,Craig,Rutherford,C. Rutherford,England,1fk5l4hkqk12i7zske6mcqju6,NaN,assistant coach,NaN,NaN,yes
10,7qasax38emkn62etoj2lxu6p6,Junior,Tiensia,Junior,Tiensia,J. Tiensia,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,NaN,29.0,yes
11,7w8g7gb67yv22agrmpiopknp,Niall David Stephen,Canavan,Niall,Canavan,N. Canavan,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Defender,player,Leeds,6.0,yes
12,8cfnuxalpgrlkq0yoitl01l1x,Joshua Mark,Lillis,Josh,Lillis,J. Lillis,England,1fk5l4hkqk12i7zske6mcqju6,Goalkeeper,player,Derby,12.0,yes
13,8d6o15wvepi7do7e0ubjeoga2,Gerard,Garner,Gerard,Garner,G. Garner,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,Liverpool,10.0,no
14,90t712agtkvuvajj9bc4kdy7e,Peter,Wild,Pete,Wild,P. Wild,England,1fk5l4hkqk12i7zske6mcqju6,NaN,coach,NaN,NaN,yes
15,9wxje2xftl2jel55b145gqezu,Emile,Acquah,Emile,Acquah,E. Acquah,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,London,20.0,yes
16,aa3cj93001107ehrlrm2hgefo,Malakai,Reeve,Malakai,Reeve,M. Reeve,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,NaN,36.0,no
17,b63h01f3dt4j25niw8zy3uyfp,Courtney,Duffus,Courtney,Duffus,C. Duffus,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Attacker,player,Cheltenham,14.0,no
18,bi214figuycqzo805xjb0wvrp,Dominic David,Telford,Dominic,Telford,D. Telford,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,Burnley,19.0,yes
19,cd5y8mkj41zcrduz9d807ghqt,Benjamin Michael,Whitfield,Ben,Whitfield,B. Whitfield,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,Bingley,34.0,yes
20,cp4w7xqqt6e5300avnicgs0oa,Owen Anthony,Bray,Owen,Bray,O. Bray,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Midfielder,player,NaN,35.0,yes
21,d1w76h31qflzzq7j6lj1ok86i,Mazeed,Ogungbo,Mazeed,Ogungbo,M. Ogungbo,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Defender,player,NaN,3.0,yes
22,dqhgdc5q2s6zdcgky5v8fsatx,Rory,Feely,Rory,Feely,R. Feely,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Defender,player,Dublin,24.0,yes
23,dya1ojskddluab5anmhtjwzfu,Luca,Stephenson,Luca,Stephenson,L. Stephenson,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,NaN,18.0,yes
24,eabj99pro30dio3nmxd59jmc5,George Edward,Ray,George,Ray,G. Ray,Wales,26ilvvgth36hmq6lgq8cy5cb5,Defender,player,Warrington,5.0,yes
25,eaoq9fk6at3axnjakp3s21hih,Thomas Alan,White,Tom,White,T. White,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,Newcastle upon Tyne,13.0,yes
26,ecfsxmz39pz5u0ahrc8d3p90p,Elliot Christian,Newby,Elliot,Newby,E. Newby,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,Barrow-in-Furness,11.0,yes
27,eqr295nz2pd5q9dj05r5wkdn8,Sean,Etaluku,Sean,Etaluku,S. Etaluku,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,NaN,37.0,no
28,fms8otx87i9hyinb573yhu5l,Kian,Spence,Kian,Spence,K. Spence,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,Harrogate,8.0,yes
29,xrsjebr9vtuzq0hg7dd8ysix,Dean Graeme,Campbell,Dean,Campbell,D. Campbell,Scotland,1xf68d0a8lnnq30hnnn8kr6ut,Midfielder,player,Bridge of Don,4.0,yes

In [121]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.scoresway.com/',
    'Origin': 'https://www.scoresway.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}
page = requests.get('https://api.performfeeds.com/soccerdata/squads/qxcx5jmswgto1qeqcjzghtddt/?_rt=c&ctst=bewbbriuwh3i7a2zn19e6d0v4&tmcl=corpluuuxsjomnnx6ro1lyntg&_pgSz=200&_lcl=en&_fmt=jsonp&_clbk=W351ea1688bc238a73516b109ec932b07d834b0125',headers=headers)
squad_soup_b = BeautifulSoup(page.text,'lxml')
squad_soup_b = squad_soup_b.get_text()
before, sep, after = squad_soup_b.partition('(')
squad_soup_b = after
squad_soup_b = squad_soup_b.rstrip(')')
squad_json_b = json.loads(squad_soup_b)
pd.json_normalize(squad_json_b['squad']).T #away team info

                                                                             0
contestantId                                         bewbbriuwh3i7a2zn19e6d0v4
contestantName                                              Newport County AFC
contestantShortName                                                    Newport
contestantClubName                                              Newport County
contestantCode                                                             NEW
tournamentCalendarId                                 corpluuuxsjomnnx6ro1lyntg
tournamentCalendarStartDate                                        2023-08-05Z
tournamentCalendarEndDate                                          2024-05-19Z
competitionName                                                     League Two
competitionId                                        bgen5kjer2ytfp7lo9949t72g
venueName                                                        Rodney Parade
venueId                                              7bhxc11xrxkfs91pg5oeal9ej
person                       [{'id': '13mt2athqc669hzd17riiu6fo', 'firstNam...

In [122]:
pd.json_normalize(squad_json_b['squad'][0]['person']) #away team's squad

,id,firstName,lastName,shortFirstName,shortLastName,matchName,nationality,nationalityId,position,type,shirtNumber,active,secondNationality,secondNationalityId,placeOfBirth
0,13mt2athqc669hzd17riiu6fo,Corey,Evans,Corey,Evans,C. Evans,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,36.0,yes,NaN,NaN,NaN
1,1zr0fnv0h7ow1ibld4ie80mlm,Luke Owen,Jephcott,Luke,Jephcott,L. Jephcott,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,31.0,yes,England,1fk5l4hkqk12i7zske6mcqju6,Aberystwyth
2,2k3y4x681f46nqbqxxb2kfl5h,Henry William James,Charsley,Harry,Charsley,H. Charsley,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Midfielder,player,20.0,yes,NaN,NaN,Wirral
3,3mt6mirqvbyggcal3jqcv5my2,Matthew,Baker,Matthew,Baker,M. Baker,Wales,26ilvvgth36hmq6lgq8cy5cb5,Defender,player,28.0,yes,England,1fk5l4hkqk12i7zske6mcqju6,NaN
4,56x6wo05188a1eiuqjcjtl1p1,Aaron Keith,Wildig,Aaron,Wildig,A. Wildig,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,24.0,yes,NaN,NaN,Hereford
5,5rn3kpd78ycz48au9ys7ibyp6,Lewis,James Payne,Lewis,Payne,L. Payne,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,2.0,yes,NaN,NaN,NaN
6,65s454koas239vtre3amccavo,Sebastian,Palmer-Houlden,Seb,Palmer-Houlden,S. Palmer-Houlden,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,30.0,yes,NaN,NaN,NaN
7,67560ygttzudacg4u534d24mh,Will,Evans,Will,Evans,W. Evans,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,7.0,yes,NaN,NaN,NaN
8,6p0t2k1516k1ejdgdlhjtxs7o,Alfie,Young,Alfie,Young,A. Young,Wales,26ilvvgth36hmq6lgq8cy5cb5,Midfielder,player,38.0,yes,NaN,NaN,NaN
9,77a2gxjfqmi7hgn48xtd3aj2s,Jack,Norris,Jack,Norris,J. Norris,Wales,26ilvvgth36hmq6lgq8cy5cb5,Midfielder,player,34.0,yes,NaN,NaN,NaN
10,7nvtgtkeq8sjlntr0xrabc4id,James Anthony John,Clarke,James,Clarke,J. Clarke,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,5.0,yes,NaN,NaN,Aylesbury
11,817j3zn7l7yallcrbwjcfc251,Bryn Andrew,Morris,Bryn,Morris,B. Morris,England,1fk5l4hkqk12i7zske6mcqju6,Midfielder,player,8.0,yes,NaN,NaN,Hartlepool
12,8b3xymoptq6oe0ei4t9jr3y1g,Kiban,Rai,Kiban,Rai,K. Rai,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,18.0,yes,NaN,NaN,NaN
13,8ccc4dmvpm3llpl0d9k3kng15,Declan,Drysdale,Declan,Drysdale,D. Drysdale,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,6.0,yes,NaN,NaN,Birkenhead
14,8cuhzvswuwumxkzomvyo6q1yi,Nathan Daniel,Wood,Nathan,Wood,N. Wood,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,22.0,no,NaN,NaN,NaN
15,8gkc4sa46ymvj6gglikhh0c4q,Matthew Joshua,Bondswell,Matthew,Bondswell,M. Bondswell,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,33.0,yes,NaN,NaN,Nottingham
16,8jlk4eg39c2krmvw6nzc72gb8,Morgan,Evans,Morgan,Evans,M. Evans,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,35.0,yes,NaN,NaN,NaN
17,8ocdnwrvax71fxdb21u336sr8,Harrison William,Bright,Harrison,Bright,H. Bright,Wales,26ilvvgth36hmq6lgq8cy5cb5,Defender,player,14.0,yes,NaN,NaN,Monmouth
18,8v0ifynfo9uvthpjczth6iwvd,Shane Daniel,McLoughlin,Shane,McLoughlin,S. McLoughlin,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Attacker,player,19.0,yes,NaN,NaN,Kerry
19,8w3ph3ghxo55vghnzvzk1txpl,Adam Thomas,Lewis,Adam,Lewis,A. Lewis,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,3.0,yes,NaN,NaN,Liverpool
20,9bvrne62o6vtr7s8vm43b4h04,Oliver,Thomas,Olly,Thomas,O. Thomas,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,21.0,no,NaN,NaN,Bristol
21,9nkrl8t7w2f8f04if9ksmlrtg,Nelson,Sanca,Nelson,Sanca,Nelson Sanca,Portugal,1nbm5i9a0403zzvltn17lxinc,Defender,player,41.0,yes,Wales,26ilvvgth36hmq6lgq8cy5cb5,Lisbon
22,a69q0jj7tjwzxpo6b4i1ed3h1,Ryan Liam,Delaney,Ryan,Delaney,R. Delaney,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Defender,player,4.0,yes,NaN,NaN,Wexford
23,at5ou2gknn9j9et3uto7qmwnp,Wayne,Hatswell,Wayne,Hatswell,W. Hatswell,England,1fk5l4hkqk12i7zske6mcqju6,NaN,assistant coach,NaN,yes,NaN,NaN,Swindon
24,bkgula9wgahogxyt59trjwueh,Offrande Jolynold Serge,Zanzala,Offrande,Zanzala,O. Zanzala,Congo,1s2y6o0lwj69dj5ib5pid8f6r,Attacker,player,10.0,yes,NaN,NaN,Brazzaville
25,bst58tyvslif8vobiaxw4ze38,Joshua,Seberry,Josh,Seberry,J. Seberry,Republic of Ireland,63nepb66un7juhglo2g6rezcl,Defender,player,15.0,yes,NaN,NaN,London
26,c5fjkc4hy3faghfacslef9mqy,James Tyler,Waite,James,Waite,J. Waite,Wales,26ilvvgth36hmq6lgq8cy5cb5,Attacker,player,11.0,yes,NaN,NaN,Monmouth
27,clo0uh0vc4xn1ytlljqymyz85,Jonathan,Maxted,Jon,Maxted,J. Maxted,England,1fk5l4hkqk12i7zske6mcqju6,Goalkeeper,player,26.0,yes,NaN,NaN,Tadcaster
28,cpxzygdccmo21bznxw34dgt79,Omar Hanif,Bogle,Omar,Bogle,O. Bogle,England,1fk5l4hkqk12i7zske6mcqju6,Attacker,player,9.0,yes,NaN,NaN,Birmingham
29,d4cfhqq4rh8ew7zb7x5mo079x,Graham,Coughlan,Graham,Coughlan,G. Coughlan,Republic of Ireland,63nepb66un7juhglo2g6rezcl,NaN,coach,NaN,yes,NaN,NaN,Dublin
30,dus11k4xs95ggsb32pn96tze2,Sam Lewis,Bowen,Sam,Bowen,S. Bowen,Wales,26ilvvgth36hmq6lgq8cy5cb5,Midfielder,player,16.0,no,NaN,NaN,NaN
31,ecbs66v836etd0l9vsxxk4ded,Scot Andrew,Bennett,Scot,Bennett,S. Bennett,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,17.0,yes,NaN,NaN,Newquay
32,en9o4e78h8zrbimvi40aa5wb9,Nicholas Peter,Townsend,Nick,Townsend,N. Townsend,Antigua and Barbuda,5ptslcq1vbobftatllej94tkr,Goalkeeper,player,1.0,yes,NaN,NaN,Solihull
33,eua8tj2cid37j6hsgiab1uqy1,Kyle Alexander,Jameson,Kyle,Jameson,K. Jameson,England,1fk5l4hkqk12i7zske6mcqju6,Defender,player,23.0,yes,NaN,NaN,Urmston
34,wndch7ulmjug8bq31pk7xct0,Fraser,Needham,Fraser,Needham,F. Needham,Wales,26ilvvgth36hmq6lgq8cy5cb5,Goalkeeper,player,40.0,yes,NaN,NaN,NaN

In [123]:
pd.json_normalize(stats_json['liveData']['substitute']).T

,0,1,2,3,4,5,6,7,8
contestantId,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,bewbbriuwh3i7a2zn19e6d0v4,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,2h0f9b45mwop10akb6bp7qx3,bewbbriuwh3i7a2zn19e6d0v4,bewbbriuwh3i7a2zn19e6d0v4
periodId,1,2,2,2,2,2,2,2,2
timeMin,44,61,61,62,70,70,77,85,85
timeMinSec,43:26,60:28,60:39,61:16,69:45,69:46,76:49,84:19,84:59
lastUpdated,2023-09-16T14:44:22Z,2023-09-16T15:22:53Z,2023-09-16T15:22:53Z,2023-09-16T15:23:34Z,2023-09-16T15:31:57Z,2023-09-16T15:31:57Z,2023-09-19T09:25:20Z,2023-09-16T15:46:36Z,2023-09-19T09:25:20Z
timestamp,2023-09-16T14:44:11Z,2023-09-16T15:22:28Z,2023-09-16T15:22:39Z,2023-09-16T15:23:16Z,2023-09-16T15:31:45Z,2023-09-16T15:31:46Z,2023-09-16T15:38:49Z,2023-09-16T15:46:20Z,2023-09-16T15:46:59Z
playerOnId,8ccc4dmvpm3llpl0d9k3kng15,1ncm06by0ynskzwqioughdpbe,9wxje2xftl2jel55b145gqezu,bst58tyvslif8vobiaxw4ze38,8d6o15wvepi7do7e0ubjeoga2,6d3roy345r3srxogozeclk6vp,6l49pcwtyyv56v30g994nuz85,8gkc4sa46ymvj6gglikhh0c4q,9bvrne62o6vtr7s8vm43b4h04
playerOnName,D. Drysdale,R. Gotts,E. Acquah,J. Seberry,G. Garner,S. Foley,J. Chester,M. Bondswell,O. Thomas
playerOffId,c5fjkc4hy3faghfacslef9mqy,6ln898p7stih8l7ikzloet0b9,fms8otx87i9hyinb573yhu5l,5rn3kpd78ycz48au9ys7ibyp6,bi214figuycqzo805xjb0wvrp,eaoq9fk6at3axnjakp3s21hih,7w8g7gb67yv22agrmpiopknp,8v0ifynfo9uvthpjczth6iwvd,cpxzygdccmo21bznxw34dgt79
playerOffName,J. Waite,D. Worrall,K. Spence,L. Payne,D. Telford,T. White,N. Canavan,S. McLoughlin,O. Bogle
subReason,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical,Tactical