Note: in order to make it better/smoother for Github, I've commented out some of the large containers. Obviously if you download and run the notebook yourself, you can turn these lines back into code and run/see them...

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get(
    'https://www.sofascore.com/west-ham-united-wolverhampton/dsM#id:11352508',
    headers={'User-Agent': 'Mozilla/5.0'} # you'll be blocked if you don't use some type of user agent
)
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
response.status_code

200

**Shotmap**

In [4]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.sofascore.com/',
    'Origin': 'https://www.sofascore.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}

response_shotmap = requests.get('https://api.sofascore.com/api/v1/event/11352508/shotmap', headers=headers)

In [5]:
response_shotmap.status_code

200

In [6]:
shots = response_shotmap.json()

In [7]:
#shots

In [8]:
#shots['shotmap']

In [9]:
shots_df = pd.DataFrame(shots['shotmap'])

In [10]:
shots_df

,player,isHome,shotType,situation,playerCoordinates,bodyPart,goalMouthLocation,goalMouthCoordinates,blockCoordinates,xg,id,time,addedTime,timeSeconds,draw,reversedPeriodTime,reversedPeriodTimeSeconds,incidentType,goalType,xgot
0,"{'name': 'Jean-Ricner Bellegarde', 'slug': 'je...",False,block,assisted,"{'x': 19.5, 'y': 25.8, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 48.9, 'z': 19}","{'x': 8.4, 'y': 40.2, 'z': 0}",0.018672,2407508,90,2.0,5491,"{'start': {'x': 25.8, 'y': 19.5}, 'block': {'x...",1,809,shot,NaN,NaN
1,"{'name': 'James Ward-Prowse', 'firstName': '',...",True,miss,free-kick,"{'x': 23.5, 'y': 36.7, 'z': 0}",right-foot,close-left,"{'x': 0, 'y': 57.3, 'z': 27.8}",NaN,0.087372,2407413,80,NaN,4799,"{'start': {'x': 36.7, 'y': 23.5}, 'end': {'x':...",11,601,shot,NaN,NaN
2,"{'name': 'Jarrod Bowen', 'slug': 'jarrod-bowen...",True,block,assisted,"{'x': 18.5, 'y': 59.5, 'z': 0}",left-foot,low-centre,"{'x': 0, 'y': 48.5, 'z': 19}","{'x': 16.6, 'y': 58.7, 'z': 0}",0.034106,2407394,78,NaN,4626,"{'start': {'x': 59.5, 'y': 18.5}, 'block': {'x...",13,774,shot,NaN,NaN
3,"{'name': 'Jarrod Bowen', 'slug': 'jarrod-bowen...",True,goal,fast-break,"{'x': 11.7, 'y': 65.6, 'z': 0}",right-foot,low-left,"{'x': 0, 'y': 53.6, 'z': 3.8}",NaN,0.060578,2407379,74,NaN,4396,"{'start': {'x': 65.6, 'y': 11.7}, 'end': {'x':...",17,1004,shot,regular,0.5066
4,"{'name': 'Mario Lemina', 'firstName': '', 'las...",False,miss,assisted,"{'x': 25.4, 'y': 53, 'z': 0}",right-foot,high,"{'x': 0, 'y': 44.9, 'z': 63.9}",NaN,0.019455,2407341,70,NaN,4159,"{'start': {'x': 53, 'y': 25.4}, 'end': {'x': 5...",21,1241,shot,NaN,NaN
5,"{'name': 'Hee-Chan Hwang', 'firstName': '', 'l...",False,block,assisted,"{'x': 25.1, 'y': 46.5, 'z': 0}",left-foot,low-centre,"{'x': 0, 'y': 50.5, 'z': 19}","{'x': 21.5, 'y': 46.9, 'z': 0}",0.026276,2407335,69,NaN,4092,"{'start': {'x': 46.5, 'y': 25.1}, 'block': {'x...",22,1308,shot,NaN,NaN
6,"{'name': 'Lucas Paquetá', 'firstName': '', 'la...",True,miss,regular,"{'x': 23.1, 'y': 43.9, 'z': 0}",left-foot,high-right,"{'x': 0, 'y': 38.7, 'z': 52.8}",NaN,0.029490,2407325,66,NaN,3943,"{'start': {'x': 43.9, 'y': 23.1}, 'end': {'x':...",25,1457,shot,NaN,NaN
7,"{'name': 'Mario Lemina', 'firstName': '', 'las...",False,save,assisted,"{'x': 23.3, 'y': 36.6, 'z': 0}",right-foot,low-right,"{'x': 0, 'y': 47.9, 'z': 0.6}","{'x': 1.8, 'y': 49.6, 'z': 0}",0.024657,2407313,66,NaN,3904,"{'start': {'x': 36.6, 'y': 23.3}, 'block': {'x...",25,1496,shot,NaN,0.1342
8,"{'name': 'Matheus Cunha', 'slug': 'matheus-cun...",False,miss,assisted,"{'x': 12.6, 'y': 72.2, 'z': 0}",right-foot,close-high,"{'x': 0, 'y': 51.1, 'z': 55.6}",NaN,0.032440,2407302,64,NaN,3802,"{'start': {'x': 72.2, 'y': 12.6}, 'end': {'x':...",27,1598,shot,NaN,NaN
9,"{'name': 'Jean-Ricner Bellegarde', 'slug': 'je...",False,miss,corner,"{'x': 19.2, 'y': 32.9, 'z': 0}",left-foot,high,"{'x': 0, 'y': 52.4, 'z': 68.1}",NaN,0.018059,2407225,55,NaN,3293,"{'start': {'x': 32.9, 'y': 19.2}, 'end': {'x':...",36,2107,shot,NaN,NaN
10,"{'name': 'Hee-Chan Hwang', 'firstName': '', 'l...",False,block,assisted,"{'x': 15.1, 'y': 57.6, 'z': 0}",left-foot,low-left,"{'x': 0, 'y': 51.9, 'z': 19}","{'x': 11.6, 'y': 55.4, 'z': 0}",0.044570,2407222,55,NaN,3260,"{'start': {'x': 57.6, 'y': 15.1}, 'block': {'x...",36,2140,shot,NaN,NaN
11,"{'name': 'Nayef Aguerd', 'firstName': '', 'las...",True,miss,corner,"{'x': 8.4, 'y': 52.9, 'z': 0}",head,close-high-left,"{'x': 0, 'y': 57.6, 'z': 59.7}",NaN,0.065703,2407179,48,NaN,2843,"{'start': {'x': 52.9, 'y': 8.4}, 'end': {'x': ...",43,2557,shot,NaN,NaN
12,"{'name': 'Toti Gomes', 'firstName': '', 'lastN...",False,block,set-piece,"{'x': 9.9, 'y': 57.2, 'z': 0}",left-foot,low-centre,"{'x': 0, 'y': 50, 'z': 19}","{'x': 6.7, 'y': 54.9, 'z': 0}",0.153463,2407100,45,5.0,2980,"{'start': {'x': 57.2, 'y': 9.9}, 'block': {'x'...",1,2420,shot,NaN,NaN
13,"{'name': 'Jarrod Bowen', 'slug': 'jarrod-bowen...",True,post,assisted,"{'x': 18.1, 'y': 49.9, 'z': 0}",left-foot,right,"{'x': 0, 'y': 44.7, 'z': 3.8}",NaN,0.047357,2407054,45,NaN,2688,"{'start': {'x': 49.9, 'y': 18.1}, 'end': {'x':...",1,12,shot,NaN,NaN
14,"{'name': 'Hee-Chan Hwang', 'firstName': '', 'l...",False,block,assisted,"{'x': 18.1, 'y': 47.4, 'z': 0}",left-foot,low-left,"{'x': 0, 'y': 53.6, 'z': 19}","{'x': 16, 'y': 47.3, 'z': 0}",0.047357,2407011,41,NaN,2414,"{'start': {'x': 47.4, 'y': 18.1}, 'block': {'x...",5,286,shot,NaN,NaN
15,"{'name': 'Matheus Cunha', 'slug': 'matheus-cun...",False,block,regular,"{'x': 16.5, 'y': 44.7, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 50.3, 'z': 19}","{'x': 7.9, 'y': 47.3, 'z': 0}",0.072363,2407027,41,NaN,2411,"{'start': {'x': 44.7, 'y': 16.5}, 'block': {'x...",5,289,shot,NaN,NaN
16,"{'name': 'Vladimír Coufal', 'firstName': '', '...",True,block,assisted,"{'x': 25.1, 'y': 60.3, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 50, 'z': 19}","{'x': 21.1, 'y': 58.7, 'z': 0}",0.019251,2406986,38,NaN,2234,"{'start': {'x': 60.3, 'y': 25.1}, 'block': {'x...",8,466,shot,NaN,NaN
17,"{'name': 'Mohammed Kudus', 'firstName': '', 'l...",True,goal,fast-break,"{'x': 12.2, 'y': 61.7, 'z': 0}",right-foot,low-left,"{'x': 0, 'y': 52.9, 'z': 2.5}",NaN,0.371901,2406960,32,NaN,1907,"{'start': {'x': 61.7, 'y': 12.2}, 'end': {'x':...",14,793,shot,regular,0.7340
18,"{'name': 'Jean-Ricner Bellegarde', 'slug': 'je...",False,block,assisted,"{'x': 13.6, 'y': 39.5, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 51.5, 'z': 19}","{'x': 11.1, 'y': 41.2, 'z': 0}",0.072810,2406954,31,NaN,1846,"{'start': {'x': 39.5, 'y': 13.6}, 'block': {'x...",15,854,shot,NaN,NaN
19,"{'name': 'Matheus Cunha', 'slug': 'matheus-cun...",False,save,assisted,"{'x': 25.7, 'y': 50.7, 'z': 0}",right-foot,low-left,"{'x': 0, 'y': 53.9, 'z': 7}","{'x': 1.1, 'y': 50.2, 'z': 0}",0.038515,2406931,28,NaN,1672,"{'start': {'x': 50.7, 'y': 25.7}, 'block': {'x...",18,1028,shot,NaN,0.2817
20,"{'name': 'Mohammed Kudus', 'firstName': '', 'l...",True,goal,fast-break,"{'x': 22, 'y': 60.5, 'z': 0}",left-foot,low-right,"{'x': 0, 'y': 47.8, 'z': 1.9}",NaN,0.050770,2406902,23,NaN,1322,"{'start': {'x': 60.5, 'y': 22}, 'end': {'x': 5...",23,1378,shot,regular,0.1159
21,"{'name': 'Craig Dawson', 'slug': 'craig-dawson...",False,miss,corner,"{'x': 8, 'y': 45, 'z': 0}",head,right,"{'x': 0, 'y': 23, 'z': 12.5}","{'x': 3.1, 'y': 54, 'z': 0}",0.065915,2406896,22,NaN,1306,"{'start': {'x': 45, 'y': 8}, 'block': {'x': 54...",24,1394,shot,NaN,NaN
22,"{'name': 'James Ward-Prowse', 'firstName': '',...",True,save,free-kick,"{'x': 30.6, 'y': 32.7, 'z': 0}",right-foot,low-left,"{'x': 0, 'y': 53.7, 'z': 15.2}","{'x': 1.4, 'y': 50.5, 'z': 0}",0.026898,2406864,19,NaN,1101,"{'start': {'x': 32.7, 'y': 30.6}, 'block': {'x...",27,1599,shot,NaN,0.1851
23,"{'name': 'Lucas Paquetá', 'firstName': '', 'la...",True,miss,assisted,"{'x': 11.1, 'y': 33.9, 'z': 0}",left-foot,close-high-right,"{'x': 0, 'y': 41.5, 'z': 59.7}",NaN,0.063252,2406835,16,NaN,900,"{'start': {'x': 33.9, 'y': 11.1}, 'end': {'x':...",30,1800,shot,NaN,NaN
24,"{'name': 'Matheus Cunha', 'slug': 'matheus-cun...",False,save,assisted,"{'x': 8.8, 'y': 73.8, 'z': 0}",right-foot,low-centre,"{'x': 0, 'y': 48.7, 'z': 5.1}","{'x': 0.5, 'y': 53.2, 'z': 0}",0.025356,2406803,12,NaN,674,"{'start': {'x': 73.8, 'y': 8.8}, 'block': {'x'...",34,2026,shot,NaN,0.0386
25,"{'name': 'Mohammed Kudus', 'firstName': '', 'l...",True,block,corner,"{'x': 14.6, 'y': 52.8, 'z': 0}",left-foot,low-centre,"{'x': 0, 'y': 50.4, 'z': 19}","{'x': 9.3, 'y': 51.6, 'z': 0}",0.088509,2406783,8,NaN,463,"{'start': {'x': 52.8, 'y': 14.6}, 'block': {'x...",38,2237,shot,NaN,NaN
26,"{'name': 'Kurt Zouma', 'firstName': '', 'lastN...",True,block,corner,"{'x': 5.4, 'y': 50.5, 'z': 0}",head,low-centre,"{'x': 0, 'y': 50.4, 'z': 19}","{'x': 3.6, 'y': 50.2, 'z': 0}",0.186685,2406765,6,NaN,312,"{'start': {'x': 50.5, 'y': 5.4}, 'block': {'x'...",40,2388,shot,NaN,NaN

**Team Stats**

In [11]:
response_stats = requests.get('https://api.sofascore.com/api/v1/event/11352508/statistics', headers=headers)
stats = response_stats.json()
stats2 = pd.json_normalize(stats['statistics'][0]['groups'])
stats2

     groupName                                    statisticsItems
0     Expected  [{'name': 'Expected goals', 'home': '1.13', 'a...
1   Possession  [{'name': 'Ball possession', 'home': '44%', 'a...
2        Shots  [{'name': 'Total shots', 'home': '13', 'away':...
3       TVData  [{'name': 'Corner kicks', 'home': '6', 'away':...
4  Shots extra  [{'name': 'Big chances', 'home': '1', 'away': ...
5       Passes  [{'name': 'Passes', 'home': '433', 'away': '54...
6        Duels  [{'name': 'Dribbles', 'home': '12/19 (63%)', '...
7    Defending  [{'name': 'Tackles', 'home': '18', 'away': '25...

In [12]:
xG = pd.json_normalize(stats['statistics'][0]['groups'][0]['statisticsItems']).T

In [13]:
xG = pd.json_normalize(stats['statistics'][0]['groups'][0]['statisticsItems'])
possession = pd.json_normalize(stats['statistics'][0]['groups'][1]['statisticsItems'])
shots = pd.json_normalize(stats['statistics'][0]['groups'][2]['statisticsItems'])
misc = pd.json_normalize(stats['statistics'][0]['groups'][3]['statisticsItems'])
creation = pd.json_normalize(stats['statistics'][0]['groups'][4]['statisticsItems'])
passes = pd.json_normalize(stats['statistics'][0]['groups'][5]['statisticsItems'])
duels = pd.json_normalize(stats['statistics'][0]['groups'][6]['statisticsItems'])
defending = pd.json_normalize(stats['statistics'][0]['groups'][7]['statisticsItems'])
match_stats = pd.concat([xG, possession, shots, creation,passes,duels,defending,misc])
match_stats.loc[:,['name','home','away']]

                   name         home         away
0        Expected goals         1.13         0.66
0       Ball possession          44%          56%
0           Total shots           13           14
1       Shots on target            4            3
2      Shots off target            5            4
3         Blocked shots            4            7
0           Big chances            1            0
1          Hit woodwork            1            0
2       Counter attacks            6            0
3  Counter attack shots            3            0
4  Counter attack goals            3            0
5      Shots inside box            6            7
6     Shots outside box            7            7
7      Goalkeeper saves            3            1
8       Goals prevented         0.45        -1.46
0                Passes          433          541
1       Accurate passes    343 (79%)    456 (84%)
2            Long balls  28/63 (44%)  20/44 (45%)
3               Crosses   3/14 (21%)   6/24 (25%)
0              Dribbles  12/19 (63%)   8/14 (57%)
1       Possession lost          144          141
2             Duels won           66           59
3           Aerials won           21           16
0               Tackles           18           25
1         Interceptions           10            2
2            Clearances           25           22
0          Corner kicks            6            5
1              Offsides            1            2
2                 Fouls           12           15
3          Yellow cards            3            1
4            Free kicks           15           11
5             Throw-ins           21           11
6            Goal kicks            4            8

**Pre-game Form**

In [14]:
response_form = requests.get('https://api.sofascore.com/api/v1/event/11352508/pregame-form', headers=headers)
form = response_form.json()
form

{'homeTeam': {'avgRating': '6.93',
  'position': 9,
  'value': '24',
  'form': ['W', 'W', 'D', 'W', 'L']},
 'awayTeam': {'avgRating': '6.90',
  'position': 13,
  'value': '19',
  'form': ['W', 'L', 'L', 'W', 'D']},
 'label': 'Pts'}

**Lineups**

In [15]:
response_lineups = requests.get('https://api.sofascore.com/api/v1/event/11352508/lineups', headers=headers)
lineups = response_lineups.json()
#lineups

**List of Players & Player Stats**

In [16]:
home_players = lineups['home']['players']
home_players = pd.json_normalize(home_players)
home_players

,shirtNumber,jerseyNumber,position,substitute,player.name,player.slug,player.shortName,player.position,player.userCount,player.id,...,statistics.shotOffTarget,statistics.challengeLost,statistics.totalContest,statistics.wonContest,statistics.onTargetScoringAttempt,statistics.goals,statistics.goalAssist,statistics.bigChanceCreated,statistics.hitWoodwork,statistics.totalOffside
0,1,1,G,False,Łukasz Fabiański,lukasz-fabianski,Ł. Fabiański,G,3663,15479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,5,D,False,Vladimír Coufal,vladimir-coufal,V. Coufal,D,1647,138024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,4,D,False,Kurt Zouma,kurt-zouma,K. Zouma,D,2950,139227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27,27,D,False,Nayef Aguerd,nayef-aguerd,N. Aguerd,D,9381,877102,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33,33,D,False,Emerson Palmieri,emerson-palmieri,Emerson,D,2159,155997,...,NaN,1.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5,28,28,M,False,Tomáš Souček,tomas-soucek,T. Souček,M,2897,799041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,19,19,M,False,Edson Álvarez,edson-alvarez,E. Álvarez,M,5195,847151,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14,14,M,False,Mohammed Kudus,mohammed-kudus,M. Kudus,M,36871,905163,...,NaN,2.0,7.0,5.0,2.0,2.0,NaN,NaN,NaN,NaN
8,7,7,M,False,James Ward-Prowse,james-ward-prowse,J. Ward-Prowse,M,5587,161717,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
9,10,10,M,False,Lucas Paquetá,lucas-paqueta,L. Paquetá,M,22083,839981,...,2.0,NaN,5.0,4.0,NaN,NaN,3.0,1.0,NaN,NaN
10,20,20,F,False,Jarrod Bowen,jarrod-bowen,J. Bowen,M,5513,552884,...,1.0,1.0,2.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN
11,8,8,M,True,Pablo Fornals,pablo-fornals,P. Fornals,M,1326,816763,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12,45,45,F,True,Divin Mubama,mubama-divin,D. Mubama,F,498,1167025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18,18,F,True,Danny Ings,danny-ings,D. Ings,F,2758,130181,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,24,24,D,True,Thilo Kehrer,thilo-kehrer,T. Kehrer,D,1946,281277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,23,23,G,True,Alphonse Aréola,alphonse-areola,A. Aréola,G,3012,96531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15,15,D,True,Konstantinos Mavropanos,konstantinos-mavropanos,K. Mavropanos,D,2113,829022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,21,21,D,True,Angelo Ogbonna,angelo-ogbonna,A. Ogbonna,D,608,21164,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,3,3,D,True,Aaron Cresswell,aaron-cresswell,A. Cresswell,D,1092,43443,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,22,22,F,True,Saïd Benrahma,said-benrahma,S. Benrahma,F,13732,354808,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
away_players = lineups['away']['players']
away_players = pd.json_normalize(away_players)
away_players

,shirtNumber,jerseyNumber,position,substitute,player.name,player.slug,player.shortName,player.position,player.userCount,player.id,...,statistics.expectedGoals,player.firstName,player.lastName,statistics.totalCross,statistics.accurateCross,statistics.challengeLost,statistics.blockedScoringAttempt,statistics.dispossessed,statistics.onTargetScoringAttempt,statistics.totalOffside
0,25,25,G,False,Daniel Bentley,daniel-bentley,D. Bentley,G,155,101367,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23,23,D,False,Max Kilman,max-kilman,M. Kilman,D,894,894474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15,15,D,False,Craig Dawson,craig-dawson,C. Dawson,D,619,50027,...,0.0659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24,24,D,False,Toti Gomes,toti-gomes,T. Gomes,D,737,973418,...,0.1535,,,5.0,1.0,1.0,1.0,NaN,NaN,NaN
4,22,22,M,False,Nélson Semedo,nelson-semedo,N. Semedo,D,4571,252821,...,NaN,,,3.0,1.0,NaN,NaN,2.0,NaN,NaN
5,5,5,M,False,Mario Lemina,mario-lemina,M. Lemina,M,1106,307284,...,0.0441,,,NaN,NaN,1.0,NaN,1.0,1.0,NaN
6,8,8,M,False,João Gomes,joao-gomes,João Gomes,M,7381,1015267,...,NaN,,,NaN,NaN,4.0,NaN,1.0,NaN,NaN
7,27,27,M,False,Jean-Ricner Bellegarde,jean-ricner-bellegarde,J.-R. Bellegarde,M,783,845273,...,0.1095,NaN,NaN,2.0,NaN,1.0,2.0,2.0,NaN,NaN
8,11,11,F,False,Hee-Chan Hwang,hee-chan-hwang,H. Hwang,F,5621,786186,...,0.1182,,,NaN,NaN,2.0,3.0,3.0,NaN,NaN
9,12,12,F,False,Matheus Cunha,matheus-cunha,M. Cunha,F,5600,886363,...,0.1687,NaN,NaN,NaN,NaN,2.0,1.0,1.0,2.0,NaN
10,21,21,F,False,Pablo Sarabia,pablo-sarabia,P. Sarabia,M,3276,138573,...,NaN,NaN,NaN,13.0,4.0,NaN,NaN,1.0,NaN,2.0
11,3,3,D,True,Rayan Aït Nouri,rayan-ait-nouri,R. A. Nouri,D,6480,931278,...,NaN,,,NaN,NaN,NaN,NaN,1.0,NaN,NaN
12,2,2,D,True,Matt Doherty,matt-doherty,M. Doherty,M,1716,143047,...,NaN,,,NaN,NaN,1.0,NaN,NaN,NaN,NaN
13,20,20,M,True,Tommy Doyle,tommy-doyle,T. Doyle,M,816,932628,...,NaN,,,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14,40,40,G,True,Tom King,tom-king,T. King,G,95,603922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,17,17,D,True,Hugo Bueno,hugo-bueno,H. Bueno,D,398,1013928,...,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4,4,D,True,Santiago Bueno,santiago-bueno,S. Bueno,D,614,846308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6,6,M,True,Boubacar Traoré,boubacar-traore,B. Traoré,M,915,982613,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,18,F,True,Saša Kalajdžić,sasa-kalajdzic,S. Kalajdžić,F,1451,870038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,9,F,True,Fábio Silva,fabio-silva,F. Silva,F,3079,954076,...,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Players' Average Positions**

In [18]:
response_avg = requests.get('https://api.sofascore.com/api/v1/event/11352508/average-positions', headers=headers)
avg_positions = response_avg.json()
avg_positions

{'home': [{'player': {'name': 'Kurt Zouma',
    'firstName': '',
    'lastName': '',
    'slug': 'kurt-zouma',
    'shortName': 'K. Zouma',
    'position': 'D',
    'userCount': 2950,
    'id': 139227},
   'averageX': 43.39649122807,
   'averageY': 27.936842105263,
   'pointsCount': 57},
  {'player': {'name': 'Pablo Fornals',
    'slug': 'pablo-fornals',
    'shortName': 'P. Fornals',
    'position': 'M',
    'userCount': 1326,
    'id': 816763},
   'averageX': 54.877777777778,
   'averageY': 76.9,
   'pointsCount': 18},
  {'player': {'name': 'Tomáš Souček',
    'firstName': '',
    'lastName': '',
    'slug': 'tomas-soucek',
    'shortName': 'T. Souček',
    'position': 'M',
    'userCount': 2897,
    'id': 799041},
   'averageX': 46.696666666667,
   'averageY': 31.115,
   'pointsCount': 60},
  {'player': {'name': 'Divin Mubama',
    'firstName': '',
    'lastName': '',
    'slug': 'mubama-divin',
    'shortName': 'D. Mubama',
    'position': 'F',
    'userCount': 498,
    'id': 1167025},
   'averageX': 64.688888888889,
   'averageY': 44.811111111111,
   'pointsCount': 9},
  {'player': {'name': 'Danny Ings',
    'firstName': '',
    'lastName': '',
    'slug': 'danny-ings',
    'shortName': 'D. Ings',
    'position': 'F',
    'userCount': 2758,
    'id': 130181},
   'averageX': 53.5,
   'averageY': 66.883333333333,
   'pointsCount': 6},
  {'player': {'name': 'Lucas Paquetá',
    'firstName': '',
    'lastName': '',
    'slug': 'lucas-paqueta',
    'shortName': 'L. Paquetá',
    'position': 'M',
    'userCount': 22083,
    'id': 839981},
   'averageX': 55.30396039604,
   'averageY': 74.276237623762,
   'pointsCount': 101},
  {'player': {'name': 'Thilo Kehrer',
    'slug': 'thilo-kehrer',
    'shortName': 'T. Kehrer',
    'position': 'D',
    'userCount': 1946,
    'id': 281277},
   'averageX': 43.466666666667,
   'averageY': 12.1,
   'pointsCount': 3},
  {'player': {'name': 'James Ward-Prowse',
    'firstName': '',
    'lastName': '',
    'slug': 'james-ward-prowse',
    'shortName': 'J. Ward-Prowse',
    'position': 'M',
    'userCount': 5587,
    'id': 161717},
   'averageX': 58.976811594203,
   'averageY': 67.411594202899,
   'pointsCount': 69},
  {'player': {'name': 'Edson Álvarez',
    'slug': 'edson-alvarez',
    'shortName': 'E. Álvarez',
    'position': 'M',
    'userCount': 5195,
    'id': 847151},
   'averageX': 38.938333333333,
   'averageY': 58.828333333333,
   'pointsCount': 60},
  {'player': {'name': 'Jarrod Bowen',
    'slug': 'jarrod-bowen',
    'shortName': 'J. Bowen',
    'position': 'M',
    'userCount': 5513,
    'id': 552884},
   'averageX': 63.354385964912,
   'averageY': 44.338596491228,
   'pointsCount': 57},
  {'player': {'name': 'Łukasz Fabiański',
    'slug': 'lukasz-fabianski',
    'shortName': 'Ł. Fabiański',
    'position': 'G',
    'userCount': 3663,
    'id': 15479},
   'averageX': 11.202040816327,
   'averageY': 46.469387755102,
   'pointsCount': 49},
  {'player': {'name': 'Nayef Aguerd',
    'firstName': '',
    'lastName': '',
    'slug': 'nayef-aguerd',
    'shortName': 'N. Aguerd',
    'position': 'D',
    'userCount': 9381,
    'id': 877102},
   'averageX': 34.614666666667,
   'averageY': 70.974666666667,
   'pointsCount': 75},
  {'player': {'name': 'Mohammed Kudus',
    'firstName': '',
    'lastName': '',
    'slug': 'mohammed-kudus',
    'shortName': 'M. Kudus',
    'position': 'M',
    'userCount': 36871,
    'id': 905163},
   'averageX': 57.194871794872,
   'averageY': 27.334615384615,
   'pointsCount': 78},
  {'player': {'name': 'Vladimír Coufal',
    'firstName': '',
    'lastName': '',
    'slug': 'vladimir-coufal',
    'shortName': 'V. Coufal',
    'position': 'D',
    'userCount': 1647,
    'id': 138024},
   'averageX': 40.694202898551,
   'averageY': 17.23768115942,
   'pointsCount': 69},
  {'player': {'name': 'Emerson Palmieri',
    'slug': 'emerson-palmieri',
    'shortName': 'Emerson',
    'position': 'D',
    'userCount': 2159,
    'id': 155997},
   'averageX': 51.743902439024,
   'averageY': 85.6,
   'pointsCount': 82}],
 'away': [{'player': {'name': 'Daniel Bentley',
    'slug': 'daniel-bentley',
    'shortName': 'D. Bentley',
    'position': 'G',
    'userCount': 155,
    'id': 101367},
   'averageX': 9.0368421052632,
   'averageY': 44.3,
   'pointsCount': 38},
  {'player': {'name': 'Rayan Aït Nouri',
    'firstName': '',
    'lastName': '',
    'slug': 'rayan-ait-nouri',
    'shortName': 'R. A. Nouri',
    'position': 'D',
    'userCount': 6480,
    'id': 931278},
   'averageX': 37.352,
   'averageY': 76.596,
   'pointsCount': 25},
  {'player': {'name': 'Hee-Chan Hwang',
    'firstName': '',
    'lastName': '',
    'slug': 'hee-chan-hwang',
    'shortName': 'H. Hwang',
    'position': 'F',
    'userCount': 5621,
    'id': 786186},
   'averageX': 61.742857142857,
   'averageY': 27.8625,
   'pointsCount': 56},
  {'player': {'name': 'Matt Doherty',
    'firstName': '',
    'lastName': '',
    'slug': 'matt-doherty',
    'shortName': 'M. Doherty',
    'position': 'M',
    'userCount': 1716,
    'id': 143047},
   'averageX': 37.782352941176,
   'averageY': 12.376470588235,
   'pointsCount': 17},
  {'player': {'name': 'Tommy Doyle',
    'firstName': '',
    'lastName': '',
    'slug': 'tommy-doyle',
    'shortName': 'T. Doyle',
    'position': 'M',
    'userCount': 816,
    'id': 932628},
   'averageX': 44.394117647059,
   'averageY': 53.958823529412,
   'pointsCount': 17},
  {'player': {'name': 'Jean-Ricner Bellegarde',
    'slug': 'jean-ricner-bellegarde',
    'shortName': 'J.-R. Bellegarde',
    'position': 'M',
    'userCount': 783,
    'id': 845273},
   'averageX': 54.377333333333,
   'averageY': 74.970666666667,
   'pointsCount': 75},
  {'player': {'name': 'Nélson Semedo',
    'firstName': '',
    'lastName': '',
    'slug': 'nelson-semedo',
    'shortName': 'N. Semedo',
    'position': 'D',
    'userCount': 4571,
    'id': 252821},
   'averageX': 49.632941176471,
   'averageY': 16.428235294118,
   'pointsCount': 85},
  {'player': {'name': 'Craig Dawson',
    'slug': 'craig-dawson',
    'shortName': 'C. Dawson',
    'position': 'D',
    'userCount': 619,
    'id': 50027},
   'averageX': 32.789333333333,
   'averageY': 63.188,
   'pointsCount': 75},
  {'player': {'name': 'Mario Lemina',
    'firstName': '',
    'lastName': '',
    'slug': 'mario-lemina',
    'shortName': 'M. Lemina',
    'position': 'M',
    'userCount': 1106,
    'id': 307284},
   'averageX': 43.282666666667,
   'averageY': 57.744,
   'pointsCount': 75},
  {'player': {'name': 'Matheus Cunha',
    'slug': 'matheus-cunha',
    'shortName': 'M. Cunha',
    'position': 'F',
    'userCount': 5600,
    'id': 886363},
   'averageX': 61.031506849315,
   'averageY': 51.919178082192,
   'pointsCount': 73},
  {'player': {'name': 'Max Kilman',
    'slug': 'max-kilman',
    'shortName': 'M. Kilman',
    'position': 'D',
    'userCount': 894,
    'id': 894474},
   'averageX': 34.99387755102,
   'averageY': 28.127551020408,
   'pointsCount': 98},
  {'player': {'name': 'Toti Gomes',
    'firstName': '',
    'lastName': '',
    'slug': 'toti-gomes',
    'shortName': 'T. Gomes',
    'position': 'D',
    'userCount': 737,
    'id': 973418},
   'averageX': 49.652631578947,
   'averageY': 83.536842105263,
   'pointsCount': 76},
  {'player': {'name': 'João Gomes',
    'firstName': '',
    'lastName': '',
    'slug': 'joao-gomes',
    'shortName': 'João Gomes',
    'position': 'M',
    'userCount': 7381,
    'id': 1015267},
   'averageX': 47.470833333333,
   'averageY': 40.007291666667,
   'pointsCount': 96},
  {'player': {'name': 'Pablo Sarabia',
    'slug': 'pablo-sarabia',
    'shortName': 'P. Sarabia',
    'position': 'M',
    'userCount': 3276,
    'id': 138573},
   'averageX': 62.564197530864,
   'averageY': 55.162962962963,
   'pointsCount': 81}],
 'substitutions': [{'playerIn': {'name': 'Pablo Fornals',
    'slug': 'pablo-fornals',
    'shortName': 'P. Fornals',
    'position': 'M',
    'userCount': 1326,
    'id': 816763},
   'playerOut': {'name': 'Edson Álvarez',
    'slug': 'edson-alvarez',
    'shortName': 'E. Álvarez',
    'position': 'M',
    'userCount': 5195,
    'id': 847151},
   'id': 122287234,
   'time': 70,
   'isHome': True,
   'incidentClass': 'regular',
   'reversedPeriodTime': 21,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Rayan Aït Nouri',
    'firstName': '',
    'lastName': '',
    'slug': 'rayan-ait-nouri',
    'shortName': 'R. A. Nouri',
    'position': 'D',
    'userCount': 6480,
    'id': 931278},
   'playerOut': {'name': 'Toti Gomes',
    'firstName': '',
    'lastName': '',
    'slug': 'toti-gomes',
    'shortName': 'T. Gomes',
    'position': 'D',
    'userCount': 737,
    'id': 973418},
   'id': 122287235,
   'time': 70,
   'isHome': False,
   'incidentClass': 'regular',
   'reversedPeriodTime': 21,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Matt Doherty',
    'firstName': '',
    'lastName': '',
    'slug': 'matt-doherty',
    'shortName': 'M. Doherty',
    'position': 'M',
    'userCount': 1716,
    'id': 143047},
   'playerOut': {'name': 'Nélson Semedo',
    'firstName': '',
    'lastName': '',
    'slug': 'nelson-semedo',
    'shortName': 'N. Semedo',
    'position': 'D',
    'userCount': 4571,
    'id': 252821},
   'id': 122287303,
   'time': 79,
   'isHome': False,
   'incidentClass': 'regular',
   'reversedPeriodTime': 12,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Tommy Doyle',
    'firstName': '',
    'lastName': '',
    'slug': 'tommy-doyle',
    'shortName': 'T. Doyle',
    'position': 'M',
    'userCount': 816,
    'id': 932628},
   'playerOut': {'name': 'Mario Lemina',
    'firstName': '',
    'lastName': '',
    'slug': 'mario-lemina',
    'shortName': 'M. Lemina',
    'position': 'M',
    'userCount': 1106,
    'id': 307284},
   'id': 122287304,
   'time': 80,
   'isHome': False,
   'incidentClass': 'regular',
   'reversedPeriodTime': 11,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Danny Ings',
    'firstName': '',
    'lastName': '',
    'slug': 'danny-ings',
    'shortName': 'D. Ings',
    'position': 'F',
    'userCount': 2758,
    'id': 130181},
   'playerOut': {'name': 'Mohammed Kudus',
    'firstName': '',
    'lastName': '',
    'slug': 'mohammed-kudus',
    'shortName': 'M. Kudus',
    'position': 'M',
    'userCount': 36871,
    'id': 905163},
   'id': 122287338,
   'time': 86,
   'isHome': True,
   'incidentClass': 'regular',
   'reversedPeriodTime': 5,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Divin Mubama',
    'firstName': '',
    'lastName': '',
    'slug': 'mubama-divin',
    'shortName': 'D. Mubama',
    'position': 'F',
    'userCount': 498,
    'id': 1167025},
   'playerOut': {'name': 'Lucas Paquetá',
    'firstName': '',
    'lastName': '',
    'slug': 'lucas-paqueta',
    'shortName': 'L. Paquetá',
    'position': 'M',
    'userCount': 22083,
    'id': 839981},
   'id': 122287339,
   'time': 86,
   'isHome': True,
   'incidentClass': 'regular',
   'reversedPeriodTime': 5,
   'incidentType': 'substitution'},
  {'playerIn': {'name': 'Thilo Kehrer',
    'slug': 'thilo-kehrer',
    'shortName': 'T. Kehrer',
    'position': 'D',
    'userCount': 1946,
    'id': 281277},
   'playerOut': {'name': 'Vladimír Coufal',
    'firstName': '',
    'lastName': '',
    'slug': 'vladimir-coufal',
    'shortName': 'V. Coufal',
    'position': 'D',
    'userCount': 1647,
    'id': 138024},
   'id': 122287360,
   'time': 90,
   'addedTime': 1,
   'isHome': True,
   'incidentClass': 'regular',
   'reversedPeriodTime': 1,
   'incidentType': 'substitution'}]}

In [19]:
home_avgPos = pd.json_normalize(avg_positions['home'])
home_avgPos

,averageX,averageY,pointsCount,player.name,player.firstName,player.lastName,player.slug,player.shortName,player.position,player.userCount,player.id
0,43.396491,27.936842,57,Kurt Zouma,,,kurt-zouma,K. Zouma,D,2950,139227
1,54.877778,76.900000,18,Pablo Fornals,NaN,NaN,pablo-fornals,P. Fornals,M,1326,816763
2,46.696667,31.115000,60,Tomáš Souček,,,tomas-soucek,T. Souček,M,2897,799041
3,64.688889,44.811111,9,Divin Mubama,,,mubama-divin,D. Mubama,F,498,1167025
4,53.500000,66.883333,6,Danny Ings,,,danny-ings,D. Ings,F,2758,130181
5,55.303960,74.276238,101,Lucas Paquetá,,,lucas-paqueta,L. Paquetá,M,22083,839981
6,43.466667,12.100000,3,Thilo Kehrer,NaN,NaN,thilo-kehrer,T. Kehrer,D,1946,281277
7,58.976812,67.411594,69,James Ward-Prowse,,,james-ward-prowse,J. Ward-Prowse,M,5587,161717
8,38.938333,58.828333,60,Edson Álvarez,NaN,NaN,edson-alvarez,E. Álvarez,M,5195,847151
9,63.354386,44.338596,57,Jarrod Bowen,NaN,NaN,jarrod-bowen,J. Bowen,M,5513,552884
10,11.202041,46.469388,49,Łukasz Fabiański,NaN,NaN,lukasz-fabianski,Ł. Fabiański,G,3663,15479
11,34.614667,70.974667,75,Nayef Aguerd,,,nayef-aguerd,N. Aguerd,D,9381,877102
12,57.194872,27.334615,78,Mohammed Kudus,,,mohammed-kudus,M. Kudus,M,36871,905163
13,40.694203,17.237681,69,Vladimír Coufal,,,vladimir-coufal,V. Coufal,D,1647,138024
14,51.743902,85.600000,82,Emerson Palmieri,NaN,NaN,emerson-palmieri,Emerson,D,2159,155997

**Player Profiles (Stats, Shotmap, Heatmap)**

In [20]:
lineups['away']['players'][5]

{'player': {'name': 'Mario Lemina',
  'firstName': '',
  'lastName': '',
  'slug': 'mario-lemina',
  'shortName': 'M. Lemina',
  'position': 'M',
  'userCount': 1106,
  'id': 307284,
  'country': {'alpha2': 'GA', 'name': 'Gabon'},
  'marketValueCurrency': 'EUR',
  'dateOfBirthTimestamp': 746841600},
 'shirtNumber': 5,
 'jerseyNumber': '5',
 'position': 'M',
 'substitute': False,
 'statistics': {'totalPass': 54,
  'accuratePass': 50,
  'totalLongBalls': 4,
  'accurateLongBalls': 3,
  'aerialLost': 2,
  'aerialWon': 1,
  'duelLost': 4,
  'duelWon': 5,
  'challengeLost': 1,
  'dispossessed': 1,
  'totalContest': 1,
  'wonContest': 1,
  'shotOffTarget': 1,
  'onTargetScoringAttempt': 1,
  'totalClearance': 2,
  'totalTackle': 3,
  'minutesPlayed': 80,
  'touches': 64,
  'rating': 6.9,
  'possessionLostCtrl': 5,
  'expectedGoals': 0.0441,
  'ratingVersions': {'original': 6.9, 'alternative': 6.9},
  'expectedAssists': 0.0171685}}

In [21]:
lemina_stats = lineups['away']['players'][5]['statistics']
lemina_stats = pd.json_normalize(lemina_stats)
lemina_stats.T

                                    0
totalPass                   54.000000
accuratePass                50.000000
totalLongBalls               4.000000
accurateLongBalls            3.000000
aerialLost                   2.000000
aerialWon                    1.000000
duelLost                     4.000000
duelWon                      5.000000
challengeLost                1.000000
dispossessed                 1.000000
totalContest                 1.000000
wonContest                   1.000000
shotOffTarget                1.000000
onTargetScoringAttempt       1.000000
totalClearance               2.000000
totalTackle                  3.000000
minutesPlayed               80.000000
touches                     64.000000
rating                       6.900000
possessionLostCtrl           5.000000
expectedGoals                0.044100
expectedAssists              0.017168
ratingVersions.original      6.900000
ratingVersions.alternative   6.900000

In [22]:
response_heatmap = requests.get('https://api.sofascore.com/api/v1/event/11352508/player/307284/heatmap', headers=headers)
levina_heatmap = response_heatmap.json()
levina_heatmap = pd.json_normalize(levina_heatmap['heatmap'])
levina_heatmap

     x   y
0   35  53
1   67  89
2   29  72
3    9  40
4    3  36
..  ..  ..
70  41  70
71  38  82
72  47  70
73  46  47
74  26  81

[75 rows x 2 columns]

In [23]:
response_levinaShotmap = requests.get('https://api.sofascore.com/api/v1/event/11352508/shotmap/player/307284', headers=headers)
levina_shotmap = response_levinaShotmap.json()
levina_shotmap = pd.json_normalize(levina_shotmap['shotmap'])
levina_shotmap.T

                                      0             1
isHome                            False         False
shotType                           miss          save
situation                      assisted      assisted
bodyPart                     right-foot    right-foot
goalMouthLocation                  high     low-right
xg                             0.019455      0.024657
id                              2407341       2407313
time                                 70            66
timeSeconds                        4159          3904
reversedPeriodTime                   21            25
reversedPeriodTimeSeconds          1241          1496
incidentType                       shot          shot
player.name                Mario Lemina  Mario Lemina
player.firstName
player.lastName
player.slug                mario-lemina  mario-lemina
player.shortName              M. Lemina     M. Lemina
player.position                       M             M
player.userCount                   1106          1106
player.id                        307284        307284
playerCoordinates.x                25.4          23.3
playerCoordinates.y                53.0          36.6
playerCoordinates.z                   0             0
goalMouthCoordinates.x                0             0
goalMouthCoordinates.y             44.9          47.9
goalMouthCoordinates.z             63.9           0.6
draw.start.x                       53.0          36.6
draw.start.y                       25.4          23.3
draw.end.x                         55.1          52.1
draw.end.y                            0             0
draw.goal.x                        55.1          52.1
draw.goal.y                        36.1          99.4
xgot                                NaN        0.1342
blockCoordinates.x                  NaN           1.8
blockCoordinates.y                  NaN          49.6
blockCoordinates.z                  NaN           0.0
draw.block.x                        NaN          49.6
draw.block.y                        NaN           1.8

In [24]:
response_levinaStats = requests.get('https://api.sofascore.com/api/v1/event/11352508/player/307284/statistics', headers=headers)
levina_stats = response_levinaStats.json()
levina_stats = pd.json_normalize(levina_stats['statistics'])
levina_stats.T

                                    0
totalPass                   54.000000
accuratePass                50.000000
totalLongBalls               4.000000
accurateLongBalls            3.000000
aerialLost                   2.000000
aerialWon                    1.000000
duelLost                     4.000000
duelWon                      5.000000
challengeLost                1.000000
dispossessed                 1.000000
totalContest                 1.000000
wonContest                   1.000000
shotOffTarget                1.000000
onTargetScoringAttempt       1.000000
totalClearance               2.000000
totalTackle                  3.000000
minutesPlayed               80.000000
touches                     64.000000
rating                       6.900000
possessionLostCtrl           5.000000
expectedGoals                0.044100
expectedAssists              0.017168
ratingVersions.original      6.900000
ratingVersions.alternative   6.900000

**Best Players (each player's best player according to Sofascore rating)**

In [25]:
response_bestplayers = requests.get('https://api.sofascore.com/api/v1/event/11352508/best-players', headers=headers)
best_players = response_bestplayers.json()
best_players

{'bestHomeTeamPlayer': {'value': '9.1',
  'label': 'rating',
  'player': {'name': 'Lucas Paquetá',
   'firstName': '',
   'lastName': '',
   'slug': 'lucas-paqueta',
   'shortName': 'L. Paquetá',
   'position': 'M',
   'userCount': 22083,
   'id': 839981,
   'marketValueCurrency': 'EUR',
   'dateOfBirthTimestamp': 872640000}},
 'bestAwayTeamPlayer': {'value': '7.3',
  'label': 'rating',
  'player': {'name': 'Pablo Sarabia',
   'slug': 'pablo-sarabia',
   'shortName': 'P. Sarabia',
   'position': 'M',
   'userCount': 3276,
   'id': 138573,
   'marketValueCurrency': 'EUR',
   'dateOfBirthTimestamp': 705542400}}}

**Incidents/Events/Substitutes**

In [26]:
response_incidents = requests.get('https://api.sofascore.com/api/v1/event/11352508/incidents', headers=headers)
incidents = response_incidents.json()

In [27]:
incidents = incidents['incidents']
incidents_df = pd.json_normalize(incidents)

In [28]:
incidents_df[incidents_df['incidentType']=='goal'].loc[:,['homeScore','awayScore','time','player.name','assist1.name']]

    homeScore  awayScore  time     player.name   assist1.name
9         3.0        0.0    74    Jarrod Bowen  Lucas Paquetá
17        2.0        0.0    32  Mohammed Kudus  Lucas Paquetá
18        1.0        0.0    23  Mohammed Kudus  Lucas Paquetá

In [29]:
incidents_df[incidents_df['incidentType']=='card'].loc[:,['time','player.name','incidentClass','reason']]

    time      player.name incidentClass    reason
1     90     Thilo Kehrer        yellow      Foul
4     87  Vladimír Coufal        yellow      Foul
14    45       Kurt Zouma        yellow      Foul
15    45       Toti Gomes        yellow      Foul
19    -5              NaN        yellow  Argument

In [30]:
incidents_df[incidents_df['incidentType']=='substitution'].loc[:, ['time', 'playerIn.name','playerOut.name']]

    time    playerIn.name   playerOut.name
2     90     Thilo Kehrer  Vladimír Coufal
5     86     Divin Mubama    Lucas Paquetá
6     86       Danny Ings   Mohammed Kudus
7     80      Tommy Doyle     Mario Lemina
8     79     Matt Doherty    Nélson Semedo
10    70  Rayan Aït Nouri       Toti Gomes
11    70    Pablo Fornals    Edson Álvarez

**Team logos**

In [31]:
#https://api.sofascore.app/api/v1/team/37/image
#https://api.sofascore.app/api/v1/team/3/image

**Head-to-Head (H2H)**

In [32]:
response_h2h = requests.get('https://api.sofascore.com/api/v1/event/11352508/h2h', headers=headers)
h2h = response_h2h.json()
h2h = pd.json_normalize(h2h)
h2h.rename(columns = {'teamDuel.homeWins':'Home wins','teamDuel.awayWins':'Away wins',
                     'teamDuel.draws':'Draws'},inplace=True)
h2h.T

                      0
Home wins             8
Away wins             7
Draws                 1
managerDuel.homeWins  3
managerDuel.awayWins  0
managerDuel.draws     0

**Momentum Graph**

In [33]:
response_graph = requests.get('https://api.sofascore.com/api/v1/event/11352484/graph', headers=headers)
momentum_graph = response_graph.json()
momentum_graph = pd.json_normalize(momentum_graph['graphPoints'])
momentum_graph

    minute  value
0      1.0     -5
1      2.0    -24
2      3.0     -9
3      4.0     12
4      5.0     28
..     ...    ...
87    87.0     12
88    88.0     20
89    89.0    -39
90    90.0     -2
91    90.5     -6

[92 rows x 2 columns]