***This is a scraper to extract info/data from FotMob's player profiles, based on the example of Leroy Sané***

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import json

In [3]:
url = 'https://www.fotmob.com/players/530859/leroy-sane'
page = requests.get(url)
soup = BeautifulSoup(page.text,'html.parser')
scripts = soup.find_all('script')

In [4]:
json_script = scripts[58].string

In [5]:
data = json.loads(json_script)

In [6]:
data = data['props']['pageProps']['data']

In [7]:
data['name']

'Leroy Sané'

In [8]:
data['birthDate']['utcTime']

'1996-01-11T00:00:00.000Z'

In [9]:
data['primaryTeam']['teamName']

'Bayern München'

In [10]:
data['primaryTeam']['teamColors']

{'color': '#C60428',
 'colorAlternate': '#DC052D',
 'colorAway': '#292229',
 'colorAwayAlternate': '#FFFFFF'}

In [11]:
data['positionDescription']['primaryPosition']

{'label': 'Right Winger', 'key': 'rightwinger'}

In [12]:
data['positionDescription']['nonPrimaryPositions']

[{'label': 'Attacking Midfielder', 'key': 'centerattackingmidfielder'},
 {'label': 'Left Winger', 'key': 'leftwinger'},
 {'label': 'Striker', 'key': 'striker'}]

In [13]:
positions = data['positionDescription']['positions']
positions = pd.json_normalize(positions)
positions

,occurences,position,isMainPosition,strPos.label,strPos.key,strPosShort.label,strPosShort.key,pitchPositionData.right,pitchPositionData.top,pitchPositionData.ratio
0,29,82,True,Right Winger,rightwinger,RW,rightwinger_short,0.83,0.26,NaN
1,5,85,False,Attacking Midfielder,centerattackingmidfielder,AM,centerattackingmidfielder_short,0.50,0.26,0.294340
2,17,87,False,Left Winger,leftwinger,LW,leftwinger_short,0.17,0.26,0.520755
3,2,104,False,Striker,striker,ST,striker_short,0.50,0.10,0.237736

In [14]:
player_info = data['playerInformation']
player_info = pd.json_normalize(player_info)
player_info

,title,translationKey,value.numberValue,value.options.style,value.options.unit,value.options.unitDisplay,value.key,value.fallback,countryCode,icon.type,icon.id,value.options.currency,value.options.notation,value.options.compactDisplay,value.options.maximumFractionDigits,value.options.minimumFractionDigits,value.options.trailingZeroDisplay
0,Height,height_sentencecase,183.0,unit,centimeter,short,None,183 cm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Shirt,shirt,10.0,NaN,NaN,NaN,None,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Age,age_sentencecase,28.0,unit,year,long,None,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Preferred foot,preferred_foot,NaN,NaN,NaN,NaN,left,Left,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country,country_sentencecase,NaN,NaN,NaN,NaN,None,Germany,GER,country,GER,NaN,NaN,NaN,NaN,NaN,NaN
5,Market value,transfer_value,83000000.0,currency,NaN,NaN,None,€83M,NaN,NaN,NaN,EUR,compact,short,1.0,0.0,auto

In [15]:
mainLeague_name = data['mainLeague']['leagueName']
mainLeague_name

'Bundesliga'

In [16]:
data['mainLeague']

{'leagueId': 54,
 'leagueName': 'Bundesliga',
 'season': '2023/2024',
 'stats': [{'title': 'Goals', 'localizedTitleId': 'goals', 'value': 8},
  {'title': 'Assists', 'localizedTitleId': 'assists', 'value': 11},
  {'title': 'Started', 'localizedTitleId': 'started', 'value': 22},
  {'title': 'Matches', 'localizedTitleId': 'matches_uppercase', 'value': 23},
  {'title': 'Minutes played',
   'localizedTitleId': 'minutes_played',
   'value': 1929},
  {'title': 'Rating', 'localizedTitleId': 'rating', 'value': 8.02},
  {'title': 'Yellow cards', 'localizedTitleId': 'yellow_cards', 'value': 4},
  {'title': 'Red cards', 'localizedTitleId': 'red_cards', 'value': 0}]}

In [17]:
mainLeague = data['mainLeague']
mainLeague = pd.json_normalize(mainLeague)
mainLeague

,leagueId,leagueName,season,stats
0,54,Bundesliga,2023/2024,"[{'title': 'Goals', 'localizedTitleId': 'goals..."

In [18]:
trophies = data['trophies']['playerTrophies']
trophies = pd.json_normalize(trophies)
trophies

,ccode,teamId,teamName,tournaments
0,GER,9823,Bayern München,"[{'ccode': 'GER', 'leagueId': 42, 'leagueName'..."
1,ENG,8456,Manchester City,"[{'ccode': 'ENG', 'leagueId': 132, 'leagueName..."
2,INT,8570,Germany,"[{'ccode': 'GER', 'leagueId': 43, 'leagueName'..."
3,GER,603864,Schalke 04 U19,"[{'ccode': 'GER', 'leagueId': -1, 'leagueName'..."

In [19]:
trophies_bayern = data['trophies']['playerTrophies'][0]['tournaments']
trophies_bayern = pd.json_normalize(trophies_bayern)
trophies_bayern

,ccode,leagueId,leagueName,seasonsWon,seasonsRunnerUp
0,GER,42,UEFA Champions League,[2019/2020],[]
1,GER,54,Bundesliga,"[2022/2023, 2021/2022, 2020/2021]",[]
2,GER,74,UEFA Super Cup,[2020/2021],[]
3,GER,8924,Super Cup,"[2022/2023, 2021/2022, 2020/2021]",[2023/2024]
4,GER,78,FIFA Club World Cup,[2020 Qatar],[]

In [20]:
trophies_mancity = data['trophies']['playerTrophies'][1]['tournaments']
trophies_mancity = pd.json_normalize(trophies_mancity)
trophies_mancity

,ccode,leagueId,leagueName,seasonsWon,seasonsRunnerUp
0,ENG,132,FA Cup,[2018/2019],[]
1,ENG,47,Premier League,"[2018/2019, 2017/2018]",[]
2,ENG,133,League Cup,"[2019/2020, 2018/2019, 2017/2018]",[]
3,ENG,247,Community Shield,"[2019/2020, 2018/2019]",[]

In [21]:
recentMatches = data['recentMatches']
recentMatches = pd.json_normalize(recentMatches)
recentMatches

,teamId,teamName,opponentTeamId,opponentTeamName,isHomeTeam,id,matchPageUrl,leagueId,leagueName,stage,...,minutesPlayed,goals,assists,yellowCards,redCards,playerOfTheMatch,onBench,matchDate.utcTime,ratingProps.num,ratingProps.bgcolor
0,9823,Bayern München,178475,RB Leipzig,True,4222023,/matches/bayern-munchen-vs-rb-leipzig/856w9cm#...,54,Bundesliga,None,...,64,0,0,0,0,False,False,2024-02-24T18:30:00.000Z,6.8,#f08022
1,9823,Bayern München,9911,VfL Bochum,False,4222020,/matches/bayern-munchen-vs-vfl-bochum/37xulw#4...,54,Bundesliga,None,...,27,0,0,0,0,False,False,2024-02-18T17:30:00.000Z,7.0,#1ec853
2,9823,Bayern München,8543,Lazio,False,4384182,/matches/lazio-vs-bayern-munchen/2sf9og#4384182,42,Champions League Final Stage,1/8,...,81,0,0,0,0,False,False,2024-02-14T21:00:00.000Z,7.0,#1ec853
3,9823,Bayern München,8178,Bayer Leverkusen,False,4222004,/matches/bayer-leverkusen-vs-bayern-munchen/2o...,54,Bundesliga,None,...,90,0,0,0,0,False,False,2024-02-10T18:30:00.000Z,6.8,#f08022
4,9823,Bayern München,9788,Borussia Mönchengladbach,True,4221911,/matches/borussia-monchengladbach-vs-bayern-mu...,54,Bundesliga,None,...,90,0,1,0,0,True,False,2024-02-03T15:30:00.000Z,8.4,#0e87e0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,9823,Bayern München,8358,SC Freiburg,True,4125798,/matches/sc-freiburg-vs-bayern-munchen/2qet4e#...,209,DFB Pokal,1/4,...,90,0,0,0,0,False,False,2023-04-04T20:45:00.000Z,7.2,#1ec853
59,9823,Bayern München,9789,Borussia Dortmund,True,3903769,/matches/borussia-dortmund-vs-bayern-munchen/3...,54,Bundesliga,None,...,90,0,1,0,0,False,False,2023-04-01T18:30:00.000Z,8.0,#1ec853
60,9823,Bayern München,8178,Bayer Leverkusen,False,3903761,/matches/bayer-leverkusen-vs-bayern-munchen/2o...,54,Bundesliga,None,...,90,0,0,0,0,False,False,2023-03-19T17:30:00.000Z,7.0,#1ec853
61,9823,Bayern München,8406,FC Augsburg,True,3903751,/matches/fc-augsburg-vs-bayern-munchen/2qxjee#...,54,Bundesliga,None,...,90,1,1,0,0,True,False,2023-03-11T15:30:00.000Z,9.2,#0e87e0
62,9823,Bayern München,9847,Paris Saint-Germain,True,4060615,/matches/bayern-munchen-vs-paris-saint-germain...,42,Champions League Final Stage,1/8,...,22,0,0,0,0,False,False,2023-03-08T21:00:00.000Z,6.3,#f08022

In [22]:
career_byteam = data['careerHistory']['careerItems']['senior']['teamEntries']+data['careerHistory']['careerItems']['youth']['teamEntries']
career_byteam = pd.json_normalize(career_byteam)
career_byteam

,participantId,teamId,team,teamGender,transferType,startDate,endDate,active,role,appearances,goals,assists,hasUncertainData
0,530859,9823,Bayern München,male,None,2020-07-15T00:00:00,None,True,None,166,47,45,False
1,530859,8456,Manchester City,male,None,2016-08-02T00:00:00,2020-07-15T00:00:00,False,None,135,39,42,False
2,530859,10189,Schalke 04,male,None,2014-03-01T00:00:00,2016-08-02T00:00:00,False,None,57,13,7,False
3,530859,357215,Manchester City U23,male,None,2020-02-27T00:00:00,2020-07-15T00:00:00,False,None,1,0,0,False
4,530859,603864,Schalke 04 U19,male,None,2012-11-23T00:00:00,2015-06-30T00:00:00,False,None,44,16,NaN,False

In [23]:
career_byseason = data['careerHistory']['careerItems']['senior']['seasonEntries']+data['careerHistory']['careerItems']['youth']['seasonEntries']
career_byseason = pd.json_normalize(career_byseason)
career_byseason

,seasonName,appearances,goals,assists,tournamentStats,teamId,team,teamGender,transferType,rating.num,rating.bgcolor
0,2023/2024,33,9,12,"[{'leagueId': 54, 'tournamentId': 20946, 'leag...",9823,Bayern München,male,None,7.8,#1ec853
1,2022/2023,44,14,9,"[{'leagueId': 54, 'tournamentId': 17801, 'leag...",9823,Bayern München,male,None,7.4,#1ec853
2,2021/2022,45,14,14,"[{'leagueId': 54, 'tournamentId': 16494, 'leag...",9823,Bayern München,male,None,7.5,#1ec853
3,2020/2021,44,10,10,"[{'leagueId': 54, 'tournamentId': 15481, 'leag...",9823,Bayern München,male,None,7.0,#1ec853
4,2019/2020,2,0,0,"[{'leagueId': 47, 'tournamentId': 14022, 'leag...",8456,Manchester City,male,None,6.1,#f08022
5,2018/2019,47,16,17,"[{'leagueId': 47, 'tournamentId': 12776, 'leag...",8456,Manchester City,male,None,7.4,#1ec853
6,2017/2018,49,14,19,"[{'leagueId': 47, 'tournamentId': 11522, 'leag...",8456,Manchester City,male,None,7.6,#1ec853
7,2016/2017,37,9,6,"[{'leagueId': 47, 'tournamentId': 10418, 'leag...",8456,Manchester City,male,None,7.4,#1ec853
8,2015/2016,42,9,7,"[{'leagueId': 54, 'tournamentId': 9556, 'leagu...",10189,Schalke 04,male,None,-,None
9,2014/2015,14,4,0,"[{'leagueId': 54, 'tournamentId': 8633, 'leagu...",10189,Schalke 04,male,None,-,None
10,2013/2014,1,0,0,"[{'leagueId': 54, 'tournamentId': 7771, 'leagu...",10189,Schalke 04,male,None,-,None
11,2019/2020,1,0,0,"[{'tournamentId': -1, 'leagueName': 'Premier L...",357215,Manchester City U23,male,None,-,None
12,2014/2015,12,5,NaN,"[{'tournamentId': -1, 'leagueName': 'UEFA Yout...",603864,Schalke 04 U19,male,None,-,None
13,2013/2014,32,11,NaN,"[{'tournamentId': -1, 'leagueName': 'UEFA Yout...",603864,Schalke 04 U19,male,None,-,None

In [24]:
career_byseason['tournamentStats']

0     [{'leagueId': 54, 'tournamentId': 20946, 'leag...
1     [{'leagueId': 54, 'tournamentId': 17801, 'leag...
2     [{'leagueId': 54, 'tournamentId': 16494, 'leag...
3     [{'leagueId': 54, 'tournamentId': 15481, 'leag...
4     [{'leagueId': 47, 'tournamentId': 14022, 'leag...
5     [{'leagueId': 47, 'tournamentId': 12776, 'leag...
6     [{'leagueId': 47, 'tournamentId': 11522, 'leag...
7     [{'leagueId': 47, 'tournamentId': 10418, 'leag...
8     [{'leagueId': 54, 'tournamentId': 9556, 'leagu...
9     [{'leagueId': 54, 'tournamentId': 8633, 'leagu...
10    [{'leagueId': 54, 'tournamentId': 7771, 'leagu...
11    [{'tournamentId': -1, 'leagueName': 'Premier L...
12    [{'tournamentId': -1, 'leagueName': 'UEFA Yout...
13    [{'tournamentId': -1, 'leagueName': 'UEFA Yout...
Name: tournamentStats, dtype: object

In [25]:
summary_22_23 = career_byseason['tournamentStats'][1]
summary_22_23 = pd.json_normalize(summary_22_23)
summary_22_23

,leagueId,tournamentId,leagueName,seasonRating,isFriendly,seasonName,goals,assists,appearances,rating.num,rating.bgcolor
0,54,17801,Bundesliga,7.26,False,2022/2023,8,7,32,7.3,#1ec853
1,209,17692,DFB Pokal,7.83,False,2022/2023,1,1,3,7.8,#1ec853
2,8924,20738,Super Cup,6.61,False,2022/2023,1,0,1,6.6,#f08022
3,42,17697,Champions League,7.64,False,2022/2023,4,1,8,7.6,#1ec853

In [26]:
traits = data['traits']['items']
traits = pd.json_normalize(traits)
traits

                 key              title  value
0    chances_created    Chances created   0.87
1        aerials_won       Aerial duels   0.09
2  defensive_actions  Defensive actions   0.18
3              goals              Goals   0.59
4      shot_attempts      Shot attempts   0.87
5            touches            Touches   0.79

In [27]:
response = requests.get(
    'https://www.fotmob.com/api/playerStats?playerId=530859&seasonId=2023%2F2024-54',
    headers={'User-Agent': 'Mozilla/5.0'} # you'll be blocked if you don't use some type of user agent
)
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/116.0',
    'Accept': '*/*',
    'Accept-Language': 'en-US,en;q=0.5',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Prefer': 'safe',
    'Referer': 'https://www.sofascore.com/',
    'Origin': 'https://www.sofascore.com',
    'DNT': '1',
    'Connection': 'keep-alive',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'Sec-GPC': '1',
    'Cache-Control': 'max-age=0',
    # Requests doesn't support trailers
    # 'TE': 'trailers',
}

response = requests.get('https://www.fotmob.com/api/playerStats?playerId=530859&seasonId=2023%2F2024-54', headers=headers)

In [28]:
playerStats = response.json()

In [29]:
top_stats = playerStats['topStatCard']['items']
top_stats = pd.json_normalize(top_stats)
top_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Goals,goals,8,0.373250,96.000000,88.000000,number
1,Assists,assists,11,0.513219,100.000000,94.666667,number
2,Rating,rating,8.02,8.022174,100.000000,100.000000,fraction
3,Matches,matches_uppercase,23,23.000000,86.666667,86.666667,number
4,Started,started,22,22.000000,93.333333,49.333333,number
5,Minutes,minutes_played,1929,90.000000,97.333333,100.000000,number

In [30]:
shooting_stats = playerStats['statsSection']['items'][0]['items']
shooting_stats = pd.json_normalize(shooting_stats)
shooting_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Goals,goals,8,0.373250,96.000000,88.000000,number
1,xG,expected_goals,10.46,0.488198,97.333333,90.666667,fraction
2,xGOT,expected_goals_on_target,10.69,0.498565,97.333333,88.000000,fraction
3,xG excl. penalty,non_penalty_xg,10.46,0.488198,100.000000,93.333333,fraction
4,Shots,shots,66,3.079316,100.000000,80.000000,number
5,Shots on target,ShotsOnTarget,28,1.306376,96.000000,86.666667,number

In [31]:
passing_stats = playerStats['statsSection']['items'][1]['items']
passing_stats = pd.json_normalize(passing_stats)
passing_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Assists,assists,11,0.513219,100.000000,94.666667,number
1,xA,expected_assists,9.08,0.423832,100.000000,97.333333,fraction
2,Accurate passes,successful_passes,757,35.318818,93.333333,84.000000,number
3,Pass accuracy,successful_passes_accuracy,84.1,84.111111,82.666667,82.666667,percent
4,Accurate long balls,long_balls_accurate,19,0.886470,88.000000,58.666667,number
5,Long ball accuracy,long_ball_succeeeded_accuracy,73.1,73.076923,89.333333,89.333333,percent
6,Chances created,chances_created,67,3.125972,100.000000,96.000000,number
7,Successful crosses,crosses_succeeeded,27,1.259720,93.333333,82.666667,number
8,Cross accuracy,crosses_succeeeded_accuracy,31.8,31.764706,76.000000,76.000000,percent

In [32]:
possession_stats = playerStats['statsSection']['items'][2]['items']
possession_stats = pd.json_normalize(possession_stats)
possession_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Dribbles,dribbles_succeeded,84,3.919129,100.000000,94.666667,number
1,Dribbles success rate,won_contest_subtitle,58.7,58.741259,86.666667,86.666667,percent
2,Touches,touches,1415,66.018663,96.000000,85.333333,number
3,Touches in opposition box,touches_opp_box,150,6.998445,100.000000,89.333333,number
4,Dispossessed,dispossessed,40,1.866252,1.333333,30.666667,number
5,Fouls won,fouls_won,21,0.979782,84.000000,32.000000,number

In [33]:
defending_stats = playerStats['statsSection']['items'][3]['items']
defending_stats = pd.json_normalize(defending_stats)
defending_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Tackles won,tackles_succeeded,8,0.373250,56.000000,18.666667,number
1,Tackles won %,tackles_succeeded_percent,53.3,53.333333,36.000000,36.000000,percent
2,Duels won,duel_won,123,5.738725,97.333333,66.666667,number
3,Duels won %,duel_won_percent,46.9,46.946565,78.666667,78.666667,percent
4,Aerials won,aerials_won,3,0.139969,24.000000,16.000000,number
5,Aerials won %,aerials_won_percent,60.0,60.000000,93.333333,93.333333,percent
6,Interceptions,interceptions,5,0.233281,62.666667,24.000000,number
7,Blocked scoring attempt,shot_blocked,17,0.793157,100.000000,68.000000,number
8,Recoveries,recoveries,90,4.199067,88.000000,37.333333,number
9,Possession won final 3rd,poss_won_att_3rd_team_title,20,0.933126,92.000000,70.666667,number
10,Dribbled past,dribbled_past,14,0.653188,13.333333,72.000000,number

In [34]:
discipline_stats = playerStats['statsSection']['items'][4]['items']
discipline_stats = pd.json_normalize(discipline_stats)
discipline_stats

,title,localizedTitleId,statValue,per90,percentileRank,percentileRankPer90,statFormat
0,Yellow cards,yellow_cards,4,0.186625,4,40,number
1,Red cards,red_cards,0,0.000000,100,100,number

In [102]:
shotmap = pd.json_normalize(playerStats['shotmap'])
shotmap

,id,eventType,teamId,playerId,playerName,x,y,min,isBlocked,isOnTarget,...,matchId,matchDate,teamColor,teamColorDark,onGoalShot.x,onGoalShot.y,onGoalShot.zoomRatio,blockedX,blockedY,minAdded
0,2578492825,Goal,9823,530859,Leroy Sané,92.400000,30.232000,4,False,True,...,4221721,2023-08-18T18:30:00Z,#C60428,#DC052D,0.374669,0.010192,1.000000,NaN,NaN,NaN
1,2578555625,AttemptSaved,9823,530859,Leroy Sané,85.923529,18.113885,47,False,True,...,4221721,2023-08-18T18:30:00Z,#C60428,#DC052D,0.899140,0.139293,1.000000,103.103448,31.560000,NaN
2,2578588317,Goal,9823,530859,Leroy Sané,99.784483,32.475000,90,False,True,...,4221721,2023-08-18T18:30:00Z,#C60428,#DC052D,0.475529,0.032275,1.000000,NaN,NaN,0.0
3,2583090587,AttemptSaved,9823,530859,Leroy Sané,99.210526,22.878217,32,False,True,...,4221730,2023-08-27T15:30:00Z,#C60428,#DC052D,1.625331,0.054358,1.000000,102.724138,29.043333,NaN
4,2583123315,Miss,9823,530859,Leroy Sané,85.494118,31.255000,52,False,False,...,4221730,2023-08-27T15:30:00Z,#C60428,#DC052D,0.000000,0.108622,0.417939,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2644791161,Miss,9823,530859,Leroy Sané,97.184211,22.948280,43,False,False,...,4222004,2024-02-10T17:30:00Z,#C60428,#DC052D,2.000000,0.577254,0.517100,NaN,NaN,NaN
62,2648334199,AttemptSaved,9823,530859,Leroy Sané,95.061404,24.769936,64,True,True,...,4222020,2024-02-18T16:30:00Z,#C60428,#DC052D,0.737765,0.322751,1.000000,97.473684,26.942143,NaN
63,2648349771,AttemptSaved,9823,530859,Leroy Sané,93.500000,38.620476,86,False,True,...,4222020,2024-02-18T16:30:00Z,#C60428,#DC052D,0.293981,0.344834,1.000000,98.921053,37.278750,NaN
64,2648357335,AttemptSaved,9823,530859,Leroy Sané,93.100000,23.368662,90,False,True,...,4222020,2024-02-18T16:30:00Z,#C60428,#DC052D,1.282407,0.010192,1.000000,103.577586,33.466250,7.0
65,2650433399,AttemptSaved,9823,530859,Leroy Sané,89.400000,20.145732,37,True,True,...,4222023,2024-02-24T17:30:00Z,#C60428,#DC052D,0.778108,0.322751,1.000000,95.640351,26.942143,NaN

In [104]:
shotmap.columns

Index(['id', 'eventType', 'teamId', 'playerId', 'playerName', 'x', 'y', 'min',
       'isBlocked', 'isOnTarget', 'goalCrossedY', 'goalCrossedZ',
       'expectedGoals', 'expectedGoalsOnTarget', 'shotType', 'situation',
       'period', 'isOwnGoal', 'isSavedOffLine', 'isFromInsideBox', 'box',
       'homeTeamId', 'awayTeamId', 'homeTeamName', 'awayTeamName', 'homeScore',
       'awayScore', 'matchId', 'matchDate', 'teamColor', 'teamColorDark',
       'onGoalShot.x', 'onGoalShot.y', 'onGoalShot.zoomRatio', 'blockedX',
       'blockedY', 'minAdded'],
      dtype='object')

In [35]:
response2 = requests.get('https://www.fotmob.com/api/playerData?id=530859', headers=headers)
playerData = response2.json()
#basically, all of the above is contained here, we could have done the same 
#selections and dataframes starting from "playerData"
#playerData (uncomment to see the JSON, it's obviously very long)

In [65]:
soup.find_all('svg')[5] #player position image/diagram

<svg fill="none" height="230" viewbox="0 0 170 230" width="170" xmlns="http://www.w3.org/2000/svg"><path d="M164 0H6C2.68629 0 0 2.68629 0 6V224C0 227.314 2.68629 230 6 230H164C167.314 230 170 227.314 170 224V6C170 2.68629 167.314 0 164 0Z" fill="var(--PlayerPageColorScheme-pitchBackground)"></path><path d="M34 230V186.617C33.9992 186.351 34.1041 186.095 34.2915 185.906C34.479 185.717 34.7337 185.61 35 185.608H135C135.266 185.61 135.521 185.717 135.709 185.906C135.896 186.095 136.001 186.351 136 186.617V230H139V186.617C139.005 185.552 138.586 184.528 137.836 183.771C137.085 183.015 136.066 182.587 135 182.582H104.828C102.459 179.594 99.4446 177.18 96.0111 175.521C92.5776 173.861 88.8135 172.999 85 172.999C81.1866 172.999 77.4224 173.861 73.9889 175.521C70.5555 177.18 67.5414 179.594 65.172 182.582H35C33.9346 182.587 32.9146 183.015 32.1645 183.771C31.4144 184.528 30.9955 185.552 31 186.617V230H34ZM85 176.026C87.9343 176.027 90.8394 176.607 93.5494 177.732C96.2593 178.857 98.7208 180.506 100.793 182.583H69.207C71.2792 180.506 73.7407 178.857 76.4506 177.732C79.1606 176.607 82.0658 176.027 85 176.026Z" fill="var(--PlayerPageColorScheme-pitchLines)"></path><path d="M106 208H64.0001C62.9392 208 61.9218 208.421 61.1716 209.172C60.4215 209.922 60.0001 210.939 60.0001 212V230H63.0001V212C63.0001 211.735 63.1054 211.48 63.293 211.293C63.4805 211.105 63.7348 211 64.0001 211H106C106.265 211 106.52 211.105 106.707 211.293C106.895 211.48 107 211.735 107 212V230H110V212C110 210.939 109.579 209.922 108.828 209.172C108.078 208.421 107.061 208 106 208Z" fill="var(--PlayerPageColorScheme-pitchLines)"></path><path d="M34 0V43.383C33.9992 43.6493 34.104 43.905 34.2914 44.0942C34.4789 44.2833 34.7337 44.3904 35 44.392H135C135.266 44.3904 135.521 44.2833 135.709 44.0942C135.896 43.905 136.001 43.6493 136 43.383V0H139V43.383C139.004 44.4485 138.586 45.4721 137.836 46.2288C137.085 46.9855 136.065 47.4132 135 47.418H104.828C102.459 50.4061 99.4446 52.82 96.0111 54.4794C92.5776 56.1387 88.8134 57.0006 85 57.0006C81.1865 57.0006 77.4224 56.1387 73.9889 54.4794C70.5554 52.82 67.5413 50.4061 65.172 47.418H35C33.9345 47.4132 32.9146 46.9855 32.1644 46.2288C31.4143 45.4721 30.9955 44.4485 31 43.383V0H34ZM85 53.974C87.9342 53.9728 90.8394 53.393 93.5493 52.2679C96.2592 51.1428 98.7207 49.4944 100.793 47.417H69.207C71.2791 49.4945 73.7406 51.1429 76.4506 52.2681C79.1605 53.3932 82.0657 53.9729 85 53.974Z" fill="var(--PlayerPageColorScheme-pitchLines)"></path><path d="M106 22H64C62.9391 22 61.9217 21.5786 61.1716 20.8284C60.4214 20.0783 60 19.0609 60 18V0H63V18C63 18.2652 63.1054 18.5196 63.2929 18.7071C63.4804 18.8946 63.7348 19 64 19H106C106.265 19 106.52 18.8946 106.707 18.7071C106.895 18.5196 107 18.2652 107 18V0H110V18C110 19.0609 109.579 20.0783 108.828 20.8284C108.078 21.5786 107.061 22 106 22Z" fill="var(--PlayerPageColorScheme-pitchLines)"></path><path d="M170 114H107.444C107.064 108.306 104.534 102.97 100.367 99.0719C96.1993 95.1737 90.7063 93.0049 85 93.0049C79.2937 93.0049 73.8007 95.1737 69.6334 99.0719C65.4662 102.97 62.9363 108.306 62.556 114H0V117H62.556C62.9363 122.694 65.4662 128.03 69.6334 131.928C73.8007 135.826 79.2937 137.995 85 137.995C90.7063 137.995 96.1993 135.826 100.367 131.928C104.534 128.03 107.064 122.694 107.444 117H170V114ZM85 96C89.908 96.0076 94.6329 97.8645 98.2329 101.201C101.833 104.537 104.043 109.107 104.424 114H65.576C65.9566 109.107 68.1671 104.537 71.7671 101.201C75.3671 97.8645 80.092 96.0076 85 96ZM85 135C80.092 134.992 75.3671 133.135 71.7671 129.799C68.1671 126.463 65.9566 121.893 65.576 117H104.424C104.043 121.893 101.833 126.463 98.2329 129.799C94.6329 133.135 89.908 134.992 85 135Z" fill="var(--PlayerPageColorScheme-pitchLines)"></path></svg>

In [66]:
soup.find_all('svg')[6] #player traits radar image/plot

<svg fill="none" viewbox="0 0 192 192" xmlns="http://www.w3.org/2000/svg"><defs><mask id="hexagon-mask-left"><rect fill="black" height="100%" width="100%"></rect><path d="M169.174 47.4019L101.5 8.33014C98.0961 6.36518 93.9029 6.36517 90.4995 8.33013L22.8252 47.4019C19.4218 49.3669 17.3252 52.9983 17.3252 56.9282V135.072C17.3252 139.002 19.4218 142.633 22.8252 144.598L90.4995 183.67C93.9029 185.635 98.0961 185.635 101.5 183.67L169.174 144.598C172.577 142.633 174.674 139.002 174.674 135.072V56.9282C174.674 52.9983 172.577 49.3669 169.174 47.4019Z" fill="white"></path></mask></defs><path class="traitPath" clip-rule="evenodd" d="M96 96 L96 15.959999999999994 L165.31667331890645 55.98 L96 96Z" fill="#C60428" fill-opacity="0.9" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path class="traitPath" clip-rule="evenodd" d="M96 96 L103.17069034333515 91.86 L103.17069034333515 100.14 L96 96Z" fill="#C60428" fill-opacity="0.3" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path class="traitPath" clip-rule="evenodd" d="M96 96 L110.3413806866703 104.28 L96 112.56 L96 96Z" fill="#C60428" fill-opacity="0.3" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path class="traitPath" clip-rule="evenodd" d="M96 96 L96 150.28 L48.99214108258069 123.14000000000001 L96 96Z" fill="#C60428" fill-opacity="0.5" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path class="traitPath" clip-rule="evenodd" d="M96 96 L26.683326681093533 136.02000000000004 L26.68332668109349 55.98000000000005 L96 96Z" fill="#C60428" fill-opacity="0.9" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path class="traitPath" clip-rule="evenodd" d="M96 96 L33.057273652946996 59.65999999999999 L95.99999999999999 23.319999999999993 L96 96Z" fill="#C60428" fill-opacity="0.7" fill-rule="evenodd" mask="url(#hexagon-mask-left)"></path><path clip-rule="evenodd" d="M169.174 47.4019L101.5 8.33014C98.0961 6.36518 93.9029 6.36517 90.4995 8.33013L22.8252 47.4019C19.4218 49.3669 17.3252 52.9983 17.3252 56.9282V135.072C17.3252 139.002 19.4218 142.633 22.8252 144.598L90.4995 183.67C93.9029 185.635 98.0961 185.635 101.5 183.67L169.174 144.598C172.577 142.633 174.674 139.002 174.674 135.072V56.9282C174.674 52.9983 172.577 49.3669 169.174 47.4019ZM102 7.46411C98.2867 5.32052 93.7123 5.32052 89.9995 7.46411L22.3252 46.5359C18.6124 48.6795 16.3252 52.641 16.3252 56.9282V135.072C16.3252 139.359 18.6124 143.321 22.3252 145.464L89.9995 184.536C93.7123 186.68 98.2867 186.68 102 184.536L169.674 145.464C173.387 143.321 175.674 139.359 175.674 135.072V56.9282C175.674 52.641 173.387 48.6795 169.674 46.5359L102 7.46411Z" fill="var(--PlayerPageColorScheme-traits-graphLineColor)" fill-rule="evenodd"></path><path d="M144.925 61.4019L101.5 36.3301C98.0964 34.3652 93.9033 34.3652 90.4998 36.3301L47.0742 61.4019C43.6708 63.3669 41.5742 66.9983 41.5742 70.9282V121.072C41.5742 125.002 43.6708 128.633 47.0742 130.598L90.4998 155.67C93.9033 157.635 98.0964 157.635 101.5 155.67L144.925 130.598C148.329 128.633 150.425 125.002 150.425 121.072V70.9282Z" opacity="0.8" stroke="var(--PlayerPageColorScheme-traits-graphLineColor)" stroke-dasharray="2" stroke-dashoffset="0" stroke-width="1"></path><path d="M120.677 75.4019L101.5 64.3301C98.0967 62.3652 93.9036 62.3652 90.5002 64.3301L71.3232 75.4019C67.9198 77.3669 65.8232 80.9983 65.8232 84.9282V107.072C65.8232 111.002 67.9198 114.633 71.3232 116.598L90.5002 127.67C93.9036 129.635 98.0967 129.635 101.5 127.67L120.677 116.598C124.08 114.633 126.177 111.002 126.177 107.072V84.9282Z" opacity="0.6" stroke="var(--PlayerPageColorScheme-traits-graphLineColor)" stroke-dasharray="2"></path><path d="M93.0364 90.866C91.2022 91.925 90.0723 93.8821 90.0723 96C90.0723 98.118 91.2022 100.075 93.0364 101.134C94.8706 102.193 97.1304 102.193 98.9646 101.134C100.799 100.075 101.929 98.118 101.929 96C101.929 93.8821 100.799 91.925 98.9646 90.866Z" opacity="0.4" stroke="var(--PlayerPageColorScheme-traits-graphLineColor)" stroke-dasharray="2"></path><path clip-rule="evenodd" d="M96.5 6L96.5 186L95.5 186L95.5 6L96.5 6Z" fill="var(--PlayerPageColorScheme-traits-graphLineColor)" fill-rule="evenodd"></path><path clip-rule="evenodd" d="M173.885 51.5L18 141.5L17.5 140.634L173.385 50.634L173.885 51.5Z" fill="var(--PlayerPageColorScheme-traits-graphLineColor)" fill-rule="evenodd"></path><path clip-rule="evenodd" d="M18.6311 50.5L174.516 140.5L174.016 141.366L18.1311 51.366L18.6311 50.5Z" fill="var(--PlayerPageColorScheme-traits-graphLineColor)" fill-rule="evenodd"></path></svg>